
 
    <script>
            // var dialoglogin = $( "#dialog-login" )
            var form;
            function genPwd(){
                    var letters = ['a','b','c','d','e','f','g','h','i','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'];
                    var numbers = [0,1,2,3,4,5,6,7,8,9];
                    var nonlet = ['@','!','#','$','%','^','&'];
                    var randomstring = '';
                    for(var i=0;i<5;i++){
                        var rlet = Math.floor(Math.random()*letters.length);
                        randomstring += letters[rlet];
                    }
                    var rnum = Math.floor(Math.random()*nonlet.length);
                    randomstring += nonlet[rnum];                    
                    for(var i=0;i<3;i++){
                        var rnum = Math.floor(Math.random()*numbers.length);
                        randomstring += numbers[rnum];
                    }
                    return randomstring ;
            }          
            function toggleDiv(divId) {
                $("#"+divId).toggle();                          
                if (divId == "showRegisterUser" ) {      
                    $("#userlogin").toggle();
                    $("#changePassword").toggle();
                    if( $('#showRegisterUser').is(':visible') ) {
                            $("#dialog-login").dialog("option", "height", 460);
                    } else {
                            if( $('#showChangePassword').is(':visible') ) {
                                    $("#dialog-login").dialog("option", "height", 400);
                            } else {
                                    $("#dialog-login").dialog("option", "height", 400);
                            }
                            
                            $("#dialog-login").dialog("option", "height", 350);
                    }
                }
                if (divId == "showChangePassword" ) {      
                    if( $('#showChangePassword').is(':visible') ) {
                            $("#dialog-login").dialog("option", "height", 440);
                    } else {
                            $("#dialog-login").dialog("option", "height", 350);
                    }
                }
            }
            function setAnswers(selector) {
                if ( isEmpty(selector) ) {
                    selector = 'securityq';
                }
                $.get({
                        url:"/login/secquestions?langid=en-US",
                        dataType: "json",
                        success: function (data) {
                            $.each(data,function(i,obj)  {
                            var div_data="<option value="+obj.id+">"+obj.question+"</option>";
                            $(div_data).appendTo('#'+selector); 
                            $(div_data).appendTo('#'+selector+'2'); 
                            });  
                        }
                    });           
            }
            /*
            function setCaptcha() {
                    var url = "/captcha" ;
                    $.ajax({ url: url, type: "GET", async:false , complete: function(result,status){
                            o = JSON.parse(result.responseText)
                                captcahNum =o.num;
                                //captchaImg = o.image;
                                //$('#captcha').val(captcahNum);                         
                                $( '#captchaimg' ).html( '<img src="data:image/png;base64,'+o.image+'" />' );  
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            //callback( false);
                            log("error");
                        }
                    });            
                }           
                function checkLength( o, n, min, max ) {
                    if ( o.val().length > max || o.val().length < min ) {
                        o.addClass( "ui-state-error" );
                        updateTips( "Length of " + n + " must be between " +  min + " and " + max + "." );
                        return false;
                    } else {
                        return true;
                    }
                }    
                 function checkCaptcha( n1 ) {                     
                    var v1 =  n1.valueOf().val() ;      
                    if ( v1 == captcahNum ) {
                        return true;
                    } else {
                        n1.addClass( "ui-state-error" );
                    
                        updateTips( "Captcha do not match, please renter." );
                        setCaptcha();
                        return false;
                    }
                }  
                
                function checkMatch( n1,n2 ) {
                var v1 =  n1.valueOf() ;
                var v2 =  n2.valueOf() ;
                    if ( n1.val() === n2.val() ) {
                        return true;
                    } else {
                        n1.addClass( "ui-state-error" );
                        n2.addClass( "ui-state-error" );
                        updateTips( "Passwords do not match, please renter." );
                         setCaptcha();
                        return false;
                    }
                }             
                function checkRegexp( o, regexp, n ) {
                    if ( !( regexp.test( o.val() ) ) ) {
                    o.addClass( "ui-state-error" );
                    updateTips( n );
                    return false;
                    } else {
                    return true;
                    }
                }
                */
                function registerUser() {
                    $("#userlogin").hide();
                    $("#changePassword").hide();
                    $("#forgotPassword").hide();
                    $("#registeruser").show();
                    $("#showRegisterUser").show();
                    $('.ui-dialog-buttonpane button:contains("Register User")').button().hide();
                    $('.ui-dialog-buttonpane button:contains("Submit")').button().hide();
                    //$("#dialog-login").dialog("option", "height", 500);

                }
         
      
    </script>
   	<div id="dialog-login" title='Login' class="ui-layout-center" style="display:none">
          <span 
            class="logo"> <a href="HTTP://nyehealth.org"><img src="/images/nyecPPlogo.png" alt="NYeC Logo" data-geo="new york,new York"/></a>                
          </span>



        <p class="validateTips">All fields are required.</p>
        <form id=login-form method="POST" action=/loginpost>
        <fieldset>
            <div id="userlogin"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " > 
                <input type="hidden" name="langid" hidden="true" />
                <label class='loginlabel' for="name">Name</label>
                <input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all" help-id="MSG_USERID~Please enter a valid user ID">
              
                <label class='loginlabel'  for="password">Password</label>
                <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" help-id="MSG_PASSWD~Please enter a valid user passsword">
                <br>
                <div id="captchaimg" > </div>
                <label class='loginlabel'  for="captcha" help-id="MSG_CAPTCHA~Please enter a the value displayed in the captcha">Captcha</label>
                <input type="text" name="captcha" id="captcha" value="" class="text ui-widget-content ui-corner-all" help-id="MSG_CAPTCHA~Please enter a the value displayed in the captcha">

                <br>
               
                <!--
                <br>
                <label class='loginlabel'  for="email">Email</label>
                <input type="text" name="email" id="email" value="pkulek@nyehealth.org" class="text ui-widget-content ui-corner-all">
                -->                
            </div>
            <div id="changePassword"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " >
                    <a class="changepassword" href="javascript:toggleDiv('showChangePassword');" help-id="MSG_CHANGEPWDTOGGLE~Toggle to show change your password fields">
                      Change your password.
                      <br>
                    </a>
                    <div id="showChangePassword" class="changepassword" >
                        <br>
                        <label class='loginlabel'  for="newpassword">New Password</label>
                        <input type="password" name="newpassword" id="newpassword" value="" class="text ui-widget-content ui-corner-all" help-id="MSG_CHANGEPWDREQ~Admin Tool User passwords must meet <br>minimum complexity requirements:<br>">
                        <br>
                        <label class='loginlabel'  for="renterpassword">Re-enter Password</label>
                        <input type="password" name="renterpassword" id="renterpassword" value="" class="text ui-widget-content ui-corner-all">
                        <br>
                    </div>
            </div>
            <!--
            <div id="forgotPassword"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " >
                    <a class="forgotpassword" href="javascript:toggleDiv('showForgotPassword');">
                      Forgot your password?
                      <br>
                    </a>
                    <div id="showForgotPassword"  >
                        <br>
                        <label class='loginlabel'  for="email">Email</label>
                        <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
                        <br>
                        <label for="securityq">Security Questions</label>
                        <div  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#e8F8FF; height:auto; " >
                              <select id='securityq' name="securityq" id="radius">
                              </select>
                              <br>
                              <label class='selectlabel'  for="answer1">answer</label>
                              <input type="text" name="answer2" id="Answer " value="" class="text ui-widget-content ui-corner-all">
                        </div>    
                        <div  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#e8F8FF; height:auto; " >
                            <select id='securityq2' name="securityq" id="radius">
                            </select>
                            <br>
                            <label class='selectlabel'  for="renterpassword">answer</label>
                            <input type="text" name="renterpassword" id="renterpassword" value="" class="text ui-widget-content ui-corner-all">
                            <br>
                        </div>
                    </div>
            </div>            
            -->
            <!--
             <div id="registeruser"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " > 
                <a class="registeruser" href="javascript:toggleDiv('showRegisterUser');">
                  Register Admin User.
                  <br>
                </a>
                <div id="showRegisterUser" class="registeruser" >

                    <input type="hidden" name="langid" hidden="true" />
                    <label class='loginlabel' for="rname">userid</label>
                    <input type="text" name="rname" id="rname" value="" class="text ui-widget-content ui-corner-all">
                    <br>
                    <label class='loginlabel' for="rfname">First Name</label>
                    <input type="text" name="rfname" id="rfname" value="" class="text ui-widget-content ui-corner-all">
                    <br>
                    <label class='loginlabel' for="rlname">Last Name </label>
                    <input type="text" name="rlname" id="rlname" value="" class="text ui-widget-content ui-corner-all">
                    <br>
                    <label class='loginlabel'  for="password">Password</label>
                    <input type="test" name="rpassword" id="rpassword" value="Remember!" class="text ui-widget-content ui-corner-all">
                    <br>
                    <label class='loginlabel'  for="remail">Email</label>
                    <input type="text" name="remail" id="remail" value="support@nyehealth.org" class="text ui-widget-content ui-corner-all">
                    <br>
                    <label class='loginlabel'  for="rphone">Phone</label>
                    <input type="text" name="rphone" id="rphone" value="" class="text ui-widget-content ui-corner-all">
                    <br>                    
                         <button id="RegisterUser"  >Register</button>                    
                  </div>
            </div>
            -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>

      </form>
    </div>


