

  <style>
        fieldset { border: 0; margin-left: 1px; }
        label { display: block; margin: 1px 0 0 0; }
        select { width: 190px; } 
        input {  width: 190px; }
        #dialog label, #dialog input { display:block; color:009900}
        #dialog label { margin-top: 0.5em; }
        #dialog input, #dialog textarea { width: 95%; }
        #headerlogo {vertical-align:bottom}
        .newuserlabel {  width:75px; display: inline-flex;  color:black; }  
        .newuserlabelmust {  width:75px; display: inline-flex;  color:blue; }  
        .selectlabel { width:90px; display: inline-flex;  color:22ff55;  background:#F8F8FF; }         
        .toolbar {
             font-size: .75em;
             position:relative; 
        }  
        #select-button {
            width: 45px;
        }             
        .block_button {
            position:absolute;   
            float: right;
            padding-right: 1px;
            padding-bottom:1px;
            padding-left: 1px;  
            bottom:1px;          
            right:1px;          
        }

        
    </style>
   


<div style="border:2px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
    <script>
        var baseUrl = document.location.origin;
        if (!String.prototype.format) {
                String.prototype.format = function() {
                    var args = arguments;
                    return this.replace(/{(\d+)}/g, function(match, number) { 
                    return typeof args[number] != 'undefined'
                        ? args[number]
                        : match
                    ;
                    });
                };
        }   
        $( function() {
                var tokenid = '<%-tokenid%>';
                var roles = '<%-roles%>' ;
                var dialoguser ;  
                var phoneRegex = /^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/ ;    
                var emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
                var dobRegex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
                var allFields = $( [] ).add( $( "#user_id" ) ).add( $( "#first_name" ) ).add( $( "#middle_name" ) ).add($( "#last_name" ) ).add( $( "#username" ) ).
                            add( $( "#dob" ) ).add( $( "#gender" ) ).add( $( "#email" ) ).add($('#phone_1')).add($('#phone_2')).add($('#phone_3')).add($('#phrid')).add($('#client_id'));                
                var tips = $( ".validateTips" );                    
                var inc = increment();
                var form ;
                var PPpager = document.getElementById("PPuserspager").id + inc;
                document.getElementById("PPuserspager").id = PPpager;                
                var PPgrid = document.getElementById("PPuserslist").id + inc;
                document.getElementById("PPuserslist").id = PPgrid;
                var lastsel ;
                if (isEmpty(tokenid) ) {
                    tokenid = getURLParameter('tokenid') ;
                }                 
                //log("tokenid="+tokenid);
                //log(roles);
                //log(allowAccess("PP_VIEW",roles));
                $( "#dob" ).datepicker();
                function updateTips( t ) {
                        tips.text( t ).addClass( "ui-state-highlight" );
                        setTimeout(function() {
                            tips.removeClass( "ui-state-highlight", 1500 );
                        }, 500 );
                }
                function checkLength( o, n, min, max, msg ) {
                    if ( o.val().length > max || o.val().length < min ) {
                        var txt =  "Length of " + n + " must be between " +  min + " and " + max + ".";
                        o.addClass( "ui-state-error" );
                        if (! isEmpty(msg) ) {
                            txt = msg;
                        }
                        updateTips(txt );
                        return false;
                    } else {
                        return true;
                    }
                }    
       
                function checkMatch( n1,n2 ) {
                    var v1 =  n1.valueOf() ;
                    var v2 =  n2.valueOf() ;
                    if ( n1.val() === n2.val() ) {
                        return true;
                    } else {
                        n1.addClass( "ui-state-error" );
                        n2.addClass( "ui-state-error" );
                        updateTips( "Passwords do not match, please renter." );
                        return false;
                    }
                }             
                function checkRegexp( o, regexp, n ) {
                    if (! isEmpty(o.val()) ){
                        if ( !( regexp.test( o.val() ) ) ) {
                            o.addClass( "ui-state-error" );
                            updateTips( n );
                            return false;
                        } else {
                            return true;
                        }
                    }
                }                              
                var pickupdata = function( element, val ) {
                    var Dialog = $('<div id="dialog" style="display:hidden" title="Select client id"><table id="popupclientslist"></table></div>').appendTo('body');
                    Dialog.dialog({
                        width: 'auto',
                        modal:true,
                        position: { my: "left top", at: "left bottom", of: $(element) },
                        open: function(ev, ui){
                            $(".ui-dialog").css('font-size','0.8em');
                            pickupgrid( element, val );
                        },
                        close: function(e,ui) {
                            Dialog.remove();
                        }
                    });
                    Dialog.dialog('widget').css('font-size','10x');
                }
                var pickupgrid = function( element,val ) {
                    $("#popupclientslist").jqGrid({
                        url:'/lookup/clients',
                        loadonce: true,
                        datatype: "json",
                        colModel : [
                            { 
                                name : "client_id", label : "client ID"
                            }
                        ],
                        onSelectRow : function (id, stat, e) {
                            var cd = $(this).jqGrid('getCell', id, 0);
                            $(element).val( cd );
                            $("#dialog").remove();
                            $(element).focus();
                        },
                        // focus search field
                        gridComplete:function(data,response){
                            $("#gs_client_id").focus();
                        }
                    });
                    $('#userclientslist2').jqGrid('filterToolbar',{searchOnEnter:false});
                }                
                var cols = <%-JSON.stringify(colsetup)%> ;
                              
                var cols = {
                    url:'/users',
                    editurl:"/users/save_edit",      
                    loadonce:true,
                    altRows: false,
                    deepempty: true,
                    ignoreCase: true,
                    datatype: "json",
                    mtype: "GET",       
                    height:'auto',
                    width:'auto',
                    autowidth: true,
                    colModel:[
                        {label:'Active',name:'active', search:false,editoptions:{readonly:false,value:"1:0"},hidden:false,editable:true, width:36, align:'center', formatter:'checkbox', edittype:'checkbox'},
                        {label:'User ID',name:'user_id',index:'user_id',sortable:true ,width:110, editable:true ,editoptions:{readonly:true} ,searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']}},
                        {label:'MPIID',name:'mpiid',index:'mpiid',editoptions:{readonly:true} , editable:true ,width:80,search:true},    
                        {label:'Verz ID',name:'verizon_id', sortable:true ,width:250, editable:false ,editoptions:{readonly:true} ,searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']}},
                        {label:'CLIENTID',name:'client_id', sortable:true ,width:60, editable:true, 
                            editoptions: { 
                                readonly:false ,
                                dataInit: function (element) {
                                    $(element).css({"width":"75%","float":"left"}).after("<a href='#' style='float:left;margin-left:2px;' class='picker'>Sel</a>");
                                    $(".picker").click(function(){
                                        var val = $(element).val();
                                        pickupdata( element, val );
                                    });
                                },
                                dataEvents:[
                                    {
                                        type: 'click',
                                        fn: function(e){
                                            var element = e.target;
                                            var val = $(element).val();
                                            pickupdata(element,val);
                                        }
                                    },//click event
                                    {
                                        type: 'keydown',
                                        fn: function(e){
                                            e.preventDefault();
                                            var element = e.target;
                                            var val = $(element).val();
                                            pickupdata(element,val);
                                        }
                                    }
                                ]
                            }         
                        },
                        {label:'Status',name:'status',index:'status', width:95,editable:true,edittype:"select", search:false,editoptions:{value:" : ;NEW_USER:NEW_USER;PP_ACCEPTED:PP_ACCEPTED;PP_REGISTERED:PP_REGISTERED;TC_DECLINED:TC_DECLINED;CID_STARTED:CID_STARTED;CID_FAILED:CID_FAILED;CID_SUCCEEDED:CID_SUCCEEDED;PP_DECLINED:PP_DECLINED;TC_ACCEPTED:TC_ACCEPTED"} },
                        {label:'First Name',name:'first_name', width:85,editable:true, editoptions:{disabled:true,readonly:true,size:26},formoptions:{label:'First Name'}, searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']}},
                        {label:'Last Name',name:'last_name', width:85,editable:true,editoptions:{disabled:true,readonly:true,size:26},formoptions:{label:'Last Name'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                        {label:'M Name',name:'middle_name',index:'middle_name', editable:true, sortable:true,editoptions:{disabled:true,readonly:true} , width:50, search:false},
                        {label:'Sex',name:'sex',index:'sex', width:20, align:"left",editable:true,editoptions:{readonly:true} ,search:false},
                        {label:'Address',name:'primary_address_street_address', editable:true ,width:150,  editoptions:{readonly:true,size:26},searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                        {label:'City',name:'primary_address_city', editable:true ,width:100,  editoptions:{readonly:true,size:16},searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                        {label:'State',name:'primary_address_state', editable:true ,width:30,  editoptions:{readonly:true,size:16},searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                        {label:'Zip',name:'primary_address_zip', editable:true ,width:55,  editoptions:{readonly:true,size:16},searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                        {label:'DOB',name:'dob',index:'dob', width:78,editable:true,search:true,                                
                                editoptions: { 
                                    readonly:true,
                                    /*
                                    dataInit: function (element) {
                                        $(element).datepicker({
                                            id: 'DOB_datePicker',
                                            dateFormat: 'yy-mm-dd',
                                            minDate: new Date(1990, 0, 1),
                                            maxDate: new Date(),
                                            defaultDate: '2011-02-23',
                                            showOn: 'focus'
                                        });
                                    }
                                    */
                                }
                                
                        },
                        {label:'SSN',name:'ssn9',index:'ssn9', width:100,editable:true,editoptions:{readonly:true} ,search:true},    
                        {label:'email',name:'email',index:'email', editable:true ,width:160,  editoptions:{readonly:false,size:26},searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                        {label:'phone 1',name:'phone_1', editable:true ,width:85,  editoptions:{readonly:false,size:26},searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                        {label:'phone 2',name:'phone_2', editable:true ,width:85,  editoptions:{readonly:false,size:26},searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                        {label:'phone 3',name:'phone_3', editable:true ,width:85,  editoptions:{readonly:false,size:26},searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                        {label:'Is Admin',name:'is_admin', index:'is_admin',search:false,hidden:true,editable:true,editoptions:{readonly:false}, width:36, align:'center', formatter:'checkbox', edittype:'checkbox',editoptions:{value:"1:0"}},
                        {label:'Date',name:'datetime',index:'datetime', width:155,editable:false ,search:false},    
                        {label:'', width:1,editable:false ,search:false}
                    ],             
                    toppager:true,
                    rowNum: 25,
                    rowTotal:50000,
                    //rowList: [10, 20, 30],
                    sortname: "user_id",
                    sortorder: "asc",
                    viewrecords: true,
                    //gridview: true,
                    autoencode: true,            
                    caption: "Patient Portal Users"
                } ;
                //======================================================
                dialoguser = $( "#dialog-newuser" ).dialog({
                    autoOpen: false,
                    height: 570,
                    width: 300,
                    modal: true,
                    show: {
                        effect: "blind",
                        duration: 500
                    },
                    hide: {
                        effect: "explode",
                        duration: 500
                    },                    
                    buttons: {
                        "Help ?": {
                            style:"margin-right:640px",  
                            class:'leftButton',
                            text:'Help',
                            click:function(){
                                //alert('testin help btn');
                                //var url =  "/HLP/HELP-LOGIN3/HELP/en-US" ;
                                //openWindow(url,'Help');
                            }                                                                                                                        
                        },
                        "Submit": validateUser,
                        Cancel: function() {
                             $( "#dialog-newuser" ).dialog( "close" );
                        }
                    },
                    open: function(){
                        allFields.removeClass( "ui-state-error" );   
                        //timer = setTimeout("$('#dialog-login').dialog('close')",1000*60*15);
                        //setTimeout("setCaptcha()",10000);
                        //setCaptcha();
                    },              
                    close: function() {
                        form[ 0 ].reset();
                        allFields.removeClass( "ui-state-error" );
                        $( "#dialog-newuser" ).dialog('close');
                    }
                });  
                
                form = dialoguser.find( "form" ).on( "submit", function( event ) {
                    event.preventDefault();
                    validateUser();
                });                
                
//----------------------------------------------------------------------------
              function validateUser() {
                   var valid = true;   
                   var QEs =  [ 'HEALTHLINKNY','HEALTHIX','HEALTHELINK' ,'HIXNY','BRONX','NYCIG', 'HEALTHECONN' ,'GRRHIO'];
                   updateTips( "Please enter user details, all fields with * are needed." );
                   allFields.removeClass( "ui-state-error" );   
                   var data = {"user_id": $('#user_id').valueOf().val(),
                                "first_name": $('#first_name').valueOf().val(),
                                "middle_name": $('#middle_name').valueOf().val(),
                                "last_name": $('#last_name').valueOf().val(),
                                "username": $('#username').valueOf().val(),
                                "dob": $('#dob').val(),
                                "gender": $('#gender').valueOf().val(),
                                "email": $('#email').valueOf().val(),
                                "phone_1": $('#phone_1').valueOf().val(),
                                "phone_2": $('#phone_2').valueOf().val(),
                                "phone_3": $('#phone_3').valueOf().val(),
                                "phrid": $('#phrid').valueOf().val(),
                                "username":$('#username').valueOf().val(),
                                "client_id": $('#client_id').val()
                                };
                   valid = valid && checkLength( $('#user_id').valueOf(), "user_id", 3, 60 );
                   valid = valid && checkRegexp( $('#user_id').valueOf(), /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
                   valid = valid && checkRegexp( $('#email').valueOf(), emailRegex, "Invalid email entry valid eg. newuser@nyehealth.org" );
                   valid = valid && checkRegexp( $('#dob').valueOf(),dobRegex, "Invalid date entry valid eg. DD/MM/YYYY, DD-MM-YYYY,  01/12/1998, 01-12-1998 " );
                   

                   valid = valid && checkLength( $('#phone_1').valueOf(), "phone_1", 10, 15 , "phone number must have 10 digits" );
                   valid = valid && checkRegexp( $('#phone_1').valueOf(), phoneRegex, "Invalid phone valid eg. (123) 456-7890, 123-456-7890, 123.456.7890, 1234567890" );                                
                   if( valid) {  
                        var url =  baseUrl+"/users/verifyuser" ;
                        log(url);
                        $.ajax({url: url,
                            async:false,
                            type:'POST' ,
                            data,data,
                            complete: function(result,status){
                                var data = result.responseJSON ;
                                var msg = data.msg ;
                                if (isEmpty(msg)) {
                                    msg = "New User Registration Failed, please renter.";
                                }
                                log("result ="+JSON.stringify(result));
                                //    
                                valid = data.valid;
                                if (valid){
                                    dialoguser.dialog('close');
                                    updateTips( "new User Added " );
                                } else {      
                                    if (data.testuser_id) {
                                        $('#user_id').addClass( "ui-state-error" );
                                    }
                                    if (data.testmail) {
                                        $('#email').addClass( "ui-state-error" );
                                    }
                                    updateTips(msg );
                                }
                            }
                        });                         
                    }
                    return valid;    
               }                
                ///===================================================
               // grid = $("#"+PPgrid);                
                var grid = $("#"+PPgrid),
                    getColumnIndex = function (columnName) {
                        var cm = $(this).jqGrid('getGridParam', 'colModel'), i, l = cm.length;
                        for (i = 0; i < l; i++) {
                            if ((cm[i].index || cm[i].name) === columnName) {
                                return i; // return the colModel index
                            }
                        }
                        return -1;
                    },
                    
                    onclickSubmitLocal = function (options, postdata) {
                        var $this = $(this), grid_p = this.p,
                            idname = grid_p.prmNames.id,
                            grid_id = this.id,
                            id_in_postdata = grid_id + "_id",
                            rowid = postdata[id_in_postdata],
                            addMode = rowid === "_empty",
                            oldValueOfSortColumn,
                            new_id,
                            tr_par_id,
                            colModel = grid_p.colModel,
                            cmName,
                            iCol,
                            cm;
                        // postdata has row id property with another name. we fix it:
                        if (addMode) {
                            // generate new id
                            new_id = $.jgrid.randId();
                            while ($("#" + new_id).length !== 0) {
                                new_id = $.jgrid.randId();
                            }
                            postdata[idname] = String(new_id);
                        } else if (typeof postdata[idname] === "undefined") {
                            // set id property only if the property not exist
                            postdata[idname] = rowid;
                        }
                        delete postdata[id_in_postdata];

                        // prepare postdata for tree grid
                        if (grid_p.treeGrid === true) {
                            if (addMode) {
                                tr_par_id = grid_p.treeGridModel === 'adjacency' ? grid_p.treeReader.parent_id_field : 'parent_id';
                                postdata[tr_par_id] = grid_p.selrow;
                            }
                            $.each(grid_p.treeReader, function (i) {
                                if (postdata.hasOwnProperty(this)) {
                                    delete postdata[this];
                                }
                            });
                        }
                        // decode data if there encoded with autoencode
                        if (grid_p.autoencode) {
                            $.each(postdata, function (n, v) {
                                postdata[n] = $.jgrid.htmlDecode(v); // TODO: some columns could be skipped
                            });
                        }
                        // save old value from the sorted column
                        oldValueOfSortColumn = grid_p.sortname === "" ? undefined : grid.jqGrid('getCell', rowid, grid_p.sortname);
                        // save the data in the grid
                        if (grid_p.treeGrid === true) {
                            if (addMode) {
                                $this.jqGrid("addChildNode", new_id, grid_p.selrow, postdata);
                            } else {
                                $this.jqGrid("setTreeRow", rowid, postdata);
                            }
                        } else {
                            if (addMode) {
                                // we need unformat all date fields before calling of addRowData
                                for (cmName in postdata) {
                                    if (postdata.hasOwnProperty(cmName)) {
                                        iCol = getColumnIndex.call(this, cmName);
                                        if (iCol >= 0) {
                                            cm = colModel[iCol];
                                            //if (cm && cm.formatter === "date") {
                                            //    postdata[cmName] = $.unformat.date.call(this, postdata[cmName], cm);
                                            //}
                                        }
                                    }
                                }
                                $this.jqGrid("addRowData", new_id, postdata, options.addedrow);
                            } else {
                                $this.jqGrid("setRowData", rowid, postdata);
                            }
                        }

                        if ((addMode && options.closeAfterAdd) || (!addMode && options.closeAfterEdit)) {
                            // close the edit/add dialog
                            $.jgrid.hideModal("#editmod" + grid_id, {
                                gb: "#gbox_" + grid_id,
                                jqm: options.jqModal,
                                onClose: options.onClose
                            });
                        }

                        if (postdata[grid_p.sortname] !== oldValueOfSortColumn) {
                            // if the data are changed in the column by which are currently sorted
                            // we need resort the grid
                            setTimeout(function () {
                                $this.trigger("reloadGrid", [{current: true}]);
                            }, 100);
                        }

                        // !!! the most important step: skip ajax request to the server
                        options.processing = false;
                        return {};
                    },
                    
                    editSettings = {
                        //recreateForm: true,
                        jqModal: true,
                        reloadAfterSubmit: false,
                        closeOnEscape: true,
                        refresh:true ,
                        savekey: [true, 13],
                        closeAfterEdit: true,
                        afterSubmit: function () {
                            //return [true,'',false]; // no error and no new rowid
                            //$(this).jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                            //grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                            grid.jqGrid('setGridParam', {datatype:'json'});
                            return [true];
                        },

                        //onclickSubmit: onclickSubmitLocal
                    },                    
                    addSettings = {
                        recreateForm: true,
                        jqModal: true,
                        reloadAfterSubmit: true,
                        savekey: [true, 13],
                        closeOnEscape: true,
                        closeAfterAdd: true,
                        onclickSubmit: function (options, rowid) { // rowid = new data on add
                            log("options="+JSON.stringify(options));
                            log("rowid="+JSON.stringify(rowid));
                            var $this = $(this);
                            var grid_id = $.jgrid.jqID(this.id);
                            var grid_p = this.p;
                            var newPage = grid_p.page;
                            options.processing = true;
                            //verifyuser();    
                            $.ajax({ 
                                url: '/users/save_edit',
                                type: 'POST',
                                cache: false, 
                                data: rowid, 
                                success: function(data){
                                    log(data);
                                    //alert('Success!')
                                    }
                                , error: function(jqXHR, textStatus, err){
                                    alert('text status '+textStatus+', err '+err);
                                }
                             });   
                             return true;
                        }
                    },                    
                    delSettings = {
                        // because I use "local" data I don't want to send the changes to the server
                        // so I use "processing:true" setting and delete the row manually in onclickSubmit
                        onclickSubmit: function (options, rowid) {
                            var $this = $(this), grid_id = $.jgrid.jqID(this.id), grid_p = this.p,newPage = grid_p.page;
                            options.processing = true;
                            // delete the row 
                            //pk----------------------------
                            var sel_id = $this.jqGrid('getGridParam', 'selrow');
                            var value = $this.jqGrid('getCell', sel_id, 'user_id');
                            var url = "/users/delete?id="+value+"&tokenid="+tokenid;
                            log(url);  
                            $.get({url:url , async:true ,complete: function(result,status){
                                    log(result);
                                    //$this.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');                                    
                            }});                    
                            //pk --------------------------                               
                            $.jgrid.hideModal("#delmod" + grid_id, {
                                gb: "#gbox_" + grid_id,
                                jqm: options.jqModal,
                                onClose: options.onClose
                            });
                            if (grid_p.lastpage > 1) {// on the multipage grid reload the grid
                                if (grid_p.reccount === 0 && newPage === grid_p.lastpage) {
                                    // if after deliting there are no rows on the current page
                                    // which is the last page of the grid
                                    newPage--; // go to the previous page
                                }
                                // reload grid to make the row from the next page visable.
                                $this.trigger("reloadGrid", [{page: newPage}]);
                            }
                            return true;
                        },
                        processing: true
                    },
                    initDateEdit = function (elem) {
                        setTimeout(function () {
                            $(elem).datepicker({
                                //dateFormat: 'dd-M-yy',
                                //autoSize: true,
                                showOn: 'button',
                                changeYear: true,
                                changeMonth: true,
                                showButtonPanel: true,
                                showWeek: true
                            });
                        }, 100);
                    },
                    initDateSearch = function (elem) {
                        setTimeout(function () {
                            $(elem).datepicker({
                                //dateFormat: 'dd-M-yy',
                                //autoSize: true,
                                //showOn: 'button', // it dosn't work in searching dialog
                                changeYear: true,
                                changeMonth: true,
                                showButtonPanel: true,
                                showWeek: true
                            });
                        }, 100);
                    };
                //======================================================
                myAddButton = function(options,roles) {
                    // log("RESPOSNE="+roles);
                    verifytoken(tokenid,roles,function(res){
                        if ( res) {
                            grid.jqGrid('navButtonAdd','#'+PPpager,options);
                            grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                        }
                    });
                };
                /*
                myAddButton = function(options) {
                    grid.jqGrid('navButtonAdd','#'+PPpager,options);
                    grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                };
                */
                grid.jqGrid(cols);   
                grid.jqGrid('navGrid', '#'+PPpager,{
                        cloneToTop:true,
                        edit:true,
                        add:false,
                        del:true,
                        search:false,
                        refresh:true,
                        reloadGridOptions: { fromServer: true },
                        beforeRefresh: function(){
                            //alert('In beforeRefresh');
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        },
                        edittext:'Edit',
                        deltext:'Delete',
                        addtext:'Add'
                    },
                    editSettings, 
                    addSettings, 
                    delSettings,
                    {multipleSearch: true, overlay: false,
                        onClose: function (form) {
                            // if we close the search dialog during the datapicker are opened
                            // the datepicker will stay opened. To fix this we have to hide
                            // the div used by datepicker
                            $("div#ui-datepicker-div.ui-datepicker").hide();
                        }
                    }
                ) ;
                /////////////////////////////////////
                grid.mouseover(function(e) {
                    var $this = $(this) ;
                    //var $td = $(e.target).closest('td');
                    //var $tr = $td.closest('tr.jqgrow');
                    //var rowId = $tr.attr('id');                    
                    var rowId = $(e.target).closest('td').closest('tr.jqgrow').attr('id');                    
                    var addr = $this.jqGrid ('getCell', rowId, 'street_address');
                    var city = $this.jqGrid ('getCell', rowId, 'locality');
                    var state = $this.jqGrid ('getCell', rowId, 'region');
                    var zip = $this.jqGrid ('getCell', rowId, 'postal_code');
                    var map = addr+","+city+","+state+","+zip ;
                    if (rowId) {
                        //log(" map= "+map);
                        
                        var mapurl = "<img class='map' alt='map' src='http://maps.google.com/maps/api/staticmap?" +
                                "zoom=18&size=350x350&maptype=terrain&sensor=false&center='" +map + "' >" ;
                       

                    }
                });
                /////////////////////////////////////

                // search in toolbar
                grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
                // add buttons to grid
                // Register User in HS/SPRL
                 myAddButton ({
                    caption: "Register User",
                    title: "Register User in MPI and SPRL",
                    onClickButton : function (){
                         var $this = $(this) ;
                         var selRowId = $this.jqGrid ('getGridParam', 'selrow');
                         var userid = $this.jqGrid ('getCell', selRowId, 'user_id');
                         var rowData =  $this.jqGrid('getRowData',selRowId);
                         var jsondata = ""+JSON.stringify(rowData)+"";
                         var DocId =  rowData['verizon_id'];
                         //alert(DocId);  
                         if (! DocId) {
                            //$( "#dialog-message" ).dialog('open');
                            showMessage(getMsg("MSG_001","Please select a row with a valid user ID. ") );
                         } else {
                            if ( confirm( getMsg("MSG_009","This will take a while, Are you sure you want to Register user:{0}" ).format(userid) ) ) {
                                var url = "/users/register/"+DocId;
                                log(jsondata);
                                log(url);
                                $.ajax({
                                    url :url,
                                    type: "POST",
                                    data : rowData,
                                    dataType: "json",
                                    crossDomain: true,
                                    success: function(data, textStatus, jqXHR) {
                                        showMessage(getMsg("MSG_017","Your request has been sent:\n verify MPI by refreshing the user list").format('OK') );
                                        //data - response from server
                                        //showMessage( getMsg("MSG_007","User Registered:{0}").format(jsondata)));
                                        //alert("User Registered-"+JSON.stringify(data) );
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        alert(textStatus);
                                    }
                                });
                            }
                        }
                    }
                },'PP_USERREGISTER');
                myAddButton ({
                    caption: "Get SPRL Document",
                    title: "Get SPRL Document for user",
                    onClickButton : function (){
                         var $this = $(this) ;
                         var selRowId = $this.jqGrid ('getGridParam', 'selrow');
                         var username = $this.jqGrid ('getCell', selRowId, 'username');
                         var rowData =  $this.jqGrid('getRowData',selRowId);
                         var DocId =  rowData['verizon_id'];
                         //alert(DocId);  
                         if (! DocId) {
                            showMessage(getMsg("MSG_001","Please select a row with a valid user id"));
                         } else {
                            if ( confirm(getMsg("MSG_006","This will take a while, Are you sure you want to Get SPRL dcocument for user: {0}").format(username) ) ) {
                                var url = "/RegisterSPRLDocument/"+DocId ;
                                //$("#loading").show();
                                $.ajax({
                                        type: "GET",
                                        url: url,
                                        success: function( returnedData ) {
                                            //alert(returnedData);           
                                            //$("#loading").fadeOut("slow");                                                                             
                                        }
                                });
                            }
                        }
                    }
                },'PP_SPRLGET');
                myAddButton ({
                    caption: "New User",
                    title: "Add new User to Patient Portal",
                    onClickButton : function (){
                        $( "#dialog-newuser" ).dialog( "open" );

                    }
                });
                 // colunm chooser
                 /*
                myAddButton ({
                    caption: "Columns",
                    title: "Reorder Columns",
                    onClickButton : function (){
                        grid.jqGrid('columnChooser');
                    }
                });
                */

                 //startTimeout();

        });
                
    </script>
    <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
        <table id="PPuserslist"></table> 
        <div id="PPuserspager"></div>                        
    </div>    
  
       
	<div id="dialog-newuser" title='New Patient Portal User' class="ui-layout-center" style="display:none">
        <p class="validateTips">All fields are required.</p>
        <form id="form-newuser" method="POST" action=/users/verifyuser>
                <fieldset>
                    <div id="userlogin"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " > 
                        <input type="hidden" name="langid" hidden="true" />
                        <label class='newuserlabelmust' for="user_id">user id *</label>
                        <input type="text" name="user_id" id="user_id" value="" class="text ui-widget-content ui-corner-all">
                        <br>
                        <label class='newuserlabelmust'  for="first_name">first name *</label>
                        <input type="text" name="first_name" id="first_name" value="" class="text ui-widget-content ui-corner-all">
                        <br>
                        <label class='newuserlabel'  for="middle_name">middle name</label>
                        <input type="text" name="middle_name" id="middle_name" value="" class="text ui-widget-content ui-corner-all">
                        <br>
                        <label class='newuserlabelmust'  for="last_name">last name *</label>
                        <input type="text" name="last_name" id="last_name" value="" class="text ui-widget-content ui-corner-all">
                        <br>
                        <label class='newuserlabelmust'  for="dob">DOB *</label>
                        <input type="text" name="dob" id="dob" value="" class="text ui-widget-content ui-corner-all">
                        <br>
                        <label class='newuserlabelmust'  for="gender">gender *</label>
                        <select name ="gender" id="gender">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="U">Unknown</option>
                        </select>
                        <!--
                        <input type="text" name="gender" id="gender" value="" class="text ui-widget-content ui-corner-all">
                        -->
                        <br>
                        <label class='newuserlabelmust'  for="email">email *</label>
                        <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all">
                        <br>
                        <label class='newuserlabelmust'  for="phone1">phone 1 *</label>
                        <input type="text" name="phone_1" id="phone_1" value="" class="text ui-widget-content ui-corner-all">
                        <br>
                        <label class='newuserlabel'  for="phone">phone 2</label>
                        <input type="text" name="phone_2" id="phone_2" value="" class="text ui-widget-content ui-corner-all">
                        <br>
                        <label class='newuserlabel'  for="phone_3">phone 3</label>
                        <input type="text" name="phone_3" id="phone_3" value="" class="text ui-widget-content ui-corner-all">
                        <br>
                        <label class='newuserlabel'  for="username">User name</label>
                        <input type="text" name="username" id="username" value="" class="text ui-widget-content ui-corner-all">
                        <br>
                        <label class='newuserlabel'  for="phrid">PHRID</label>
                        <input type="text" name="phrid" id="phrid" value="" class="text ui-widget-content ui-corner-all">
                        <br>
                        <label class='newuserlabel'  for="client_id">client id</label>                        
                        <select name ="client_id" id="client_id">
                            <option value="NYPP">NYPP</option>
                            <option value="HEALTHLINKNY">HEALTHLINKNY</option>
                            <option value="HEALTHIX">HEALTHIX</option>
                            <option value="HEALTHELINK">HEALTHELINK</option>
                            <option value="HIXNY">HIXNY</option>
                            <option value="BRONX">BRONX</option>
                            <option value="NYCIG">NYCIG</option>
                            <option value="HEALTHECONN">HEALTHECONN</option>
                            <option value="GRRHIO">GRRHIO</option>
                        </select>
                        <!--
                        <select name ="client_id" id="client_id">
                                <input type="checkbox" name="QEs[]" value="HEALTHLINKNY">HEALTHLINKNY<br>\
                                <input type="checkbox" name="QEs[]" value="HEALTHIX" checked>HEALTHIX<br>\
                                <input type="checkbox" name="QEs[]" value="HEALTHELINK">HEALTHELINK<br>\
                                <input type="checkbox" name="QEs[]" value="HIXNY" checked>HIXNY<br>\
                                <input type="checkbox" name="QEs[]" value="BRONX">BRONX<br>\
                                <input type="checkbox" name="QEs[]" value="NYCIG" checked>NYCIG<br>\
                                <input type="checkbox" name="QEs[]" value="HEALTHECONN">HEALTHECONN<br>\
                                <input type="checkbox" name="QEs[]" value="GRRHIO" checked> GRRHIO<br>\
                        </select>
                        <input type="text" name="client_id" id="client_id" value="nyec" class="text ui-widget-content ui-corner-all">
                        -->                        
                        <br>
                        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                    </div>
                
                </fieldset>

            </form>
      </div>
      

</div>
