
<div style="border:2px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
    <script>
        var baseUrl = document.location.origin;   
        $( function() {
                var tokenid = 0;
                var inc = increment();
                var PPpager = document.getElementById("PPadminpager").id + inc;
                document.getElementById("PPadminpager").id = PPpager;                
                var PPgrid = document.getElementById("PPadminlist").id + inc;
                document.getElementById("PPadminlist").id = PPgrid;
                var lastsel ;
                var cols = <%-JSON.stringify(colsetup)%> ;               
                ///===================================================
                grid = $("#"+PPgrid);                                
                //======================================================
                grid.jqGrid(cols);   
                grid.jqGrid('navGrid', '#'+PPpager,{
                        cloneToTop:true,
                        edit:true,
                        add:false,
                        del:false,
                        search:true,
                        refresh:true,
                        reloadGridOptions: { fromServer: true },
                        beforeRefresh: function(){
                            //alert('In beforeRefresh');
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        }
                       
                    }
                ) ;
                // search in toolbar
                grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
                grid.jqGrid('inlineNav',"#"+PPpager);                               
        });                
    </script>
    <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
        <table id="PPadminlist"></table> 
        <div id="PPadmingpager"></div>                        
    </div>    
  
</div>
