

<div style="border:2px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">
  <style>
      fieldset { border: 0; margin-left: 1px; }
        label { display: block; margin: 1px 0 0 0; }
        select { width: 150px; } 
        input {  width: 150px; }
        #dialog label, #dialog input { display:block; color:009900}
        #dialog label { margin-top: 0.5em; }
        #dialog input, #dialog textarea { width: 95%; }
        #headerlogo {vertical-align:bottom}
        .loginlabel {  width:75px; display: inline-flex;  color:22ff55; }  
        .selectlabel { width:90px; display: inline-flex;  color:22ff55;  background:#F8F8FF;
      }        
      #accordion-resizer {
        padding: 10px;
        width: 350px;
        left:100px;
        height: auto;
      }
      #format { margin-top: 2em; }
  </style>    
    <script>
        var baseUrl = document.location.origin;
        var grid = "";
        setThemes('adminthemes',false)
        $( function() {
                var tokenid = 0;
                var form;
                var inc = increment();
                var PPpager = document.getElementById("PPadminuserspager").id + inc;
                document.getElementById("PPadminuserspager").id = PPpager;                
                var PPgrid = document.getElementById("PPadminuserslist").id + inc;
                document.getElementById("PPadminuserslist").id = PPgrid;
                var lastsel ;
                var emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
                var passwordRegex = /^(?=.{8,32}$)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#\$%\^&\*])(?=.*[0-9]).*/ ;
                var phoneRegex = /^1?(-|\s)?(\()?\d{3}(\))?(-|\s)?\d{3}(-|\s)?\d{4}$/;
                var allFields = $( [] ).add( $( "#afname" ) ).add( $( "#aemail" ) ).add( $( "#apassword" ) ).add($( "#alname") ).add($( "#aphone" ) );                                                        
                var tips = $( ".validateTips" );
                var timer = 0;
                $(window).bind("beforeunload", function() { 
                    closeWindows();
                })
                function updateTips( t ) {
                    tips.text( t ).addClass( "ui-state-highlight" );
                    setTimeout(function() {
                        tips.removeClass( "ui-state-highlight", 2000 );
                    }, 1000 );
                }                                
                if (isEmpty(tokenid) ) {
                    tokenid = getURLParameter('tokenid') ;
                }                         
                verifytoken(tokenid,function(res){
                    if (! res){
                       // window.location = "/login/html?tokenid="+tokenid;
                        //$( '#mainprog' ).html( "" );
                    }
                });      
                
                function checkUser( userid ,callback) {
                    log("check userid="+userid);
                    var url = baseUrl+"/adminuser/"+userid ;
                    //log("check user url = "+url);
                    $.ajax({
                            type: "GET",
                            url: url,
                            success: function( returnedData ) {
                            log("Checkuser result="+returnedData);
                                callback(returnedData);
                            }
                    });
                }    
               
                function checkLength( o, n, min, max ) {
                    if ( o.val().length > max || o.val().length < min ) {
                        o.addClass( "ui-state-error" );
                        return false;
                    } else {
                        return true;
                    }
                }    
            
                function checkRegexp( o, regexp, n ) {
                    //log("RegEx="+o.val());
                    if ( ! ( regexp.test( o.val() ) ) ) {
                        o.addClass( "ui-state-error" );
                        return false;
                    } else {
                        return true;
                    }
                }                
                function updateUser(){
                    var data = { password: $("#apassword").val(),
                                        userid: $("#auserid").val(),
                                        group:$("#groups option:selected").text(),
                                        email: $("#aemail").val(),
                                        phone: $("#aphone").val(),
                                        fname: $("#afname").val(),
                                        lname: $("#alname").val(),
                                        theme:$("#adminthemes option:selected").text()
                                        //theme: $("#theme").val()
                    } ;
                    log(JSON.stringify(data));
                    var url = baseUrl+"/adminuser/update" ;
                    alert(url)
                    $.ajax({
                        url :url,
                        type: "POST",
                        data : data,
                        dataType: "json",
                        crossDomain: true,
                        success: function(data, textStatus, jqXHR) {
                                grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                                $( "#ddialog-adminuser" ).dialog('close');                       
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                                grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                                $( "#dialog-adminuser" ).dialog('close');                       
                        }
                    });                             
                }                
                function validateUser() {               
                    var valid = true;
                    checkUser( $('#auserid').val(),function(result){
                        valid = ! result;
                        if (! valid) {
                            updateTips( "Userid already exists, please renter." );
                            return valid;
                        }
                        valid = valid && checkLength($('#afname'),'', 3, 32 );
                        if (! valid) {
                            updateTips( "first name does not meet length requirement, please renter." );
                            return valid;
                        } 
                        valid = valid && checkLength($('#alname'),'', 3, 32 );
                        if (! valid) {
                            updateTips( "last name does not meet length requirement, please renter." );
                            return valid;
                        } 
                        valid = valid && checkRegexp( $('#aemail'), emailRegex, "Password field only allow : a-z 0-9" );
                        if (! valid) {
                            updateTips( "email does not conforfm to valid email url, please renter." );
                            return valid;
                        }
                        valid = valid && checkRegexp( $('#aphone'), phoneRegex, "Password field only allow : a-z 0-9" );
                        if (! valid) {
                            updateTips( "phone number is invalid, please renter." );
                            return valid;
                        }
                        if ( valid) {
                                    var url = baseUrl+"adminuser/save" ;
                                    log(url);
                                    var data = { password: $("#apassword").val(),
                                        userid: $("#auserid").val(),
                                        group:$("#groups option:selected").text(),
                                        email: $("#aemail").val(),
                                        phone: $("#aphone").val(),
                                        fname: $("#afname").val(),
                                        lname: $("#alname").val(),
                                        theme:$("#adminthemes option:selected").text()
                                        //theme: $("#theme").val()
                                    } ;
                                    var geturl = baseUrl+"/adminusersave/?userid="+data.userid+"&fname="+data.fname+"&phone="+data.phone+"&email="+data.email+"&group="+data.group+"&lname="+data.lname+"&theme="+data.theme  ;
                                    //log(geturl);
                                    $.ajax({
                                        type:"GET",
                                        url: geturl,
                                        async:true,
                                        success: function(res){
                                             updateTips( "User registered succsefully and email sent" );
                                       	     $( "#dialog-adminuser" ).dialog('close');
                                        },
                                        error: function(err) {
                                            log(JSON.stringify(err));
                                             updateTips( "User registered succsefully and email sent" );
                                       	     $( "#dialog-adminuser" ).dialog('close');
                                                
                                        },
                                        dataType: "json"
                                    });                                    
                        };                    
                    });
                    return valid;
                }          
                dialogadmin = $( "#dialog-adminuser" ).dialog({
                    autoOpen: false,
                    height: 375,
                    width: 300,
                    modal: true,
                    show: {
                        effect: "blind",
                        duration: 500
                    },
                    hide: {
                        effect: "explode",
                        duration: 500
                    },
                    buttons: {
                        Submit: validateUser,
                        Cancel: function() {
                             $( "#dialog-adminuser" ).dialog( "close" );
                        }
                    },
                    open: function(){
                        timer = setTimeout("$('#dialog-login').dialog('close')",100000);
                        allFields.removeClass( "ui-state-error" );
                        //setTimeout("setCaptcha()",10000);
                        //setCaptcha();
                    },              
                    close: function() {
                        form[ 0 ].reset();
                        allFields.removeClass( "ui-state-error" );
                        $( "#dialog-adminuser" ).dialog('close');
                    }
                });  
                form =  $( "#dialog-adminuser" ).find( "form" ).on( "submit", function( event ) {
                    event.preventDefault();
                    alert('qweqwew  ');
                    validateUser();
                });    
                var delSettings = {
                        // because I use "local" data I don't want to send the changes to the server
                        // so I use "processing:true" setting and delete the row manually in onclickSubmit
                        onclickSubmit: function (options, rowid) {
                            var $this = $(this), grid_id = $.jgrid.jqID(this.id), grid_p = this.p,newPage = grid_p.page;
                            options.processing = true;
                            // delete the row 
                            //pk----------------------------
                            var sel_id = $this.jqGrid('getGridParam', 'selrow');
                            var value = $this.jqGrid('getCell', sel_id, 'username');
                            log(value);  
                            $.get({url: "/users/delete?id="+value+"", async:true ,complete: function(result,status){
                                    //log(result);
                                    //$this.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');                                    
                            }});                    
                            //pk --------------------------    
                
                            if (grid_p.treeGrid) {
                                $this.jqGrid("delTreeNode", rowid);
                            } else {
                                $this.jqGrid("delRowData", rowid);

                            }
                            $.jgrid.hideModal("#delmod" + grid_id, {
                                gb: "#gbox_" + grid_id,
                                jqm: options.jqModal,
                                onClose: options.onClose
                            });

                            if (grid_p.lastpage > 1) {// on the multipage grid reload the grid
                                if (grid_p.reccount === 0 && newPage === grid_p.lastpage) {
                                    // if after deliting there are no rows on the current page
                                    // which is the last page of the grid
                                    newPage--; // go to the previous page
                                }
                                // reload grid to make the row from the next page visable.
                                $this.trigger("reloadGrid", [{page: newPage}]);
                            }

                            return true;
                        },
                        processing: true
                    };
                    var editSettings = {
                        //recreateForm: true,
                        jqModal: true,
                        reloadAfterSubmit: false,
                        closeOnEscape: true,
                        savekey: [true, 13],
                        closeAfterEdit: true
                         
                    };
                    addSettings = {
                        //recreateForm: true,
                        jqModal: true,
                        reloadAfterSubmit: false,
                        savekey: [true, 13],
                        closeOnEscape: true,
                        closeAfterAdd: true   
                    };
                var cols = <%-JSON.stringify(colsetup)%> ;          
                     
                ///===================================================
                grid = $("#"+PPgrid);                
                cols.onSelectRow= function(id){
                    if(id && id!==lastsel){
                        grid.jqGrid('restoreRow',lastsel);
                        //grid.jqGrid('editRow',id,true);
                        lastsel=id;
                    }
                };
                //======================================================
                grid.jqGrid(cols);   
                grid.jqGrid('navGrid', '#'+PPpager,{
                        cloneToTop:true,
                        edit:true,
                        add:false,
                        del:false,
                        search:false,
                        refresh:true,
                        cellEdit: false,
                        reloadGridOptions: { fromServer: true },
                        beforeRefresh: function(){
                            //alert('In beforeRefresh');
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        },
                        edittext:'Edit',
                        deltext:'Delete',
                        addtext:'Add',
                        refreshtext:'Refresh'
                    },
                    editSettings, 
                    addSettings
                ) ;
             
                
                myAddButton = function(options) {
                    grid.jqGrid('navButtonAdd','#'+PPpager,options);
                    grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                };
               
                // search in toolbar
                grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
                grid.jqGrid('inlineNav',"#"+PPpager);
                myAddButton ({
                    caption: "New User",
                    title: "Create New User",
                    onClickButton : function (){
                        $( "#dialog-adminuser" ).dialog( "open" );

                    }
                });
                myAddButton ({
                    caption: "Reset Password",
                    title: "Reset AdminUser Password",
                    onClickButton : function (){
                        var $this = $(this) ;
                        var selRowId = $this.jqGrid ('getGridParam', 'selrow');
                        var userid = $this.jqGrid ('getCell', selRowId, 'userid');
                        var url = baseUrl+"/adminuser/pwdreset" ;
                        log("reset pwd url= "+url);
                        var data = {userid:userid,tokenid:tokenid};
                        log("data= "+JSON.stringify(data))
                        if ( confirm( getMsg("MSG_012","This will reset passsword for user: {0}, Are you sure you want to continue" ).format(userid) ) ) {
                            $.ajax({
                                    type:'GET',     
                                    url: url,
                                    data:data,
                                    dataType: 'json',
                                    success: function( returnedData ) {
                                        updateTips( "User registered succsefully and email sent" );
                                        log("RESET PWD user  result="+returnedData);                                            
                                    },
                                    error: function(jqXHR, textStatus, errorThrown){
                                        log("ajax error "+textStatus +'-'+ errorThrown);
                                    }
                            });                        
                        }
                    }
                });     
                myAddButton ({
                    caption: "Disable User",
                    title: "Disable User",
                    onClickButton : function (){
                        var $this = $(this) ;
                        var selRowId = $this.jqGrid ('getGridParam', 'selrow');
                        var userid = $this.jqGrid ('getCell', selRowId, 'userid');
                        var url = baseUrl+"/adminuser/disable?userid="+userid+"&tokenid="+tokenid ;
                        log("reset pwd url= "+url);
                        if ( confirm( getMsg("MSG_013","This will disable the user: {0}, Are you sure you want to continue" ).format(userid) ) ) {
                            $.ajax({
                                type:'GET',     
                                url: url,
                                success: function( returnedData ) {
                                    grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');                                                                  
                                },
                                error: function(jqXHR, textStatus, errorThrown){
                                    log("ajax error "+textStatus +'-'+ errorThrown);
                                }
                            });                        
                        }

                    }
                });        
               
        });                
       
    </script>

    
 	<div id="dialog-adminuser" title='User' class="ui-layout-center" style="display:none">
          <div class="logo"> <a href="HTTP://nyehealth.org"><img src="/images/nyecPPlogo.png" alt="NYeC Logo" /></a> </div>	         
        <p class="validateTips">All fields are required.</p>
        
        <form id=adminuser-form >
        <fieldset>
            <div id="userlogin"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " > 
                <input type="hidden" name="langid" hidden="true" />         
                    
                <label class='loginlabel' for="auserid">UserID</label>
                <input type="text" name="auserid" id="auserid" value="" class="text ui-widget-content ui-corner-all">
                <br>
                <label class='loginlabel'  for="afname">First Name</label>
                <input type="text" name="afname" id="afname" value="" class="text ui-widget-content ui-corner-all">
                <br>              
                <label class='loginlabel'  for="alname">Last Name</label>
                <input type="text" name="alname" id="alname" value="" class="text ui-widget-content ui-corner-all">
                <br>
                <label class='loginlabel'  for="aemail">email</label>
                <input type="text" name="aemail" id="aemail" value="" class="text ui-widget-content ui-corner-all">
                <br>
                <label class='loginlabel'  for="aphone">phone</label>
                <input type="text" name="aphone" id="aphone" value=""  >
                <br>                
                <label class='loginlabel' for="group" class="text ui-widget-content ui-corner-all">group</label>
                <select name="groups" id="groups">
                    <option>PP_OPERATIONS</option>
                    <option>PP_ADMIN</option>
                    <option>SUPERADMIN</option>
                </select>         
                <label class='loginlabel'  for="theme">theme</label>
                <span id="adminthemes" >  </span>
                <br>                    
            </div>
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>

      </form>
    </div>



        <!--
    <div class="toolbar" id="loginHeader" style="border:2px solid green; word-wrap:break-word; margin:0 0 0 0 ; overflow:auto; padding:0px; background:#111188; height:40px;"  >
    -->     	     
   <div class="toolbar" id="loginHeader" class="ui-widget-header:"  >     	     
        <table id="PPadminuserslist"></table> 
        <div id="PPadminuserspager"></div>                        
    </div>    
  
</div>

