

<div style="border:2px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
    <script>
        $( function() {
                var tokenid = '<%-tokenid%>';
                var inc = increment();
                var CIDpager = document.getElementById("CIDuserspager").id + inc;
                document.getElementById("CIDuserspager").id = CIDpager;                
                var CIDgrid = document.getElementById("CIDuserslist").id + inc;
                document.getElementById("CIDuserslist").id = CIDgrid;

                if (isEmpty(tokenid) ) {
                    tokenid = getURLParameter('tokenid') ;
                }                 
                 
                verifytoken(tokenid,function(res){
                    if (! res){
                       // window.location = "/login/html?tokenid="+tokenid;
                        //$( '#mainprog' ).html( "" );
                    }
                })                                                     
                function reloadData() {
                    var url = "/CIDUsers" ;
                    $.ajax({url: url, type: "GET", async:false , 
                        complete: function(result,status){
                        log(JSON.stringify(result));                       
                            var grid = $("#"+CIDGrid);
                            grid.jqGrid('clearGridData');
                            grid.jqGrid('setGridParam', {data: result.responseJSON});
                            grid.trigger('reloadGrid');
                        }
                    });
                }
                var cols = <%-JSON.stringify(colsetup)%> ;

                grid = $("#"+CIDGrid);
                myAddButton = function(options) {
                    grid.jqGrid('navButtonAdd','#pager',options);
                    grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                };

                grid.jqGrid(cols);   
                grid.jqGrid('navGrid', '#pager',{
                        cloneToTop:true,
                        edit:true,
                        add:true,
                        del:true,
                        search:false,
                        refresh:false,
                        edittext:'Edit',
                        deltext:'Delete',
                        addtext:'Add'
                    },
                    editSettings, 
                    addSettings, 
                    delSettings,
                    {multipleSearch: true, overlay: false,
                        onClose: function (form) {
                            // if we close the search dialog during the datapicker are opened
                            // the datepicker will stay opened. To fix this we have to hide
                            // the div used by datepicker
                            $("div#ui-datepicker-div.ui-datepicker").hide();
                        }
                    }
                ) ;
               
                // search in toolbar
                grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
                // add buttons to grid
                 // colum chooser
                myAddButton ({
                    caption: "Columns",
                    title: "Reorder Columns",
                    onClickButton : function (){
                        grid.jqGrid('columnChooser');
                    }
                });
                myAddButton ({
                    caption: "Reload",
                    title: "Reload Data",
                    onClickButton : function (){
                        reloadData();
                    }
                });
                startTimeout();

        });
                
    </script>
    <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	                
        <table id="CIDuserslist"></table> 
        <div id="CIDusersPager"></div>                        
    </div>    
  
</div>
