
<div style="border:2px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
    <script>
        var baseUrl = document.location.origin;   
        $( function() {
                var tokenid = 0;
                var inc = increment();
                var PPpager = document.getElementById("PPconfigpager").id + inc;
                document.getElementById("PPconfigpager").id = PPpager;                
                var PPgrid = document.getElementById("PPconfiglist").id + inc;
                document.getElementById("PPconfiglist").id = PPgrid;
                var lastsel ;
                if (isEmpty(tokenid) ) {
                    tokenid = getURLParameter('tokenid') ;
                }                 
                //log("tokenid="+tokenid)           
                verifytoken(tokenid,function(res){
                    if (! res){
                       // window.location = "/login/html?tokenid="+tokenid;
                        //$( '#mainprog' ).html( "" );
                    }
                })                                      
                var cols = <%-JSON.stringify(colsetup)%> ;     
                log("Config Columns="+JSON.stringify(cols));          
                ///===================================================
                grid = $("#"+PPgrid);                
                
                //======================================================
                grid.jqGrid(cols);   
                grid.jqGrid('navGrid', '#'+PPpager,{
                        cloneToTop:true,
                        edit:true,
                        add:false,
                        del:false,
                        search:false,
                        refresh:true,
                        //cellEdit: true,
                        reloadGridOptions: { fromServer: true },
                        beforeRefresh: function(){
                            //alert('In beforeRefresh');
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        },
                        afterInsertRow: function(rowid, aData){
                            switch (aData.parent) {
                                case 'LOGGING':
                                    grid.jqGrid('setCell',rowid,'parent','',{color:'green'});
                                break;
                                case 'dict.js':
                                    grid.jqGrid('setCell',rowid,'ids','',{color:'red'});
                                break;
                                case 'parent':
                                    grid.jqGrid('setCell',rowid,'notes','',{color:'blue'});
                                break;
                                
                            }
                        },
                        edittext:'View notes'
                       
                    },
                    editSettings, 
                    addSettings, 
                    delSettings,
                    {multipleSearch: true, overlay: false,
                        onClose: function (form) {
                            // if we close the search dialog during the datapicker are opened
                            // the datepicker will stay opened. To fix this we have to hide
                            // the div used by datepicker
                            $("div#ui-datepicker-div.ui-datepicker").hide();
                        }
                    }
                ) ;
                // search in toolbar
                grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
                grid.jqGrid('inlineNav',"#"+PPpager);
                               
        });
                
    </script>
    <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
        <table id="PPconfiglist"></table> 
        <div id="PPconfigpager"></div>                        
    </div>    
  
</div>
