<%- include header.ejs %>
    <style>
        fieldset { border: 0; margin-left: 1px; }
        label { display: block; margin: 1px 0 0 0; }
        select { width: 150px; } 
        input {  width: 150px; }
        #dialog label, #dialog input { display:block; color:009900}
        #dialog label { margin-top: 0.5em; }
        #dialog input, #dialog textarea { width: 95%; }
        #headerlogo {vertical-align:bottom}
        .loginlabel {  width:75px; display: inline-flex;  color:22ff55; }  
        .selectlabel { width:90px; display: inline-flex;  color:22ff55;  background:#F8F8FF;
        }               
        .toolbar {
             font-size: .75em;
             position:relative; 
        }  
        #select-button {
            width: 45px;
        }             
        .block_button {
            position:absolute;   
            float: right;
            padding-right: 1px;
            padding-bottom:1px;
            padding-left: 1px;  
            bottom:1px;          
            right:1px;          
        }
        .map {
            width: 350px;
            height: 350px;
        }
        .ui-tooltip {
            max-width: 350px;
        }
        .leftButton{
            position: absolute;
            left:8px;
        }
        <!--
        #tabs { margin-top: 1em; }
        #tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
        #add_tab { cursor: pointer; } 
        .ui-tabs-disabled {
            display: none; /* disabled tabs don't show up */
        }
        -->
        <!--
        .ui-tabs-vertical { width: auto; }
        .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
        .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
        .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
        .ui-tabs-vertical .ui-tabs-panel { padding: .1em; float: left; width: 80em;}
        -->
  </style>
   <script>
            var baseUrl = document.location.origin;
            var showforgotpwd = true;
            var showchangepwd = true;
            var captchaNum ="xx";
            var form;
            var tabCounter = 1;
            var tokenid = "";
            var token = {};
            var resettry = 0;
            var  emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
            var passwordRegex = /^(?=.{8,32}$)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#\$%\^&\*])(?=.*[0-9])(?!.*pass|.*word|.*1234|.*qwer|.*asdf).*/ ;
            var phoneRegex = /^1?(-|\s)?(\()?\d{3}(\))?(-|\s)?\d{3}(-|\s)?\d{4}$/;
            //-----------------------------------------------------------          
            $(function() {          
                var allFields = $( [] ).add( $( "#name" ) ).add( $( "#email" ) ).add( $( "#password" ) ).add($( "#rname" ) ).add( $( "#remail" ) ).
                            add( $( "#rpassword" ) ).add( $( "#rfname" ) ).add( $( "#captcha" ) ).add($('#newpassword')).add($('#renterpassword'));
                var tips = $( ".validateTips" );
                var timer = 0;
                $(window).bind("beforeunload", function() { 
                    closeWindows();
                })
                function updateTips( t ) {
                    tips.text( t ).addClass( "ui-state-highlight" );
                    setTimeout(function() {
                        tips.removeClass( "ui-state-highlight", 2000 );
                    }, 1000 );
                }                
                //------TABS ------------------------------------------------------------------------------               
                var tabTitle = $( "#tab_title" ),
                tabContent = $( "#tab_content" ),
                //tabTemplate = "<li><a href='#{href}'>#{label}</a> <span class='ui-icon ui-icon-close' role='presentation'>Remove Tab</span></li>",
                tabTemplate = "<li><a href='#{href}'>#{label}</a> </li>",
                tabCounter = 2;            
                var tabs = $( "#tabs" ).tabs({
                          //event: "mouseover" ,
                          collapsible:true
                });
               // $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
                $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
                //------------------------------------------------------------------
                function addTab(pLabel,roles) {
                    var tab = $( "#tabs" ).tabs();
                    var label = pLabel,
                        id = "tabs-" + tabCounter,
                        progid = "prog"+tabCounter,
                        li = $( tabTemplate.replace( /#\{href\}/g, "#" + id ).replace( /#\{label\}/g, label ) ),
                        tabContentHtml = tabContent.val() || "Tab " + tabCounter + " content.";
                    
                    tabs.find( ".ui-tabs-nav" ).append( li );
                    tabs.append( "<div id='" + id + "'>  <div id='"+progid+"'></div>  </div>" );
                    tabs.tabs( "refresh" );

                    //tabs.tabs("select", 1);
                    //tabs.tabs('option', 'selected', tabCounter);
                    //tabs.tabs( "option", "active", 21 );
                    //$('#tabs-2').trigger('click');
                    //$( "#tabs" ).tabs( "select", 2 );
                    tabCounter++;
                    return progid;
                }
                // Close icon: removing the tab on click
                tabs.on( "click", "span.ui-icon-close", function() {
                    var panelId = $( this ).closest( "li" ).remove().attr( "aria-controls" );
                    $( "#" + panelId ).remove();
                    tabs.tabs( "refresh" );
                });            
                tabs.on( "keyup", function( event ) {
                    if ( event.altKey && event.keyCode === $.ui.keyCode.BACKSPACE ) {
                        var panelId = tabs.find( ".ui-tabs-active" ).remove().attr( "aria-controls" );
                        $( "#" + panelId ).remove();
                        tabs.tabs( "refresh" );
                    }
                });
                //$( "#tabs" ).tabs('disable',0);
                $("#tabs").hide();
                // end tabs stuff --------------------------------------------          
                function showHSDocs(){
                    verifytoken(tokenid,"PP_REPOSITORYVIEW",function(res){
                        if (res){
                            var url = "/HSdocumentshtml/"+tokenid;    
                            $.ajax({
                                    type: "GET",
                                    url: url ,
                                    success: function( returnedData ,code) {
                                        if (returnedData ) {
                                            var divid = addTab("HS Documents");             
                                            $( '#'+divid).html( returnedData );
                                        } else {
                                        }                                                        
                                    }
                            });
                        }
                    })                
                };     
                 function showUserAdmin(){
                    verifytoken(tokenid,"PP_USERADMINVIEW",function(res){
                        if (res){
                            var url = "/adminusershtml/"+tokenid;    
                            $.ajax({
                                    type: "GET",
                                    url: url ,
                                    success: function( returnedData ,code) {
                                        if (returnedData ) {
                                            var divid = addTab("Admin Users");             
                                            $( '#'+divid).html( returnedData );
                                        } else {
                                        }                                                        
                                    }
                            });
                        }
                    })                
                };     
                function showLogging() {
                    verifytoken(tokenid,"PP_AUDITVIEW",function(res){
                        if (res){
                            var url = "/logginghtml/"+tokenid;    
                            $.ajax({
                                    type: "GET",
                                    url: url ,
                                    success: function( returnedData ) {
                                        //log(returnedData);
                                        var divid = addTab("Logging");             
                                        $( '#'+divid).html( returnedData );                                                        
                                    }
                            });
                        }
                    })
                };
                function showConfig(){
                   var url = "/confightml";
                   //log("Config URL="+url);    
                   $.ajax({
                        type: "GET",
                        url: url ,
                        success: function( Data ) {
                             //log("Result="+JSON.stringify(Data));    
                            var divid = addTab("configuration settings");             
                            $( '#'+divid).html( Data );                                                        
                        }
                    });
                };               
                function showSPRL(){
                   //var url = "/SPRL/XCAReport/html";
                   var url = "/hbm/Report/html";
                   $.ajax({
                        type: "GET",
                        url: url ,
                        success: function( Data ) {
                             //log("Result="+JSON.stringify(Data));    
                            var divid = addTab("Heartbeat Monitor");             
                            $( '#'+divid).html( Data );                                                        
                        }
                    });
                };   

                function showissues() {
                    var url = `/issues/html`;
                    window.open(url , "issues","resizable=1,scrollbars=yes ,width=1070,height=550");
                    //openwindow(url , "issues",660,550);
                }
                function showQeCerts() {
                    var url = `/sprlconf/certs/html`;
                    window.open(url , "QE SPRL Configurations","resizable=1,scrollbars=yes ,width=660,height=550");
                    //openwindow(url , "QE SPRL Configurations",660,550);
                }
                function showQeConfig() {
                    var url = `/sprlconf/admin`;
                    window.open(url , "QE Certificates","resizable=1,scrollbars=yes ,width=1060,height=550");
                    //openwindow(url , "QE Certificates",1060,550);
                }
                function showDocFlow(){
                   var url = "/ppdoc/html";
                   //openWindow(url,'Doc Flow'); // will close on logout
                   window.open(url ,"docFlow", "resizable=1,scrollbars=no,width=700,height=650");                    
                    /*
                   $.ajax({
                        type: "GET",
                        url: url ,
                        success: function( Data ) {
                            var divid = addTab("Doc Rrefresh Flow");             
                            $( '#'+divid).html( Data );                                                        
                        }
                    });
                    */
                };
                function setCaptcha() {
                    var url = "/captcha" ;
                    $.ajax({ url: url, type: "GET", async:false , complete: function(result,status){
                            o = JSON.parse(result.responseText)
                            captcahNum =o.num;
                            $( '#captchaimg' ).html( '<img src="data:image/png;base64,'+o.image+'" />' );  
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            //callback( false);
                            //log(textStatus);
                        }
                    });            
                }           
                function checkLength( o, n, min, max ) {
                    if ( o.val().length > max || o.val().length < min ) {
                        o.addClass( "ui-state-error" );
                        updateTips( "Length of " + n + " must be between " +  min + " and " + max + "." );
                        return false;
                    } else {
                        return true;
                    }
                }    
                function checkCaptcha( n1 ) {                     
                    var v1 =  n1.valueOf().val() ;      
                    if ( v1 == captcahNum ) {
                        return true;
                    } else {
                        n1.addClass( "ui-state-error" );                    
                        updateTips( "Captcha does not match, please renter." );
                        setCaptcha();
                        return false;
                    }
                }             
                function checkMatch( n1,n2 ) {
                    var v1 =  n1.valueOf() ;
                    var v2 =  n2.valueOf() ;
                    if ( n1.val() === n2.val() ) {
                        return true;
                    } else {
                        n1.addClass( "ui-state-error" );
                        n2.addClass( "ui-state-error" );
                        updateTips( "Passwords do not match, please renter." );
                        setCaptcha();
                        return false;
                    }
                }             
                function checkRegexp( o, regexp, n ) {
                    if ( ! ( regexp.test( o.val() ) ) ) {
                        o.addClass( "ui-state-error" );
                        updateTips( n );
                        return false;
                    } else {
                        return true;
                    }
                }
              
                //-------------------
                function validateUser() {
                    var valid = true;    
                    if( $('#showChangePassword').is(':visible') ) {
                        var userid = $('#name').valueOf();
                        var pwdReg = "^(?=.{8,32}$)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#\$%\^&\*])(?=.*[0-9])(?!.*pass|.*word|.*1234|.*qwer|.*asdf|.*"+userid.val()+").*";
                        var pwdRegEx = new  RegExp(pwdReg);
                        valid = valid && checkRegexp( $('#newpassword'),pwdRegEx, "Password field only allow : a-z 0-9" );
                        //valid = valid && checkRegexp( $('#newpassword'),passwordRegex, "Password field only allow : a-z 0-9" );
                        if (! valid) {
                            updateTips( "Password does not meet minimun complexity requirements, please renter." );
                            return valid;
                        }
                        valid = valid && checkMatch($('#newpassword'),$('#renterpassword')) ;
                        if (! valid) {
                            updateTips( "Passwords do not match, please renter." );
                            return valid;
                        }
                    }
                    valid = valid && checkCaptcha($('#captcha')) ;
                    if ( valid ) {          
                        var p = $('#password').valueOf();
                        var pnew = $('#newpassword').valueOf();
                        var n = $('#name').valueOf();                                           
                        $.ajax({url: "/login/verifyuser/?userid="+n.val()+"&password="+encodeURIComponent(p.val()), async:false ,complete: function(result,status){
                            //log("Verify Result="+JSON.stringify(result));
                            if (result.responseText == "INACTIVE" ) {                          
                                    updateTips( "user has been inactivated. Please call the help desk" );
                            }
                            if (result.responseText == "RESET PASSWORD" ) {                          
                                updateTips( "Password needs to be reset, please change password." );
                                toggleDiv('showChangePassword');
                            }
                            if (result.responseText == "EXPIRED PASSWORD" ) {    
                                updateTips( "Password has expired, please change password." );
                                toggleDiv('showChangePassword');
                            }                              
                            if (result.responseText == "Error" ) {                          
                                updateTips( "Validation Failed, please renter." );
                            }
                            token = JSON.parse(result.responseText) ;
                            tokenid = token.tokenid;
                     
                            if (token.valid == 1){    
                                //log("token valid = "+token.valid);                             
                                if( $('#showChangePassword').is(':visible') ) {
                                        $.ajax({url: "/login/resetpwd/?userid="+n.val()+"&password="+encodeURIComponent(p.val())+"&newpassword="+encodeURIComponent(pnew.val()), async:false ,complete: function(result,status){
                                            if (result.responseText == "Error" ) {                          
                                                    updateTips( "Change password Failed, please renter." );
                                            } else {
                                                //$("#showChangePassword").hide();
                                                toggleDiv('showChangePassword');
                                                updateTips( "Password chnged Succesfully, please renter with new password." );
                                            }
                                        }});                   
                                } else {             
                                    $( "#dialog-login" ).dialog('close');
                                    var url = "/users/html/"+token.tokenid ;
                                    //log(url);
                                    $.ajax({
                                        type: "GET",
                                        url: url ,
                                        success: function( returnedData ) {
                                            setTheme(token.theme);                                                                                       
                                            $( '#mainprog' ).html( returnedData );       
                                            $("#tabs").show();
                                            $("#login-user").hide();
                                            $("#logout-user").show();
                                            $("#HSdoclist-button").show();
                                            $("#PPuser-button").show();
                                            showHSDocs();
                                            //setTimeout(function() { showLogging(); }, 350 );
                                            setTimeout(function() { showUserAdmin(); }, 250 );
                                            setTimeout(function() { showSPRL(); }, 450 );
                                            //setTimeout(function() { showDocFlow(); }, 550 );
                                            $("#loading").fadeOut("slow");                                                            
                                            $(".se-pre-con").fadeOut("slow");                                                            
                                        }
                                    });                                          
                                }
                            } else {      
                                updateTips( "Validation Failed, please renter." );
                                setCaptcha();
                            }
                        }});    
                    } else {
                        updateTips( "Validation Failed, please renter." );
                        setCaptcha();
                    }              
                    //return false;
                }
                $( "#dialog-login" ).dialog({
                    autoOpen: true,
                    height: 330,
                    width: 300,
                    modal: true,
                    show: {
                        effect: "blind",
                        duration: 500
                    },
                    hide: {
                        effect: "explode",
                        duration: 500
                    },                    
                    buttons: {
                        //"Register User": registerUser,
                        "Help ?": {
                            style:"margin-right:640px",  
                            class:'leftButton',
                            text:'Help',
                            click:function(){
                                //alert('testin help btn');
                                var url =  "/HLP/HELP-LOGIN3/HELP/en-US" ;
                                openWindow(url,'Help');
                            }                                                                                                                        
                        },
                        "Submit": validateUser,
                        Cancel: function() {
                             $( "#dialog-login" ).dialog( "close" );
                        }
                    },
                    open: function(){
                        timer = setTimeout("$('#dialog-login').dialog('close')",1000*60*15);
                        allFields.removeClass( "ui-state-error" );
                        //setTimeout("setCaptcha()",10000);
                        setCaptcha();
                    },              
                    close: function() {
                        form[ 0 ].reset();
                        allFields.removeClass( "ui-state-error" );
                        $( "#dialog-login" ).dialog('close');
                    }
                });  
                form =  $( "#dialog-login" ).find( "form" ).on( "submit", function( event ) {
                    event.preventDefault();
                    validateUser();
                });                
                $( "#login-user" ).button().on( "click", function() {
                    $( '#mainprog' ).html( "" );
                    timer = setTimeout("$('#dialog-login').dialog('close')",1000*60*15);
                    allFields.removeClass( "ui-state-error" );
                    setCaptcha();
                    $( "#dialog-login" ).dialog( "open" );
                });
                $( "#dicusers" ).button().on( "click", function() {
                    showDocFlow()
                });
                $( "#diclanguage" ).button().on( "click", function() {
                    showQeCerts()
                });
                $( "#diconfig" ).button().on( "click", function() {
                    showissues()
                });
                $( "#dichelp" ).button().on( "click", function() {
                    showQeConfig()
                });
                $( "#logout-user" ).button().on( "click", function() {
                     var url = baseUrl+"/login/logout/?tokenid="+token.tokenid+"&userid="+token.userid+"";
                     var data = "{'userid':'"+token.userid+"'},{'tokenid':'"+token.tokenid+"'}" ;
                     $.ajax({url:url , type: "GET",data:data,contenType:"application/json"} );
                     $( '#mainprog' ).html( "" );
                     $( "#tabs" ).find(".ui-tabs-nav li:eq(" + 1 + ")").remove();
                     $( "#tabs" ).find(".ui-tabs-nav li:eq(" + 2 + ")").remove();
                     $( "#tabs" ).find(".ui-tabs-nav li:eq(" + 3 + ")").remove();
                     $("#tabs").tabs("refresh");
                     $("#tabs").hide();
                     $("#logout-user").hide();  
                     $("#login-user").show();
                     closeWindows();
                });
                $( "#PPuser-button" ).button().on( "click", function() {        
                    var url = "/PPUsers/html";    
                    $.ajax({
                        type: "GET",
                        url: url ,
                        success: function( returnedData ) {
                            var divid = addTab("HS Users");             
                            $( '#'+divid).html( returnedData );                                                        
                        }
                    });
                });
                $( "#HSdoclist-button" ).button().on( "click", function() {
                   showHSDocs();
                });
                //-------- help system               
                $( "select" ).selectmenu({
                    select: function(){
                    var id = $(this).children(":selected").attr("id");
                    var type = $(this).children(":selected").attr("type");
                       var url =  "/"+type+"/"+id+"/HELP/en-US" ;
                       window.open(url ,id, "resizable=1,scrollbars=no,width=600,height=750");
                       // openWindow(url,'Help'); // will close on logout                    
                    }
                });
                //----------
                $("#showRegisterUser").hide();
                $("#showChangePassword").hide();
                $("#showForgotPassword").hide();                
                $("#PPuser-button").hide();
                $("#HSdoclist-button").hide();
                $("#logout-user").hide();            
                //closelog();
                //setThemes('themes');
            });
    </script>
    
    <div class="toolbar" id="loginHeader" class="ui-widget-header:"  >     	      
        <button id="dicusers"  class="ui-button ui-widget ui-corner-all" >Users</button>
        <button id="diclanguage"  class="ui-button ui-widget ui-corner-all">language</button>
        <button id="diconfig"  class="ui-button ui-widget ui-corner-all" >config</button>
        <button id="dichelp"  class="ui-button ui-widget ui-corner-all" >help</button>

        <span  id ="themes">
        </span>
        
        <button class='block_button' id="login-user"  class="ui-button ui-widget ui-corner-all" > Login </button>
        <button class='block_button' id="logout-user"  class="ui-button ui-widget ui-corner-all"  > Logout  </button>      

    </div>

    <% include layouts/_login.ejs %>

    <div id="tabs">
        <ul >
            <li><a href="#tabs-1">PP Users</a> </li>
        </ul>
        <div id="tabs-1">
            <div id="mainprog">            
            </div>
        </div>
    </div>
    

<%- include footer.ejs %>