<%- include header1.ejs %>

	<link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/jquery-easyui/demo/demo.css">
	<script type="text/javascript" src="/jquery-easyui/jquery.easyui.min.js"></script>

	<script src="/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

	<style type="text/css">
		body {
			overflow:hidden;
			font: 10.5pt arial;
			color: #4d4d4d;
			line-height: 150%;
			width: 100%;
			height:100$;
		}		
		#editorejs{
			margin: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
 	
    	.ui-jqgrid .ui-jqgrid-bdiv {
            position: relative; 
            margin: 0em; 
            padding:0; 
            overflow: auto;
            overflow-x:hidden; 
            overflow-y:auto; 
            text-align:left;
        }
  	</style>


<input type="file" id="files" name="file" /> Read bytes: 
<span class="readBytesButtons">
  <button>entire file</button>
</span>
<div id="byte_range"></div>
<div id="byte_content"></div>
	  
	<div id="cc" class="easyui-layout" style="width:99%;height:650px;">
		<div data-options="region:'west',split:true,collapsed:false,
				hideExpandTool: false,
				expandMode: null,
				hideCollapsedContent: true,
				collapsedSize: 20,
				collapsedContent: function(){
					//return $('#titlebar1');
				},
				" title="EJS" style="width:200px;">
				<table id="diceditejsRefreshlist"></table> 
				<div id="diceditejsRefreshpager"></div>   
		</div>
		<div data-options="region:'center',title:'EJS'">	  
			<div id="editorejs">
				<textarea name="editorejs" class="ace_text-input" wrap="off" autocorrect="off" autocapitalize="off" spellcheck="true" style="opacity: 0; height: 14px; width: 6.59781px; left: 136.772px; top: 140px;">
				</textarea>
			</div>
		</div>
	</div>
	
	
	<script>
 		var baseUrl = document.location.origin;
        var grid,PPpager; 
		var id,type,parent,ext,cargo;
		var dirty = false;
		var prevcell = {};
		ace.require("ace/ext/language_tools");
		var editor = ace.edit("editorejs");
		var textarea = $('textarea[name="editorejs"]').hide();
		editor.setTheme("ace/theme/iplastic");
		editor.session.setMode("ace/mode/ejs");
		editor.setOptions({
        	enableBasicAutocompletion: true,
        	enableSnippets: true,
        	enableLiveAutocompletion: true,
			fadeFoldWidgets:true,
			showFoldWidgets:true,
			foldStyle:'markbegin',
			showLineNumbers:true,
			showGutter:true
    	});
		editor.getSession().on('change', function(e) {
			dirty = true;
		});
		var myAddButton = function(options) {
			grid.jqGrid('navButtonAdd','#'+PPpager,options);
			grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
        };
		$( function() {		
 			var cols = { 
                url:'/dict/get/EJS', 
				mtype: "GET", 
				datatype: "json",
                altRows: false, 
                deepempty: true,
                autowidth: true,
                ignoreCase: true,
                multiselect:false,
                multiboxonly:false,
                height:'auto',
                width:'auto',
                scrollOffset:0,
                colModel:[
                    {label:'Type',name:'type', editable:true,hidden:true ,width:58 },
                    {label:'ID',name:'dicid', editable:true ,hidden:false,width:135 },
                    {label:'parent',name:'parent', editable:false,hidden:false ,width:135 },                    
                    {label:'ext',name:'ext', editable:true ,hidden:true,width:35   },
                    {label:'cargo',name:'cargo', editable:true,hidden:true ,width:150,height:25 },
                    {label:'notes',name:'notes', editable:true,hidden:true ,width:150 }
                ],
				ondblClickRow: function (rowid, iRow,iCol) {
					if (dirty) {
					 	if ( confirm("Changes have been made to: "+prevcell.id+"->"+prevcell.parent+"->"+prevcell.ext+"? save changes" ) ) {
						 	ocargo =  editor.getSession().getValue();
							dirty = false;
							prevcell.cargo = ocargo ;
							// save to dict
							var url = baseUrl+"/dicedit/post";
							log("prevcell="+prevcell);
							log(url);
  							$.ajax({
								type: "POST",
								url: url,
								data:prevcell,
								success: function( returnedData ) {
									//refreshgrid
									 grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
									//alert(returnedData);                                                                              
								}
                            });
						}
					}					
					var cargo = $(this).jqGrid ('getCell', rowid, 'cargo');
					var type = $(this).jqGrid ('getCell', rowid, 'type');						
					var id = $(this).jqGrid ('getCell', rowid, 'dicid');
					var ext = $(this).jqGrid ('getCell', rowid, 'ext');
					var parent = $(this).jqGrid ('getCell', rowid, 'parent');
					prevcell = {rowid:rowid,type:type,id:id,parent:parent,ext:ext,cargo:cargo};
					var beautify = ace.require("ace/ext/beautify");
					editor.getSession().setValue(cargo);			
					dirty = false;
                },
                loadonce:true,
                toppager:true,
                rowList: [],        // disable page size dropdown
                pgbuttons: false,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                gridview: true,
                autoencode: true,           
                caption: ""     // disable caption with ''     
            };
			///===================================================
			PPpager = ("diceditejsRefreshpager");
			grid = $("#diceditejsRefreshlist");                                
			//======================================================
			grid.jqGrid(cols);   
			grid.jqGrid('navGrid', '#'+PPpager,{
					cloneToTop:true,
					edit:false,
					add:true,
					del:false,
					search:false,
					refresh:true,
					reloadGridOptions: { fromServer: true },             					                     
				}
			);			
		 	myAddButton ({
				caption: "Import",
				title: "Add new Template to Dictionary ",
				onClickButton : ()=>{
					// Check for the various File API support.
					if (window.File && window.FileReader && window.FileList && window.Blob) {
						
					} else {
						alert('The File APIs are not fully supported in this browser.');
					}
				}
            });    
			
		});		
		//------------------------------------------------------------------------------------
			function handleFileSelect(evt) {
				var files = evt.target.files; // FileList object
				// files is a FileList of File objects. List some properties.
				var output = [];
				for (var i = 0, f; f = files[i]; i++) {
					output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
							f.size, ' bytes, last modified: ',
							f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
							'</li>');
				}
				document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
			}
			document.getElementById('files').addEventListener('change', handleFileSelect, false);
			function readBlob(file) {
				var reader = new FileReader();
				// If we use onloadend, we need to check the readyState.
				reader.onloadend = function(evt) {
					if (evt.target.readyState == FileReader.DONE) { // DONE == 2
						editor.getSession().setValue(evt.target.result);	
					}
				};
				var blob = file.slice();
				reader.readAsBinaryString(blob);
			}
			document.querySelector('.readBytesButtons').addEventListener('click', function(evt) {
				if (evt.target.tagName.toLowerCase() == 'button') {
				var startByte = evt.target.getAttribute('data-startbyte');
				var endByte = evt.target.getAttribute('data-endbyte');
				readBlob(startByte, endByte);
				}
			}, false);
		//------------------------------------------------------------------------------------
	</script>


		
<%- include footer1.ejs %>