
<%- include header1.ejs %>
	<style type="text/css">
		body {
			overflow:hidden;
			font: 10.5pt arial;
			color: #4d4d4d;
			line-height: 90%;
			width: 100%;
			height:100%;
		}		
    	.ui-jqgrid .ui-jqgrid-bdiv {
            position: relative; 
            margin: 0em; 
            padding:0; 
            overflow: auto;
            overflow-x:hidden; 
            overflow-y:auto; 
            text-align:left;
        }
  	</style>
  	<div class="toolbar" id="loginHeader" class="ui-widget-header:"  >
		<span class="controlgroup">
        </span>		
        <span  id ="themes">
        </span>      
			tranlate <input type="checkbox"  name="translate" id="langtranslate"  > 
    </div>
    	  
	<table id="diceditejsRefreshlist"></table> 
	<div id="diceditejsRefreshpager"></div>   
	<script>
		"use strict";
 		var baseUrl = document.location.origin;
        var grid,PPpager; 
		var id,type,parent,ext,cargo;
		var dirty = false;
		var prevcell = {};
		var myAddButton = function(options) {
			grid.jqGrid('navButtonAdd','#'+PPpager,options);
			grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
        };
		var getSelLangVal = (sel)=>{
			var l1 = $("#SelLang1 option:selected").val() ;
			var l2 = $("#SelLang2 option:selected").val() ;			
			var trans = $("#Seltranslate option:selected").val() ;						
			var url = `/dict/getLANG?lang1=${l1}&lang2=${l2}&translate=${trans}`
			//log(url)
			grid.jqGrid('setGridParam', { url: url,datatype:'json' }).trigger("reloadGrid");
		}
		$( function() {		
		 	var editSettings = {
                //recreateForm: true,
                jqModal: true,
                width:700,
                caption:"Edit issue",
                reloadAfterSubmit: false,
                closeOnEscape: true,
                refresh:true ,
                savekey: [true, 13],
                closeAfterEdit: true,
                afterSubmit: function () {
                    //return [true,'',false]; // no error and no new rowid
                    //$(this).jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                    //grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                    grid.jqGrid('setGridParam', {datatype:'json'});
					log("After Submit")
                    return [true];
                }
                //onclickSubmit: onclickSubmitLocal
            }   
			var addSettings = {
                recreateForm: true,
                jqModal: true,
                width:700,
                reloadAfterSubmit: true,
                savekey: [true, 13],
                closeOnEscape: true,
                closeAfterAdd: true,
                onclickSubmit: function (options, rowid) { // rowid = new data on add
                    //log("options="+JSON.stringify(options));
                    log("rowid="+JSON.stringify(rowid));
                    var $this = $(this);
                    var grid_id = $.jgrid.jqID(this.id);
                    var grid_p = this.p;
                    var newPage = grid_p.page;
                    options.processing = true;
                    return true;
                }
            }                   
 			var cols = { 
                url:`/dict/getLANG?lang1=en-US`, 
                editurl:"/dict/saveLANG",      
				mtype: "GET", 
				datatype: "json",
                altRows: false, 
                deepempty: true,
                autowidth: false,
                ignoreCase: true,
                multiselect:false,
                multiboxonly:false,
                height:'400px',
                width:'auto',
                scrollOffset:0,
                colModel:[
                    {label:'Type',name:'type', editable:true,hidden:false ,width:58 },
                    {label:'parent',name:'parent', editable:true,hidden:false ,width:105 },                    
                    {label:'ID',name:'msgid', editable:true ,hidden:false,width:105 },
                    {label:'ext',name:'ext', editable:true ,hidden:false,width:35   },
 					{label:'Lang 1',name:'lang1', formoptions:{label:'Source Text'}, width:600, sortable:false,editable: true,edittype:"textarea", 
                        editoptions:{rows:2,cols:80
                    }},	 
                    {label:'ext2',name:'ext2', editable:true ,hidden:false,width:35   },
 					{label:'Lang 2',name:'lang2', formoptions:{label:'Translated Text'},width:600, sortable:false,editable: true,edittype:"textarea", 
                        editoptions:{rows:2,cols:80
                    }},	 
                    {label:'cargo',name:'cargo', editable:true,hidden:false ,width:150,height:25 },
 					{label:'Notes',name:'notes', width:150, sortable:false,editable: true,edittype:"textarea", 
                        editoptions:{rows:1,cols:50
                    }},	 
                ],
				ondblClickRow: function (rowid, iRow,iCol) {							
					var lang1 = grid.jqGrid ('getCell', rowid, 'lang1');
					var lang2 = grid.jqGrid ('getCell', rowid, 'lang2');
					var cargo = grid.jqGrid ('getCell', rowid, 'cargo');
					var type = grid.jqGrid ('getCell', rowid, 'type');						
					var id = grid.jqGrid ('getCell', rowid, 'msgid');
					var ext = grid.jqGrid ('getCell', rowid, 'ext');
					var ext2 = grid.jqGrid ('getCell', rowid, 'ext2');
					var parent = grid.jqGrid ('getCell', rowid, 'parent');
					prevcell = {rowid:rowid,type:type,id:id,parent:parent,ext:ext,ext2:ext2,cargo:cargo,lang1:lang1,lang2:lang2};
					grid.jqGrid('restoreRow',lastsel);
					grid.jqGrid('editRow',id,true);
					lastsel=id;
					dirty = false;
                },
				loadComplete: function(){
					var l1 = $("#SelLang1 option:selected").val() ;
					var l2 = $("#SelLang2 option:selected").val() ;			
					var url = "/dict/langlist?id=SelLang2&option=1";
                    $.ajax({ 
		                url:url,      
                        type: 'GET',
                        cache: false, 
                        success: function(data){
                            $('#SelLang1').empty().append(data);
                            $('#SelLang2').empty().append(data);
							$('#SelLang1 option[value='+l1+']').prop('selected', true);			
							$('#SelLang2 option[value='+l2+']').prop('selected', true);			
                        }, 
						error: function(jqXHR, textStatus, err){
                            alert('text status '+textStatus+', err '+err);
                        }
                    });   
                },    
                loadonce:true,
                toppager:true,
                rowList: [],        // disable page size dropdown
                pgbuttons: false,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                gridview: true,
                autoencode: false,           
                caption: "Message Editor"     // disable caption with ''     
            };
			///===================================================
			PPpager = ("diceditejsRefreshpager");
			grid = $("#diceditejsRefreshlist");                                
			//======================================================
			grid.jqGrid(cols);   
			grid.jqGrid('navGrid', '#'+PPpager,{
					cloneToTop:true,
					edit:true,
					add:true,
					del:false,
					search:false,
					refresh:true,
					reloadGridOptions: { fromServer: true },             					                     
                    beforeRefresh: function(){
                        grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                    },
					edittext:'Edit Message',
					editSettings, 
                	addSettings      
				}
			);			
			// hide columns
            //grid.hideCol('id')
            grid.hideCol('type')
            grid.hideCol('ext')
            grid.hideCol('ext2')
            grid.hideCol('notes')
            grid.hideCol('cargo')
            //grid.hideCol('cargo.status')
            grid.hideCol('dummy')
		 	myAddButton ({
				caption: "Import lang File",
				title: "Import lang File to Dictionary ",
				onClickButton : ()=>{
					// Check for the various File API support.
					if (window.File && window.FileReader && window.FileList && window.Blob) {
						
					} else {
						alert('The File APIs are not fully supported in this browser.');
					}
				}
            });    		 	
			grid.jqGrid('setLabel', 'lang1', `
				<span>Origin language </span>
				<select id="SelLang1" onchange="getSelLangVal(this);">
					<option value="en-US" id="HELP-SPRL-WORKFLOW">English</option>
					<option value="es-ES" id="HELP-LOGIN2">Spanish</option>
					<option value="fr-CA" id="HELP-LOGIN1">french Canadian</option>
					<option value="zh-CN" id="zh-CN">Chineses Sinplified</option>
					<option value="da-DA" id="da-DA">Dutch</option>
				</select>
			`, {'text-align':'left'});
			grid.jqGrid('setLabel', 'lang2', `			
				<span>Translation language </span>
				<select id="SelLang2" onchange="getSelLangVal(this);">
					<option value="en-US" id="HELP-SPRL-WORKFLOW">English</option>
					<option value="es-ES" id="HELP-LOGIN2">Spanish</option>
					<option value="fr-CA" id="HELP-LOGIN1">french Canadian</option>
					<option value="zh-CN" id="zh-CN">Chineses Sinplified</option>
					<option value="da-DA" id="da-DA">Dutch</option>
				</select>
				<select id="Seltranslate" onchange="getSelLangVal(this);">
					<option value="0" id="translate1">..</option>
					<option value="1" id="translate2">Translate Empty fields</option>
					<option value="2" id="translate2">Translate Empty fields and Save</option>
				</select>
			`, {'text-align':'left'});		
		});		
		//------------------------------------------------------------------------------------
	</script>

<%- include footer.ejs %>