<%- include header1.ejs %>

	<div>
		<div id="cc" class="easyui-layout" style="width:99%;height:650px;">
			<div data-options="region:'west',split:true,collapsed:false,
					hideExpandTool: false,
					expandMode: null,
					hideCollapsedContent: true,
					collapsedSize: 20,
					collapsedContent: function(){
						//return $('#titlebar1');
					},
					" title="HTM Fragment" style="width:250px;">
					<table id="dicedithtmlRefreshlist"></table> 
					<div id="dicedthtmlRefreshpager"></div>   
			</div>
			<div data-options="region:'center',title:'html'">	  
	 				<!-- include summernote -->
  				<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
 				<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
				
				<link rel="stylesheet" href="/summernote/dist/summernote.css">
				<script type="text/javascript" src="/summernote/dist/summernote.js"></script>
 		
				<textarea name="text" class="summernote" id="contents" title="Contents"></textarea>
		
	
			</div>
			
    	</div>
   	</div>
		<div id="eButtons">
				<p>
					<input onclick="InsertHTML();" type="button" value="Save">
					<input onclick="SetContents();" type="button" value="save to File">
					<input onclick="GetContents();" type="button" value="Import from file">
				</p>
			</div>

 <script>
		$( function() {		
		   	var baseUrl = document.location.origin;
      		var grid;
			$('.summernote').summernote({
				height: 500
			});
			$('form').on('submit', function (e) {
				e.preventDefault();
				alert($('.summernote').summernote('code'));
				alert($('.summernote').val());
			});

 			var cols = { 
                url:'/dict/get/ejs', 
				mtype: "GET", 
				datatype: "json",
                altRows: false, 
                deepempty: true,
                autowidth: true,
                ignoreCase: true,
                multiselect:false,
                multiboxonly:false,
                height:'auto',
                width:'auto',
                scrollOffset:0,
                colModel:[
                    {label:'Type',name:'type', editable:true,hidden:true ,width:58 },
                    {label:'ID',name:'dicid', editable:true ,hidden:false,width:135 },
                    {label:'parent',name:'parent', editable:false,hidden:false ,width:135 },                    
                    {label:'ext',name:'ext', editable:true ,hidden:true,width:35   },
                    {label:'cargo',name:'cargo', editable:true,hidden:true ,width:150,height:25 },
                    {label:'notes',name:'notes', editable:true,hidden:true ,width:150 }
                ],
				ondblClickRow: function (rowid, iRow,iCol) {
					alert($('.summernote').summernote('code'));
				alert($('.summernote').val());
					if (dirty) {
					 	
					}					
					var cargo = $(this).jqGrid ('getCell', rowid, 'cargo');
					var type = $(this).jqGrid ('getCell', rowid, 'type');						
					var id = $(this).jqGrid ('getCell', rowid, 'dicid');
					var ext = $(this).jqGrid ('getCell', rowid, 'ext');
					var parent = $(this).jqGrid ('getCell', rowid, 'parent');
					prevcell = {rowid:rowid,type:type,id:id,parent:parent,ext:ext,cargo:cargo};
					var beautify = ace.require("ace/ext/beautify");
					editor.getSession().setValue(cargo);			
					dirty = false;
                },
                loadonce:true,
                toppager:true,
                rowList: [],        // disable page size dropdown
                pgbuttons: false,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                gridview: true,
                autoencode: true,           
                caption: ""     // disable caption with ''     
            };
			///===================================================
			PPpager = ("dicedthtmlRefreshpager");
			grid = $("#dicedithtmlRefreshlist");                                
			//======================================================
	
grid.jqGrid(cols);   
			grid.jqGrid('navGrid', '#'+PPpager,{
					cloneToTop:true,
					edit:false,
					add:true,
					del:false,
					search:false,
					refresh:true,
					reloadGridOptions: { fromServer: true },             					                     
				}
			);			
		  
			
		});		
		//------------------------------------------------------------------------------------
		
		//------------------------------------------------------------------------------------
	</script>



<%- include footer1.ejs %>