
<%- include header1.ejs %>

<style type="text/css">
	
	
        .ui-jqgrid .ui-jqgrid-bdiv {
            position: relative; 
            margin: 0em; 
            padding:0; 
            /*overflow: auto;*/ 
            overflow-x:hidden; 
            overflow-y:auto; 
            text-align:left;
        }
	</style>


    <script src="/jquery_layout/jquery.js" type="text/javascript"></script>
    <script src="/jquery_layout/jquery.layout.js" type="text/javascript"></script>
 	<script src="/jquery_layout/jquery.layout.resizePaneAccordions-latest.js" type="text/javascript" ></script>
   	<script src="/jquery_layout/jquery.layout.resizeTabLayout.js" type="text/javascript" ></script>

	<link href="/ckeditor_sdk/theme/css/sdk.css" rel="stylesheet">
	<script src="/ckeditor_sdk/vendor/ckeditor/ckeditor.js"></script>
	<script src="/ckeditor_sdk/vendor/ckeditor/adapters/jquery.js"></script>

	<script>
	    var baseUrl = document.location.origin;
        var grid;
	$( function() {
		
		var cols = <%-JSON.stringify(colsetup)%> ;
	 ///===================================================
		var PPpager = ("diceditRefreshpager");
		var grid = $("#diceditRefreshlist");                                
		//======================================================
		
	    $('body').layout({ applyDefaultStyles: true });
   
	


//			$( 'textarea#editor1' ).ckeditor();
		
	   	log(JSON.stringify(cols) )
		grid.jqGrid(cols);   
		    
		
		grid.jqGrid('navGrid', '#'+PPpager,{
				cloneToTop:true,
				edit:false,
				add:false,
				del:false,
				search:false,
				refresh:true,
				reloadGridOptions: { fromServer: true },             
				beforeRefresh: function(){
					//alert('In beforeRefresh');
					grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
				}                       
			}
		);


  	} );


		// Helper function to display messages below CKEditor.
		function ShowMessage( msg ) {
			document.getElementById( 'eMessage' ).innerHTML = msg;
		}
		function InsertHTML() {
            var url =  "/HTM/HELP-LOGIN2/HELP/en-US" ;
			var editor = CKEDITOR.instances.editor1;
            $.get(url, function(data, status){
                    if ( editor.mode == 'wysiwyg' ) {
                        editor.insertHtml( data );
                        //editor.setData(data);
                    } else {
                        alert( 'You must be in WYSIWYG mode!' );
                    }
            });                    
		}
		function InsertText() {
			// Get the editor instance that you want to interact with.
			var editor = CKEDITOR.instances.editor1;
			var value = document.getElementById( 'txtArea' ).value;

			// Check the active editing mode.
			if ( editor.mode == 'wysiwyg' )	{
				editor.insertText( value );
			} else {
				alert( 'You must be in WYSIWYG mode!' );
			}
		}
		function SetContents() {
			var url =  "/HTM/HELP-LOGIN2/HELP/en-US" ;
			var editor = CKEDITOR.instances.editor1;
            $.get(url, function(data, status){
                    if ( editor.mode == 'wysiwyg' ) {
                        //editor.insertHtml( data );
                        editor.setData(data);
                    } else {
                        alert( 'You must be in WYSIWYG mode!' );
                    }
            });   
   		}
		function GetContents() {
			var editor = CKEDITOR.instances.editor1;
			alert(editor.checkDirty()+location.hostname);
			// Get editor content.
			alert( editor.getData() );
		}
		function ExecuteCommand( commandName ) {
			// Get the editor instance that you want to interact with.
			var editor = CKEDITOR.instances.editor1;
			// Check the active editing mode.
			if ( editor.mode == 'wysiwyg' )	{
				// Execute the command.
				// http://docs.ckeditor.com/#!/api/CKEDITOR.editor-method-execCommand
				editor.execCommand( commandName );
			} else {
				alert( 'You must be in WYSIWYG mode!' );
			}
		}
		function CheckDirty() {
			// Get the editor instance that you want to interact with.
			var editor = CKEDITOR.instances.editor1.checkDirty();
			// Checks whether the current editor content contains changes when compared
			// to the content loaded into the editor at startup.
			// http://docs.ckeditor.com/#!/api/CKEDITOR.editor-method-checkDirty
			alert( editor.checkDirty() );
		}
		function ResetDirty() {
			// Get the editor instance that you want to interact with.
			var editor = CKEDITOR.instances.editor1;
			// Resets the "dirty state" of the editor.
			// http://docs.ckeditor.com/#!/api/CKEDITOR.editor-method-resetDirty
			editor.resetDirty();
			alert( 'The "IsDirty" status was reset.' );
		}
		function Focus() {
			// Get the editor instance that you want to interact with.
			var editor = CKEDITOR.instances.editor1;
			// Focuses the editor.
			// http://docs.ckeditor.com/#!/api/CKEDITOR.editor-method-focus
			editor.focus();
		}
	</script>

	<script>
		// Attaching event listeners to the global CKEDITOR object.
		// The instanceReady event is fired when an instance of CKEditor has finished its initialization.
		CKEDITOR.on( 'instanceReady', function( ev ) {
			ShowMessage( 'Editor instance <em>' + ev.editor.name + '</em> was loaded.' );

			// The editor is ready, so sample buttons can be displayed.
			document.getElementById( 'eButtons' ).style.display = 'block';
		});

		// Replace the <textarea id="editor1"> with a CKEditor instance.
		// A reference to the editor object is returned by CKEDITOR.replace() allowing you to work with editor instances.
		var editor = CKEDITOR.replace( 'editor1', {
			height: 150
		} );

		// Attaching event listeners to CKEditor instances.
		// Refer to http://docs.ckeditor.com/#!/api/CKEDITOR.editor for a list of all available events.
		editor.on( 'focus', function( evt ) {
			ShowMessage( 'Editor instance <em>' + this.name + '</em> <b>is focused</b>.' );
		});
		editor.on( 'blur', function( evt ) {
			ShowMessage( 'Editor instance <em>' + this.name + '</em> <b>lost focus</b>.' );
		});
		// Helper variable to count the number of detected changes in CKEditor.
		var changesNum = 0;
		editor.on( 'change', function( evt ) {
			ShowMessage( 'The number of changes in <em>' + this.name + '</em>: <b>' + ++changesNum + '</b>.' );
		});
	</script>
	<DIV class="ui-layout-west">
	test
   		<div class="toolbar" id="loginHeader" style="border:2px solid green; word-wrap:break-word; margin:0 0 0 0 ; overflow:auto; padding:0px; background:#111188; height:95%;"  >     	     
			 <table id="diceditRefreshlist"></table> 
    		<div id="dicedtRefreshpager"></div>           
		</div>
		test2
	</DIV>	
	
	<DIV class="ui-layout-center">
	
				<textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10" data-sample="1" data-sample-short="">
					&lt;h1&gt;&lt;img alt=&quot;Saturn V carrying Apollo 11&quot; class=&quot;right&quot; src=&quot;assets/sample.jpg&quot;/&gt; Apollo 11&lt;/h1&gt;

					&lt;p&gt;&lt;strong&gt;Apollo 11&lt;/strong&gt; was the spaceflight that landed the first humans, Americans &lt;a href=&quot;http://en.wikipedia.org/wiki/Neil_Armstrong&quot;&gt;Neil Armstrong&lt;/a&gt; and
					&lt;a href=&quot;http://en.wikipedia.org/wiki/Buzz_Aldrin&quot;&gt;Buzz Aldrin&lt;/a&gt;, on the Moon on July 20, 1969, at 20:18 UTC. Armstrong became the first to step onto the lunar surface 6 hours
					later on July 21 at 02:56 UTC.&lt;/p&gt;

					&lt;p&gt;Armstrong spent about &lt;s&gt;three and a half&lt;/s&gt; two and a half hours outside the spacecraft, Aldrin slightly less; and together they collected 47.5 pounds (21.5&amp;nbsp;kg) of lunar
					material for return to Earth. A third member of the mission, &lt;a href=&quot;http://en.wikipedia.org/wiki/Michael_Collins_(astronaut)&quot;&gt;Michael Collins&lt;/a&gt;, piloted the
					&lt;a href=&quot;http://en.wikipedia.org/wiki/Apollo_Command/Service_Module&quot;&gt;command&lt;/a&gt; spacecraft alone in lunar orbit until Armstrong and Aldrin returned to it for the trip back to
					Earth.&lt;/p&gt;
				</textarea>
				<script data-sample="1">
					CKEDITOR.replace( 'editor1', {
						width: '90%',
						height: 500
					} );
				</script>
	</DIV>
	
	<div id="eButtons">
		<p>
			<input onclick="InsertHTML();" type="button" value="Insert HTML">
			<input onclick="SetContents();" type="button" value="Set Editor content">
			<input onclick="GetContents();" type="button" value="Get Editor Content (HTML)">
		</p>
	</div>
	

<%- include footer.ejs %>
