<%- include header2.ejs %>
</body>
	
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#accordion").collapse();
            $("#demoFrame").attr("src", "/dicedit/XML");
            $(".list-group-item").on("click", function(){
                $("span",".gheader").html( $(this).text());
            });
            $("span",".gheader").html( 'editing XML');
        });
    </script>
                                                                        
	<h4 style="text-align: center;" class ="gheader"> Data Dictionary - <span style="font-size: medium"></span></h4>
 
	<div id="Form1" class="wrap">
        <div id="wrap" class="frm">
            <!--
            <div class="btn-group btn-group-justified" role="group" style="margin-bottom:25px;">
              <div class="btn-group" role="group">
                <button class="btn btn-default" > More Demos <span class ="glyphicon glyphicon-hand-right"></span></button>	
              </div>
              <div class="btn-group" role="group">
                <a class="btn btn-default" href="http://www.guriddo.net/demo/treegridjs/" >  TreeGrid JS </a>
              </div>
              <div class="btn-group" role="group">
                <a class="btn btn-default" href="http://www.guriddo.net/demo/pivotgridjs/" >  PivotGrid JS </a>
              </div>
              <div class="btn-group" role="group">
                <a class="btn btn-default" href="http://www.guriddo.net/demo/jqgridphp/" > PHP jqGrid</a>
              </div>
              <div class="btn-group" role="group">
                <a class="btn btn-default" href="http://www.guriddo.net/demo/schedulerphp/" > Scheduler </a>
              </div>
              <div class="btn-group" role="group">
                <a class="btn btn-default" href="http://www.guriddo.net/demo/formphp/" > PHP Form </a>
              </div>
              <div class="btn-group" role="group">
                <a class="btn btn-default" href="http://www.guriddo.net/demo/formphpvb/" > PHP Form  Builder</a>
              </div>
            </div>
            -->
            <!-- Content -->
            <table cellspacing="10" cellpadding="10">
                <tr>
                    <td style="vertical-align: top;width:250px;">
                          <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Loading Data</a>
                                </h4>
                              </div>
                              <div id="collapse1" class="panel-collapse collapse in">
                                  <div class="panel-body">                                 
                                      <table id="diceditRefreshlist"></table> 
				                          	  <div id="dicedtRefreshpager"></div> 
                   	              </div>                                 
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Editors</a>
                                </h4>
                              </div>
                              <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                  <div class="examples list-group">
                                        <a href="/dicedit/EJS" class="list-group-item" target="demoFrame">EJS </a>
                                        <a href="/dicedit/JSON" class="list-group-item" target="demoFrame">JSON</a>
                                        <a href="/dicedit/JS" class="list-group-item" target="demoFrame">Java Script</a>
                                        <a href="/dicedit/XML" class="list-group-item" target="demoFrame">XML</a>
                                        <a href="/dicedit/SQL" class="list-group-item" target="demoFrame">SQL</a>
                                        <a href="/dicedit/HTM" class="list-group-item" target="demoFrame">HTML fragment</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Editing, Adding, Deleting rows</a>
                                </h4>
                              </div>
                              <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                  <div class="examples list-group">
                                                        <a href="edit_add_delete/edit_template/index.html" class="list-group-item" target="demoFrame">Edit form with custom template <sup style="color:red">New</sup></a>
                                                     
                                  </div>
                                </div>
                              </div>
                            </div>
   
                        </td>
                    
                      <td style="vertical-align: top;width:800px;">
                          <iframe id="demoFrame" name="demoFrame" style="width: 803px; height: 1000px; border-width: 0;">
                              <div style="margin-left:20px">
    
                          </iframe>
                        
                      </td>
                </tr>
               
            </table>
        </div>
    </div>
    <script type="text/javascript"> 
        var baseUrl = document.location.origin;
        var grid;
        $('form').on('submit', function (e) {
          e.preventDefault();
          alert($('.summernote').summernote('code'));
          alert($('.summernote').val());
        });
        $( function() {	
          var cols = { 
                url:'/dict/get/EJS', 
                altRows: false, 
                deepempty: true,
                autowidth: false,
                ignoreCase: true,
                multiselect:false,
                multiboxonly:true,
                datatype: "json",
                mtype: "GET",       
                height:'200',
                width:'220',
                scrollOffset:0,
                colModel:[
                    {label:'Type',name:'type', editable:false,hidden:true ,width:88 },
                    {label:'ID',name:'dicid', editable:false ,hidden:false,width:155 },
                    {label:'parent',name:'parent', editable:true,hidden:true ,width:155 },                    
                    {label:'ext',name:'ext', editable:true ,hidden:true,width:30   },
                    {label:'cargo',name:'cargo', editable:true,hidden:true ,width:150,height:25 },
                    {label:'notes',name:'notes', editable:true,hidden:true ,width:150 }         
                ],
				        ondblClickRow: function (rowid, iRow,iCol) {
                     $("span",".gheader").html( 'testing ' + rowid);
                },
                loadonce:true,
                toppager:true,
                rowList: [],        // disable page size dropdown
                pgbuttons: false,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                gridview: true,
                autoencode: true,           
                caption: ""          
            };
            ///===================================================
            var PPpager = ("dicedtRefreshpager");
            var grid = $("#diceditRefreshlist");                                
            //======================================================
            grid.jqGrid(cols);   
            grid.jqGrid('navGrid', '#'+PPpager,{
                cloneToTop:true,
                edit:true,
                add:false,
                del:false,
                search:false,
                refresh:true,
                reloadGridOptions: { fromServer: true },             					                     
              }
            );		
      });
    </script>
</body>
</html>
