
<%- include header1.ejs %>

<style type="text/css">
        .ui-jqgrid .ui-jqgrid-bdiv {
            position: relative; 
            margin: 0em; 
            padding:0; 
            /*overflow: auto;*/ 
            overflow-x:hidden; 
            overflow-y:auto; 
            text-align:left;
        }
	</style>

	<link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/jquery-easyui/demo/demo.css">
	<script type="text/javascript" src="/jquery-easyui/jquery.easyui.min.js"></script>


	<link href="/ckeditor_sdk/theme/css/sdk.css" rel="stylesheet">
	<!--
	<script src="/ckeditor/vendor/ckeditor/ckeditor.js"></script>
	-->
	<script src="/ckeditor.4,6.1/ckeditor.js"></script>
	<script src="/ckeditor_sdk/vendor/ckeditor/adapters/jquery.js"></script>

	<script>
	    var baseUrl = document.location.origin;
        var grid;
		$( function() {
 			var cols = { 
                url:'/dict/get/JSON', 
                altRows: false, 
                deepempty: true,
                autowidth: false,
                ignoreCase: true,
                multiselect:false,
                multiboxonly:true,
                datatype: "json",
                mtype: "GET",       
                height:'auto',
                width:'auto',
                //scrollOffset:0,
                colModel:[
                    {label:'Type',name:'type', editable:false,hidden:false ,width:88 },
                    {label:'ID',name:'dicid', editable:false ,hidden:false,width:155 },
                    {label:'parent',name:'parent', editable:false,hidden:false ,width:155 },                    
                    {label:'ext',name:'ext', editable:false ,hidden:true,width:30   },
                    {label:'cargo',name:'cargo', editable:true,hidden:false ,width:150,height:25 },
                    {label:'notes',name:'cargo', editable:true,hidden:true ,width:150 },
                    {label:'-', width:1,search:false}              
                ],
				ondblClickRow: function (rowid, iRow,iCol) {
                    var cargo = $(this).jqGrid ('getCell', rowid, 'cargo');
					var editor = CKEDITOR.instances.editor1;
                    if ( editor.mode == 'wysiwyg' ) {
                        //editor.insertHtml( cargo );
                        editor.setData(cargo);
                    } else {
                        alert( 'You must be in WYSIWYG mode!' );
                    }
                },
                loadonce:true,
                toppager:true,
                rowList: [],        // disable page size dropdown
                pgbuttons: false,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                gridview: true,
                autoencode: true,           
                caption: "Dic edit"          
            };


			///===================================================
			var PPpager = ("diceditRefreshpager");
			var grid = $("#diceditRefreshlist");                                
			//======================================================
			grid.jqGrid(cols);   
			grid.jqGrid('navGrid', '#'+PPpager,{
					cloneToTop:true,
					edit:false,
					add:false,
					del:false,
					search:false,
					refresh:true,
					reloadGridOptions: { fromServer: true },             					                     
				}
			);		
			//$( 'textarea#editor1' ).ckeditor();
		} );
		// Helper function to display messages below CKEditor.
		function ShowMessage( msg ) {
			document.getElementById( 'eMessage' ).innerHTML = msg;
		}
		function InsertHTML() {
            //var url =  "/HTM/HELP-LOGIN2/HELP/en-US" ;
			//app.get('/dict/get/:type/:id/:parent',dict.dict);
			var url =  "/dict/get/EJS/HBM" ;
			///"XML","XCA_QUERY","SOAPENV",
			var editor = CKEDITOR.instances.editor1;
			log(url);
            $.get(url, function(data, status){
				log("InsertHtml="+JSON.stringify(data[0].cargo));
                    if ( editor.mode == 'wysiwyg' ) {
                        editor.insertHtml( data[0].cargo );
                        //editor.setData(data[0].cargo);
                    } else {
                        alert( 'You must be in WYSIWYG mode!' );
                    }
            });                    
		}
		function InsertText() {
			// Get the editor instance that you want to interact with.
			var editor = CKEDITOR.instances.editor1;
			var value = document.getElementById( 'txtArea' ).value;

			// Check the active editing mode.
			if ( editor.mode == 'wysiwyg' )	{
				editor.insertText( value );
			} else {
				alert( 'You must be in WYSIWYG mode!' );
			}
		}
		function SetContents() {
			var url =  "/dict/get/XML/XCA_QUERY/SPRLSOAPENV_PROD" ;
			var editor = CKEDITOR.instances.editor1;
            $.get(url, function(data, status){
				log("DATA="+data);
				log("STATUS="+status);
                    if ( editor.mode == 'wysiwyg' ) {
                        //editor.insertHtml( data );
                        editor.setData(data);
                    } else {
                        alert( 'You must be in WYSIWYG mode!' );
                    }
            });   
   		}
		function GetContents() {
			var editor = CKEDITOR.instances.editor1;
			//alert(editor.checkDirty()+location.hostname);
			// Get editor content.
			alert( editor.getData() );
		}
		function ExecuteCommand( commandName ) {
			// Get the editor instance that you want to interact with.
			var editor = CKEDITOR.instances.editor1;
			// Check the active editing mode.
			if ( editor.mode == 'wysiwyg' )	{
				// Execute the command.
				// http://docs.ckeditor.com/#!/api/CKEDITOR.editor-method-execCommand
				editor.execCommand( commandName );
			} else {
				//alert( 'You must be in WYSIWYG mode!' );
			}
		}
		function CheckDirty() {
			// Get the editor instance that you want to interact with.
			var editor = CKEDITOR.instances.editor1.checkDirty();
			// Checks whether the current editor content contains changes when compared
			// to the content loaded into the editor at startup.
			// http://docs.ckeditor.com/#!/api/CKEDITOR.editor-method-checkDirty
			//alert( editor.checkDirty() );
		}
		function ResetDirty() {
			// Get the editor instance that you want to interact with.
			var editor = CKEDITOR.instances.editor1;
			// Resets the "dirty state" of the editor.
			// http://docs.ckeditor.com/#!/api/CKEDITOR.editor-method-resetDirty
			editor.resetDirty();
			//alert( 'The "IsDirty" status was reset.' );
		}
		function Focus() {
			// Get the editor instance that you want to interact with.
			var editor = CKEDITOR.instances.editor1;
			// Focuses the editor.
			// http://docs.ckeditor.com/#!/api/CKEDITOR.editor-method-focus
			//editor.focus();
		}
	</script>

	<div id="cc" class="easyui-layout" style="width:900px;height:650px;">
		<div data-options="region:'west',split:true,collapsed:false,
				hideExpandTool: false,
				expandMode: null,
				hideCollapsedContent: true,
				collapsedSize: 20,
				collapsedContent: function(){
					//return $('#titlebar1');
				}
				" title="Dict" style="width:350px;">
				<table id="diceditRefreshlist"></table> 
				<div id="dicedtRefreshpager"></div>   
		</div>
		<div data-options="region:'center',title:'HTML Editor'">
				
				<textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10" data-sample="1" data-sample-short="">
					&lt;h1&gt;&lt;img alt=&quot;Saturn V carrying Apollo 11&quot; class=&quot;right&quot; src=&quot;assets/sample.jpg&quot;/&gt; Apollo 11&lt;/h1&gt;

					&lt;p&gt;&lt;strong&gt;Apollo 11&lt;/strong&gt; was the spaceflight that landed the first humans, Americans &lt;a href=&quot;http://en.wikipedia.org/wiki/Neil_Armstrong&quot;&gt;Neil Armstrong&lt;/a&gt; and
					&lt;a href=&quot;http://en.wikipedia.org/wiki/Buzz_Aldrin&quot;&gt;Buzz Aldrin&lt;/a&gt;, on the Moon on July 20, 1969, at 20:18 UTC. Armstrong became the first to step onto the lunar surface 6 hours
					later on July 21 at 02:56 UTC.&lt;/p&gt;

					&lt;p&gt;Armstrong spent about &lt;s&gt;three and a half&lt;/s&gt; two and a half hours outside the spacecraft, Aldrin slightly less; and together they collected 47.5 pounds (21.5&amp;nbsp;kg) of lunar
					material for return to Earth. A third member of the mission, &lt;a href=&quot;http://en.wikipedia.org/wiki/Michael_Collins_(astronaut)&quot;&gt;Michael Collins&lt;/a&gt;, piloted the
					&lt;a href=&quot;http://en.wikipedia.org/wiki/Apollo_Command/Service_Module&quot;&gt;command&lt;/a&gt; spacecraft alone in lunar orbit until Armstrong and Aldrin returned to it for the trip back to
					Earth.&lt;/p&gt;
				</textarea>
				

				<script data-sample="1">		
				
					CKEDITOR.plugins.addExternal('onchange', '/ckeditor.4,6.1/plugins/onchange/', 'plugin.js');
 					CKEDITOR.plugins.addExternal('sourcearea','/ckeditor.4,6.1/plugins/sourcearea/', 'plugin.js');
  					CKEDITOR.plugins.addExternal('pbckcode', '/ckeditor.4,6.1/plugins/pbckcode/', 'plugin.js');			
					CKEDITOR.replace( 'editor1', {
						extraPlugins: 'codesnippet',
						codeSnippet_theme: 'monokai_sublime',
						width: '99%',
						height: '99%',
						fullPage: true,
						uiColor: '#14B8C4',
						allowedContent: true,
						//extraPlugins: 'wysiwygarea',
					    extraPlugins: 'wysiwygarea,onchange,sourcearea,pbckcode',
						toolbarGroups: [
							{name: 'clipboard', groups: ['clipboard', 'undo']},
							{name: 'editing', groups: ['find', 'selection', 'spellchecker']},
							{name: 'links'},
							{name: 'insert'},
							{name: 'forms'},
							{name: 'tools'},
							{name: 'document', groups: ['mode', 'document', 'doctools']},
							{name: 'others'},
							'/',
							{name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
							{name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi']},
							{name: 'styles'},
							{name: 'colors'},
							{name: 'about'},
							{name: 'pbckcode'}
						],
						pbckcode: {
							highlighter: 'HIGHLIGHT'
						}
					});
					CKEDITOR.instances.editor.on('change', function(e) {
    					var output = document.getElementById('output');
    					// append the result into the div
    					output.innerHTML = e.editor.getData();
						log(hljs);
    					hljs.highlightBlock(output);
  					});

				</script>		
		</div>
	</div>
	
	
	
		<div id="eButtons">
		<p>
			<input onclick="InsertHTML();" type="button" value="Insert HTML">
			<input onclick="SetContents();" type="button" value="Set Editor content">
			<input onclick="GetContents();" type="button" value="Get Editor Content (HTML)">
		</p>
	</div>
<!--
	<div id="titlebar" style="padding:2px">
		<a href="javascript:void(0)" class="easyui-linkbutton" style="width:100%" data-options="iconCls:'layout-button-right'" onclick="$('#cc').layout('expand','west')"></a>
		<a href="javascript:void(0)" class="easyui-linkbutton" style="width:100%" data-options="iconCls:'icon-large-picture',size:'large',iconAlign:'top'">Picture</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" style="width:100%" data-options="iconCls:'icon-large-shapes',size:'large',iconAlign:'top'">Shapes</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" style="width:100%" data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">SmartArt</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" style="width:100%" data-options="iconCls:'icon-large-chart',size:'large',iconAlign:'top'">Chart</a>
	</div>
-->







	

<%- include footer.ejs %>
