
<%- include header1.ejs %>
	<style type="text/css">
		body {
			overflow:hidden;
			font: 10.5pt arial;
			color: #4d4d4d;
			line-height: 150%;
			width: 100%;
			height:100%;
		}		
 		fieldset { border: 0; margin-left: 1px; }
        label { display: block; margin: 1px 0 0 0; }
        select { width: 150px; } 
        input {  width: 150px; }
        #dialog label, #dialog input { display:block; color:009900}
        #dialog label { margin-top: 0.5em; }
        #dialog input, #dialog textarea { width: 95%; }
        #headerlogo {vertical-align:bottom}
        .postlabel {  width:75px; display: inline-flex;  color:22ff55; }  
        .selectlabel { width:90px; display: inline-flex;  color:22ff55;  background:#F8F8FF;}
		.toolbar {
            font-size: .75em;
             position:relative; 
        }  
        #select-button {
            width: 45px;
        }             
        .block_button {
            position:absolute;   
            float: right;
            padding-right: 1px;
            padding-bottom:1px;
            padding-left: 1px;  
            bottom:1px;          
            right:1px;          
        }         
		code {
			background-color: #f5f5f5;
		}
		#jsoneditor {
			width: 100%;
			height: 93%;
		}
        .ui-jqgrid .ui-jqgrid-bdiv {
            position: relative; 
            margin: 0em; 
            padding:0; 
            overflow: auto;
            overflow-x:hidden; 
            overflow-y:auto; 
            text-align:left;
        }
  	</style>
	<link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/jquery-easyui/demo/demo.css">
	<script type="text/javascript" src="/jquery-easyui/jquery.easyui.min.js"></script>

	<link href="/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <script src="/jsoneditor/dist/jsoneditor.min.js"></script>
 	<link href="/jsoneditor/dist/darktheme.css" rel="stylesheet" type="text/css">
	
    <script>
	    var baseUrl = document.location.origin;
		var dialogpost, form;
        var grid;
		var id,type,parent,ext,cargo;
		var dirty = false;
		var editor;
		var prevcell = {};		
		var allFields = $( [] ).add($( "#type" )).add($( "#id" ) ).add( $( "#parent" ) ).add( $( "#ext" ) );
       	var tips = $( ".validateTips" );
				   
		$( function() {		
 			var cols = { 
                url:'/dict/get/JSON', 
                altRows: false, 
                deepempty: true,
                autowidth: false,
                ignoreCase: true,
                multiselect:false,
                multiboxonly:true,
                datatype: "json",
                mtype: "GET",       
                height:'auto',
                width:'auto',
                scrollOffset:0,
                colModel:[
                    {label:'Type',name:'type', editable:false,hidden:true ,width:58 },
                    {label:'ID',name:'dicid', editable:false ,hidden:false,width:135 },
                    {label:'parent',name:'parent', editable:false,hidden:false ,width:135 },                    
                    {label:'ext',name:'ext', editable:false ,hidden:false,width:35   },
                    {label:'cargo',name:'cargo', editable:true,hidden:true ,width:150,height:25 },
                    {label:'notes',name:'notes', editable:true,hidden:true ,width:150 },
                    {label:'-', width:1,search:false}              
                ],
				ondblClickRow: function (rowid, iRow,iCol) {
					// check if editor changed					
					if (dirty) {
					 	if ( confirm("Changes have been made ? save changes" ) ) {
						 	ocargo =  editor.get();
							dirty = false;
							// save to dict
							prevcell.cargo = ocargo ;
							var url = baseUrl+"/dicedit/post?id="+prevcell.id+"&type="+prevcell.type+"&parent="+prevcell.parent+"&ext="+prevcell.ext ;
							log("cargo="+ocargo);
							log(url);
  							$.ajax({
								type: "POST",
								url: url,
								data:prevcell,
								success: function( returnedData ) {
									//refreshgrid
									 grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
									//alert(returnedData);                                                                              
								}
                            });
						}
					}					
					cargo = $(this).jqGrid ('getCell', rowid, 'cargo');
					type = $(this).jqGrid ('getCell', rowid, 'type');						
					id = $(this).jqGrid ('getCell', rowid, 'dicid');
					ext = $(this).jqGrid ('getCell', rowid, 'ext');
					parent = $(this).jqGrid ('getCell', rowid, 'parent');
					prevcell = {rowid:rowid,type:type,id:id,parent:parent,ext:ext,cargo:cargo};
					//log("id="+id+cargo);
					editor.set(JSON.parse(cargo));					
					dirty = false;
                },
                loadonce:true,
                toppager:true,
                rowList: [],        // disable page size dropdown
                pgbuttons: false,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                gridview: true,
                autoencode: true,           
                caption: ""     // disable caption with ''     
            };
			///===================================================
			var PPpager = ("diceditRefreshpager");
			var grid = $("#diceditRefreshlist");                                
			//======================================================
			grid.jqGrid(cols);   
			grid.jqGrid('navGrid', '#'+PPpager,{
					cloneToTop:true,
					edit:false,
					add:false,
					del:false,
					search:false,
					refresh:true,
					reloadGridOptions: { fromServer: true },             					                     
				}
			);		
			dialogpost = $( "#dialog-postdata" ).dialog({
				autoOpen: false,
				height: 360,
				width: 300,
				modal: true,
				show: {
					effect: "blind",
					duration: 500
				},
				hide: {
					effect: "explode",
					duration: 500
				},				
				buttons: {
					//"Register User": registerUser,
					//"Submit": validateUser,
					Cancel: function() {
						//dialogpost.dialog( "close" );
					}
				},                     
				open: function(){
					// setCaptcha();
				},              
				close: function() {
					//form[ 0 ].reset();
					//allFields.removeClass( "ui-state-error" );
					//dialogpost.dialog('close');
				}
			});  
			form = dialogpost.find( "form" ).on( "submit", function( event ) {
				event.preventDefault();
			});			
		} );
		function saveData() {
			if ( confirm("Save ? OK to save" ) ) {
				ocargo =  editor.get();
				dirty = false;
				// save to dict
				prevcell.cargo = ocargo ;
				var url = baseUrl+"/dicedit/post?id="+prevcell.id+"&type="+prevcell.type+"&parent="+prevcell.parent+"&ext="+prevcell.ext ;
				log("cargo="+ocargo);
				log(url);
				$.ajax({
					type: "POST",
					url: url,
					data:prevcell,
					success: function( returnedData ) {
						//refreshgrid
							grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
						//alert(returnedData);                                                                              
					}
				});
			}
		};
		function saveToFile(){
			if ( confirm("Save to file ? OK to save" ) ) {
				ocargo =  editor.get();
				dirty = false;
				// save to dict
				prevcell.cargo = ocargo ;
				var url = baseUrl+"/dicedit/post?id="+prevcell.id+"&type="+prevcell.type+"&parent="+prevcell.parent+"&ext="+prevcell.ext ;
				log("cargo="+ocargo);
				log(url);
				$.ajax({
					type: "POST",
					url: url,
					data:prevcell,
					success: function( returnedData ) {
							grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
					}
				});
			}		
		
		
		};
		function SetContents() {
			var url =  "/dict/get/XML/XCA_QUERY/SPRLSOAPENV_PROD" ;
			var editor = CKEDITOR.instances.editor1;
            $.get(url, function(data, status){
				log("DATA="+data);
				log("STATUS="+status);
                    if ( editor.mode == 'wysiwyg' ) {
                        //editor.insertHtml( data );
                        editor.setData(data);
                    } else {
                        alert( 'You must be in WYSIWYG mode!' );
                    }
            });   
   		};
		function GetContents() {			
			//alert(editor.checkDirty()+location.hostname);
			// Get editor content.
			alert( editor.getData() );
		};
	
    </script>
	<div>
		<div id="cc" class="easyui-layout" style="width:99%;height:650px;">
			<div data-options="region:'west',split:true,collapsed:false,
					hideExpandTool: false,
					expandMode: null,
					hideCollapsedContent: true,
					collapsedSize: 20,
					collapsedContent: function(){
						//return $('#titlebar1');
					},
					" title="JSON" style="width:200px;">
					<table id="diceditRefreshlist"></table> 
					<div id="dicedtRefreshpager"></div>   
			</div>
			<div data-options="region:'center',title:''">
				<div id="jsoneditor" ></div>
				<script>
					// create the editor
					var container = document.getElementById("jsoneditor");
					var options = {
						mode: 'code',
						modes: ['code', 'form', 'text', 'tree'], // allowed modes
						onError: function (err) {
							log(err.toString());
						},
						onModeChange:  (newMode, oldMode) => {
							log('Mode switched from '+ oldMode+ ' to '+ newMode);
						},
						onChange: function () {
						 	dirty = true;
							log("change");
						}
					};
					editor = new JSONEditor(container, options);
					//editor.set(json);
					// get json
					//var json = editor.get();
				</script>
				<div id="eButtons">
					<p>
						<input onclick="saveData();" type="button" value="Save">
						<!--
						<input onclick="saveToFile();" type="button" value="save to File">
						<input onclick="GetContents();" type="button" value="Import from file">
						-->
					</p>
				</div>
			
			</div>
    	</div>
   </div>   
   <!--
   <form ref='uploadForm' 
      		id='uploadForm' 
      		action='localhost:4300/dicedit/upload' 
      		method='post' 
      		encType="multipart/form-data">
		<input type="file" name="tempFile" />
		<input type='submit' value='Upload!' />
   </form>
                
	<div id="dialog-postdata" title='Login' class="ui-layout-center" style="display:none">
        <p class="validateTips">Please enter the ID to save to.</p>
        <form id="postdata-form" method="POST" action=/dicedit/post>
        <fieldset>
            <div id="postdata"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " > 
                <input type="hidden" name="cargo" hidden="true" />
                <label class='postlabel' for="type">TYPE</label>
                <input type="text" name="type" id="type" value="" class="text ui-widget-content ui-corner-all">
                <br>
                <label class='postlabel' for="id">ID</label>
                <input type="text" name="id" id="id" value="" class="text ui-widget-content ui-corner-all">
                <br>
                <label class='postlabel'  for="parent">PARENT</label>
                <input type="password" name="parent" id="parent" value="" class="text ui-widget-content ui-corner-all">
                <br>
                <label class='postlabel'  for="ext">EXT</label>
                <input type="text" name="ext" id="ext" value="" class="text ui-widget-content ui-corner-all">
            </div>            
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
      </form>
    </div>
   -->    

<%- include footer.ejs %>
