<%- include header1.ejs %>
 
  
      <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
        <tr id="gridArea">
                <td style="border-bottom:2px solid #83B4D8;white-space:nowrap" align="left" >
                    <div id="loggrid"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " >
                        <table id="PPdocumentsgrid"></table> 
                        <div id="PPdocumentspager"></div>    
                        
                    </div>
                </td>
            </tr>                     
    </div>    
    <script>
            var jqgsetup = <%-JSON.stringify(jqgSetup)%>
            var lastsel ;        
            $("#PPdocumentsgrid").jqGrid(jqgsetup);   
            jQuery("#PPdocumentsgrid").jqGrid('navGrid','#PPdocumentspager',
                        {cloneToTop:true,search:false,edit:false,add:false,del:false}, //options             
                        {}, // edit options
                        {}, // add options
                        {}, //del options
                        {} //search options
                        );
                        var tokenid = '<%-tokenid%>';
                        var lastsel ;
                        token = getURLParameter('token') ;
                        var tips = $( ".validateTips" );
                        if ( ! isEmpty(token) || !(token='undefined') ) {
                            verifyUser = function(tokenid) {
                                // get token from redis and roles    
                                //return true;          
                            }

                            window.location = "/login/html";
                        };

                        $( "button:first" ).button({
                            icons: {
                                primary: "ui-icon-locked"
                            },
                            text: false
                        }).click( function( event ) {
                            $("#newpassword").val(genPwd());
                            
                        } );
                        function updateTips( t ) {
                                tips.text( t ).addClass( "ui-state-highlight" );
                                setTimeout(function() {
                                    tips.removeClass( "ui-state-highlight", 1500 );
                                }, 500 );
                        }    
                            
            // Bind the navigation and set the onEnter event
            //jQuery("#PPreportsgrid").jqGrid('bindKeys', {"onEnter":function( rowid ) { alert("You enter a row with id:"+rowid)} } );
            // show column search search  
            jQuery("#PPreportsgrid").jqGrid('filterToolbar',{
                        searchOperators : true,
                        searchOnEnter:false,
                        beforeSearch: function(){
                        if ($(this).data('firstSearchAbortedFlag') != '1') {
                            $(this).data('firstSearchAbortedFlag', '1');
                            return true;
                        }

                        // Return false or add your customizations here...
                        return false;
                        }
            });
            $(window).bind('resize', function() {
                    //log("rezie win width = "+$('#griddiv').width() + "win width = ")
                    // $("#PPreportsgrid").$('setGridWidth',$(window).width());
                    //$("#PPreportsgrid").jqGrid('setGridParam',{url:"/users", datatype:"json", page:1}).trigger("reloadGrid");            
            }).trigger('resize');

             $('#PPreportsgrid')[0].triggerToolbar();
    </script>
    

<%- include footer.ejs %>
