
 <!--   Logging for test -->          

         
              
    <div id="logwindow" style="border:3px solid green; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:1px; background:#F8F8FF; height:auto; ">
        <button id="clear_log"  onclick="clearlog();">clear log</button>    
        <button id="close_log"  onclick="closelog();">close log</button>    
        <tr id="LogArea">
        <td style="border-bottom:3px solid #83B4D8;white-space:nowrap" align="left" >
            <div id="log"  style="border:1px solid gray; word-wrap:break-word; margin:5px 15px 5px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " >

            </div>
        </td>
        </tr>
    </div>
         
    
    <!--
    <div id="footer">
        <div id="logo"> <a href="HTTP://nyehealth.org"><img src="/images/nyecPPlogo.png" alt="NYeC Logo" /></a> </div>	
    </div>
    -->
    </body>
</html>
