<%- include header.ejs %>

<body>
  <style>
      fieldset { border: 0; margin-left: 1px; }
        label { display: block; margin: 1px 0 0 0; }
        select { width: 150px; } 
        input {  width: 150px; }
        #dialog label, #dialog input { display:block; color:009900}
        #dialog label { margin-top: 0.5em; }
        #dialog input, #dialog textarea { width: 95%; }
        #headerlogo {vertical-align:bottom}
        .loginlabel {  width:75px; display: inline-flex;  color:22ff55; }  
        .selectlabel { width:90px; display: inline-flex;  color:22ff55;  background:#F8F8FF;
      }        
      #accordion-resizer {
        padding: 10px;
        width: 350px;
        left:100px;
        height: auto;
      }
      #format { margin-top: 2em; }
  </style>
  <script>
		  var index = 'English (United States)';
			//var alertStr = 'Please enter a user name.';
			var activeTab = <%=activeTab%>;
      //----------------------------------------------------------
      function getgroup(id) {
            $.ajax({url: "/groups/get?id="+id+"", async:false ,complete: function(result,status){
                log(result);
                var tokenid =JSON.stringify(result.responseJSON.token) ;
                log("token="+tokenid);
                window.location = "/users/html?token="+tokenid  ;
                //dialog.dialog( "close" );        
                //$('#content').load("/users/html?token="+result.token );
            }});      
       };
      ///----------------------------------------------------------
      $(function() {
          $( "#accordion" ).accordion({
              heightStyle: "fill",
              active:activeTab,
              //icons: { "header": "ui-icon-plus", "activeHeader": "ui-icon-minus" },
              //event: "click hoverintent",
              collapsible: true
          });
          $( "#accordion-resizer" ).resizable({
            minHeight: 40,
            minWidth: 200,
            resize: function() {
              $( "#accordion" ).accordion( "refresh" );
            }
          });
          $( "#check" ).button();
          $( "#format" ).buttonset();
      });
      ///----------------------------------------------------------
      $.event.special.hoverintent = {
              setup: function() {
                  $( this ).bind( "mouseover", jQuery.event.special.hoverintent.handler );
              },
              teardown: function() {
                  $( this ).unbind( "mouseover", jQuery.event.special.hoverintent.handler );
              },
              handler: function( event ) {
                var currentX, currentY, timeout,
                  args = arguments,
                  target = $( event.target ),
                  previousX = event.pageX,
                  previousY = event.pageY;
          
                function track( event ) {
                  currentX = event.pageX;
                  currentY = event.pageY;
                };
          
                function clear() {
                  target
                    .unbind( "mousemove", track )
                    .unbind( "mouseout", clear );
                  clearTimeout( timeout );
                }    
                function handler() {
                    var prop, orig = event;
                    if ( ( Math.abs( previousX - currentX ) +
                        Math.abs( previousY - currentY ) ) < 7 ) {
                      clear();
            
                      event = $.Event( "hoverintent" );
                      for ( prop in orig ) {
                        if ( !( prop in event ) ) {
                          event[ prop ] = orig[ prop ];
                        }
                      }
                      delete event.originalEvent;
            
                      target.trigger( event );
                    } else {
                      previousX = currentX;
                      previousY = currentY;
                      timeout = setTimeout( handler, 100 );
                    }
                }
                timeout = setTimeout( handler, 100 );
                target.bind({
                    mousemove: track,
                    mouseout: clear
                });
           }
      };
      //---------------------------
      function addCheckBoxes(gr,userroles,allroles){     
          var alen = allroles.length;  // get all roles
          var ulen = userroles.length;
          for (i = 0; i < alen; i++) {
              var val = allroles[i]  ;
              var cb = '<input type="checkbox" name="cargo[]" value="'+ val + '" > '+val+' <br>'
              // go through the user to see if there to add check                  
              for (j = 0; j < ulen; j++){
                  if (userroles[j] == val) { // add check
                      cb = '<input type="checkbox" name="cargo[]" value="'+ val + '" checked > '+val+' <br>'
                  }  
              }                    
              $('#'+gr).append ( cb );
          }
          $('#'+gr).append (' <input type="submit" value="Submit">');
      };

  </script>
  <div style="border:2px solid blue; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:1px; background:#6666FF; height:auto; ">     
        <img id="headerlogo" height='42' width='82' align="middle" src="images/nypp_logo.png" alt="NYeC Logo" vertical-align="none"/>   
        <button id="roles_get">add role</button>                
  </div>

  <div id="accordion-resizer" class="ui-widget-content">
          <div id="userlogin"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " > 
              <input type="hidden" name="langid" hidden="true" />              
              <label class='loginlabel' for="name">userid</label>
              <input type="text" name="userid" id="userid" value="" class="text ui-widget-content ui-corner-all">
              <br>
              <label class='loginlabel'  for="password">Password</label>
              <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all">
              <br>
              <label class='loginlabel'  for="fname">First Name</label>
              <input type="text" name="fname" id="fname" value="" class="text ui-widget-content ui-corner-all">
              <br>              
              <label class='loginlabel'  for="lname">Last Name</label>
              <input type="text" name="lname" id="lname" value="" class="text ui-widget-content ui-corner-all">
              <br>
              <label class='loginlabel'  for="email">email</label>
              <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all">
              <br>
              <label class='loginlabel'  for="phone">phone</label>
              <input type="text" name="phone" id="phone" value="" class="text ui-widget-content ui-corner-all">
              <br>
              <label class='loginlabel'  for="captcha">email</label>
              <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all">
              <br>
          </div>
          <div class='groups' id="accordion">
              <h3>PP_HIE</h3>
                <form method="post" class="signin" action="/groups/update" id="groups" name="groups">
                    <fieldset>
                        <div id ="groupcheckbox">
                            <input type="hidden" name="langid" value='en-US' hidden="true" />
                            <input type="hidden" name="tabid" value=3 hidden="true" />
                            <input type="hidden" name="group" value='PP_HIE' hidden="true" />
                            <!--  add dynamically  -->
                    
                        </div>
                    </fieldset>
                </form>     
          </div>
  </div>
  <script>           
 
      var newform = ' <h3>PP_TEST</h3>  \
            <form method="post" class="signin" action="/groups/update" id="groups" name="groups"> \
              <fieldset>\
                <div>\
                      <input type="hidden" name="langid" value="en-US" hidden="true" />\
                      <input type="hidden" name="tabid" value=1 hidden="true" />\
                      <input type="hidden" name="group" value="PP_USER" hidden="true" />\
                      <input type="checkbox" name="cargo[]" value="PP_ALL">P_ALL<br>\
                      <input type="checkbox" name="cargo[]" value="PP_ADD" checked>PP_ADD<br>\
                      <input type="checkbox" name="cargo[]" value="PP_EDIT">PP_EDIT<br>\
                      <input type="checkbox" name="cargo[]" value="PP_VIEW" checked>PP_VIEW<br>\
                      <input type="checkbox" name="cargo[]" value="PP_DELETE">PP_DELETE<br>\
                      <input type="checkbox" name="cargo[]" value="PP_REPORTVIEW" checked>PP_REPORTVIEW<br>\
                      <input type="checkbox" name="cargo[]" value="PP_REPORTEDIT">PP_REPORTEDIT<br>\
                      <input type="checkbox" name="cargo[]" value="PP_REPORTADD" checked> PP_REPORTADD<br>\
                      <input type="checkbox" name="cargo[]" value="PP_REPORTDELETE" checked> PP_REPORTDELETE<br>\
                      <input type="checkbox" name="cargo[]" value="PP_REPORTADD" checked> I have a car<br>\
                      <input type="checkbox" name="cargo[]" value="PP_REPORTADD" checked> I have a car<br>\
                      <input type="checkbox" name="cargo[]" value="PP_REPORTADD" checked> I have a car<br>\
                      <input type="submit" value="Submit">\
                </div>\
            </fieldset> \
          </form>' ;  
          $( "#roles_get" ).button().click(function() {
              $.ajax({url: "groups/get?id=PP_USER", async:false ,complete: function(result,status){            
                  var obj = JSON.parse(result.responseText);
                  var userroles = obj.data ; //string array of roles
                  var allroles = obj.roles ; // array of all roles roles
                  addCheckBoxes("groupcheckbox",userroles,allroles);
              }});     
              // add new tab to accordion
              /*
              var active = $('#accordion').accordion('option', 'active');
              $( "#accordion" ).append(newform).accordion('destroy').accordion({
                      heightStyle: "fill",
                      active:active,
                      //icons: { "header": "ui-icon-plus", "activeHeader": "ui-icon-minus" },
                      event: "click hoverintent",
                      collapsible: true
              });
              */
        });

 </script>
</body>
<%- include footer.ejs %>

