

<div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">
    <script>
        var baseUrl = document.location.origin;
        var Toggle = true ;
        $( function() {
                var tokenid = 0;
                var lastsel ;
                var grouping = {
                    caption: Toggle ? "Un-Group" : "Group" ,
                    title: "Grouping Toggle",
                    onClickButton : function (){
                        if (Toggle){
                            $("#hbmllist").jqGrid('groupingRemove', true);
                        } else {
                            $("#hbmllist").jqGrid('groupingGroupBy', 'setID');
                        }
                        Toggle = (! Toggle);
                        myAddButton (grouping);
                     }
                };
                ///===================================================
                var PPpager = ("hbmpager");
                var grid = $("#hbmllist");                                
                //grid = $("#"+PPgrid);                                
                myAddButton = function(options) {
                    grid.jqGrid('navButtonAdd','#'+PPpager,options);
                    grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                };
                //======================================================
                var cols = <%-JSON.stringify(colsetup)%> ;
                cols= { 
                    url:'/HBM/XCAReport', 
                    altRows: false, 
                    deepempty: true,
                    autowidth: true,
                    ignoreCase: true,
                    datatype: "json",
                    mtype: "GET",       
                    height:'auto',
                    width:'auto',
                    colModel:[
                        {label:'Task ID',name:'setID',editable:false ,frozen : true,width:125 },
                        {label:'Command',name:'Command',index:'Command', editable:false ,width:75 },
                        {label:'Response Time',name:'ResponseTime',editable:false ,width:50 },
                        {label:'Fail Count',name:'Count', editable:false ,width:35, summaryType:'sum' },
                        {label:'Result',name:'Result',index:'Result', editable:false ,width:50,searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                        {label:'TimeStamp',name:'TimeStamp',index:'TimeStamp', editable:false ,width:135,searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                        {label:'QE_Name',name:'QE_Name',index:'QE_Name', editable:false , width:75, searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']}},
                        {label:'QE_ID',name:'QE_ID',index:'QE_ID', editable:false ,width:300,searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                        {label:'Repository_Id',name:'Repository_Id',index:'Repository_Id', editable:false ,width:300, searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                        {label:'MPI_ID',name:'MPI_ID',index:'MPI_ID', editable:true ,width:95,  searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                        {label:'Document ID',name:'Document_Id', editable:false ,width:300,  searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                        {label:'Failure_Description',name:'Failure_Description',index:'Failure_Description', editable:false ,width:585,searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
                        {label:'', width:1,search:false}    
                    ],
                    loadonce:true,
                    toppager:true,
                    rowNum: 225,
                    rowTotal:5000,
                    viewrecords: true,
                    gridview: true,
                    autoencode: true,            
                    caption: "Config" , 
                    grouping: true,
                    groupingView : {
                        groupField : ['setID'],
                        groupColumnShow : [true],
                        groupText : ['<h> task {0}</h> failures: {Count}'],
                        groupCollapse : true,
                        groupOrder: ['desc'],
                        groupSummary : [false],
                        groupDataSorted : false
                    },       
                    loadError: function(a, c, d) {
                        grid.jqGrid("displayErrorMessage","There is a problem retrieving data from the server, it could be down, please contact system administrator.")
                    }                    
                }
                grid.jqGrid(cols);   
                grid.jqGrid('navGrid', '#'+PPpager,{
                        cloneToTop:true,
                        edit:false,
                        add:false,
                        del:false,
                        search:true,
                        refresh:true,
                        reloadGridOptions: { fromServer: true },
                        beforeRefresh: function(){
                            //alert('In beforeRefresh');
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        }                       
                    }
                ) ;
                // search in toolbar
                grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
                grid.jqGrid('inlineNav',"#"+PPpager);     

                myAddButton ({
                    caption: "Graph",
                    buttonicon:"ui-icon-image",
                    title: "Scatter chart of reponse times for queries and retrieves for all RHIOS",
                    onClickButton : function (){
                        var url = "/HBM/Charts" ;
                        //openWindow(url,"Heartbeat Monitor");
                        var win = window.open(url , "HBM Chart","resizable=1,scrollbars=yes ,width=900,height=430");
                    }
                });                
                myAddButton ({
                    caption: "Dashboard",
                    title: "Dashboard",
                    buttonicon:"ui-icon-contact",
                    onClickButton : function (){
                        var url = "/HBM/dashboard" ;
                        //openWindow(url,"Heartbeat Monitor");
                        var win = window.open(url , "HBM Dashboard","resizable=1,scrollbars=yes ,width=427,height=275");
                    }
                });                
                myAddButton ( {
                    caption: "Un-Group" ,
                    id:"hbm-grouping-toggle",
                    title: "Grouping Toggle",
                    buttonicon:"ui-icon-circle-close",
                    onClickButton : function () {
                        if (Toggle){
                            $("#hbmllist").jqGrid('groupingRemove', true);
                        } else {
                            $("#hbmllist").jqGrid('groupingGroupBy', 'setID');
                        }
                        Toggle = (! Toggle);
                        var div = `<div class="ui-pg-div">
                                        <span class='${Toggle ?"ui-icon ui-icon-circle-close" :"ui-icon ui-icon-circle-triangle-e" }'></span>
                                        <span class="ui-pg-button-text">${Toggle ? "Un-Group" : "Group"}</span>
                                    </div>
                                 </div>`    
                        $('#hbm-grouping-toggle').html(div);
                    }
                });
                
                                
        });                
    </script>
    <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     
        <table id="hbmllist"></table> 
        <div id="hbmpager"></div>                        
    </div>      
</div>

    