<%- include header.ejs %>
    
    <link rel="stylesheet" type="text/css" href="/jqchart/css/jquery.jqChart.css" />
    <link rel="stylesheet" type="text/css" href="/jqchart/css/jquery.jqRangeSlider.css" />
    <script src="/jqchart/js/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="/jqchart/js/jquery.jqChart.min.js" type="text/javascript"></script>
    <script src="/jqchart/js/jquery.jqRangeSlider.min.js" type="text/javascript"></script>
 
    <script lang="javascript" type="text/javascript">      
        var chartData = <%-JSON.stringify(data)%> ;   

        var series = [];

        var data1 = [];
        var data2 = [];
        var data3 = [];
        var data4 = [];
        var data5 = [];
        var data6 = [];
        var data7 = [];
        var data8 = [];
        for (var i = 0; i < chartData[0].data.length; i++) {
                data1.push([ sqlToJsDate(chartData[0].data[i][0]),chartData[0].data[i][1]]);
        }

        for (var i = 0; i < chartData[1].data.length; i++) {
                data2.push([ sqlToJsDate(chartData[1].data[i][0]),chartData[1].data[i][1]]);
        }

        for (var i = 0; i < chartData[2].data.length; i++) {
                data3.push([ sqlToJsDate(chartData[2].data[i][0]), chartData[2].data[i][1]]);
        }

        for (var i = 0; i < chartData[3].data.length; i++) {
                data4.push([ sqlToJsDate(chartData[3].data[i][0]), chartData[3].data[i][1]]);
        }

        for (var i = 0; i < chartData[4].data.length; i++) {
                data5.push([ sqlToJsDate(chartData[4].data[i][0]), chartData[4].data[i][1]]);
        }

        for (var i = 0; i < chartData[5].data.length; i++) {
                data6.push([ sqlToJsDate(chartData[5].data[i][0]), chartData[5].data[i][1]]);
        }
        for (var i = 0; i < chartData[6].data.length; i++) {
                data7.push([ sqlToJsDate(chartData[6].data[i][0]), chartData[6].data[i][1]]);
        }
        for (var i = 0; i < chartData[7].data.length; i++) {
                data8.push([ sqlToJsDate(chartData[7].data[i][0]), chartData[7].data[i][1]]);
        } 
      
             series.push({
                        title: chartData[0].QE,
                        type: 'scatter',
                        data:data1,
                        fillStyle: 'blue',
                        markers: {
                            type: 'diamond',
                            size: 5
                        }                       
                    });        
            series.push({
                        title: chartData[1].QE,
                        type: 'scatter',
                        data: data2,
                        fillStyle: 'blue',
                        markers: {
                            type: 'diamond',
                            size: 5
                        }                       
                    });
            series.push({
                        title: chartData[2].QE,
                        type: 'scatter',
                        data: data3,
                        fillStyle: 'blue',
                        markers: {
                            type: 'diamond',
                            size: 5
                        }                       
                    });
            series.push({
                        title: chartData[3].QE,
                        type: 'scatter',
                        data: data4,
                        fillStyle: 'blue',
                        markers: {
                            type: 'diamond',
                            size: 5
                        }                       
                    });
            series.push({
                        title: chartData[4].QE,
                        type: 'scatter',
                        data:data5,
                        fillStyle: 'blue',
                        markers: {
                            type: 'diamond',
                            size: 5
                        }                       
                    });
            series.push({
                        title: chartData[5].QE,
                        type: 'scatter',
                        data: data6,
                        fillStyle: 'blue',
                        markers: {
                            type: 'diamond',
                            size: 5
                        }                       
                    });
            series.push({
                        title: chartData[6].QE,
                        type: 'scatter',
                        data: data7,
                        fillStyle: 'blue',
                        markers: {
                            type: 'diamond',
                            size: 5
                        }                       
                    });
            series.push({
                        title: chartData[7].QE,
                        type: 'scatter',
                        data: data8,
                        fillStyle: 'blue',
                        markers: {
                            type: 'diamond',
                            size: 5
                        }                       
                    });



        function sqlToJsDate(sqlDate){
            var sqlDateArr1 = sqlDate.split("-");
            var sYear = sqlDateArr1[0];
            var sMonth = (Number(sqlDateArr1[1]) - 1).toString();
            var sqlDateArr2 = sqlDateArr1[2].split(" ");
            var sDay = sqlDateArr2[0];
            var sqlDateArr3 = sqlDateArr2[1].split(":");
            var sHour = sqlDateArr3[0];
            var sMinute = sqlDateArr3[1];
            var sqlDateArr4 = sqlDateArr3[2].split(".");
            var sSecond = sqlDateArr4[0];
            var sMillisecond = sqlDateArr4[1];            
            return new Date(sYear,sMonth,sDay,sHour,sMinute,sSecond,sMillisecond);
        }   

        $(document).ready(function () {
            var background = {
                type: 'linearGradient',
                x0: 0,
                y0: 0,
                x1: 0,
                y1: 1,
                colorStops: [{ offset: 0, color: '#d2e6c9' }, { offset: 1, color: 'white' }]
            };
            $('#jqChart').jqChart({
                border: { strokeStyle: '#6ba851' },
                background: background,
                axes: [
                    {
                        type: 'dateTime',
                        location: 'bottom', 
                        interval:3,
                        intervalType:'hours',     
                        //labels: { stringFormat: 'd/hh:mmt' },
                        zoomEnabled: false,
                    }
                ],
                series:[series[0]]               
            });
            $('#jqChart1').jqChart({
                border: { strokeStyle: '#6ba851' },
                background: background,
                axes: [
                    {
                        type: 'dateTime',
                        location: 'bottom', 
                        interval:3,
                        intervalType:'hours',     
                        //labels: { stringFormat: 'd/hh:mmt' },
                        zoomEnabled: false,                     
                    }
                ],
                series:[series[1]]               
            });
            $('#jqChart2').jqChart({
                border: { strokeStyle: '#6ba851' },
                background: background,
                axes: [
                    {
                        type: 'dateTime',
                        location: 'bottom', 
                        interval:3,
                        intervalType:'hours',     
                        //labels: { stringFormat: 'd/hh:mmt' },
                        zoomEnabled: false,                     
                    }
                ],
                series:[series[2]]               
            });                      
            $('#jqChart3').jqChart({
                border: { strokeStyle: '#6ba851' },
                background: background,
                axes: [
                    {
                        type: 'dateTime',
                        location: 'bottom', 
                        interval:3,
                        intervalType:'hours',     
                        //labels: { stringFormat: 'd/hh:mmt' },
                        zoomEnabled: false,                     
                    }
                ],
                series:[series[3]]               
            });          
            $('#jqChart4').jqChart({
                border: { strokeStyle: '#6ba851' },
                background: background,
                axes: [
                    {
                        type: 'dateTime',
                        location: 'bottom', 
                        interval:3,
                        intervalType:'hours',     
                        //labels: { stringFormat: 'd/hh:mmt' },
                        zoomEnabled: false,                     
                    }
                ],
                series:[series[4]]               
            });          
            $('#jqChart5').jqChart({
                border: { strokeStyle: '#6ba851' },
                background: background,
                axes: [
                    {
                        type: 'dateTime',
                        location: 'bottom', 
                        interval:3,
                        intervalType:'hours',     
                        //labels: { stringFormat: 'd/hh:mmt' },
                        zoomEnabled: false,                     
                    }
                ],
                series:[series[5]]               
            });
          $('#jqChart6').jqChart({
                border: { strokeStyle: '#6ba851' },
                background: background,
                axes: [
                    {
                        type: 'dateTime',
                        location: 'bottom', 
                        interval:3,
                        intervalType:'hours',     
                        //labels: { stringFormat: 'd/hh:mmt' },
                        zoomEnabled: false,                     
                    }
                ],
                series:[series[6]]               
            });          
            $('#jqChart7').jqChart({
                border: { strokeStyle: '#6ba851' },
                background: background,
                axes: [
                    {
                        type: 'dateTime',
                        location: 'bottom', 
                        interval:3,
                        intervalType:'hours',     
                        //labels: { stringFormat: 'd/hh:mmt' },
                        zoomEnabled: false,                            
                    }
                ],
                series:[series[7]]               
            });
            
        });

    </script>
    <div>
        <div id="jqChart" style="width:auto; height: 150px;">
    </div>
    <div>
        <div id="jqChart1" style="width:auto; height: 150px;">
    </div>
    <div>
        <div id="jqChart2" style="width:auto; height: 150px;">
    </div>
    <div>
        <div id="jqChart3" style="width:auto; height: 150px;">
    </div>
    <div>
        <div id="jqChart4" style="width:auto; height: 150px;">
    </div>
    <div>
        <div id="jqChart5" style="width:auto; height: 150px;">
    </div>
    <div>
        <div id="jqChart6" style="width:auto; height: 150px;">
    </div>
    <div>
        <div id="jqChart7" style="width:auto; height: 150px;">
    </div>


<%- include footer1.ejs %>
