<%- include header.ejs %>
    
    <link rel="stylesheet" type="text/css" href="/jqchart/css/jquery.jqChart.css" />
    <link rel="stylesheet" type="text/css" href="/jqchart/css/jquery.jqRangeSlider.css" />
    <script src="/jqchart/js/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="/jqchart/js/jquery.jqChart.min.js" type="text/javascript"></script>
    <script src="/jqchart/js/jquery.jqRangeSlider.min.js" type="text/javascript"></script>
 
    <script lang="javascript" type="text/javascript">      
        var chartData = <%-JSON.stringify(data)%> ;   

        var series = [];

        var data1 = [];
        var data2 = [];
        var data3 = [];
        var data4 = [];
        var data5 = [];
        var data6 = [];
        var data7 = [];
        var data8 = [];
        for (var i = 0; i < chartData[0].data.length; i++) {
                data1.push([ sqlToJsDate(chartData[0].data[i][0]),chartData[0].data[i][1]]);
        }

        for (var i = 0; i < chartData[1].data.length; i++) {
                data2.push([ sqlToJsDate(chartData[1].data[i][0]),chartData[1].data[i][1]]);
        }

        for (var i = 0; i < chartData[2].data.length; i++) {
                data3.push([ sqlToJsDate(chartData[2].data[i][0]), chartData[2].data[i][1]]);
        }

        for (var i = 0; i < chartData[3].data.length; i++) {
                data4.push([ sqlToJsDate(chartData[3].data[i][0]), chartData[3].data[i][1]]);
        }

        for (var i = 0; i < chartData[4].data.length; i++) {
                data5.push([ sqlToJsDate(chartData[4].data[i][0]), chartData[4].data[i][1]]);
        }

        for (var i = 0; i < chartData[5].data.length; i++) {
                data6.push([ sqlToJsDate(chartData[5].data[i][0]), chartData[5].data[i][1]]);
        }
        for (var i = 0; i < chartData[6].data.length; i++) {
                data7.push([ sqlToJsDate(chartData[6].data[i][0]), chartData[6].data[i][1]]);
        }
        for (var i = 0; i < chartData[7].data.length; i++) {
                data8.push([ sqlToJsDate(chartData[7].data[i][0]), chartData[7].data[i][1]]);
        } 
        /*       
        if (! isEmpty(qe)) {
                series.push({
                        title: qe ,
                        type: 'scatter',
                        data:data1,
                        fillStyle: 'blue',
                        markers: {
                            type: 'circle',
                            size: 5
                        }
                    });
        } else {
        */
             series.push({
                        title: chartData[0].QE,
                        type: 'scatter',
                        data:data1,
                        fillStyle: 'red',
                        markers: {
                            type: 'circle',
                            size: 5
                        }
                    });        
            series.push({
                        title: chartData[1].QE,
                        type: 'scatter',
                        data: data2,
                        fillStyle: 'orange',
                        markers: {
                            type: 'rectangle',
                            size: 5
                        }              
                    });
            series.push({
                        title: chartData[2].QE,
                        type: 'scatter',
                        data: data3,
                        fillStyle: 'blue',
                        markers: {
                            type: 'diamond',
                            size: 5
                        }                       
                    });
            series.push({
                        title: chartData[3].QE,
                        type: 'scatter',
                        data: data4,
                        markers: {
                            type: 'triangle',
                            size: 5
                        }
                    });
            series.push({
                        title: chartData[4].QE,
                        type: 'scatter',
                        data:data5,
                      markers: {
                            type: 'circle',
                            size: 5
                        }
                    });
            series.push({
                        title: chartData[5].QE,
                        type: 'scatter',
                        data: data6,
                         markers: {
                            type: 'rectangle',
                            size: 5
                        }                        
                        
                    });
            series.push({
                        title: chartData[6].QE,
                        type: 'scatter',
                        data: data7,
                        markers: {
                            type: 'diamond',
                            size: 5
                        }
                    });
            series.push({
                        title: chartData[7].QE,
                        type: 'scatter',
                        data: data8,
                        markers: {
                            type: 'triangle',
                            size: 5
                        }
                    });
      //  };


        function sqlToJsDate(sqlDate){
            var sqlDateArr1 = sqlDate.split("-");
            var sYear = sqlDateArr1[0];
            var sMonth = (Number(sqlDateArr1[1]) - 1).toString();
            var sqlDateArr2 = sqlDateArr1[2].split(" ");
            var sDay = sqlDateArr2[0];
            var sqlDateArr3 = sqlDateArr2[1].split(":");
            var sHour = sqlDateArr3[0];
            var sMinute = sqlDateArr3[1];
            var sqlDateArr4 = sqlDateArr3[2].split(".");
            var sSecond = sqlDateArr4[0];
            var sMillisecond = sqlDateArr4[1];            
            return new Date(sYear,sMonth,sDay,sHour,sMinute,sSecond,sMillisecond);
        }   

        $(document).ready(function () {
            var background = {
                type: 'linearGradient',
                x0: 0,
                y0: 0,
                x1: 0,
                y1: 1,
                colorStops: [{ offset: 0, color: '#d2e6c9' },
                             { offset: 1, color: 'white' }]
            };
            $('#jqChart').jqChart({
                title: 'RHIO XCA Query/Retrieve response Times-ms',
                legend: { title: 'RHIO' },
                border: { strokeStyle: '#6ba851' },
                background: background,
                //animation: { duration: 1 },
                //tooltips: { type: 'shared' },
                shadows: {
                    enabled: false
                },
                crosshairs: {
                    enabled: false,
                    hLine: false,
                    vLine: { strokeStyle: '#cc0a0c' }
                },
                axes: [
                    {
                        type: 'dateTime',
                        location: 'top', 
                        interval:1,
                        intervalType:'hours',     
                        labels: { stringFormat: 'd/hh:mmt' },
                        zoomEnabled: true,
                        //logarithmic: true,
                        logBase: 10,
                       // minorGridLines: { interval: 2, strokeStyle: 'red' }

                    }
                ],
                series:series               
            });

            $('#jqChart').bind('tooltipFormat', function (e, data) {
                if ($.isArray(data) == false) {
                    var date = data.chart.stringFormat(data.x, "HH:MM");
                    var tooltip = '<b>' + date + '</b><br />' +
                          '<span style="color:' + data.series.fillStyle + '">' + data.series.title + ': </span>' +
                          '<b>' + data.y + '</b><br />';
                    return tooltip;
                }
                var date = data[0].chart.stringFormat(data[0].x, "HH:MM");
                var tooltip = '<b>' + date + '</b><br />' +
                      '<span style="color:' + data[0].series.fillStyle + '">' + data[0].series.title + ': </span>' +
                      '<b>' + data[0].y + '</b><br />' +
                      '<span style="color:' + data[1].series.fillStyle + '">' + data[1].series.title + ': </span>' +
                      '<b>' + data[1].y + '</b><br />'
                      '<span style="color:' + data[2].series.fillStyle + '">' + data[2].series.title + ': </span>' +
                      '<b>' + data[2].y + '</b><br />' +
                      '<span style="color:' + data[3].series.fillStyle + '">' + data[3].series.title + ': </span>' +
                      '<b>' + data[3].y + '</b><br />' +
                      '<span style="color:' + data[4].series.fillStyle + '">' + data[4].series.title + ': </span>' +
                      '<b>' + data[4].y + '</b><br />' +
                      '<span style="color:' + data[5].series.fillStyle + '">' + data[5].series.title + ': </span>' +
                      '<b>' + data[5].y + '</b><br />' +
                      '<span style="color:' + data[6].series.fillStyle + '">' + data[6].series.title + ': </span>' +
                      '<b>' + data[6].y + '</b><br />' +
                      '<span style="color:' + data[7].series.fillStyle + '">' + data[7].series.title + ': </span>' +
                      '<b>' + data[7].y + '</b><br />' 
                      ;

                return tooltip;
            });
        });

    </script>
       
       <div>
            <div id="jqChart" style="width:auto; height: 400px;">
       </div>


<%- include footer1.ejs %>
