<%- include header.ejs %>


<style>

.ui-jqgrid .ui-jqgrid-bdiv {
  position: relative; 
  margin: 0em; 
  padding:0; 
  /*overflow: auto;*/ 
  overflow-x:hidden; 
  overflow-y:auto; 
  text-align:left;
}
</style>

    <script>
        var baseUrl = document.location.origin;
        var grid;
        $( function() {
                ///===================================================
                var PPpager = ("userclientspager");
                grid = $("#userclientslist");                                
                myAddButton = function(options) {
                    grid.jqGrid('navButtonAdd','#'+PPpager,options);
                    grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                };
                //======================================================
                var cols = <%-JSON.stringify(colsetup)%> ;
                grid.jqGrid(cols);   
                grid.jqGrid('navGrid', '#'+PPpager,{
                        cloneToTop:true,
                        edit:false,
                        add:false,
                        del:false,
                        search:false,
                        refresh:true,
                        reloadGridOptions: { fromServer: true },             
                        beforeRefresh: function(){
                            //alert('In beforeRefresh');
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        }                       
                    }
                ) ;
                myAddButton ({
                    caption: "Chart",
                    title: "Line Chart",
                    onClickButton : function (){
                        var url = "/HBMonitor/Chart/" ;
                        openWindow(url,"Heartbeat Monitor");
                    }
                });     
        });                
    </script>
    
        <table id="userclientslist"></table> 
        <div id="userclientspager"></div>                        

<%- include footer1.ejs %>
    