<%- include header.ejs %>
    <style>
        .ui-jqgrid .ui-jqgrid-bdiv {
            position: relative; 
            margin: 0em; 
            padding:0; 
            /*overflow: auto;*/ 
            overflow-x:hidden; 
            overflow-y:auto; 
            text-align:left;
        }
    </style>

    <script>
        var baseUrl = document.location.origin;
        var grid;
        $( function() {
            ///===================================================
            var PPpager = ("hbmpager");
            var grid = $("#hbmlist");                                
            //======================================================
            var gridAddButton = function(grid, options) {
                grid.jqGrid('navButtonAdd','#'+PPpager,options);
                grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
            };                
            var HBMcols = { 
                url:'/HBM/Report', 
                altRows: false, 
                deepempty: true,
                autowidth: false,
                ignoreCase: true,
                multiselect:false,
                multiboxonly:true,
                datatype: "json",
                mtype: "GET",       
                height:'auto',
                width:'auto',
                scrollOffset:0,
                colModel:[
                    {label:'RHIO',name:'RHIO', editable:false ,width:88 },
                    {label:'Retrieve',name:'XCA_Retrieve', editable:false ,width:50,
                        cellattr: function(rowId, val, rawObject) {
                            if (val == 'Failure') {
                                return " class='ui-state-error-text ui-state-error'";
                            }
                            if (val == 'Success') {
                                return " class='ui-state-highlight'";
                            }
                        }
                    },
                    {label:'Last Retrieve',name:'LRS', editable:false ,width:50 },
                    {label:'Query',name:'XCA_Query', editable:false ,width:50,
                        cellattr: function(rowId, val, rawObject) {
                            if (val == 'Failure') {
                                return " class='ui-state-error-text ui-state-error'";
                            }
                            if (val == 'Success') {
                                return " class='ui-state-highlight'";
                            }
                        }                    
                     },
                    {label:'Last Query',name:'LQS', editable:false ,width:50 } ,
                    {label:'Last Error',name:'LErr', editable:false ,width:125 } ,
                    {label:'-', width:1,search:false}              
                ],
                ondblClickRow: function (rowid, iRow,iCol) {
                    var rhio = grid.jqGrid ('getCell', rowid, 'RHIO');
                    var url = "/HBM/Chart/"+rhio ;
                    var win = window.open(url , rhio +"HBM Chart","resizable=1,scrollbars=yes ,width=900,height=410");
                },
                loadonce:true,
                toppager:true,
                rowList: [],        // disable page size dropdown
                pgbuttons: false,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                gridview: false,
                autoencode: true,           
                caption: "HB Dasboard" ,
                loadError: function(a, c, d) {
                        grid.jqGrid("displayErrorMessage","There is a problem retrieving data from the server, it could be down, please contact your system administrator.")
                }           
            };
            grid.jqGrid(HBMcols);   
            grid.jqGrid('navGrid', '#'+PPpager,{
                    cloneToTop:true,
                    edit:false,
                    add:false,
                    del:false,
                    search:false,
                    refresh:true,
                    reloadGridOptions: { fromServer: true },             
                    beforeRefresh: function(){
                        //alert('In beforeRefresh');
                        grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                    }                       
                }
            );
            gridAddButton (grid,{
                caption: "Graph",
                title: "Display Graph of All RHIOs",
                onClickButton : function (){
                    window.open("/HBM/Graph" , "HBM Graph","resizable=1,scrollbars=yes ,width=900,height=410");
                }
            });
            gridAddButton (grid,{
                caption: "Graphs",
                title: "Display Individual Graphs of All RHIOs",
                onClickButton : function (){
                    window.open("/HBM/Charts" , "HBM All RHIO Graphs","resizable=1,scrollbars=yes ,width=900,height=1000");
                }
            });
            setInterval(() => { 
                jQuery(grid).jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
            },30000 );            
        });                
    </script>
    <table id="hbmlist"></table> 
    <div id="hbmpager"></div>                        
                     

<%- include footer1.ejs %>
    