<%- include header.ejs %>
    <link rel="stylesheet" type="text/css" href="/jqchart/css/jquery.jqChart.css" />
    <link rel="stylesheet" type="text/css" href="/jqchart/css/jquery.jqRangeSlider.css" />
    <script src="/jqchart/js/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="/jqchart/js/jquery.jqChart.min.js" type="text/javascript"></script>
    <script src="/jqchart/js/jquery.jqRangeSlider.min.js" type="text/javascript"></script>
    <script src="/js/moment.min.js"></script>

    <script  src="/jspdf/dist/jspdf.debug.js" type="text/javascript"></script>
    <script src='/jspdf/libs/html2pdf.js' type="text/javascript"></script>

    <script lang="javascript" type="text/javascript">      
        var chartData = <%-JSON.stringify(data)%> ;   
        var rhio = "<%-rhio%>" ;
        //alert(JSON.stringify(chartData));   
        var series = [];
        var data = [];
        var data1 = [];
        var data2 = [];
        var data3 = [];
        $(document).ready(function () {   
            var updatedata = function () {
                for (var i = 0; i < chartData.data.length; i++) {
                    if (chartData.data[i][2] == "XCA_Query"){
                        if (chartData.data[i][3] == "Failure"){
                            data2.push([ sqlToJsDate(chartData.data[i][0]) , 0]);
                        } else {
                            data.push([ sqlToJsDate(chartData.data[i][0]),chartData.data[i][1]]);
                        }
                    }  
                    if (chartData.data[i][2] == "XCA_Retrieve"){
                        if (chartData.data[i][3] == "Failure"){
                            data3.push([ sqlToJsDate(chartData.data[i][0]) , 0]);
                        } else {
                            data1.push([ sqlToJsDate(chartData.data[i][0]),chartData.data[i][1]]);
                        }       
                    }                     
                }
            };
            updatedata();
            series.push(
                {
                    title: 'XCA_Query' ,
                    type: 'scatter',
                    axisY:'y1',
                    data:data,
                    fillStyle: 'blue',
                    markers: {
                        type: 'diamond',
                        size: 5
                    }
                },
                {
                    title: 'XCA_Retrieve' ,
                    type: 'scatter',
                    axisY:'y2',
                    data:data1,
                    fillStyle: 'green',
                    markers: {
                        type: 'diamond',
                        size: 5
                    }
                },
                {
                    title: 'Query Failure' ,
                    type: 'scatter',
                    axisY:'y3',
                    data:data2,
                    fillStyle: 'red',
                    markers: {
                        type: 'diamond',
                        size: 5
                    }
                },
                {
                    title: 'Retrieve Failure' ,
                    type: 'scatter',
                    axisY:'y4',
                    data:data3,
                    fillStyle: 'red',
                    markers: {
                        type: 'diamond',
                        size: 5
                    }
                }
            );
            var background = {
                type: 'linearGradient',
                x0: 0,
                y0: 0,
                x1: 0,
                y1: 1,
                colorStops: [{ offset: 0, color: '#d2e6c9' },{ offset: 1, color: 'white' }]
                //colorStops: [{ offset: 0, color: '#f2c9e6' }, { offset: 1, color: 'white' }]
            };
            $('#jqChart').jqChart({
                title: rhio +' Query/Retrieve response Times-ms',
                legend: { title:'' },
                border: { strokeStyle: '#6ba851' },
                background: background,
                shadows: {
                    enabled: false
                },
                crosshairs: {
                    enabled: true,
                    hLine: false,
                    vLine: { strokeStyle: '#cc0a0c' }
                },
                axes: [
                    {
                        type: 'dateTime',
                        axisY:'y1',
                        location: 'bottom', 
                        interval:2,
                        intervalType:'hours',     
                        //labels: { stringFormat: 'd/hh:mmt' },
                        //zoomEnabled: true
                    },
                    {
                    //logarithmic: true,
                    //logBase: 10,
                    location:'left',
                    //zoomEnabled:true
                    }
                ],

                series:series               
            });
            var updateChart = function() {
                var lasttime = chartData.data[chartData.data.length-1][0]
                var url = "/HBM/list/"+rhio+"/"+lasttime;
               //log(url);
                $.ajax({
                    url :url,
                    type: "GET",
                    dataType: "json",
                    crossDomain: true,
                    success: function(results, textStatus, jqXHR) {                            
                        if (results.data && results.data.length > 0 ) {
                                results.data.forEach(function(part, index) {
                                    chartData.data.splice(0, 1);
                                    chartData.data.push(part);
                //log("new chartdata="+chartData.data[chartData.data.length-1][0]);                             
                                });   
                                updatedata();
                                $('#jqChart').jqChart('update');
                        }
                        //setTimeout("updateChart()", 20*1000);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            } ;       
            setInterval(() => { 
                updateChart();
            },20000 );            
            $('#btnchartpdf').click(function () {
                PDFFromHTML() ;
                //$('#jqChart').jqChart('exportToPdf');
            });
            $('#btnchartimage').click(function () {
                var config = {
                    fileName: 'Chart.png',
                    type: 'image/png' // 'image/png' or 'image/jpeg'
                };
                $('#jqChart').jqChart('exportToImage', config);
            });               
        });     
      
      
        function sqlToJsDate(sqlDate){
            var sqlDateArr1 = sqlDate.split("-");
            var sYear = sqlDateArr1[0];
            var sMonth = (Number(sqlDateArr1[1]) - 1).toString();
            var sqlDateArr2 = sqlDateArr1[2].split(" ");
            var sDay = sqlDateArr2[0];
            var sqlDateArr3 = sqlDateArr2[1].split(":");
            var sHour = sqlDateArr3[0];
            var sMinute = sqlDateArr3[1];
            var sqlDateArr4 = sqlDateArr3[2].split(".");
            var sSecond = sqlDateArr4[0];
            var sMillisecond = sqlDateArr4[1];            
            return new Date(sYear,sMonth,sDay,sHour,sMinute,sSecond,sMillisecond);
        } ;  


        ///---------------------- PDF

       
                function PDFFromHTML() {
                    var pdf = new jsPDF('p', 'pt', 'letter')
                    // source can be HTML-formatted string, or a reference
                    // to an actual DOM element from which the text will be scraped.
                    , source = $('#jqChart')[0]
                    // we support special element handlers. Register them with jQuery-style 
                    // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
                    // There is no support for any other type of selectors 
                    // (class, of compound) at this time.
                    , specialElementHandlers = {
                        // element with id of "bypass" - jQuery style selector
                        '#bypassme': function(element, renderer){
                            // true = "handled elsewhere, bypass text extraction"
                            return true
                        }
                    }

                    margins = {
                    top: 80,
                    bottom: 60,
                    left: 40,
                    width: 522
                    };

                    // all coords and widths are in jsPDF instance's declared units
                    // 'inches' in this case
                    pdf.fromHTML(
                        source // HTML string or DOM elem ref.
                        , margins.left // x coord
                        , margins.top // y coord
                        , {
                            'width': margins.width // max width of content on PDF
                            , 'elementHandlers': specialElementHandlers
                        },
                        function (dispose) {
                        // dispose: object with X, Y of the last line add to the PDF 
                        //          this allow the insertion of new lines after html
                        pdf.save('Test.pdf');
                        },
                        margins
                    )
                }
        /////------------------------------
  
    </script>
        <div id="jq1">
            <div id="jqChart" style="width:auto; height: 400px;">
        </div>
        <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">
                
            <button id = 'btnchartpdf' class='block_button' id="login-user"  class="ui-button ui-widget ui-corner-all" > Save as PDF </button>
            <button  id = 'btnchartimage' class='block_button' id="logout-user"  class="ui-button ui-widget ui-corner-all"  > Save As Image </button>
        </div>       

<%- include footer1.ejs %>
