<%- include header.ejs %>
    <script src="/highcharts/highcharts.js"></script>
    <script src="/highcharts/modules/exporting.js"></script>
    
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script lang="javascript" type="text/javascript">      
        var chartData = <%-JSON.stringify(data)%> ;   
        var rhio = "<%-rhio%>" ;
        //alert(JSON.stringify(chartData));   
        var series = [];
        var data = [];
        var data1 = [];
        var data2 = [];
        var data3 = [];    
        var updatedata = () => {
            if (chartData[0].data && chartData[0].data.length > 0 ){
                chartData[0].data.forEach(function(part, index) {
                    if (part[2] == "XCA_Query"){
                        if (part[3] == "Failure"){
                            data2.push([ sqlToJsDate(part[0]) , 0]);
                        } else {
                            data.push([ sqlToJsDate(part[0]),part[1]]);
                        }
                    }  
                    if (part[2] == "XCA_Retrieve"){
                        if (part[3] == "Failure"){
                            data3.push([ sqlToJsDate(part[0]) , 0]);
                        } else {
                            data1.push([ sqlToJsDate(part[0]),part[1]]);
                        }       
                    }                     
                });
            }
        };
        updatedata();
    
            $(document).ready(function () {          
                Highcharts.chart('container', {
                    chart: {
                        zoomType: 'y',              
                        backgroundColor: {
                            linearGradient: [0, 0, 500, 500],
                            stops: [
                                [0, '#d2e6c9'],
                                [1, 'white']
                            ]
                        },
                    },
                    title: {
                        text: 'XCA Retrieve Times ms'
                    },
                    subtitle: {
                        text: document.ontouchstart === undefined ? 'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Response Time ms'
                        }
                    },
                    legend: {
                        enabled: true
                    },
                    plotOptions: {                
                        area: {
                            fillColor: {
                                linearGradient: {
                                    x1: 0,
                                    y1: 1,
                                    x2: 2,
                                    y2: 3
                                },
                                stops: [
                                    [0, Highcharts.getOptions().colors[0]],
                                    [1, Highcharts.Color(Highcharts.getOptions().colors[3]).setOpacity(0).get('rgba')],
                                    [2, Highcharts.getOptions().colors[2]],
                                    [3, Highcharts.Color(Highcharts.getOptions().colors[1]).setOpacity(0).get('rgba')]
                                ]
                            },
                            marker: {
                                radius: 2
                            },
                            lineWidth: 10,
                            states: {
                                hover: {
                                    lineWidth: 0
                                }
                            },
                            threshold: null
                        }
                    },

                    series: [
                    {
                        type: 'line',
                        name: 'XCA_Query Retrieve',
                        data: data
                    },
                    {
                        type: 'line',
                        name: 'XCA Retrieve ',
                        data: data1
                    },
                    {
                        type: 'line',
                        name: 'XCA_Query Failure',
                        data: data2
                    },
                    {
                        type: 'line',
                        name: 'XCA Retrieve Failure',
                        data: data3
                    }
                    ]
                });
        });      

            function sqlToJsDate(sqlDate){
                var sqlDateArr1 = sqlDate.split("-");
                var sYear = sqlDateArr1[0];
                var sMonth = (Number(sqlDateArr1[1]) - 1).toString();
                var sqlDateArr2 = sqlDateArr1[2].split(" ");
                var sDay = sqlDateArr2[0];
                var sqlDateArr3 = sqlDateArr2[1].split(":");
                var sHour = sqlDateArr3[0];
                var sMinute = sqlDateArr3[1];
                var sqlDateArr4 = sqlDateArr3[2].split(".");
                var sSecond = sqlDateArr4[0];
                var sMillisecond = sqlDateArr4[1];            
                return new Date(sYear,sMonth,sDay,sHour,sMinute,sSecond,sMillisecond);
            } ;  
    </script>
      

<%- include footer1.ejs %>
