<%- include header.ejs %>
    <style>
        #chartdiv {
            width : 100%;
            height : 450px;
            font-size : 11px;
        }
        * {
            font-size: 11px !important;
            line-height: 1.42857143;
        }
        #chartdiv {
            min-height: 445px;
        }
        .container {
            padding-top: 15px;
        }
        .well {
            margin: 0;
        }
        /* JUST FOR THE NOTIFICATIONS */
        .growl {
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 1337;
        }
        .growl .alert {
            width: 250px;
            opacity: 0.8;
            cursor: pointer;
        }
    </style>        
    <script src="/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="/amcharts/serial.js" type="text/javascript"></script>
    <script src="/amcharts/themes/light.js" type="text/javascript"></script>
    
        <script>
           var chart ;  
           var chartData = <%-JSON.stringify(data)%> ;
           var bullets = ["none","round","square","triangleUp","triangleDown","triangleLeft","triangleRight","bubble","diamond","xError","yError","custom"];
           var bulletcolour = ["#111111","#888888","#ff1111","#11ff11","#1111ff","#ffff11","#11ffff","#ff11ff"];
           var chart1 = AmCharts.makeChart("chartdiv2", {
                "type": "serial",
                "theme": "light",
                "dataDateFormat": "YYYY-MM-DD HH:NN:SS", 
                "categoryField":"date",
                "dataProvider": chartData,
                "mouseWheelZoomEnabled":true,
                "graphs": [{
                    "balloonText": "[[QE_Name]]: [[value]]",
                    "type":"line",
                    "connect":false,
                    "lineThickness": 2,
                    "title": "Test 0",
                    "type": "line",
                    "connect" : false,
                    "valueField": "value1"
                }, {
                    "balloonText": "[[title]]: [[value]]",
                    "columnWidth": 20,
                    "fillAlphas": 1,
                    "title": "Test 1",
                    "type": "column",
                    "valueField": "value1"
                }],
                "zoomOutButtonRollOverAlpha": 0.15,
                "chartCursor": {
                    "categoryBalloonDateFormat": "MMM DD JJ:NN",
                    "cursorPosition": "mouse",
                    "showNextAvailable": true
                },
                "columnWidth": 1,
                "categoryField": "date",
                "categoryAxis": {
                    "minPeriod": "hh",
                    "parseDates": true
                },
                "exportConfig": {
                    "menuTop": "20px",
                    "menuRight": "20px",
                    "menuItems": [{
                    "icon": '/lib/3/images/export.png',
                    "format": 'png'
                    }]
                },
                legend: {}
           });
           
           //-----------------------------------------
           
           AmCharts.ready(function () {
                // SERIAL CHART              
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData;
                chart.dataDateFormat = "YYYY-MM-DD HH:NN:SS";   // "dateFormat": "YYYY-MM-DD HH:NN:SS"
                chart.categoryField = "date";
                chart.graphs = [];
                // listen for "dataUpdated" event (fired when chart is rendered) and call zoomChart method when it happens

                chart.addListener("dataUpdated", zoomChart);
                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
                categoryAxis.minPeriod = "ss" // our data is daily, so we set minPeriod to DD
                categoryAxis.gridAlpha = 0.1;
                categoryAxis.minorGridAlpha = 0.1;
                categoryAxis.axisAlpha = 0;
                categoryAxis.minorGridEnabled = true;
                categoryAxis.gridThickness = 0;
                categoryAxis.inside = false;

                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.tickLength = 0;
                valueAxis.axisAlpha = 0;
                valueAxis.showFirstLabel = true;
                valueAxis.showLastLabel = true;
                valueAxis.durationUnits = {"DD":"d ","hh":" ","mm":".","ss":"sec" };
                chart.addValueAxis(valueAxis);

                // GRAPH
                var graph = new AmCharts.AmGraph();
                graph.type = "line";
                graph.connect = false;
                graph.lineColor = bulletcolour[1];
                graph.valueField = "value";
                graph.title ="Reponse Time";
                graph.dashLength = 1;
                graph.bullet = bullets[1];
                graph.balloonText = "[[category]]<br><b><span style='font-size:14px;'>value:[[value]] RHIO:[[QE_Name]]</span></b>";
                //graph.zoomToCategoryValues("2017-02-15 12:00", "2017-02-15 15:00");
                chart.addGraph(graph);
                //chart.graphs.push(graph);// GRAPH
/*
                var graph1 = new AmCharts.AmGraph();
                graph1.type = "line";
                graph1.connect = false;
                graph1.lineColor = bulletcolour[2];
                graph1.valueField = "value2";
                graph1.title ="Reponse Time";
                graph1.dashLength = 1;
                graph1.bullet = bullets[2];
                graph1.balloonText = "[[category]]<br><b><span style='font-size:14px;'>value:[[value]] RHIO:[[QE_Name]]</span></b>";
                chart.addGraph(graph1);
                //chart.graphs.push(graph1);

                var graph2 = new AmCharts.AmGraph();
                graph2.type = "line";
                graph2.connect = false;
                graph2.lineColor = bulletcolour[3];
                graph2.valueField = "value3";
                graph2.title ="Reponse Time";
                graph2.dashLength = 1;
                graph2.bullet = bullets[3];
                graph2.balloonText = "[[category]]<br><b><span style='font-size:14px;'>value:[[value]] RHIO:[[QE_Name]]</span></b>";
                chart.addGraph(graph2);
                //chart.graphs.push(graph1);
  */             
                // CURSOR
                var chartCursor = new AmCharts.ChartCursor();
                chartCursor.valueLineEnabled = false;
                chartCursor.valueLineBalloonEnabled = false;
                chart.addChartCursor(chartCursor);

                // HORIZONTAL GREEN RANGE
                var guide = new AmCharts.Guide();
                guide.value = 1;
                guide.toValue = 3000;
                guide.fillColor = "#00ff00";
                guide.inside = true;
                guide.fillAlpha = 0.2;
                guide.lineAlpha = 0;
                valueAxis.addGuide(guide);

                // HORIZONTAL GREEN RANGE
                var guide = new AmCharts.Guide();
                guide.value = 3000;
                guide.toValue = 10000;
                guide.fillColor = "#00CC00";
                guide.inside = true;
                guide.fillAlpha = 0.2;
                guide.lineAlpha = 0.5;
                valueAxis.addGuide(guide);

                // HORIZONTAL ORANGE RANGE
                var guide = new AmCharts.Guide();
                guide.value = 10000;
                guide.toValue = 20000;
                guide.fillColor = "#CC4400";
                guide.inside = true;
                guide.fillAlpha = 0.2;
                guide.lineAlpha = 0;
                valueAxis.addGuide(guide);

                // HORIZONTAL RED RANGE
                var guide = new AmCharts.Guide();
                guide.value = 20000;
                guide.toValue = 100000;
                guide.fillColor = "#CC0000";
                guide.inside = true;
                guide.fillAlpha = 0.2;
                guide.lineAlpha = 0;
                valueAxis.addGuide(guide);

                // SCROLLBAR
                var chartScrollbar = new AmCharts.ChartScrollbar();
                chartScrollbar.graph = graph;
                chartScrollbar.scrollbarHeight = 10;
                chartScrollbar.color = "#FF00FF";
                chartScrollbar.autoGridCount = true;
                chart.addChartScrollbar(chartScrollbar); 

                chart.mouseWheelZoomEnabled = true;
                //chart.valueAxes[0].logarithmic = true; 
                // WRITE
                chart.write("chartdiv");
                   // this method is called when chart is first inited as we listen for "dataUpdated" event
                function zoomChart() {
                    // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
                    //chart.zoomToIndexes(chartData.length - 40, chartData.length - 1);
                }
           });
            
           jQuery(document).ready(function() {

                // ADD GRAPH
                jQuery(".btn-add").on("click", function() {
                    // CREATE GRAPH INSTANCE
                    var val = chart.graphs.length+1  ;
                    var graph = new AmCharts.AmGraph();
                    graph.type = "line";
                    graph.connect = false;
                    graph.lineColor = bulletcolour[val];
                    graph.valueField = "value" +val;
                    graph.title ="Reponse Time";
                    graph.dashLength = 1;
                    graph.bullet = bullets[val];
                    graph.balloonText = "[[category]]<br><b><span style='font-size:14px;'>value:[[value]] RHIO:[[QE_Name]]</span></b>";
                   
                    /*    
                    //graph.valueField = "value" + chart.graphs.length;
                    //graph.balloonText = "[[title]]: [[value]]";
                    // line
                    if (chart.graphs.length == 0) {
                        graph.lineThickness = 2;
                        // column
                    } else if (chart.graphs.length == 1) {
                        graph.type = "column";
                        graph.fillAlphas = 1;
                        graph.columnWidth = 20;
                        // Random settings
                    } else {
                        var yesNo = Math.random() * 20 - 10 > 0;
                        graph.type = yesNo ? "line" : "column";
                        graph.lineThickness = yesNo ? 2 : 0;
                        graph.fillAlphas = yesNo ? 0 : 1;
                        graph.columnWidth = yesNo ? 0 : 20;
                        // Add random data
                        for (i in chartData) {
                            chartData[i]["value" + chart.graphs.length] = Math.round(Math.random() * 12) + 1;
                        }
                    }
                    */
                    // ATTACH TO CHART INSTANCE
                    chart.addGraph(graph);
                    growl("success", "Added graph " + chart.graphs.length);
                });
                // REMOVE LAST GRAPH
                jQuery(".btn-remove").on("click", function() {
                    var graph = chart.graphs.pop();
                    chart.removeGraph(graph);
                    growl("danger", "Removed graph " + chart.graphs.length);
                });
            });
            // SOME VISUAL FEEDBACK
            function growl(type, msg) {
                var alert = jQuery("<div>").addClass("alert alert-" + type).on("click", function() {
                    jQuery(this).remove();
                }).prependTo(".growl");
                jQuery("<p>").text(msg).appendTo(alert);
                jQuery(alert).animate({
                    opacity: 0
                }, 3000, function() {
                    jQuery(this).remove();
                });
            }

            function toggle() {
                chart.valueAxes[0].logarithmic = chart.valueAxes[0].logarithmic ? false : true;
                chart.validateNow();
            }
 
        </script>

    <div class="growl"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        <button class="btn btn-default btn-add">Add Graph</button>
                        <button class="btn btn-default btn-remove">Remove Graph</button>
                    </p>
                    <div class="well">
                        <div id="chartdiv" style="width: 100%; height: 450px;"></div>
                    </div>
      
                    <div class="well">
                        <div id="chartdiv2" style="width: 100%; height: 450px;"></div>
                    </div>
        
                </div>
            </div>
        </div>
    </div>

<input type="button" value="toggle logarithmic" onclick="toggle();" id="button" />

<%- include footer.ejs %>
