<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">   
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="cache-control" content="max-age=0">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">

        <meta http-equiv="Cache-Control" content=" private, no-cache">
        <meta http-equiv="Content-Disposition" content="inline;filename='files.json' ">
        <meta http-equiv="X-Content-Type-Options" content="nosniff">
        
    	<meta name="robots" content="noindex, nofollow">
        <meta name="googlebot" content="noindex, nofollow">    
        <meta name="author" content="pkulek@nyehealth.org">
        <meta name="description" content="Patient Portal Support">

        <title><%= page_title %></title>

        <link rel="shortcut icon"  href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/base.css?v=1">
        <link rel="stylesheet" type="text/css" media="screen" id="jqtheme" href="/themes/redmnd/jquery-ui.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/themes/ui.jqgrid.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/themes/ui.multiselect.css" />
        <link rel="stylesheet" href="style.css">
  

        <script src="/js/jquery-1.12.4.min.js" type="text/javascript"></script>
        <script src="/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>


        <script src="/js/i18n/grid.locale-en.min.js" type="text/javascript"></script>

        <script src="/js/jquery.jqGrid.min.js" type="text/javascript"></script>

        <script type="text/javascript" src="/js/jquery.idle.js"></script>
        <script type='text/javascript' src='/js/jquery.LoadingBox.js'></script>
        <script type="text/javascript" src="/js/store.min.js"></script>
        <script type="text/javascript" src="/js/jquery-idleTimeout.js"></script>
     
  <style>        
           <!-- remove selection highlight -->
           
            ::selection { background: transparent; }
            ::-moz-selection { background: transparent; }
            <!-- Spinner for loading -->
            .no-js #loader { display: none;  }
            .js #loader { display: block; position: absolute; left: 100px; top: 0; }
            .se-pre-con {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                display: block;
                opacity: 0.7;
                background-color: #fff;
                z-index: 99;
                text-align: center;
                background: url(/images/funny-job-gif-5.gif) center no-repeat #fff;
            }
           
            #loading {
                width: 100%;
                height: 100%;
                top: 50px;
                left: 0;
                position: absolute;
                display: block;
                opacity: 0.5;
                background-color: #fff;
                z-index: 99;
                text-align: center;
            }
            #loading-image {
                position: absolute;
                top: 100px;
                left: 240px;
                z-index: 100;
            }
            
            p {
                animation-name: anim;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: linear;
                background-color: rgb(117,209,63);
                border-color: #e50000;
                border-width: 3px;
                border-style: solid;
                color: #fff;
                text-shadow: 0 0 3px #000;
            }
            p.bezier {
                animation-timing-function: cubic-bezier(.8,0,.2,1);
            }
            p.steps {
                animation-name: anim-half;  
                animation-timing-function: steps(1,end);
            }
            @keyframes anim {
                to {
                    background-color: #e50000;
                    border-color: rgb(117,209,63);
                }
            }
            @keyframes anim-half {
                50% {
                    background-color: #e50000;
                    border-color: rgb(117,209,63);
                }
            }
 
       </style>        
       <script type="text/javascript">
            theme = 'redmond';     
            var vwindows = []; // viewer windows create with window.open        
            function closeWindows(){
                for(var i = vwindows.length - 1; i >= 0; i--) {
                    vwindows[i].win.close();
                }
                vwindows = new Array();
            }
            var pushWindow = (win)=>{
                var now = new Date().getDate();
                var o = {"time":now,"win":win};
                vwindows.push(o);
            }
            var increment = (function () {
                var n = 0;
                return function () {
                    n += 1;
                    return n;
                }
            }());     
            if (!String.prototype.format) {
                String.prototype.format = function() {
                    var args = arguments;
                    return this.replace(/{(\d+)}/g, function(match, number) { 
                    return typeof args[number] != 'undefined'
                        ? args[number]
                        : match
                    ;
                    });
                };
            }
            var setThemes = function(id,setit,callback) {
                if(isEmpty(id)) {
                    id = 'themes';
                }
                if(isEmpty(setit)) {
                    setit = true;
                }
                $.ajax({
                    type: "GET",
                    url: "/uithemes?type=2" ,                        
                    success: function( data ) {
                        $("#"+id).append (
                            `<td><div>
                            ${data}
                            </div></td>`
                        );
                        if( setit) {
                            $(".jqtheme_selector").change(function() {
                                setTheme($(this).val());
                            });
                        }
                        if (callback) {
                            callback("OK");
                        }
                    }
                });  
            }      
            function log(str) {
                $("#log").prepend(str + "<br />");
            }
            function clearlog() {
                $("#log").empty();
            }             
            function closelog() {
                $("#logwindow").hide();
            }             
            function openlog() {
                $("#logwindow").show();
            }
            function isEmpty(str) { // check if string is null or empty usually missing parameter
                     return typeof str == 'string' && !str.trim() || typeof str == 'undefined' || str === null;
            }
            function getURLParameter(name) {
                  return decodeURI( (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,''])[1] );
            }
            function verifytoken(tokenid,roles,callback ){
                var url = "/login/auth/"+tokenid+"/"+roles+"" ;
        //    log("verifytoken ROLES="+roles);   
        //    log("verifytoken url="+url);    
                $.ajax({ url: url, type: "GET", async:false , complete: function(result,status){
                //log("verifytoken RES="+JSON.stringify(result));                           
                        if ( callback) {
                            callback(result.responseJSON,result);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        if ( callback) {
                            callback( false,errorThrown);
                        }
                    }
                });
                return false;
            }
                    
            openWindow = function(url,title,width,height) {
                if(isEmpty(width)){
                    width = 300;
                }
                if(isEmpty(height)){
                    height = 500;
                }
                /*
                if (window.innerWidth <= 640) {
                    // if width is smaller then 640px, create a temporary a elm that will open the link in new tab
                    var a = document.createElement('a');
                    a.setAttribute("href", url);
                    a.setAttribute("target", "_blank");
                    var dispatch = document.createEvent("HTMLEvents");
                    dispatch.initEvent("click", true, true);
                    a.dispatchEvent(dispatch);
                }  else {
                    var width = window.innerWidth * 0.66 ;
                    var height = width * window.innerHeight / window.innerWidth ;
                    //var win = window.open(url , title, 'location=false,'+'width=' + width + ', height=' + height + ', top=' + ((window.innerHeight - height) / 2) + ', left=' + ((window.innerWidth - width) / 2));
                    var win = window.open(url , title, "resizable=1,scrollbars=no,width=200,height=500");
                    pushWindow(win);
                    //setTimeout(function(){
                    //        win.close()
                    //}, 10*60*1000); // set timeout for window to close automatically = 10 mins
                }
                */
                    //var win = window.open(url , title, `resizable=1,scrollbars=no,width=${width},height=${height}`);
                    //var win = window.open(url , title,"resizable=1,scrollbars=no,width="+width+",height="+height+"}");
                    //log(url+title+width+height)
                    var win = window.open(url , title,"resizable=1,scrollbars=yes");
                    pushWindow(win); // add window to list to be closed when loged out
                    return false;
            }
            function startTimeout(){            
                $(document).idleTimeout({
                    redirectUrl: '/',       // redirect to this url - set to false to disable
                    ebableDialog:false,
                    idleTimeLimit: 5*60,         // seconds 'No activity' time limit in seconds.
                    activityEvents: 'click keypress scroll wheel mousewheel',    // separate each event with a space
                    dialogDisplayLimit: 30,       // Time to display the warning dialog before logout (and optional callback) in seconds
                    sessionKeepAliveTimer: false,  // Set to false to disable pings.
                    customCallback:function(){
                        closeWindows();
                        //alert("bye");
                    }
                });
            }
            function allowAccess(role,roles){
                var sroles = new Set(roles);
                return (sroles.has('PP_ADMIN') || sroles.has('PP_ALL') || sroles.has(role));  
            }
           setTheme = function(_theme,selector) {
                theme = _theme
                $("#jqtheme").remove();  
                var elem=document.createElement("link");
                elem.id="jqtheme";
                elem.rel="stylesheet";
                elem.type="text/css";
                elem.href=`/themes/${theme}/jquery-ui.min.css`;
                document.getElementsByTagName("head")[0].appendChild(elem);
            }
            $( function() {
                //var socket = io.connect('http:localhost:4300');
                /*
                $( document ).tooltip({
                    items: "img, [help-id], [title], [data-geo]",
                    content: function(callback) {
                        var element = $( this );
                        if ( element.is( "[help-id]" ) ) {
                            var text = element.attr("help-id")
                            var values = text.split('~');
                            callback( "<pre><div>"+getMsg(values[0],values[1])+"</div></pre> " );
                        }
                        if ( element.is( "[data-geo]" ) ) {
                            var text = element.text();
                            callback( "<img class='map' alt='" + text +
                                "' src='http://maps.google.com/maps/api/staticmap?" +
                                "zoom=18&size=350x350&maptype=terrain&sensor=false&center=40 worth st, New York,New York'>");
                        }
                        },
                        track:false,
                        position: {
                            my: "left top",
                            collision: "none"
                        },
                        open: function (event, ui) {
                            setTimeout(function () {
                            $(ui.tooltip).hide('explode');
                        }, 15000);
                    }
                });
                */
                //---------------------------------------------
                $( "#dialog-message" ).dialog({
                    modal: true,
                    autoOpen: false,
                    buttons: {
                        Ok: function() {
                            $("#msg").html("Please Select a Row");
                            $( this ).dialog( "close" );

                        }
                    }
                });
            });          
             
            function getMsg(id,message,lang,ext) {                               
                if ( isEmpty(id) ) {
                    id = "WEB_001";
                }            
                if ( isEmpty(lang) ) {
                    lang = "en-US";
                }            
                if ( isEmpty(message) ) {
                    message = "undefined message";
                }                            
                if ( isEmpty(ext) ) {
                    ext = "TEXT";
                }            
                var url = "/Msg/"+id+"/"+lang+"/"+message;              
                //log(url);                
                $.get({
                        url:url,
                        dataType: "text",
                        async:false,
                        success: function (data) {
                           //log("data ="+ data);
                           message = data;
                        }
                });                
                return message;    
            }
            function showMessage(message){
                //message = getMsg(id);                                   
                $("#msg").html(message);
                $( "#dialog-message" ).dialog('open');
                $("#dialog-message").dialog("option","title","Warning");
            }
            function showHelp(id,def){
                message = getMsg(id,def);                                   
                $("#msg").html(message);
                $( "#dialog-message" ).dialog('open');
                $("#dialog-message").dialog("option","title","Help");
            }
            $( "#dialog-message" ).dialog('close');
        </script>
        <noscript>
            <div class="awesome-fancy-styling">	<h1>This site requires JavaScript.</h1>  </div>
        </noscript> 
        
</head>

<body>
    <!--
    <div id="loading">
        <img id="loading-image" src="/images/page-loader.gif" alt="Loading..." />
    </div>
    <div class="se-pre-con"></div>
-->
    <div id="dialog-message" title="Message ">
        <p id="msg">
            <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
            
        </p>
    </div>
   
 
   
   