<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">   
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="cache-control" content="max-age=0">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">

        <meta http-equiv="Cache-Control" content=" private, no-cache">
        <meta http-equiv="Content-Disposition" content="inline;filename='files.json' ">
        <meta http-equiv="X-Content-Type-Options" content="nosniff">      
        
    	<meta name="robots" content="noindex, nofollow">
        <meta name="googlebot" content="noindex, nofollow">    
    
        <meta name="author" content="pkulek@nyehealth.org">
        <meta name="description" content="Patient Portal Support">

        <title><%= page_title %></title>

        

<style>
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
</style>
        <script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/jquery-ui-boostrap/css/custom-theme/jquery-ui-1.10.0.custom.css">
        <script src="/jquery-ui-boostrap/js/jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script>
   
        <link rel="stylesheet" type="text/css" media="screen" href="/themes/overcast/jquery-ui.min.css" />

        <!--        
        <link rel="stylesheet" type="text/css" media="screen" href="/jqgrid5/css/ui.jqgrid.css" />
        -->
        <link rel="stylesheet" type="text/css" media="screen" href="/themes/ui.jqgrid.min.css" />

    
        <script src="/jqgrid5/js/i18n/grid.locale-en.js" type="text/javascript"></script>
        <script src="/jqgrid5/js/jquery.jqGrid.min.js" type="text/javascript"></script>
        <script type="text/javascript">     
            var vwindows = []; // viewer windows create with window.open        
            function closeWindows(){
                for(var i = vwindows.length - 1; i >= 0; i--) {
                    vwindows[i].win.close();
                }
                vwindows = new Array();
            }
            function pushWindow(win){
                var now = new Date().getDate();
                var o = {"time":now,"win":win};
                vwindows.push(o);
            }
            var increment = (function () {
                var n = 0;
                return function () {
                    n += 1;
                    return n;
                }
            }());     
            if (!String.prototype.format) {
                String.prototype.format = function() {
                    var args = arguments;
                    return this.replace(/{(\d+)}/g, function(match, number) { 
                    return typeof args[number] != 'undefined'
                        ? args[number]
                        : match
                    ;
                    });
                };
            }
           
            function log(str) {
                $("#log").prepend(str + "<br />");
            }
            function clearlog() {
                $("#log").empty();
            }             
            function closelog() {
                $("#logwindow").hide();
            }             
            function openlog() {
                $("#logwindow").show();
            }
            function isEmpty(str) { // check if string is null or empty usually missing parameter
                     return typeof str == 'string' && !str.trim() || typeof str == 'undefined' || str === null;
            }
            function getURLParameter(name) {
                  return decodeURI( (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,''])[1] );
            }
            function verifytoken(tokenid,roles,callback ){
                var url = "/login/auth/"+tokenid+"/"+roles+"" ;
                //log("verifytoken ROLES="+roles);   
                //log("verifytoken url="+url);    
                $.ajax({ url: url, type: "GET", async:false , complete: function(result,status){
                //log("verifytoken RES="+JSON.stringify(result));                           
                        if ( callback) {
                            callback(result.responseJSON,result);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        if ( callback) {
                            callback( false,errorThrown);
                        }
                    }
                });
                return false;
            }
                    
            function openWindow(url,title) {
                /*
                if (window.innerWidth <= 640) {
                    // if width is smaller then 640px, create a temporary a elm that will open the link in new tab
                    var a = document.createElement('a');
                    a.setAttribute("href", url);
                    a.setAttribute("target", "_blank");
                    var dispatch = document.createEvent("HTMLEvents");
                    dispatch.initEvent("click", true, true);
                    a.dispatchEvent(dispatch);
                }  else {
                    var width = window.innerWidth * 0.66 ;
                    var height = width * window.innerHeight / window.innerWidth ;
                    //var win = window.open(url , title, 'location=false,'+'width=' + width + ', height=' + height + ', top=' + ((window.innerHeight - height) / 2) + ', left=' + ((window.innerWidth - width) / 2));
                    var win = window.open(url , title, "resizable=1,scrollbars=no,width=200,height=500");
                    pushWindow(win);
                    //setTimeout(function(){
                    //        win.close()
                    //}, 10*60*1000); // set timeout for window to close automatically = 10 mins
                }
                */
                    //var win = window.open(url , title, "resizable=1,scrollbars=no,width=300,height=500");
                    var win = window.open(url , title,"resizable=1,scrollbars=yes");
                    pushWindow(win); // add window to list to be closed when loged out
                return false;
            }
            function startTimeout(){            
                $(document).idleTimeout({
                    redirectUrl: '/',       // redirect to this url - set to false to disable
                    ebableDialog:false,
                    idleTimeLimit: 5*60,         // seconds 'No activity' time limit in seconds.
                    activityEvents: 'click keypress scroll wheel mousewheel',    // separate each event with a space
                    dialogDisplayLimit: 30,       // Time to display the warning dialog before logout (and optional callback) in seconds
                    sessionKeepAliveTimer: false,  // Set to false to disable pings.
                    customCallback:function(){
                        closeWindows();
                        //alert("bye");
                    }
                });
            }
            function allowAccess(role,roles){
                var sroles = new Set(roles);
                return (sroles.has('PP_ADMIN') || sroles.has('PP_ALL') || sroles.has(role));  
            }
            $( function() {
                //var socket = io.connect('http:localhost:4300');
                /*
                $( document ).tooltip({
                    items: "img, [help-id], [title], [data-geo]",
                    content: function(callback) {
                        var element = $( this );
                        if ( element.is( "[help-id]" ) ) {
                            var text = element.attr("help-id")
                            var values = text.split('~');
                            callback( "<pre><div>"+getMsg(values[0],values[1])+"</div></pre> " );
                        }
                        if ( element.is( "[data-geo]" ) ) {
                            var text = element.text();
                            callback( "<img class='map' alt='" + text +
                                "' src='http://maps.google.com/maps/api/staticmap?" +
                                "zoom=18&size=350x350&maptype=terrain&sensor=false&center=40 worth st, New York,New York'>");
                        }
                        },
                        track:false,
                        position: {
                            my: "left top",
                            collision: "none"
                        },
                        open: function (event, ui) {
                            setTimeout(function () {
                            $(ui.tooltip).hide('explode');
                        }, 15000);
                    }
                });
                */
                //---------------------------------------------
                $( "#dialog-message" ).dialog({
                    modal: true,
                    autoOpen: false,
                    buttons: {
                        Ok: function() {
                            $("#msg").html("Please Select a Row");
                            $( this ).dialog( "close" );

                        }
                    }
                });
            });          
             
            function getMsg(id,message,lang,ext) {                               
                if ( isEmpty(id) ) {
                    id = "WEB_001";
                }            
                if ( isEmpty(lang) ) {
                    lang = "en-US";
                }            
                if ( isEmpty(message) ) {
                    message = "undefined message";
                }                            
                if ( isEmpty(ext) ) {
                    ext = "TEXT";
                }            
                var url = "/Msg/"+id+"/"+lang+"/"+message;              
                //log(url);                
                $.get({
                        url:url,
                        dataType: "text",
                        async:false,
                        success: function (data) {
                           //log("data ="+ data);
                           message = data;
                        }
                });                
                return message;    
            }
            function showMessage(message){
                //message = getMsg(id);                                   
                $("#msg").html(message);
                $( "#dialog-message" ).dialog('open');
                $("#dialog-message").dialog("option","title","Information");
            }
            function showHelp(id,def){
                message = getMsg(id,def);                                   
                $("#msg").html(message);
                $( "#dialog-message" ).dialog('open');
                $("#dialog-message").dialog("option","title","Help");
            }
        </script>
        <noscript>
            <div class="awesome-fancy-styling">	<h1>This site requires JavaScript.</h1>  </div>
        </noscript> 
        
</head>

<body>
    <!--
    <div id="loading">
        <img id="loading-image" src="/images/page-loader.gif" alt="Loading..." />
    </div>
    <div class="se-pre-con"></div>

    <div id="dialog-message" title="Message">
        <p id="msg">
            <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
            Please Select a Row.44
        </p>
        
    </div>
 -->   
   
   
 
   
   