
<%- include layouts/header.ejs %>

    <script>
           function isEmpty(str) { // check if string is null or empty usually missing parameter
                     return typeof str == 'string' && !str.trim() || typeof str == 'undefined' || str === null;
            }
      
                
    </script>
<div id="HSDocView" style="border:2px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
    <%-data%>
</div>

<%- include layouts/footer.ejs %>


