
      
 
<div style="border:2px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     
      
    <script>
        var grid = ''; 
        var baseUrl = document.location.origin;   
        $( function() {
                var tokenid = '<%-tokenid%>';                
                var id = '<%-id%>';
                var inc = increment();
              
                var HSpager = document.getElementById("HSpager").id + inc;


                $('#'+'HSpager').attr( 'id', HSpager );
                var HSgrid = document.getElementById("HSgrid").id + inc;
                $('#'+'HSgrid').attr( 'id', HSgrid );
                
                if (isEmpty(tokenid) ) {
                    tokenid = getURLParameter('tokenid') ;
                }                 
                                                              
                grid = $("#"+HSgrid);
 
                var id = "100000012";
                var cols = {
                    url: '/HSdocuments',
                    altRows: false,
                    deepempty: true,
                    autowidth: true,
                    autoheight:true,
                    ignoreCase: true,
                    datatype: "json",
                    mtype: "GET",       
                    height:'auto',
                    width:'auto',
                    rownumbers:true,
                    colModel:[
                        {label:'Patient ID',name:'PatientID', width:85},
                        {label:'Name',name:'Name',index:'Name', width:125,hidden:false },
                        {label:'MRN',name:'MRN',index:'MRN', width:255,hidden:false },
                        {label:'AA',name:'AA',index:'AA', width:90,hidden:false },
                        {label:'Doc Id',name:'DocumentID',index:'DocumentID', width:260,hidden:true },
                        {label:'IID',name:'IID', width:125,hidden:true},
                        {label:'Source ID',name:'SourcePatientID', width:95,hidden:true},
                        {label:'Type',name:'MimeType',index:'MimeType',width:65 },
                        {label:'Submission Date',name:'SubmissionTime', width:105},   
                        {label:'Name',name:'PracticeSettingCode_DisplayName', width:120,hidden:false},   
                        {label:'Size',name:'Size', width:55,hidden:false,search:false},   
                        {label:'Status',name:'Status', width:70,hidden:false, sortable:true},   
                        {label:'Doc ID',name:'DocumentID', width:360,hidden:false,search:true,searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']}},   
                        {label:'Format code',name:'FormatCode_IID', width:80,hidden:true},   
                        {label:'Doc Class',name:'ClassCode_DisplayName',width:200,hidden:true},               
                        {label:'Doc Format',name:'FormatCode_DisplayName',widt:70, hidden:true},   
                        {label:'Code Scheme',name:'FormatCode_CodingScheme', width:50,hidden:true},   
                        {label:'Doc uID',name:'DocumentUniqueIdentifier_IID', width:400,hidden:true},   
                        {label:'Repository ID',name:'RepositoryUniqueID', width:175,hidden:true,search:true},
                        {label:'',width:1,search:false}
                    ],
                    loadonce:true,
                    toppager:true,
                    rowNum: 25,
                    rowTotal:50000,
                    //rowList: [10, 20, 30],
                    viewrecords: true,
                    gridview: true,
                    autoencode: true,            
                    caption: "Document List",
                    grouping: false,
                    groupingView : {
                        groupField : ['PatientID'],
                        groupColumnShow : [true],
                        groupText : ['<b>group</b>'],
                        groupCollapse : true,
                        groupOrder: ['asc'],
                        groupSummary : [false],
                        groupDataSorted : false
                    },
                    ondblClickRow:function(rowid,iRow,iCol,e){
                        //log(e.type);
                        return false;
                    },
                    onSelectRow:function(rowid,status,e){
                        //log(e.type);
                        return false;
                    }
                };     

                var url = '/HSdocuments/'+tokenid+'/'+id; 
                //var url = '/HSdocuments/4444/100000012'; 
               
                grid.jqGrid(cols); 
                 
                myAddButton = function(options,roles) {
                   // log("RESPOSNE="+roles);
                    verifytoken(tokenid,roles,function(res){
                        if ( res) {
                                grid.jqGrid('navButtonAdd','#'+HSpager,options);
                                grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                        }
                    });
                };
                grid.jqGrid('navGrid', '#'+HSpager,{
                        cloneToTop:true,
                        edit:false,
                        add:false,
                        del:false,
                        search:true,
                        refresh:true,
                        refreshtext:'Refresh',
                        edittext:'Edit',
                        deltext:'Delete',
                        addtext:'Add',
                        reloadGridOptions: { fromServer: true },
                        beforeRefresh: function(){
                            //alert('In beforeRefresh');
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        }
                    },             
                    {
                        multipleSearch: true, overlay: false,
                        onClose: function (form) {
                            // if we close the search dialog during the datapicker are opened
                            // the datepicker will stay opened. To fix this we have to hide
                            // the div used by datepicker
                            $("div#ui-datepicker-div.ui-datepicker").hide();
                        }
                    }
                ) ;               
                // search in toolbar
                grid.jqGrid('filterToolbar',{autosearch:true,stringResult: true,searchOnEnter : false});
                grid[0].triggerToolbar();
                // add buttons to grid
                 // colum chooser
                 /*
                myAddButton ({
                    caption: "Columns",
                    title: "Reorder Columns",
                    onClickButton : function (){
                        grid.jqGrid('columnChooser');
                    }
                });
                */
                myAddButton ({
                    caption: "Show Raw CCD XML",
                    title: "Show CCD for Selected Document in XML format",
                    onClickButton : function (){                         
                        var $this = $(this) ;
                        var selRowId = $this.jqGrid ('getGridParam', 'selrow');
                        var name = $this.jqGrid ('getCell', selRowId, 'Name');
                        var rowData =  $this.jqGrid('getRowData',selRowId);
                        var DocId =  rowData['DocumentID'];  
                        if (! DocId) {
                            showMessage(getMsg("MSG_002","Please select a user with a valid Document ID , to Get document for") );
                        } else {
                           if ( confirm( getMsg("MSG_006","Are you sure you want to view dcocument for user:{0}" ).format(name) ) ) {
                                var url = baseUrl+"/HSdoc/"+tokenid+"/"+DocId+"/XML";
                                log(url);
                                openWindow(url,"Document for "+DocId);
                            }
                        }
                    }
                },'PP_RAWVIEW');
                myAddButton ({
                    caption: "Show Raw CCD HTML",
                    title: "Show CCD for Selected Document in HTML format",
                    onClickButton : function (){                         
                        var $this = $(this) ;
                        var selRowId = $this.jqGrid ('getGridParam', 'selrow');
                        var name = $this.jqGrid ('getCell', selRowId, 'Name');
                        var rowData =  $this.jqGrid('getRowData',selRowId);
                        var DocId =  rowData['DocumentID'];  
                        if (! DocId) {
                            showMessage(getMsg("MSG_002","Please select a user with a valid Document ID , to Get document for") );
                        } else {
                           if ( confirm( getMsg("MSG_006","Are you sure you want to view dcocument for user:{0}" ).format(name) ) ) {
                                var url = baseUrl+"/HSdoc/"+tokenid+"/"+DocId+"/HTML";
                                openWindow(url,"Document for "+DocId);
                            }
                        }
                    }
                },'PP_RAWVIEW');
                myAddButton ({
                    caption: "On Demand HTML",
                    title: "Show on demand Document in HTML format for User",
                    onClickButton : function (){
                        var $this = $(this) ;
                        var selRowId = $this.jqGrid ('getGridParam', 'selrow');
                        var username = $this.jqGrid ('getCell', selRowId, 'Name');
                        var rowData =  $this.jqGrid('getRowData',selRowId);
                        var DocId =  rowData['PatientID'];
                        var url = baseUrl+"/ODDoc/"+tokenid+'/'+DocId+"/HTML";
                        //log("ONDEMAND="+url)
                        if (! DocId) {
                            showMessage(getMsg("MSG_003","Please select a user with a valid Patient ID, to Get on Demand document for") );
                        } else {
                             if ( confirm( getMsg("MSG_007","This will take a while, Are you sure you want to download Ondemand document for user:{0}" ).format(username) ) ) {                                
                                openWindow(url,"HTML OnDemand document for "+DocId);                    
                            }    
                        }
                    }
                },'PP_ONDEMANDVIEW');                     
                myAddButton ({
                    caption: "On Demand XML",
                    title: "Show on demand Document in XML format for User",
                    onClickButton : function (){
                        var $this = $(this) ;
                        var selRowId = $this.jqGrid ('getGridParam', 'selrow');
                        var username = $this.jqGrid ('getCell', selRowId, 'Name');
                        var rowData =  $this.jqGrid('getRowData',selRowId);
                        var DocId =  rowData['PatientID'];
                        var url = baseUrl+"/ODDoc/"+tokenid+'/'+DocId+"/XML";
                        //log("ONDEMAND="+url)
                        if (! DocId) {
                            showMessage(getMsg("MSG_003","Please select a user with a valid Patient ID, to Get on Demand document for") );
                        } else {
                             if ( confirm( getMsg("MSG_007","This will take a while, Are you sure you want to download Ondemand document for user:{0}" ).format(username) ) ) {                                
                                openWindow(url,"XML OnDemand document for "+DocId);                    
                            }    
                        }
                    }
                },'PP_ONDEMANDVIEW');        
                myAddButton ({
                    caption: "Get Document from SPRL",
                    title: "Retrieve SPRL Document/s for User",
                    onClickButton : function (){
                        var $this = $(this) ;
                        var selRowId = $this.jqGrid ('getGridParam', 'selrow');
                        var mpi = $this.jqGrid ('getCell', selRowId, 'PatientID');
                        var rowData =  $this.jqGrid('getRowData',selRowId);
                        var username = $this.jqGrid ('getCell', selRowId, 'Name');
                        var DocId =  rowData['MRN'];s
                        if (! DocId) {
                            showMessage(getMsg("MSG_004","Please select a user with a valid MRN, to Get document for.") );
                        } else {
                            var url = baseUrl+"/SPRLDocument/"+tokenid+"/"+mpi
                            log(url);
                            if ( confirm( getMsg("MSG_008","This will take a while, Are you sure you want to download SPRL document for user:{0} - {1}" ).format(username,mpi) ) ) {
                                openWindow(url,"SPRL document for "+DocId);
                            }                        
                        }
                    }
                },'PP_SPRLVIEW');        
                startTimeout();
                $('.has-spinner').click(function () {
                    var btn = $(this);
                    $(btn).buttonLoader('start');
                    setTimeout(function () {
                        $(btn).buttonLoader('stop');
                    }, 3000);
                });
        });             
    </script>
 
    <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	                
        <table id="HSgrid"></table> 
        <div id="HSpager"></div>                        
    </div>    
  
</div>