    <style>
        fieldset { border: 0; margin-left: 1px; }
        label { display: block; margin: 1px 0 0 0; }
        select { width: 190px; } 
        input {  width: 190px; }
        #dialog label, #dialog input { display:block; color:009900}
        #dialog label { margin-top: 0.5em; }
        #dialog input, #dialog textarea { width: 195%; }
        #headerlogo {vertical-align:bottom}
        .newuserlabel {  width:75px; display: inline-flex;  color:black; }  
        .newuserlabelmust {  width:75px; display: inline-flex;  color:blue; }  
        .selectlabel { width:90px; display: inline-flex;  color:22ff55;  background:#F8F8FF; }         
        .toolbar {
             font-size: .75em;
             position:relative; 
        }  
        #select-button {
            width: 45px;
        }             
        .block_button {
            position:absolute;   
            float: right;
            padding-right: 1px;
            padding-bottom:1px;
            padding-left: 1px;  
            bottom:1px;          
            right:1px;          
        }        
        .ui-jqgrid .subgrid-data .ui-th-column { 
            background: orange 
        }
        ui-jqdialog .CaptionTD { 
            font-size: 14px; 
        }
        .ui-jqdialog { 
            font-size: 12px; 
        }
        .ui-jqgrid  .ui-search-toolbar .ui-search-table {
           font-size: 8px;
        }
        .ui-jqgrid .ui-search-toolbar input, .ui-jqgrid .ui-search-toolbar select {
            font-size: 8px;
        }
    </style>
    <script>
        var grid;
        var subgrid = "";
        var highlightlist = [];       
        var theme = '<%-theme%>'
        var userid = '<%-userid%>'
        var removehrow = () =>{       
            highlightlist.forEach( function(o,i) {
                $( o.hrow).find("td").css("background-color", o.bgc);  
            })     
            highlightlist = [];
        }
        var viewwindows = []; // viewer windows create with window.open     
        function closeSubWindows(){
            viewwindows.forEach((o, index) => { 
                o.win.close()
            });
            viewwindows = new Array();
        }
        function addWindow(win){
            viewwindows.push({"time":new Date().getDate(),"win":win});
        }         
        var myAddButton = function(grid,options) {
            grid.jqGrid('navButtonAdd','#issuespager',options);
            grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
        };  
        $( function() {
            var lastsel;
            var tokenid =  '<%-tokenid%>'

            $(window).bind("beforeunload", function() { 
                closeSubWindows();
            })
            var pickupdata = function( element, val ) {
                var Dialog = $('<div id="dialog" style="display:hidden" title="Select client id"><table id="popupclientslist"></table></div>').appendTo('body');
                Dialog.dialog({
                    width: 'auto',
                    modal:true,
                    position: { my: "right top", at: "right bottom", of: $(element) },
                    open: function(ev, ui){
                        $(".ui-dialog").css('font-size','0.6em');
                        pickupgrid( element, val );
                    },
                    close: function(e,ui) {
                        Dialog.remove();
                    }
                });
                Dialog.dialog('widget').css('font-size','10x');
            }
            var pickupgrid = function( element,val ) {
                $("#popupclientslist").jqGrid({
                    //url:'/lookup/clients',
                    url:'adminusers/list', 
                    loadonce: true,
                    datatype: "json",
                    colModel : [
                        { 
                            label:'userid',name : "userid", width:110, search:true
                        },
                        { 
                            label:'First Name',name : "fname", width:190, search:true
                        },
                        { 
                            label:'Last Name',name : "lname", width:190, search:true
                        },
                        { 
                            label:'email',name : "email", width:250, search:true
                        },
                        { 
                            label:'',name : "dummy", width:1, search:false
                        },
                    ],
                    onSelectRow : function (id, stat, e) {                        
                        var user_id = $(this).jqGrid('getCell', id, 0);
                        $('#userid').val(user_id);
                        $("#dialog").remove();
                        $(element).focus();
                    },
                    
                    // focus search field
                    gridCompare:function(data,response){
                        $("#gs_client_id").focus();
                    }
                });
                $('#popupclientslist').jqGrid('filterToolbar',{searchOnEnter:false});
                $('#popupclientslist').hideCol('dummy')
            }                
            var editSettings = {
                //recreateForm: true,
                jqModal: true,
                width:700,
                caption:"Edit issue",
                reloadAfterSubmit: false,
                closeOnEscape: true,
                refresh:true ,
                savekey: [true, 13],
                closeAfterEdit: true,
                afterSubmit: function () {
                    //return [true,'',false]; // no error and no new rowid
                    //$(this).jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                    //grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                    grid.jqGrid('setGridParam', {datatype:'json'});
                    return [true];
                }
                //onclickSubmit: onclickSubmitLocal
            }                    
            var addSettings = {
                recreateForm: true,
                jqModal: true,
                width:700,
                reloadAfterSubmit: true,
                savekey: [true, 13],
                closeOnEscape: true,
                closeAfterAdd: true,
                onclickSubmit: function (options, rowid) { // rowid = new data on add
                    //log("options="+JSON.stringify(options));
                    //log("rowid="+JSON.stringify(rowid));
                    var $this = $(this);
                    var grid_id = $.jgrid.jqID(this.id);
                    var grid_p = this.p;
                    var newPage = grid_p.page;
                    options.processing = true;
                    $.ajax({ 
                        url: '/issues/update',
                        type: 'POST',
                        cache: false, 
                        data: rowid, 
                        success: function(data){
                            //log(data);
                            //alert('Success!')
                            }
                        , error: function(jqXHR, textStatus, err){
                            alert('text status '+textStatus+', err '+err);
                        }
                    });   
                    return true;
                }
            }                            
            //=======================================
            grid = $("#issueslist");                                
            //======================================================
            var postTaskData = function() {
                var data = {};
                data.issueid = $('#task-issueid').valueOf().val();
                data.id = $('#task-id').valueOf().val();
                data.userid = $('#task-userid').valueOf().val();
                data.status = $('#task-status').valueOf().val();
                data.ext = $('#task-ext').valueOf().val();
                data.parent = $('#task-parent').valueOf().val();
                data.type = "TASK"
                var url = "/tasks/update";                
                log(JSON.stringify(data))
                $.ajax({
                    url :url,
                    type: "POST",
                    data : data,
                    dataType: "json",
                    crossDomain: true,
                    success: function(data, textStatus, jqXHR) {
                            subgrid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                            $( "#dialog-task" ).dialog('close');                       
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                            subgrid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                            $( "#dialog-task" ).dialog('close');                       
                        //alert("Post error: "+textStatus);
                    }
                });                        
            }     
            var postIssueData = function() {
                var sche_type = $('#sche_type').valueOf().val();
                var status = $('#status').valueOf().val();
                var user_id = $('#combobox').valueOf().val();
                var url = "/tasks/update";
                var data = {sche_type,status,user_id}
                //log(JSON.stringify(data))
                $.ajax({
                    url :url,
                    type: "POST",
                    data : data,
                    dataType: "json",
                    crossDomain: true,
                    success: function(data, textStatus, jqXHR) {
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                            $( "#dialog-issue" ).dialog('close');                       
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                            $( "#dialog-issue" ).dialog('close');                       
                        //alert("Post error: "+textStatus);
                    }
                });                        
            }     
            var dialogissue = $( "#dialog-issue" ).dialog({
                autoOpen: false,
                height: 390,
                width: 350,
                modal: true,
                show: {
                    effect: "blind",
                    duration: 500
                },
                hide: {
                    effect: "explode",
                    duration: 500
                },                    
                buttons: {
                    "Submit": postIssueData,
                    Cancel: function() {
                            $( "#dialog-issue" ).dialog( "close" );
                    }
                },
                open: function(){
                        var rids = grid.jqGrid('getDataIDs'); // should be at least one - added when creating new issue
                        var Data =  grid.jqGrid('getRowData',rids[0]);
                        log("grid="+JSON.stringify(subData));
                        //
                        $('#issue-userid').val(Data.userid );
                        //$('#userid').val(userid );
                        $('#issue-parent').val( Data.parent) ;
                        $('#issue-ext').val( Data.ext) ;
                        $('#issue-status').val( Data["cargo.status"]) ;
                        $('#issue-notes').val( "Details:") ;
                        // populate select TASKS
                        $.ajax({
                            url:  `/tasks/select?id=USERID`,
                            success: function( returnedData ) {
                            //log(returnedData)
                                $('#task-userid').empty().append(returnedData);
                            }
                        });
                        $.ajax({
                            url: `/tasks/select?id=ISSUES`,
                            success: function( returnedData ) {
                            //log(returnedData)
                                $('#task-issue').empty().append(returnedData);
                            }
                        });
                },              
                close: function() {
                    //allFields.removeClass( "ui-state-error" );
                    $( "#dialog-issue" ).dialog('close');
                }
            });          
              
            var dialogtask = $( "#dialog-task" ).dialog({
                autoOpen: false,
                height: 410,
                width: 390,
                modal: true,
                buttons: {
                    "Submit": postTaskData,
                    Cancel: function() {
                            $( "#dialog-task" ).dialog( "close" );
                    }
                },
                open: function(){
                        var rids = subgrid.jqGrid('getDataIDs'); // should be at least one - added when creating new issue
                        var subData =  subgrid.jqGrid('getRowData',rids[0]);
                        log("subgrid="+JSON.stringify(subData));
                        //
                        $('#task-id').val(subData.id );
                        $('#task-issueid').val(subData.issueid );
                        $('#task-userid').val(userid );
                        $('#task-parent').val( subData.parent) ;
                        $('#task-ext').val( subData.ext) ;
                        $('#task-status').val( subData["cargo.status"]) ;
                        $('#task-notes').val( "Details:") ;
                        //$('#task-notes').val( subData.notes) ;
                        // populate select TASKS
                        $.ajax({
                            url:  `/tasks/select?id=USERID`,
                            success: function( returnedData ) {
                                log(returnedData)
                                $('#task-userid').empty().append(returnedData);
                            }
                        });
                        $.ajax({
                            url: `/tasks/select?id=ISSUES`,
                            success: function( returnedData ) {
                                log(returnedData)
                                $('#task-issue').empty().append(returnedData);
                            }
                        });
                },              
                close: function() {
                    //allFields.removeClass( "ui-state-error" );
                    $( "#dialog-task" ).dialog('close');
                }
            });                      
            var url = `/issues/list`;
            var cols = { 
                url:url,
                editurl:'/issues/update',
                altRows: false, 
                deepempty: true,
                autowidth: false,
                ignoreCase: true,
                multiselect:false,
                multiboxonly:false,
                datatype: "json",
                mtype: "GET",       
                height:'auto',
                width:'auto',
                scrollOffset:0,
                colModel:[
                    {label:'Logged Date',name:'lastupdate', editable:false  ,width:140 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                    {label:'id',name:'id', editable:true, editoptions:{readonly:true},width:80 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                    {label:'issue',name:'type', editable:true, editoptions:{readonly:true},width:80 , search:true,
                         editoptions:{value:`ISSUE:ISSUE;OPENED:OPENED;TASK:TASK;ASSIGNED:ASSIGNED;IN_PROGRESS:IN_PROGRESS;COMPLETED:COMPLETED;REJECTED:REJECTED`
                    }},
                    {label:'QE',name:'qe', width:120,editable:true,edittype:"select", search:true,
                        editoptions:{value:`NYeC:NYeC;eHNLI:eHNLI;HealtheConnections:HealtheConnections;HEALTHeLINK:HEALTHeLINK;BRONX:Bronx;HIXNY:HIXNY;INTERBORO:INTERBORO;HealthLinkNY:HealthLinkNY;Healthix:Healthix;RRHIO:Rochester`
                    }},
                    {label:'Product/Application',name:'parent', width:120,editable:true,edittype:"select", search:true,
                        editoptions:{value:`PP_PORTAL:Patient Portal;PP_ADMIN:Patient Portal Admin Portal;HBM:Hartbeat Monitor;SPRL:SPRL State Wide patient Lookup`
                    }},
                    {label:'Issue',name:'issueid', width:160,editable:true,edittype:"select", search:true,
                        editoptions:{value:`ISSUE_UNKNOWN:Unknown;LOGIN_FORGOTPASSWORD:"Cannot log in - forgot password";CONNECT_ERROR:"Can Not Connect";DOCUMENT_NOTRETRIEVING:"Can Not Get Document";DOCUMENT_INCORRECT:Document Data Incorrect`
                    }},
                    {label:'Priority',name:"cargo.priority", editable:true,width:60,edittype:"select", 
                        editoptions:{value:`SEV1:SEV1;SEV2:SEV2;SEV3:SEV3;URGENT:URGENT;HIGH:HIGH;MEDIUM:MEDIUM;LOW:LOW`
                    }},
                    {label:'Environment',name:'ext', width:120,editable:true,edittype:"select", search:true,
                        editoptions:{value:`ENV_PROD:Production;DEV_STAGE:Staging;ENV_DEV:Development`
                    }},
                    {label:'Status',name:"cargo.status", editable:false,width:80,edittype:"select", 
                        editoptions:{value:`OPENED:OPENED;ASSIGNED:ASSIGNED;IN_PROGRESS:IN_PROGRESS;WAITING_CONFIMATION:WAITING_CONFIRMATION;COMPLETED:COMPLETED;REJECTED:REJECTED`
                    }},                    
                    {label:'Problem Description',name:'notes', width:300, sortable:false,editable: true,edittype:"textarea", 
                        editoptions:{rows:1,cols:50
                    }},	                    
                   {label:'Logged by Userid',name:'userid', sortable:true ,width:120, editable:true, 
                        editoptions: { 
                            readonly:false ,
                            dataInit: function (element) {
                                $(element).css({"width":"75%","float":"left"}).after("<a href='#' style='float:left;margin-left:2px;' class='picker'>Sel</a>");
                                $(".picker").click(function(){
                                    var val = $(element).val();
                                    pickupdata( element, val );
                                });
                            },
                            dataEvents:[
                                {type: 'click',
                                    fn: function(e){
                                        var element = e.target;
                                        var val = $(element).val();
                                        pickupdata(element,val);
                                    }
                                },
                                {type: 'keydown',
                                    fn: function(e){
                                        e.preventDefault();
                                        var element = e.target;
                                        var val = $(element).val();
                                        pickupdata(element,val);
                                    }
                                }
                            ]
                        }         
                    },                    
                    {label:'dummy',name:'dummy', editable:false  ,width:80 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                ],
                onSelectRow: function(id){
                    //log("onSelectRow id="+id+" lastid="+lastsel);
	            	if(id && id!==lastsel){
			            jQuery('#rowed3').jqGrid('restoreRow',lastsel);
			            jQuery('#rowed3').jqGrid('editRow',id,true);
            			lastsel=id;
		            }
	            },
                ondblClickRow: function (rowid, iRow,iCol) {
                    var type = grid.jqGrid ('getCell', rowid, 'type');
                    var id = grid.jqGrid ('getCell', rowid, 'id');
                    //log("ondblClickRow id="+id+" lastid="+lastsel);
	            	//if(id && id !== lastsel){
			            grid.jqGrid('restoreRow',lastsel);
			            grid.jqGrid('editRow',id,true);
            			lastsel=id;
		            //}
                    //grid.jqGrid('editRow',id);
	                this.disabled = 'true';
                },
                loadonce:true,
                //pager: "#issuespager", // bottom pager
                //pagerpos:"right",
                toppager:true, // top pager
                rowNum: 125,
                rowTotal:50000,                
                rowList: [],        // disable page size dropdown
                pgbuttons: true,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                autoencode: false, // true displays html in cell instead of button
                gridview: true,
                sortable:true, // true = move columns          
                caption:"",
                loadError:function(xhr,st,err) {
                	grid.jqGrid("displayErrorMessage","There is a problem retrieving data from the server, it could be down, please contact system admin");
                },
                loadComplete: function(){
                    //readCerts();      
                },                
                subGrid: true,
                caption: "Tasks ",
                subGridBeforeExpand: function (subgridDivId, rowid) {
                    removehrow()        
                    var hrow = "#"+rowid ;
                    var bgc = $(".ui-widget-content").css("background-color");
                    $(hrow).find("td").css("background-color", "#99bb99");
                    var o = {hrow,bgc}
                    highlightlist.push(o)
                    toggleSubgrid()
                    return true;
                },
                subGridRowColapsed: function(subgrid_id, row_id) {
                    //grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');         
                    //log(subgrid_id)
                    // this function is called before removing the data
                    var subgrid_table_id = subgrid_id+"_t";
                    jQuery("#"+subgrid_table_id).remove();                    
                    removehrow()        
                },               
                subGridRowExpanded: function(subgrid_id, row_id) {
                    var subgrid_table_id = subgrid_id+"_t";
                    var pager_id = "p_"+subgrid_table_id;  
                    $("#"+subgrid_id).html("<table id='"+subgrid_table_id+"' class='scroll'></table><div id='"+pager_id+"' class='scroll'></div>");                    
                    var sub_grid = $("#subgrid_table_id"); 
                    var type = grid.jqGrid('getCell', row_id, 'type');
                    var id = grid.jqGrid ('getCell', row_id, 'id');                    
                    var url = `/issues/list?type=TASK&parent=${id}` ;
                    jQuery("#"+subgrid_table_id).jqGrid({
                        url:url,
                        editurl:'/tasks/update',
                        datatype: "json",
                        colModel: [
                            {label:'Status',name:"cargo.status", editable:true,editoptions:{readonly:false},width:100,edittype:"select", 
                                editoptions: { 
                                    dataInit: function( elem )  {
                                        $.ajax({
                                            url:  `/tasks/select?id=USERID?option=true`,
                                            success: function( returnedData ) {
                                                log(returnedData)
                                                $(elem).empty().append(returnedData);
                                            }
                                        });
                                    } 
                                } 
                                //editoptions:{value:`OPENED:OPENED;ASSIGNED:ASSIGNED;IN_PROGRESS:IN_PROGRESS;WAITING_CONFIMATION:WAITING_CONFIRMATION;COMPLETED:COMPLETED;REJECTED:REJECTED`}
                            },
                            {label:'id',name:'id', editable:true, editoptions:{readonly:true},width:80 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                            {label:'Assigned to',name:'userid', sortable:true ,width:80, editable:true, 
                                editoptions: { 
                                    readonly:false ,
                                    dataInit: function (element) {
                                        $(element).css({"width":"75%","float":"left"}).after("<a href='#' style='float:left;margin-left:2px;' class='picker'>Sel</a>");
                                        $(".picker").click(function(){
                                            var val = $(element).val();
                                            pickupdata( element, val );
                                        });
                                    },
                                    dataEvents:[
                                        {type: 'click',
                                            fn: function(e){
                                                var element = e.target;
                                                var val = $(element).val();
                                                pickupdata(element,val);
                                            }
                                        },
                                        {type: 'keydown',
                                            fn: function(e){
                                                e.preventDefault();
                                                var element = e.target;
                                                var val = $(element).val();
                                                pickupdata(element,val);
                                            }
                                        }
                                    ]
                                }         
                            },                    
                            {label:'Assigned Date',name:'lastupdate', editable:false  ,width:140 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                            {label:'issue',name:'type', editable:true, editoptions:{readonly:true},width:80 , search:true,
                                editoptions:{value:`ISSUE:ISSUE;OPENED:OPENED;TASK:TASK;ASSIGNED:ASSIGNED;IN_PROGRESS:IN_PROGRESS;COMPLETED:COMPLETED;REJECTED:REJECTED`
                            }},
                            {label:'issue id',name:'parent', width:120,editable:true,edittype:"select", search:true,
                                editoptions:{value:`PP_PORTAL:Patient Portal;PP_ADMIN:Patient Portal Admin Portal;HBM:Hartbeat Monitor;SPRL:SPRL State Wide patient Lookup`
                            }},
                            {label:'issue type',name:'issueid', width:120,editable:true,edittype:"select", search:true,
                                editoptions:{value:`ISSUE_UNKNOWN:Unknown;LOGIN_FORGOTPASSWORD:"Cannot log in - forgot password";CONNECT_ERROR:"Can Not Connect";DOCUMENT_NOTRETRIEVING:"Can Not Get Document";DOCUMENT_INCORRECT:Document Data Incorrect`
                            }},
                            {label:'Event Details',name:'notes', width:300, sortable:false,editable: true,edittype:"textarea", editoptions:{rows:1,cols:50}},	                    
                            {label:'dummy',name:'dummy', editable:false  ,width:80 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                        ],
                        jsonReader: { repeatitems:false, root:"cargo" },
                        loadonce:true,
                        rowNum:20,
                        //pager: pager_id,
                        pagerpos:"right",
                        toppager:true, // top pager
                        viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                        autoencode: false, // true displays html in cell instead of button
                        gridview: true,
                        sortable:true, // true = move columns                                  
                        height: '100%'
                    });
                    subgrid = $("#"+subgrid_table_id);
                    subgrid.jqGrid('navGrid', '#'+pager_id,
                        {
                            cloneToTop:true,
                            edit:true,
                            add:true,
                            del:false,
                            search:false,
                            refresh:true,
                            reloadGridOptions: { fromServer: true },
                            beforeRefresh: function(){
                                subgrid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                            }    
                        },
                        editSettings, 
                        addSettings                         
                    ) ;        

                    subgrid.jqGrid('navGrid',"#"+pager_id,{edit:true,add:true,del:false})
                    // edit inline
                    subgrid.jqGrid('inlineNav',"#"+pager_id);
                    subgrid.hideCol('id')
                    //subgrid.hideCol('issueid')
                    //subgrid.hideCol('parent')
                    subgrid.hideCol('type')
                    subgrid.hideCol('dummy')
                    //subgrid.hideCol("cargo.status")
                    myAddButton(subgrid,{
                        caption: "Assign event",
                        title: "Create New Event for Issue",
                        onClickButton : function (){
                            /*
                            var rids = subgrid.jqGrid('getDataIDs');
                            var row_id = rids[0]; //bec the row array starts from zero.
                            var subgData =  subgrid.jqGrid('getRowData',row_id);
                            //log("subgrid="+JSON.stringify(subgData));
                            var selRowId = grid.jqGrid ('getGridParam', 'selrow');
                            var userid = grid.jqGrid ('getCell', selRowId, 'userid');
                            var rowData =  grid.jqGrid('getRowData',selRowId);
                            var jsondata = JSON.stringify(rowData[0]);
                            */
                            dialogtask.dialog( "open" );
                        }
                    });                    
                }                
                 
            };
            grid.jqGrid(cols);   
            grid.jqGrid('navGrid', '#issuespager',
                {
                    cloneToTop:true,
                    edit:true,
                    add:true,
                    del:false,
                    search:false,
                    refresh:true,
                    reloadGridOptions: { fromServer: true },
                    beforeRefresh: function(){
                        grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                    }    
                },
                editSettings, 
                addSettings                         
            ) ;
            // hide columns
            //grid.hideCol('id')
            grid.hideCol('type')
            //grid.hideCol('parent')
            //grid.hideCol('date')
            //grid.hideCol('cargo.status')
            grid.hideCol('dummy')
            // search in toolbar
            grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
            // edit inline
            grid.jqGrid('inlineNav',"#issuespager");
            function toggleSubgrid(){
                if($('#issueslist td').hasClass('sgexpanded')){
                    $('.ui-icon-minus').trigger('click');
                }
            }                        
            myAddButton(grid,{
                caption: "Toggle filter",
                title: "Toggle Search Filter",
                onClickButton : function (){
                        $('.ui-jqgrid-hdiv').toggle();
                }
            });
            myAddButton(grid,{
                caption: "Create New Issue",
                title: "Create New Issue",
                onClickButton : function (){
                         //var $this = $(this) ;
                         //var selRowId = $this.jqGrid ('getGridParam', 'selrow');
                         //var userid = $this.jqGrid ('getCell', selRowId, 'userid');
                         //var rowData =  $this.jqGrid('getRowData',selRowId);
                         //var jsondata = ""+JSON.stringify(rowData)+"";
                         //var Id =  rowData['id'];
                         //grid.jqGrid("editGridRow", "new", {recreateForm: true, closeAfterAdd: true,width:460});
                         dialogissue.dialog( "open" );
                }
            });
            setTheme(theme);    

        })                           
    </script>
    <table id="issueslist"></table> 
    <div id="issuespager"></div>                
           
    <div id="dialog-issue" title='New Issue' class="ui-layout-center" style="display:none">      
        <form id="form-issue" method="POST" action=/issues/update >
            <fieldset>
                <div id="new-issue"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " > 
                    <label class='newuserlabel' for="task">Task</label>                    
                  
                </div>
            </fieldset>
        </form>
    </div>
               
    <div id="dialog-task" title='Task Request' class="ui-layout-center" style="display:none">      
        <form id="form-task" method="POST" action=/tasks/update >
            <fieldset>
                <div id="new-task"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " >
                    <!-- 
                    <label class='newuserlabel' for="selecttask">Assign to:</label>                    
                    <input type="text" name="task-userid" id="task-userid" value="" class="text ui-widget-content ui-corner-all">
                    <br>
                    <label class='newuserlabel' for="selecttask">ID</label>                    
                    <input type="text" name="task-parent" id="task-parent" value="" class="text ui-widget-content ui-corner-all">
                    <br>
                    -->
                    <label class='newuserlabel' for="selecttask">Task</label>                    
                    <div id="task-issue"> </div>
                    <br>
                    <label class='newuserlabel' for="task-userid">Assign task to:</label>
                    <div id="task-userid">
                    <select>
                        <option type="PDF" id="HELP-SPRL-WORKFLOW">SPRL Work flows</option>
                        <option type="HTM" id="HELP-LOGIN2">Admin Users help</option>
                        <option type="HTM" id="HELP-LOGIN1">General help</option>
                    </select>
                    <br>
                    <label class='newuserlabel' for="task-notes">Description:</label>
                    <div>
                        <textarea name="task-notes" id="task-notes" class="text ui-widget-content ui-corner-all" rows="5" cols="45">
                        </textarea>
                    </div>
                    <br>
                    <input type="hidden" id="task-id" name="task-id" hidden="true" />
                    <input type="hidden" id="task-issueid" name="task-issueid" hidden="true" />
                    <input type="hidden" id="task-status" name="task-status" hidden="true" />
                    <!--
                    <input type="hidden" id="task-userid" name="task-userid" hidden="true" />
                    <input type="hidden" id="task-parent" name="task-parent" hidden="true" />
                    -->
                    <input type="hidden" id="task-ext" name="task-ext" hidden="true" />
                </div>
            </fieldset>
        </form>
    </div>            

