    <script>
        var grid;
        theme = '<%-theme%>'
        if (isEmpty(theme)){
            theme='overcast'
        }
        var viewwindows = []; // viewer windows create with window.open     
        function closeSubWindows(){
            viewwindows.forEach((o, index) => { 
                o.win.close()
            });
            viewwindows = new Array();
        }
        function addWindow(win){
            viewwindows.push({"time":new Date().getDate(),"win":win});
        }         
        var myAddButton = function(options) {
            grid.jqGrid('navButtonAdd','#issuespager',options);
            grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
        };  

        $( function() {
            var lastsel;
            var tokenid = 0;
            var qe = '<%-qe%>' ;
            if (isEmpty(qe)) {
                qe = "";
            };
            $(window).bind("beforeunload", function() { 
                closeSubWindows();
            })
            var pickupdata = function( element, val ) {
                var Dialog = $('<div id="dialog" style="display:hidden" title="Select client id"><table id="popupclientslist"></table></div>').appendTo('body');
                Dialog.dialog({
                    width: 'auto',
                    modal:true,
                    position: { my: "right top", at: "right bottom", of: $(element) },
                    open: function(ev, ui){
                        $(".ui-dialog").css('font-size','0.6em');
                        pickupgrid( element, val );
                    },
                    close: function(e,ui) {
                        Dialog.remove();
                    }
                });
                Dialog.dialog('widget').css('font-size','10x');
            }
            var pickupgrid = function( element,val ) {
                $("#popupclientslist").jqGrid({
                    url:'/lookup/clients',
                    loadonce: true,
                    datatype: "json",
                    colNames:['ID','url',''],
                    colModel : [
                        { 
                            name : "client_id", width:110
                        },
                        { 
                            name : "client_url", width:190
                        },
                        { 
                            name : "client_OID", width:190
                        },
                    ],
                    onSelectRow : function (id, stat, e) {                        
                        var cd = $(this).jqGrid('getCell', id, 0);
                        var url = $(this).jqGrid('getCell', id, 1);
                        var oid = $(this).jqGrid('getCell', id, 2);
                        $('#client_url').val(url);
                        $('#client_OID').val(oid);
                        $(element).val( cd );
                        $("#dialog").remove();
                        $(element).focus();
                    },
                    // focus search field
                    gridComplete:function(data,response){
                        $("#gs_client_id").focus();
                    }
                });
                $('#userclientslist2').jqGrid('filterToolbar',{searchOnEnter:false});
            }                
            var editSettings = {
                //recreateForm: true,
                jqModal: true,
                width:700,
                caption:"Edit issue",
                reloadAfterSubmit: false,
                closeOnEscape: true,
                refresh:true ,
                savekey: [true, 13],
                closeAfterEdit: true,
                afterSubmit: function () {
                    //return [true,'',false]; // no error and no new rowid
                    //$(this).jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                    //grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                    grid.jqGrid('setGridParam', {datatype:'json'});
                    return [true];
                }
                //onclickSubmit: onclickSubmitLocal
            }                    
            var addSettings = {
                recreateForm: true,
                jqModal: true,
                width:700,
                reloadAfterSubmit: true,
                savekey: [true, 13],
                closeOnEscape: true,
                closeAfterAdd: true,
                onclickSubmit: function (options, rowid) { // rowid = new data on add
                    log("options="+JSON.stringify(options));
                    log("rowid="+JSON.stringify(rowid));
                    var $this = $(this);
                    var grid_id = $.jgrid.jqID(this.id);
                    var grid_p = this.p;
                    var newPage = grid_p.page;
                    options.processing = true;
                    $.ajax({ 
                        url: '/issues/update',
                        type: 'POST',
                        cache: false, 
                        data: rowid, 
                        success: function(data){
                            log(data);
                            //alert('Success!')
                            }
                        , error: function(jqXHR, textStatus, err){
                            alert('text status '+textStatus+', err '+err);
                        }
                        });   
                        return true;
                }
            }                            
            //=======================================
            grid = $("#issueslist");                                
            //======================================================
            var url = `/issues/list?qe=${qe}`
            var cols = { 
                url:url,
                editurl:'/issues/update',
                altRows: false, 
                deepempty: true,
                autowidth: false,
                ignoreCase: true,
                multiselect:false,
                multiboxonly:false,
                datatype: "json",
                mtype: "GET",       
                height:'auto',
                width:'auto',
                scrollOffset:0,
                colModel:[
                    {label:'id',name:'id', editable:true, editoptions:{readonly:true},width:80 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                    {label:'issue',name:'type', editable:true, editoptions:{readonly:true},width:80 , search:true,
                         editoptions:{value:`ISSUE:ISSUE;OPENED:OPENED;TASK:TASK;ASSIGNED:ASSIGNED;IN_PROGRESS:IN_PROGRESS;COMPLETED:COMPLETED;REJECTED:REJECTED`
                    }},
                    {label:'QE',name:'qe', width:120,editable:true,edittype:"select", search:true,
                        editoptions:{value:` : ;eHNLI:eHNLI;HealtheConnections:HealtheConnections;HEALTHeLINK:HEALTHeLINK;BRONX:Bronx;HIXNY:HIXNY;INTERBORO:INTERBORO;HealthLinkNY:HealthLinkNY;Healthix:Healthix;RRHIO:Rochester`
                    }},
                    {label:'issue type',name:'issueid', width:120,editable:true,edittype:"select", search:true,
                        editoptions:{value:`ISSUE_UNKNOWN:Unknown;LOGIN_FORGOTPASSWORD:"Cannot log in - forgot password";CONNECT_ERROR:"Can Not Connect";DOCUMENT_NOTRETRIEVING:"Can Not Get Document";DOCUMENT_INCORRECT:Document Data Incorrect`
                    }},
                    {label:'application',name:'parent', width:120,editable:true,edittype:"select", search:true,
                        editoptions:{value:`PP_PORTAL:Patient Portal;PP_ADMIN:Patient Portal Admin Portal;HBM:Hartbeat Monitor;SPRL:SPRL State Wide patient Lookup`
                    }},
                    {label:'Environment',name:'ext', width:120,editable:true,edittype:"select", search:true,
                        editoptions:{value:`ENV_PROD:Production;DEV_STAGE:Staging;ENV_DEV:Development`
                    }},
                    {label:'userid',name:'userid', sortable:true ,width:80, editable:true, 
                        editoptions: { 
                            readonly:false ,
                            dataInit: function (element) {
                                $(element).css({"width":"75%","float":"left"}).after("<a href='#' style='float:left;margin-left:2px;' class='picker'>Sel</a>");
                                $(".picker").click(function(){
                                    var val = $(element).val();
                                    pickupdata( element, val );
                                });
                            },
                            dataEvents:[
                                {type: 'click',
                                    fn: function(e){
                                        var element = e.target;
                                        var val = $(element).val();
                                        pickupdata(element,val);
                                    }
                                },
                                {type: 'keydown',
                                    fn: function(e){
                                        e.preventDefault();
                                        var element = e.target;
                                        var val = $(element).val();
                                        pickupdata(element,val);
                                    }
                                }
                            ]
                        }         
                    },                    
                    {label:'Problem Description',name:'notes', width:300, sortable:false,editable: true,edittype:"textarea", editoptions:{rows:1,cols:50}},	                    
                    {label:'date',name:'lastupdate', editable:false  ,width:140 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                    {label:'dummy',name:'dummy', editable:false  ,width:80 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                ],
                onSelectRow: function(id){
                    log("onSelectRow id="+id+" lastid="+lastsel);
	            	if(id && id!==lastsel){
			            jQuery('#rowed3').jqGrid('restoreRow',lastsel);
			            jQuery('#rowed3').jqGrid('editRow',id,true);
            			lastsel=id;
		            }
	            },
                ondblClickRow: function (rowid, iRow,iCol) {
                    var type = grid.jqGrid ('getCell', rowid, 'type');
                    var id = grid.jqGrid ('getCell', rowid, 'id');
                    log("ondblClickRow id="+id+" lastid="+lastsel);
	            	//if(id && id !== lastsel){
			            grid.jqGrid('restoreRow',lastsel);
			            grid.jqGrid('editRow',id,true);
            			lastsel=id;
		            //}
                    //grid.jqGrid('editRow',id);


	                this.disabled = 'true';
                    //var url = `/sprlconf/cert?file=${file}&path=${path}` ;
                    //var win = window.open(url , "cert: "+file,"resizable=1,scrollbars=yes ,width=620,height=780");
                    //addWindow(win);
                },
                loadonce:true,
                //pager: "#issuespager", // bottom pager
                pagerpos:"right",
                toppager:true, // top pager
                rowNum: 125,
                rowTotal:50000,                
                rowList: [],        // disable page size dropdown
                pgbuttons: true,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                viewrecords: true ,   // disable current view record text like 'View 1-10 of 100' 
                autoencode: false, // true displays html in cell instead of button
                gridview: true,
                sortable:true, // true = move columns          
                caption:"",
                loadError:function(xhr,st,err) {
                	grid.jqGrid("displayErrorMessage","There is a problem retrieving data from the server, it could be down, please contact system admin");
                },
                loadComplete: function(){
                    //readCerts();      
                },
                subGrid: true,
                caption: "Grid as Subgrid",
                subGridRowExpanded: function(subgrid_id, row_id) {
                    var subgrid_table_id = subgrid_id+"_t";
                    var pager_id = "p_"+subgrid_table_id;                    
                    $("#"+subgrid_id).html("<table id='"+subgrid_table_id+"' class='scroll'></table><div id='"+pager_id+"' class='scroll'></div>");                    
                    var sub_grid = $("#subgrid_table_id"); 
                    
                    var type = grid.jqGrid ('getCell', rowid, 'type');
                    var id = grid.jqGrid ('getCell', rowid, 'id');
                    
                    jQuery("#"+subgrid_table_id).jqGrid({
                        url:"/issues/tasks"+id,
                        datatype: "json",
                        colModel: [
                            {label:"type",name:"type",width:80},
                            {label:"id",name:"id",width:130},
                            {label:"parent",name:"parent",wirdy:110},
                            {label:"ext",name:"ext",width:70},
                            {label:"qe",name:"qe",width:70},
                            {label:"dummy",name:"dummy",width:1}
                        ],
                        rowNum:20,
                        pager: pager_id,
                        height: '100%'
                    });
                    jQuery("#"+subgrid_table_id).jqGrid('navGrid',"#"+pager_id,{edit:true,add:true,del:false})
                },
                subGridRowColapsed: function(subgrid_id, row_id) {
                    // this function is called before removing the data
                    //var subgrid_table_id;
                    //subgrid_table_id = subgrid_id+"_t";
                    //jQuery("#"+subgrid_table_id).remove();
                }                
            };
            grid.jqGrid(cols);   
            grid.jqGrid('navGrid', '#issuespager',
                {
                    cloneToTop:true,
                    edit:true,
                    add:true,
                    del:false,
                    search:false,
                    refresh:true,
                    reloadGridOptions: { fromServer: true },
                    beforeRefresh: function(){
                        grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                    }    
                },
                editSettings, 
                addSettings                         
            ) ;
            // hide columns
            //grid.hideCol('id')
            grid.hideCol('type')
            //grid.hideCol('date')
            grid.hideCol('dummy')
            // search in toolbar
            grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
            // edit inline
            grid.jqGrid('inlineNav',"#issuespager");            
            myAddButton ({
                caption: "Toggle filter",
                title: "Toggle Search Filter",
                onClickButton : function (){
                        $('.ui-jqgrid-hdiv').toggle();
                }
            });
            myAddButton ({
                caption: "New Task",
                title: "New Task",
                onClickButton : function (){
                         var $this = $(this) ;
                         var selRowId = $this.jqGrid ('getGridParam', 'selrow');
                         var userid = $this.jqGrid ('getCell', selRowId, 'user_id');
                         var rowData =  $this.jqGrid('getRowData',selRowId);
                         var jsondata = ""+JSON.stringify(rowData)+"";
                         //log(jsondata)
                         var Id =  rowData['id'];
                         //alert(DocId);  
                         if (! Id) {
                            //$( "#dialog-message" ).dialog('open');
                            showMessage(getMsg("MSG_001","Please select a row with a valid user ID. ") );
                         } else {
                            if ( confirm( getMsg("MSG_009","This will take a while, Are you sure you want to Register user:{0}" ).format(userid) ) ) {
                                var url = "/issues/task/"+Id;
                                log(jsondata);
                                log(url);
                                $.ajax({
                                    url :url,
                                    type: "POST",
                                    data : rowData,
                                    dataType: "json",
                                    crossDomain: true,
                                    success: function(data, textStatus, jqXHR) {
                                        showMessage(getMsg("MSG_017","Your request has been sent:\n verify MPI by refreshing the user list").format('OK') );
                                        //data - response from server
                                        //showMessage( getMsg("MSG_007","User Registered:{0}").format(jsondata)));
                                        //alert("User Registered-"+JSON.stringify(data) );
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        alert(textStatus);
                                    }
                                });
                            }
                        }                }
            });
            setTheme(theme);
        })                           
    </script>
    <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
        <table id="issueslist"></table> 
        <div id="issuespager"></div>                        
    </div>    
</div>

