<%- include header.ejs %>
<div style="border:2px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
    <script>
        var grid;
        theme = '<%-theme%>'
        var viewwindows = []; // viewer windows create with window.open     
        function closeSubWindows(){
            viewwindows.forEach((o, index) => { 
                o.win.close()
            });
            viewwindows = new Array();
        }
        function addWindow(win){
            viewwindows.push({"time":new Date().getDate(),"win":win});
        }         
        var myAddButton = function(options) {
            grid.jqGrid('navButtonAdd','#SPRL_certspager',options);
            grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
            //grid.navButtonAdd('#SPRL_certspager',options);
            //grid.navButtonAdd('#'+grid[0].id+"_toppager",options);
        };  
        $( function() {
            var tokenid = 0;
            var lastsel ;
            var qe = '<%-qe%>' ;
            if (isEmpty(qe)) {
                qe = "";
            };
            $(window).bind("beforeunload", function() { 
                closeSubWindows();
            })
            //=======================================
            grid = $("#SPRL_certslist");                                
            //======================================================
            var url = `/sprlconf/certs/json?qe=${qe}`
            var cols = { 
                url:url,
                altRows: false, 
                deepempty: true,
                autowidth: false,
                ignoreCase: true,
                multiselect:false,
                multiboxonly:false,
                datatype: "json",
                mtype: "GET",       
                height:'auto',
                width:'auto',
                scrollOffset:0,
                colModel:[
                    {label:'env',name:'env', editable:true  ,width:80 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                    {label:'qe',name:'qe', editable:true  ,width:120 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                    {label:'path',name:'path', editable:true  ,width:200 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                    {label:'file',name:'file', editable:true  ,width:120 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                    {label:'file date',name:'date', editable:true  ,width:80 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                    {label:'Cert Valid From',name:'validFrom', editable:true  ,width:150 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                    {label:'Cert Valid Till',name:'validTill', editable:true  ,width:150 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                    {label:'dummy',name:'dummy', editable:true  ,width:80 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                ],
                ondblClickRow: function (rowid, iRow,iCol) {
                    var file = grid.jqGrid ('getCell', rowid, 'file');
                    var path = grid.jqGrid ('getCell', rowid, 'path');
                    var url = `/sprlconf/cert?file=${file}&path=${path}` ;
                    var win = window.open(url , "cert: "+file,"resizable=1,scrollbars=yes ,width=620,height=780");
                    addWindow(win);
                },
                loadonce:true,
                //pager: "#SPRL_certspager", // bottom pager
                pagerpos:"right",
                toppager:true, // top pager
                rowNum: 125,
                rowTotal:50000,                
                rowList: [],        // disable page size dropdown
                pgbuttons: true,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                autoencode: false, // true displays html in cell instead of button
                gridview: true,
                sortable:true, // true = move columns          
                caption: isEmpty(qe) ? "RHIO Certificates" :" Certificates for "+qe,
                loadError:function(xhr,st,err) {
                	grid.jqGrid("displayErrorMessage","There is a problem retrieving data from the server, it could be down, please contact system admin");
                },
                loadComplete: function(){
                    readCerts();      
                }                
            };
            grid.jqGrid(cols);   
            grid.jqGrid('navGrid', '#SPRL_certspager',{
                cloneToTop:true,
                edit:false,
                add:false,
                del:false,
                search:false,
                refresh:true,
                reloadGridOptions: { fromServer: true },
                beforeRefresh: function(){
                    grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                }                       
            }) ;
            // hide columns
            //grid.hideCol('file')
            grid.hideCol('path')
            grid.hideCol('date')
            grid.hideCol('dummy')
            // search in toolbar
            grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
            // edit inline
            //grid.jqGrid('inlineNav',"#SPRL_certspager");
            
            myAddButton ({
                caption: "Toggle filter",
                title: "Toggle Search Filter",
                onClickButton : function (){
                        $('.ui-jqgrid-hdiv').toggle();
                }
            });
            myAddButton ({
                caption: "Show Certificate",
                title: "Show certificate details",
                onClickButton : function (){
                    var $this = $(this) ;
                    var selRowId = $this.jqGrid ('getGridParam', 'selrow');
                    var file = $this.jqGrid ('getCell', selRowId, 'file');
                    var path = $this.jqGrid ('getCell', selRowId, 'path');
                    var url = `/sprlconf/cert?file=${file}&path=${path}&type=1` ;
                    if ( ! file ) {
                        showMessage("Please select a row with a valid certificate. " );
                    } else { 
                        var win = window.open(url , "cert: "+file,"resizable=1,scrollbars=yes ,width=620,height=780");
                        addWindow(win);
                    }
                }
            });
            
            var readCerts = ()=> {
                var rowData = grid.getDataIDs();
                rowData.forEach((o,i)=> {        
                    var rData = grid.jqGrid ('getRowData', o);
                    var file = rData.file ;
                    var path = rData.path ;
                    var url = `/sprlconf/readcert?file=${file}&path=${path}&type=2` ;
                    var rd = o;
                    $.ajax({
                        type: "GET",
                        url: url ,                        
                        success: function( data ) {
                            grid.jqGrid('setRowData',o,{validTill:data.validTill})
                            grid.jqGrid('setRowData',o,{validFrom:data.validFrom})
                        }
                    });                        
                })             
           };
           /*
           setThemes("SPRL_certslist_toppager_right",()=>{
                setTheme(theme);
                $('#jqtheme_select').val(theme);
                $("#jqtheme_select").selectmenu("refresh");     
           });
           */  
        })                
        setTheme(theme);
    </script>
    <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
        <table id="SPRL_certslist"></table> 
        <div id="SPRL_certspager"></div>                        
    </div>    
</div>

<%- include footer.ejs %>