<%- include header.ejs %>
    <style>
        fieldset { border: 0; margin-left: 1px; }
        label { display: block; margin: 1px 0 0 0; }
        select { width: 150px; } 
        input {  width: 150px; }
        #dialog label, #dialog input { display:block; color:009900}
        #dialog label { margin-top: 0.5em; }
        #dialog input, #dialog textarea { width: 95%; }
        #headerlogo {vertical-align:bottom}
        .loginlabel {  width:75px; display: inline-flex;  color:22ff55; }  
        .selectlabel { width:90px; display: inline-flex;  color:22ff55;  background:#F8F8FF;}         
        #tabs { margin-top: 1em; }
        #tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
        #add_tab { cursor: pointer; } 
        .ui-tabs-disabled {
            display: none; /* disabled tabs don't show up */
        }
        .toolbar {
            font-size: .75em;
             position:relative; 
        }  
        #select-button {
            width: 45px;
        }             
        .block_button {
            position:absolute;   
            float: right;
            padding-right: 1px;
            padding-bottom:1px;
            padding-left: 1px;  
            bottom:1px;          
            right:1px;          
        }
    </style>
    <script>
         function toggleDiv(divId) {
                $("#"+divId).toggle();                          
                if (divId == "showChangePassword" ) {      
                    if( $('#showChangePassword').is(':visible') ) {
                            $("#dialog-login").dialog("option", "height", 450);
                    } else {
                            $("#dialog-login").dialog("option", "height", 360);
                    }
                }
         }
         //-----------------------------------------------------------
         $(function() {          
                    var dialoglogin, form,  
                    emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
                    phoneRegex = /^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/ ,
                    name = $( "#name" ),
                    email = $( "#email" ),
                    password = $( "#password" ),
                    captcha =$("#captcha"),
                    allFields = $( [] ).add( name ).add( email ).add( password ).add( captcha ),
                    tips = $( ".validateTips" );
                function updateTips( t ) {
                        tips.text( t ).addClass( "ui-state-highlight" );
                        setTimeout(function() {
                            tips.removeClass( "ui-state-highlight", 1500 );
                        }, 500 );
                }
                function setCaptcha() {
                    var url = "/captcha" ;
                    $.ajax({ url: url, type: "GET", async:false , complete: function(result,status){
                            o = JSON.parse(result.responseText);
                                captcahNum =o.num;
                                //captchaImg = o.image;
                                //$('#captcha').val(captcahNum);                         
                                $( '#captchaimg' ).html( '<img src="data:image/png;base64,'+o.image+'" />' );  
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            //callback( false);
                            log("error");
                        }
                    });            
                }           
                function checkLength( o, n, min, max ) {
                    if ( o.val().length > max || o.val().length < min ) {
                        o.addClass( "ui-state-error" );
                        updateTips( "Length of " + n + " must be between " +  min + " and " + max + "." );
                        return false;
                    } else {
                        return true;
                    }
                }    
                function checkCaptcha( n1 ) {                     
                    var v1 =  n1.valueOf().val() ;      
                    if ( v1 == captcahNum ) {
                        return true;
                    } else {
                        n1.addClass( "ui-state-error" );                    
                        updateTips( "Captcha do not match, please renter." );
                        setCaptcha()
                        return false;
                    }
                }  
                function checkMatch( n1,n2 ) {
                    var v1 =  n1.valueOf() ;
                    var v2 =  n2.valueOf() ;
                    if ( n1.val() === n2.val() ) {
                        return true;
                    } else {
                        n1.addClass( "ui-state-error" );
                        n2.addClass( "ui-state-error" );
                        updateTips( "Passwords do not match, please renter." );
                        return false;
                    }
                }             
                function checkRegexp( o, regexp, n ) {
                    if ( !( regexp.test( o.val() ) ) ) {
                        o.addClass( "ui-state-error" );
                        updateTips( n );
                        return false;
                    } else {
                        return true;
                    }
                }
                function validateUser() {
                    var valid = true;    
                    allFields.removeClass( "ui-state-error" );    
                    if( $('#showRegisterUser').is(':visible') ) {
                        if ( valid ) {          
                            var pwd = $('#rpassword').valueOf();
                            var userid = $('#rname').valueOf();
                            var fname = $('#rfname').valueOf();
                            var lname = $('#rlname').valueOf();
                            var email = $('#remail').valueOf();
                            var data = {};
                            data.pwd = pwd.val();
                            data.user_id =userid.val();
                            data.email = email.val();
                            data.fname = fname.val();
                            data.lname = lname.val();           
                            var url =  "/login/register/user?id="+data.user_id+"&pwd="+data.pwd+"&fname="+data.fname+"&lname="+data.lname+"&email="+data.email ;
                            log(url);
                            $.ajax({url: url, async:false,type:'POST' ,complete: function(result,status){
                                        if (token.validate){
                                                updateTips( "new User Registered" );
                                                //window.location = "/users/html?token="+token.tokenid ;
                                        } else {      
                                                updateTips( "New Registration Failed, please renter." );
                                        }
                                    }
                                });                         
                            }                                   
                    } else {      
                        valid = true;
                        // valid = valid && checkLength( name, "name", 3, 16 );
                        // valid = valid && checkLength( email, "email", 6, 80 );
                        //valid = valid && checkLength( password, "password", 5, 16 );
                        //valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
                        //valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
                        //valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );
                        // check if password are the same for change pwd
                        valid = valid && checkCaptcha($('#captcha')) ;
                        if( $('#showChangePassword').is(':visible') ) {
                            valid = valid && checkRegexp( newpassword, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );
                            valid = valid && checkLength($('#newpassword'),'new password', 5, 16 );
                            valid = valid && checkMatch($('#newpassword'),$('#renterpassword')) ;
                            if (! valid) {
                                updateTips( "Passwords do not match, please renter." );
                                return valid;
                            }
                        }
                        if ( valid ) {          
                            var p = $('#password').valueOf();
                            var pnew = $('#newpassword').valueOf();
                            var preset = $('#resetpassword').valueOf();
                            var n = $('#name').valueOf();                                           
                            $.ajax({url: "/login/verifyuser/?userid="+n.val()+"&password="+p.val(), async:false ,complete: function(result,status){
                                if (result.responseText == "Error" ) {                          
                                        updateTips( "Validation Failed, please renter." );
                                }
                                var token = JSON.parse(result.responseText) ;
                                log(JSON.stringify(token))
                                if (token.valid){                                 
                                    if( $('#showChangePassword').is(':visible') ) {
                                            $.ajax({url: "/login/resetpwd/?userid="+n.val()+"&password="+p.val()+"&newpassword="+pnew.val(), async:false ,complete: function(result,status){
                                                if (result.responseText == "Error" ) {                          
                                                        updateTips( "Change password Failed, please renter." );
                                                } else {
                                                    $("#showChangePassword").hide();
                                                    updateTips( "Password chnged Succesfully, please renter with new password." );
                                                }
                                            }});                   
                                    } else {                                            
                                        dialoglogin.dialog('close');
                                        $.ajax({
                                            type: "GET",
                                            url: "/users/html?tokenid="+token.tokenid ,
                                            success: function( returnedData ) {
                                                $( '#mainprog' ).html( returnedData );                               
                                            }
                                        });                                                                           
                                    }
                                } else {      
                                    updateTips( "Validation Failed, please renter." );
                                }
                            }});    
                        } else {
                            updateTips( "Validation Failed, please renter." );
                        }              
                    }
                    return valid;
                }
                dialoglogin = $( "#dialog-login" ).dialog({
                    autoOpen: true,
                    height: 360,
                    width: 300,
                    modal: true,
                    show: {
                        effect: "blind",
                        duration: 500
                    },
                    hide: {
                        effect: "explode",
                        duration: 500
                    },
                    
                    buttons: {
                        //"Register User": registerUser,
                        "Submit": validateUser,
                        Cancel: function() {
                            dialoglogin.dialog( "close" );
                        }
                    },
                     
                    open: function(){
                         setCaptcha();
                    },              
                    close: function() {
                        form[ 0 ].reset();
                        allFields.removeClass( "ui-state-error" );
                        dialoglogin.dialog('close');
                    }
                });  
                form = dialoglogin.find( "form" ).on( "submit", function( event ) {
                    event.preventDefault();
                    validateUser();
                });
                $( "#login-user" ).button().on( "click", function() {
                    $( '#mainprog' ).html( "" );
                    setCaptcha();
                    dialoglogin.dialog( "open" );
                });
                //$("#showRegisterUser").hide();
                $("#showChangePassword").hide();
                $("#showForgotPassword").hide();                
                $("#registeruser").show();
               
                //closelog()
                //setThemes('themes');
            });
    </script>
    
    
   	<div id="dialog-login" title='Login' class="ui-layout-center" style="display:none">
        <div class="logo"> <a href="HTTP://nyehealth.org"><img src="/images/nyecPPlogo.png" alt="NYeC Logo" /></a> </div>	         
        <p class="validateTips">All fields are required.</p>
        <form id="login-form" method="POST" action=/loginpost>
        <fieldset>
            <div id="userlogin"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " > 
                <input type="hidden" name="langid" hidden="true" />
                <label class='loginlabel' for="name">Name</label>
                <input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all">
                <br>
                <label class='loginlabel'  for="password">Password</label>
                <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all">
                <br>
                <div id="captchaimg"> </div>
                 <label class='loginlabel'  for="captcha">Captcha</label>
                <input type="text" name="captcha" id="captcha" value="" class="text ui-widget-content ui-corner-all">
                <br>
               
                <!--
                <br>
                <label class='loginlabel'  for="email">Email</label>
                <input type="text" name="email" id="email" value="pkulek@nyehealth.org" class="text ui-widget-content ui-corner-all">
                -->                
            </div>
            
            <div id="changePassword"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " >
                    <a class="changepassword" href="javascript:toggleDiv('showChangePassword');">
                      Change your password.
                      <br>
                    </a>
                    <div id="showChangePassword" class="changepassword" >
                        <br>
                        <label class='loginlabel'  for="newpassword">New Password</label>
                        <input type="password" name="newpassword" id="newpassword" value="" class="text ui-widget-content ui-corner-all">
                        <br>
                        <label class='loginlabel'  for="renterpassword">Re-enter Password</label>
                        <input type="password" name="renterpassword" id="renterpassword" value="" class="text ui-widget-content ui-corner-all">
                        <br>
                    </div>
            </div>
            
            <div id="forgotPassword"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " >
                    <a class="forgotpassword" href="javascript:toggleDiv('showForgotPassword');">
                      Forgot your password?
                      <br>
                    </a>
                    <div id="showForgotPassword"  >
                        <br>
                        <label class='loginlabel'  for="email">Email</label>
                        <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
                        <br>
                        <label for="securityq">Security Questions</label>
                        <div  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#e8F8FF; height:auto; " >
                              <select id='securityq' name="securityq" id="radius">
                              </select>
                              <br>
                              <label class='selectlabel'  for="answer1">answer</label>
                              <input type="text" name="answer2" id="Answer " value="" class="text ui-widget-content ui-corner-all">
                        </div>    
                        <div  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#e8F8FF; height:auto; " >
                            <select id='securityq2' name="securityq" id="radius">
                            </select>
                            <br>
                            <label class='selectlabel'  for="renterpassword">answer</label>
                            <input type="text" name="renterpassword" id="renterpassword" value="" class="text ui-widget-content ui-corner-all">
                            <br>
                        </div>
                    </div>
            </div>
                       
           
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>

      </form>
    </div>
    

   
<%- include footer.ejs %>
