﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="utf-8"/>
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="cache-control" content="max-age=0">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content=" private, no-cache">
        <meta http-equiv="Content-Disposition" content="inline;filename='files.json' ">
        <meta http-equiv="X-Content-Type-Options" content="nosniff">      
            
        <meta name="author" content="pkulek@nyehealth.org">
        <meta name="description" content="Patient Portal Admin Library">
        <meta name="viewport" content="width=device-width">
            

        <title><%= page_title %></title>

        <link rel="shortcut icon"  href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/base.css?v=1">
        <link rel="stylesheet" type="text/css" media="screen" href="/themes/redmond/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/themes/ui.jqgrid.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/themes/ui.multiselect.css" />
        <link rel="stylesheet" href="/style.css">
        <style>
                #dialog label, #dialog input { display:block; }
                #dialog label { margin-top: 0.5em; }
                #dialog input, #dialog textarea { width: 95%; }
                #tabs { margin-top: 1em; }
                #tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
                #add_tab { cursor: pointer; }      
                #headerlogo {vertical-align:bottom}
        </style>
        <script src="/js/modernizr.custom.2.8.3.min.js"></script>             
        <script src="/js/jquery-1.12.4.min.js" type="text/javascript"></script>
        <script src="/js/jquery-ui-custom.min.js" type="text/javascript"></script>
        <script src="/js/jquery.layout.js" type="text/javascript"></script>
        <script src="/js/i18n/grid.locale-en.js" type="text/javascript"></script>
        <script type="text/javascript">
            $.jgrid.no_legacy_api = true;
            $.jgrid.useJSON = true;
        </script>
        <script src="/js/jquery.jqGrid.min.js" type="text/javascript"></script>		
		<script language="JavaScript">
			function getURLParameter(name) {
				return decodeURI(
					(RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,''])[1]
				);
			}
			function log(str) {
				$("#log").prepend(str + "<br />");
			}
			function clearlog() {
				$("#log").empty();
			}             
			function closelog() {
				$("#logwindow").hide();
			}             
			function openlog() {
				$("#logwindow").show();
			}
	  </script>             
</head>

<body>
	<script language="JavaScript">
			var index = 'English (United States)';
			var alertStr = 'Please enter a user name.';
			var langid = '<%=data.langid%>';
			var token = '<%=data.token.token%>';
			var id = 1;
			$(function() {
				log("langid:"+langid);
				log("token:"+token);
				$( "#dialog:ui-dialog" ).dialog( "destroy" );
				var name = $( "#userid" ),
					email = $( "#email" ),
					password = $( "#password" ),
					allFields = $( [] ).add( name ).add( email ).add( password ),
					tips = $( ".validateTips" );
				$( "#dialog-form" ).dialog({
					autoOpen: true,
					height: 450,
					width: 430,
					modal: true,
					resizable:false,
					closeOnEscape: true,
					title:'<{WEB_010,login}>',
					buttons: [
						{
							id:"btn-accept",
							text: "Accept",
							click: function() {
								//if ( submitForm() ){
								if ( testlogin() ){
										document.verifylogin.submit();
										//log('Submit Result:'+res);
										//window.location = "/users/html"  ;
										//$( this ).dialog( "close" );
										
								}
							}
						}
						,{
							id:"btn-test",
							text: "Test skins",
							click: function() {
								//var url = "/docuxplorer/findDocument?userid=ronald&SearchType=FindDocument&QueryType=FullTextSearch&DXCabinet=Docuxplorer&DXIndexSet=All Documents&DXSearchDocument=1&Command0=Pages";
								var url = "/skins/html";
								window.location = url;
								//id++;
								//window.open( url,'FIND_window'+id,'width=1000,height=900,location=0,menubar=0,toolbar=0');

							}
						}
						,{
							id:"btn-test2",
							text: "Test users",
							click: function() {
							testlogin();
								//window.location = "/users/html"  ;
							}
						}
						,{
							id:"btn-test3",
							text: "Test reports",
							click: function() {
								window.location = "/reports/html"  ;
							}
						}
					]
					/*
					,close: function() {
						allFields.val( "" ).removeClass( "ui-state-error" );
					}
					.open: function(event, ui) {
						//$(".ui-dialog-titlebar-close", ui.dialog || ui).hide();
						$(this).parent().children().children('.ui-dialog-titlebar-close').hide();
					}
					*/
				});
				

			});
			function testlogin(){
		//	function submitForm(){
				var result = false;
				index = $('#langselection').val() ;
				langid = $('#langselection  :selected').attr("id") ;
				userid = document.verifylogin.userid.value ;
				password = document.verifylogin.password.value ;
				document.verifylogin.langid.value = langid;
				log(document.verifylogin.userid.value);
				// check user id 
				if (userid == '') {
					alert(alertStr) ;
					return false;
				} else {	  	
						var qry = "/login/verify?userid="+userid+"&password="+password+"&token=111111111111111aaaaaaaaa" ;
						log("GET Qry="+qry);	
						$.get(  qry,			
							function(Data) {
								log("Data="+JSON.stringify(Data));
								//$('#dialog-form').dialog('option', 'title',''+ Data);
							}
						).done(function(data){
								// check user credentials and call app with token			
								log("Done="+JSON.stringify(data));
								log(data.validate);
								if (data.validate = 1){
									window.location = data.link+"?tokenid="+token.tokenid  ;

								}else{
								window.location = '/reports/html'  ;
									
								}						
						});	
						log("Exit Called");	
						//return result;
				};
				
			};
			function GetLangList() {
				$.getJSON(  "getdata?id=DXLANGLIST&tokenid=" +getURLParameter('tokenid'),
					function(lookupData) {
						var selectList = "<select id='langselection' >";
						for (var x = 0; x < lookupData.length ; x++) {
							selectList += "<option id='"+  lookupData[x].id +"'  name='"+  lookupData[x].id +   "' >  " + lookupData[x].name  + "</option>";
							if (langid) {
								if (langid == lookupData[x].id) {
									index = lookupData[x].name;
									$('#langselection').val(index) ;
								}
							}
						}
						selectList += "</select>";
						$('#LanguageSelect').html(selectList);
						// set the langid
						$("#langselection").change(function () {
							ChangeLang();
						});
					}
				);
			};
			function ChangeLang(lang){
				newindex = $('#langselection').val() ;
				if (lang) {
					langid = lang;
				} else {
					langid = $("#langselection  :selected").attr('id');
				}
				GetDlgTitle('WEB_010') ;	//
				GetErrorMsg('WEB_001') ;	//
				GetSubmitButton('WEB_005') ;	//
				$.get(  "getdata?id=DXLOGINPAGE&langid=" + langid,
					function(Data) {
						if ( Data !== '') {
							$("#dialog-form").html(Data);
						}
						GetLangList();
						// need delay
						window.setTimeout(
							function(){
								if (newindex) {
									$('#langselection').val(newindex) ;
								} else if (index) {
									$('#langselection').val(index) ;
								}
							},
							200
						);
					}
				);
			};
			function GetDlgTitle(ID){
				$.get(  "getdata?id=DXGETLANGSTR&langid=" + langid+ "&strid=" + ID,
					function(Data) {
						$('#dialog-form').dialog('option', 'title',''+ Data);
					}
				);
			};
			function GetErrorMsg(ID){
				$.get(  "getdata?id=DXGETLANGSTR&langid=" + langid+ "&strid=" + ID,
					function(Data) {
						if (Data) {
							alertStr = Data;
						}
					}
				);
			};
			function GetSubmitButton(ID){
				$.get(  "getdata?id=DXGETLANGSTR&langid=" + langid+ "&strid=" + ID,
					function(Data) {
						if (Data) {
						log(find('.ui-button-text').html(Data));
							$("#btn-accept").find('.ui-button-text').html(Data) ;
						}
					}
				);
			};

	</script>
	<noscript>
		<div class="awesome-fancy-styling">	<h1><{WEB_ERR1,This site requires JavaScript.}></h1>  </div>
		<div id="logo"> <a href="HTTP://nyehealth.org"><img src="/images/nyecPPlogo.png" alt="NYeC Logo" /></a> </div>	
	</noscript>
	<div id="LoginPane" class="ui-layout-center" style="display:none">
		<div id="dialog-form" >
			<!-- this chunk is in the dictionary can remove or leave for a defalult if dictioanry not used -->
			<form  id="verifylogin" name="verifylogin">
				<div id="logo"> <a href="HTTP://nyehealth.org"><img src="/images/nyecPPlogo.png" alt="Patient Portal Logo" /></a> </div>	
				<br>
				<div id="LoginTopPane">					
					<br>
					<input type="hidden" name="langid" hidden="true" />
					<fieldset class="textbox">
						<table id="users" class="ui-widget ui-widget-content">
							<tbody>
								<tr >
									<td>
										User Name or email
									</td>
									<td>
										<input id="userid" name="userid" value="" type="text" autocomplete="on" placeholder="Username">
									</td>
								</tr>
								<!--
								<tr >
									<td>
										email
									</td>
									<td>
										<input id="email" name="email" value="" type="text" autocomplete="on" placeholder="Email">
									</td>
								</tr>
								-->
								<tr>
									<td>
										Password
									</td>
									<td>
										<input id="password" name="password" value="" type="password" placeholder="Password">
									</td>
								</tr>
								<tr>
									<td>
									</td>
									<td>
										<a class="forgot" href="#">
											Forgot your password?
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</fieldset>
				</div>
	<!--   Logging for test -->                              
    <div id="logwindow" style="border:3px solid green; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:1px; background:#F8F8FF; height:auto; ">
        <button id="clear_log"  onclick="clearlog();">clear log</button>    
        <button id="close_log"  onclick="closelog();">close log</button>    
        <tr id="LogArea">
          <td style="border-bottom:3px solid #83B4D8;white-space:nowrap" align="left" >
            <div id="log"  style="border:1px solid gray; word-wrap:break-word; margin:5px 15px 5px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " >

            </div>
          </td>
        </tr>
    </div>   
	<!-- sdf -->				
			</form>			
			<!-- end chunk-->
		
		</div>
	</div>
  
</body>
</html>



