<%- include header.ejs %>
    <style>
        fieldset { border: 0; margin-left: 1px; }
        label { display: block; margin: 1px 0 0 0; }
        select { width: 150px; } 
        input {  width: 150px; }
        #dialog label, #dialog input { display:block; color:009900}
        #dialog label { margin-top: 0.5em; }
        #dialog input, #dialog textarea { width: 95%; }
        #headerlogo {vertical-align:bottom}
        .loginlabel {  width:75px; display: inline-flex;  color:22ff55; }  
        .selectlabel { width:90px; display: inline-flex;  color:22ff55;  background:#F8F8FF;
        }               
        .toolbar {
             font-size: .75em;
             position:relative; 
        }  
        #select-button {
            width: 45px;
        }             
        .block_button {
            position:absolute;   
            float: right;
            padding-right: 1px;
            padding-bottom:1px;
            padding-left: 1px;  
            bottom:1px;          
            right:1px;          
        }
        .map {
            width: 350px;
            height: 350px;
        }
        .ui-tooltip {
            max-width: 350px;
        }
        .leftButton{
            position: absolute;
            left:8px;
        }

  </style>
        <script>
            var base_Url = document.location.origin;
          
            var form;
            var tokenid = "";
            var token = {};
            //-----------------------------------------------------------          
            $(function() {          
                var allFields = $( [] ).add( $( "#name" ) ).add( $( "#email" ) ).add( $( "#password" ) ).add($( "#rname" ) ).add( $( "#remail" ) ).
                            add( $( "#rpassword" ) ).add( $( "#rfname" ) ).add( $( "#captcha" ) ).add($('#newpassword')).add($('#renterpassword'));
                var tips = $( ".validateTips" );
                var timer = 0;
                $(window).bind("beforeunload", function() { 
                    closeWindows();
                })
                function updateTips( t ) {
                    tips.text( t ).addClass( "ui-state-highlight" );
                    setTimeout(function() {
                        tips.removeClass( "ui-state-highlight", 2000 );
                    }, 1000 );
                }                
                //-------------------
                /*               
                function validateUser() {
                    var valid = true;    
                    if( $('#showChangePassword').is(':visible') ) {
                        var userid = $('#name').valueOf();
                        var pwdReg = "^(?=.{8,32}$)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#\$%\^&\*])(?=.*[0-9])(?!.*pass|.*word|.*1234|.*qwer|.*asdf|.*"+userid.val()+").*";
                        var pwdRegEx = new  RegExp(pwdReg);
                        valid = valid && checkRegexp( $('#newpassword'),pwdRegEx, "Password field only allow : a-z 0-9" );
                        //valid = valid && checkRegexp( $('#newpassword'),passwordRegex, "Password field only allow : a-z 0-9" );
                        if (! valid) {
                            updateTips( "Password does not meet minimun complexity requirements, please renter." );
                            return valid;
                        }
                        valid = valid && checkMatch($('#newpassword'),$('#renterpassword')) ;
                        if (! valid) {
                            updateTips( "Passwords do not match, please renter." );
                            return valid;
                        }
                    }
                    valid = valid && checkCaptcha($('#captcha')) ;
                    if ( valid ) {          
                        var p = $('#password').valueOf();
                        var pnew = $('#newpassword').valueOf();
                        var n = $('#name').valueOf();                                           
                        $.ajax({url: "/login/verifyuser/?userid="+n.val()+"&password="+encodeURIComponent(p.val()), async:false ,complete: function(result,status){
                            //log("Verify Result="+JSON.stringify(result));
                            if (result.responseText == "INACTIVE" ) {                          
                                    updateTips( "user has been inactivated. Please call the help desk" );
                            }
                            if (result.responseText == "RESET PASSWORD" ) {                          
                                updateTips( "Password needs to be reset, please change password." );
                                toggleDiv('showChangePassword');
                            }
                            if (result.responseText == "EXPIRED PASSWORD" ) {    
                                updateTips( "Password has expired, please change password." );
                                toggleDiv('showChangePassword');
                            }                              
                            if (result.responseText == "Error" ) {                          
                                updateTips( "Validation Failed, please renter." );
                            }
                            token = JSON.parse(result.responseText) ;
                            tokenid = token.tokenid;                     
                            if (token.valid == 1){    
                                //log("token valid = "+token.valid);                             
                                if( $('#showChangePassword').is(':visible') ) {
                                        $.ajax({url: "/login/resetpwd/?userid="+n.val()+"&password="+encodeURIComponent(p.val())+"&newpassword="+encodeURIComponent(pnew.val()), async:false ,complete: function(result,status){
                                            if (result.responseText == "Error" ) {                          
                                                    updateTips( "Change password Failed, please renter." );
                                            } else {
                                                //$("#showChangePassword").hide();
                                                toggleDiv('showChangePassword');
                                                updateTips( "Password chnged Succesfully, please renter with new password." );
                                            }
                                        }});                   
                                } else {             
                                    $( "#dialog-login" ).dialog('close');
                                    //var url = "/users/html/"+token.tokenid ;
                                    var url = "/issues/html?tokenid="+token.tokenid; 
                                    //log(url);
                                    $.ajax({
                                        type: "GET",
                                        url: url ,
                                        success: function( returnedData ) {
                                            setTheme(token.theme);    
                                            //log(returnedData)                                                                                   
                                            $( '#mainprog' ).html( returnedData );       
                                            $("#loading").fadeOut("slow");                                                            
                                            $(".se-pre-con").fadeOut("slow");                                                            
                                        }
                                    });                                          
                                }
                            } else {      
                                updateTips( "Validation Failed, please renter." );
                                setCaptcha();
                            }
                        }});    
                    } else {
                        updateTips( "Validation Failed, please renter." );
                        setCaptcha();
                    }              
                    //return false;
                }
                */
                $( "#dialog-login" ).dialog({
                    autoOpen: true,
                    height: 360,
                    width: 300,
                    modal: true,             
                    buttons: {
                        //"Register User": registerUser,
                        "Help ?": {
                            style:"margin-right:640px",  
                            class:'leftButton',
                            text:'Help',
                            click:function(){
                                //alert('testin help btn');
                                var url =  "/HLP/HELP-LOGIN3/HELP/en-US" ;
                                openWindow(url,'Help');
                            }                                                                                                                        
                        },
                        "Submit": validateUser,
                        Cancel: function() {
                             $( "#dialog-login" ).dialog( "close" );
                        }
                    },
                    open: function(){
                        timer = setTimeout("$('#dialog-login').dialog('close')",1000*60*15);
                        allFields.removeClass( "ui-state-error" );
                        //setTimeout("setCaptcha()",10000);
                        setCaptcha();
                    },              
                    close: function() {
                        form[ 0 ].reset();
                        allFields.removeClass( "ui-state-error" );
                        $( "#dialog-login" ).dialog('close');
                    }
                });  
                form =  $( "#dialog-login" ).find( "form" ).on( "submit", function( event ) {
                    event.preventDefault();
                    validateUser();
                });                
                $( "#login-user" ).button().on( "click", function() {
                    $( '#mainprog' ).html( "" );
                    timer = setTimeout("$('#dialog-login').dialog('close')",1000*60*15);
                    allFields.removeClass( "ui-state-error" );
                    setCaptcha();
                    $( "#dialog-login" ).dialog( "open" );
                });
                $( "#logout-user" ).button().on( "click", function() {
                     var url = base_Url+"/login/logout/?tokenid="+token.tokenid+"&userid="+token.userid+"";
                     var data = "{'userid':'"+token.userid+"'},{'tokenid':'"+token.tokenid+"'}" ;
                     $.ajax({url:url , type: "GET",data:data,contenType:"application/json"} );
                     $( '#mainprog' ).html( "" );
                });
             
                //-------- help system               
                $( "select" ).selectmenu({
                    select: function(){
                    var id = $(this).children(":selected").attr("id");
                    var type = $(this).children(":selected").attr("type");
                       var url =  "/"+type+"/"+id+"/HELP/en-US" ;
                       window.open(url ,id, "resizable=1,scrollbars=no,width=600,height=750");
                       // openWindow(url,'Help'); // will close on logout                    
                    }
                });
                //----------
                $("#showRegisterUser").hide();
                $("#showChangePassword").hide();
                $("#showForgotPassword").hide();                
                $("#logout-user").hide();            
                //closelog();
                setThemes('themes');
            });
    </script>
    

    
   
    <% include _login.ejs %>

            <div id="mainprog">            
            </div>
   
    
  
<%- include footer.ejs %>
