<%- include header.ejs %>

<div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">
    <script>
        var baseUrl = document.location.origin;
        $( function() {
                var tokenid = 0;
                var lastsel ;
                ///===================================================
                var PPpager = ("mpipager");
                grid = $("#mpilist");                                                          
                myAddButton = function(options) {
                    grid.jqGrid('navButtonAdd','#'+PPpager,options);
                    grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                };
                //======================================================
                var cols = { 
                    url:'/SPRL/testmpi/<%-mpiid%>', 
                    altRows: false, 
                    deepempty: true,
                    autowidth: true,
                    ignoreCase: true,
                    datatype: "json",
                    mtype: "GET",       
                    height:'auto',
                    width:'auto',
                    colModel:[
                        {label:'QE',name:'qe', editable:false ,width:110},
                        {label:'oid',name:'root', editable:false , width:200},
                        {label:'mpi',name:'ext', editable:false ,width:100 },
                        {label:'', width:1,search:false}    
                    ],
                    loadonce:true,
                    toppager:true,
                    rowList: [],        // disable page size dropdown
                    pgbuttons: false,     // disable page control like next, back button
                    pgtext: null,         // disable pager text like 'Page 0 of 10'
                    viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                    gridview: false,
                    autoencode: true,           
                    caption: "SPRL links for MPI <%-mpiid%>"          
                }                
                grid.jqGrid(cols);   
                grid.jqGrid('navGrid', '#'+PPpager,{
                        cloneToTop:true,
                        edit:false,
                        add:false,
                        del:false,
                        search:false,
                        refresh:true,
                        reloadGridOptions: { fromServer: true },
                        beforeRefresh: function(){
                            //alert('In beforeRefresh');
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        }                       
                    }
                ) ;
                // search in toolbar
                grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
                grid.jqGrid('inlineNav',"#"+PPpager);                  

        });                
    </script>
    <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     
        <table id="mpilist"></table> 
        <div id="mpipager"></div>                        
    </div>      
</div>

    