    <style>
        .custom-combobox {
            position: relative;
            display: inline-block;
        }
        .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
        }
        .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
        }       
        #groups li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 18px; }
        #groups li span { position: absolute; margin-left: -1.3em; }
        <!-- animation -->    
      

    </style>   
    <script>
        var lastSel ;
        var selectDoc = " : ;REFRESH_START:REFRESH_START;REFRESH_REQUESTED:REFRESH_REQUESTED;REFRESH_ATTEMPT_1:REFRESH_ATTEMPT_1;REFRESH_ATTEMPT_2:REFRESH_ATTEMPT_2;REFRESH_FAILED:REFRESH_FAILED;REFRESH_FULFILLED:REFRESH_FULFILLED";
        //const aStataStatusus = ["REFRESH_START","REFRESH_REQUESTED","REFRESH_ATTEMPT_1","REFRESH_ATTEMPT_2","REFRESH_FAILED","REFRESH_FULFILLED","REFRESH_FAILED_NO_ID","REFRESH_FAILED_NO_PHRID","REFRESH_FAILED_USER_NOT_FOUND"] ;        
        var selectppReg = " : ;PP_REGISTERED:PP_REGISTERED;HS_REGISTER_ATTEMPT1:HS_REGISTER_ATTEMPT1;HS_REGISTER_ATTEMPT2:HS_REGISTER_ATTEMPT2;PP_REGISTER_FULLFILLED:PP_REGISTER_FULLFILLED;SMPI_MANUALLINK:SMPI_MANUALLINK;PP_REGISTER_FAILED:PP_REGISTER_FAILED;PP_ACCEPTED:PP_ACCEPTED;SMPI_REGISTER_FAILED:SMPI_REGISTER_FAILED";
        $(window).load(function(){
                ///===================================================
                var PPpager = ("ppdocRefreshpager");
                var grid = $("#ppdocRefreshlist");                                
                //======================================================
//---------------------------
 $.widget( "custom.combobox", {
      _create: function() {
        this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element ); 
        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },
      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" );
        var value = selected.val() ? selected.text() : "";
        this.input = $( "<input>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr( "title", "" )
          .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
          .autocomplete({
                delay: 0,
                minLength: 0,
                source: $.proxy( this, "_source" )
          })
          .tooltip({
            classes: {
                "ui-tooltip": "ui-state-highlight"
            }
          });
          this._on( this.input, {
                autocompleteselect: function( event, ui ) {
                    ui.item.option.selected = true;
                    this._trigger( "select", event, {
                    item: ui.item.option
                });
          },
          autocompletechange: "_removeIfInvalid"
        });
      },
 
      _createShowAllButton: function() {
        var input = this.input;
        var wasOpen = false; 
        $( "<a>" )
          .attr( "tabIndex", -1 )
          .attr( "title", "Show All Registered User's" )
          .tooltip()
          .appendTo( this.wrapper )
          .button({
            icons: {
                primary: "ui-icon-triangle-1-s"
            },
            text: false
          })
          .removeClass( "ui-corner-all" )
          .addClass( "custom-combobox-toggle ui-corner-right" )
          .on( "mousedown", function() {
                wasOpen = input.autocomplete( "widget" ).is( ":visible" );
          })
          .on( "click", function() {
            input.trigger( "focus" );
            // Close if already visible
            if ( wasOpen ) {
                return;
            }
            // Pass empty string as value to search for, displaying all results
            input.autocomplete( "search", "" );
          });
      },
      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
                label: text,
                value: text,
                option: this
            };
        }) );
      },
      _removeIfInvalid: function( event, ui ) {
        // Selected an item, nothing to do
        if ( ui.item ) {
          return;
        }
        // Search for a match (case-insensitive)
        var value = this.input.val(),
          valueLowerCase = value.toLowerCase(),
          valid = false;
        this.element.children( "option" ).each(function() {
          if ( $( this ).text().toLowerCase() === valueLowerCase ) {
            this.selected = valid = true;
            return false;
          }
        });
        // Found a match, nothing to do
        if ( valid ) {
          return;
        }
        // Remove invalid value
        this.input
          .val( "" )
          .attr( "title", value + " didn't match any item" )
          .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
          this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.autocomplete( "instance" ).term = "";
      },
      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });
    //---------------------------                
                var setStatusValues = function (flow) {
                    grid.jqGrid('setColProp', 'status', { editoptions:  {value: flow=="DOC_REFRESH" ? selectDoc: selectppReg  }});
                };
                editGridRowOptions = {
                    recreateForm: true,
                    viewPagerButtons: false,
                    closeAfterAdd: true,
                    closeAfterEdit: true,
                    reloadAfterSubmit:true, 
                    beforeSubmit : function (postdata, formid) {
                        var res = true;
                        if (postdata.status == 'REFRESH_FULFILLED') {
                            res = confirm("This will send an email to the user\nconfirming that the document request was fullfilled \nDo you want to continue" );                        
                        }
                        if(! res)  {
                            return [false,"Submit Cancelled",""];
                        } else {
                            return [true,"",""]
                        }
                    },                    
                    afterSubmit: function ()  {
                         grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                         return [true,"",""];
                    }  
                };
                var getColumnHeaderByName = function (colName) {
                    var $self = $(this);
                    var colNames = $self.jqGrid("getGridParam", "colNames");
                    var colModel = $self.jqGrid("getGridParam", "colModel");
                    var cColumns = colModel.length;
                    for (var iCol = 0; iCol < cColumns; iCol++) {
                        if (colModel[iCol].name === colName) {
                            return colNames[iCol];
                        }
                    }
                };
                var customFormatDisplayField = function (displayValue, value, colModel, index, grp) {
                    return getColumnHeaderByName.call(this, colModel.name) + ": " + displayValue;
                };
                var generateGroupingOptions = function (groupingCount) {
                    var arr = [];
                    for (var i = 0; i < groupingCount; i++) {
                        arr.push(customFormatDisplayField);
                    }
                    return { formatDisplayField: arr };
                };
                var getArrayOfNamesOfGroupingColumns = function () {
                    return $('#groups ol li:not(.placeholder)').map(function() {
                        return $(this).attr('data-column');
                    }).get()
                };                                      
                var myAddButton = function(grid, options) {
                    grid.jqGrid('navButtonAdd','#'+PPpager,options);
                    grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                };    
                var cols = { 
                    url:'/ppdoc/list',
                    editurl:"/ppdoc/insert",       
                    altRows: false, 
                    deepempty: true,
                    autowidth: false,
                    ignoreCase: true,
                    multiselect:false,
                    multiboxonly:false,
                    datatype: "json",
                    mtype: "GET",       
                    height:'auto',
                    width:'auto',
                    scrollOffset:0,
                    colModel:[
                        {label:'userID',name:'user_id', editable:true,editoptions:{readonly:true}  ,width:88, search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']} },
                        {label:'Scheduler',name:'sche_type', editable:true,editoptions:{readonly:true} ,width:120 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']} ,
                            cellattr:function(rowId,val,rawObject){
                                if( rawObject.sche_type == 'PATIENT_REGISTER') {
                                    //return " class='ui-state-default'";
                                    return 'style=\"background-color: lightblue\"';
                                }
                                if (rawObject.sche_type == 'DOC_REFRESH') {
                                    //return " class='ui-state-highlight'";
                                    return 'style=\"background-color: lightgreen\"';
                                }
                        }},
                        {label:'Last Status Update',name:'last_updated', editable:false, search:true ,width:155 ,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                        {label:'Last Succesful Update',name:'last_successfully_updated', editable:false ,width:155 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},                    
                        {label:'Status',name:'status',index:'status', width:155,editable:true,edittype:"select", search:false,editoptions:{ value:selectppReg },
                            formatter:function imageFormat( cellvalue, options, rowObject ){
	                                //return '<img src="/images/funny-job-gif-5.gif" />';
                                    if (cellvalue == 'xREFRESH_FAILED') {                                    
                                        return '<p class="bezier">'+cellvalue+'</p>';
                                    } else {
                                        return cellvalue
                                    }
                            },                    
                            unformat:function imageUnFormat( cellvalue, options, cell){
                  	                return $('img', cell).attr('src');
                            },
                            cellattr:function(rowId,val,rawObject){
                                if( rawObject.status == 'REFRESH_START') {
                                    return 'style=\"background-color:green; color:white\" ';
                                }
                                if( rawObject.status == 'REFRESH_FAILED') {
                                    return 'class=\"bezier\" style=\"background-color: red;color:white\" ';
                                }
                                if (rawObject.status == 'REFRESH_FULFILLED') {
                                    return 'style=\"background-color: lightgreen\"';
                                }
                                if (rawObject.status == 'SMPI_MANUALLINK') {
                                    return 'style=\"background-color: yellow\"';
                                }
                                if (rawObject.status == 'PP_REGISTERED') {
                                    return 'style=\"background-color: cyan\"';
                                }
                                if (rawObject.status == 'PP_REGISTER_FULLFILLED') {
                                    return 'style=\"background-color: lightblue\"';
                                }
                                if (rawObject.status == 'REFRESH_REQUESTED') {
                                    return 'style=\"background-color: pink\"';
                                }
                                if (rawObject.status == 'REFRESH_ATTEMPT_1') {
                                    return 'style=\"background-color: pink\"';
                                }
                                if (rawObject.status == 'REFRESH_ATTEMPT_2') {
                                    return 'style=\"background-color: pink\"';
                                }
                                if (rawObject.status == 'REFRESH_FAILED_NO_ID') {
                                    return 'style=\"background-color: red;color:white\" ';
                                }
                                if (rawObject.status == 'REFRESH_FAILED_NO_PHRID') {
                                    return 'style=\"background-color:red; color:white\" ';
                                }
                                if (rawObject.status == 'REFRESH_FAILED_USER_NOT_FOUND') {
                                    return 'style=\"background-color: red;color:white\" ';
                                }

                        }},
                        {label:'',name:'dummy', width:1,search:false}                                       
                    ],
                    onSelectRow: function (formid) {
                        var rowData = grid.jqGrid("getRowData",formid);
                        var colData = rowData['sche_type'];                         
                        //log("onSelectRow:rowData="+colData+rowData);
                        setStatusValues(colData);
                    },                       
                    loadComplete: function () {
                        var headerIdPrefix = this.id + "ghead_";
                        var groups = grid.jqGrid("getGridParam", "groupingView").groups;
                        if (groups) {
                            var l = groups.length;
                            for (var i = 0; i < l; i++) {
                                $("#"+headerIdPrefix+"0_"+i).addClass('ui-state-highlight');
                            }
                        }
                    },                                      
                    loadonce:true,
                    //pager:"",
                    pager: "#"+PPpager,
                    toppager:true,
                    rowNum: 25,
                    //rowTotal:20,                
                    rowList: [25,50,75,100],        // disable page size dropdown
                    //pgbuttons: true,     // disable page control like next, back button
                    //pgtext: null,         // disable pager text like 'Page 0 of 10'
                    //viewrecords: true ,   // disable current view record text like 'View 1-10 of 100' 
                    autoencode: false, // true displays html in cell instead of button
                    //gridview: true,
                    sortable:true, // true = move columns          
                    caption: "",
                    loadError: function(a, c, d) {
                        //grid.jqGrid("displayErrorMessage",JSON.stringify(a))
                        grid.jqGrid("displayErrorMessage","There is a problem retrieving data from the server, it could be down, please contact system admin")
                    },     
                };
                
                grid.jqGrid(cols);   
                //=============
                $('tr.ui-jqgrid-labels th div').draggable({
                    start: function() {
                        //log('drag started');
                    },  
                    drag: function() {
                        //log('drag dragging');
                    },
                    appendTo: 'body',
                    helper: 'clone'
                });
                $('#groups ol').droppable({
                    activeClass: 'ui-state-default',
                    hoverClass: 'ui-state-hover',
                    accept: ':not(.ui-sortable-helper)',
                    drop: function(event, ui) {                   
                        var $this = $(this);
                        $this.find('.placeholder').remove();
                        var groupingColumn = $('<li></li>').attr('data-column', ui.draggable.attr('id').replace('jqgh_' + grid[0].id + '_', ''));
                        $('<span class="ui-icon ui-icon-close"></span>').click(function() {
                            $(this).parent().remove();
                            grid.jqGrid('groupingRemove');
                            var namesOfGroupingColumns = getArrayOfNamesOfGroupingColumns();
                            grid.jqGrid('showCol',['user_id','sche_type','last_updated','last_successfully_updated','status']);
                            grid.jqGrid('groupingGroupBy', namesOfGroupingColumns);
                            grid.jqGrid('hideCol',namesOfGroupingColumns);
                            if (namesOfGroupingColumns.length === 0) {
                                $('<li class="placeholder">Drag header here to group</li>').appendTo($this);
                            }
                        }).appendTo(groupingColumn);
                        groupingColumn.append(ui.draggable.text());
                        groupingColumn.appendTo($this);
                        grid.jqGrid('groupingRemove');
                        var groupingNames = getArrayOfNamesOfGroupingColumns();
                        grid.jqGrid('groupingGroupBy', groupingNames, generateGroupingOptions(groupingNames.length));
                        // remove or hide selected column
                        grid.jqGrid('hideCol',groupingNames);
                    }
                }).sortable({
                    items: 'li:not(.placeholder)',
                        sort: function() {
                            $( this ).removeClass('ui-state-default');
                    },
                    stop: function() {
                        var groupingNames = getArrayOfNamesOfGroupingColumns();
                        grid.jqGrid('groupingRemove');
                        grid.jqGrid('groupingGroupBy', groupingNames, generateGroupingOptions(groupingNames.length));

                } });
                //==============
                grid.jqGrid('navGrid', '#'+PPpager,{
                        cloneToTop:true,
                        edit:true,
                        add:false,
                        del:false,
                        search:false,
                        refresh:true,                    
                        reloadGridOptions: { fromServer: true },             
                        beforeRefresh: function(){
                            //alert('In beforeRefresh');
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        }                       
                    },
                    editGridRowOptions, // edit options
                    editGridRowOptions.  // add options
                    editGridRowOptions  // add options
                );
                $("#"+PPpager).jqGrid('inlineNav',"#"+PPpager);
                // search in toolbar
                grid.jqGrid('filterToolbar',{autosearch:true,stringResult: true,searchOnEnter : false});
                grid[0].triggerToolbar();
                grid.hideCol('dummy')
                setInterval(() => { 
                    jQuery(grid).jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                },60000 );
                var postData = function() {
                        var sche_type = $('#sche_type').valueOf().val();
                        var status = $('#status').valueOf().val();
                        var user_id = $('#combobox').valueOf().val();
                        var url = "/ppdoc/insert";
                        var data = {"sche_type":sche_type,"status":status,"user_id":user_id}
                        log(JSON.stringify(data))
                        $.ajax({
                            url :url,
                            type: "POST",
                            data : data,
                            dataType: "json",
                            crossDomain: true,
                            success: function(data, textStatus, jqXHR) {
                                 grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                                 $( "#dialog-userdocrequest" ).dialog('close');                       
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                 grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                                 $( "#dialog-userdocrequest" ).dialog('close');                       
                                //alert("Post error: "+textStatus);
                            }
                        });                        
                }     
                var dialoguserdocrequest = $( "#dialog-userdocrequest" ).dialog({
                    autoOpen: false,
                    height: 370,
                    width: 400,
                    modal: true,
                    show: {
                        effect: "blind",
                        duration: 500
                    },
                    hide: {
                        effect: "explode",
                        duration: 500
                    },                    
                    buttons: {
                        "Submit": postData,
                        Cancel: function() {
                             $( "#dialog-userdocrequest" ).dialog( "close" );
                        }
                    },
                    open: function(){
                            var sel_id = grid.jqGrid('getGridParam', 'selrow');
                            var user_id = grid.jqGrid('getCell', sel_id, 'user_id');
                            var sche_type = "DOC_REFRESH";
                            var status = "REFRESH_START"                            
                            $('#user_id').val(user_id );
                            $('#sche_type').val( sche_type) ;
                            $('#status').val( status) ;
                    },              
                    close: function() {
                        //allFields.removeClass( "ui-state-error" );
                        $( "#dialog-userdocrequest" ).dialog('close');
                    }
                });                  
                fillcombo = function () {
                        var url = "/users";    
                        $.ajax({
                            type: "GET",
                            url: url ,
                            success: function(data, textStatus, jqXHR) {
                                //log("status="+textStatus)
                            },
                            complete: function(result,status){
                                var res = JSON.parse(result.responseText);
                                var alen = res.length;
                                for (i = 0; i < alen; i++) {
                                    var val = res[i].user_id;
                                    var mpiid = res[i].mpiid;
                                    // check if user has an mpiid
                                    if ( mpiid && ! isEmpty(mpiid) && mpiid != 'n/a' && mpiid != 'undefined' ) {
                                        $("#combobox").append($("<option></option>").val(val).html(val));
                                    }
                                }
                            }            
                        });
                }                            
                myAddButton (grid,{
                    caption: "New User Doc Request",
                    buttonicon:"ui-icon-image",
                    title: "Add a New Doc Request for a user",
                    onClickButton : function (){
                        dialoguserdocrequest.dialog( "open" );
                    }
                });
                $( "#combobox" ).combobox();
                $( "#toggle" ).on( "click", function() {
                    $( "#combobox" ).toggle();
                });
                fillcombo();
        }); //end $function               
    </script>    
    

    <div id="groups">
        <div class="ui-widget-content">
            <ol>
                <li class="placeholder">Drag headers here to group</li>
            </ol>
        </div>
    </div>    
    <table id="ppdocRefreshlist"></table> 
    <div class="ui-widget-content" id="ppdocRefreshpager"></div>              

    <div id="dialog-userdocrequest" title='Scheduler Document Request' class="ui-layout-center" style="display:none">
        <div> Type in user id or select from list </div>
        <div> and then click submit to send a new Doc Request for user. </div>
        <div> Click Cancel, to cancel request.</div>
        <form id="form-useremail" method="POST" action=/ppdoc/save_edit >
            <fieldset>
                <div id="userlogin"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " > 
                    <input type="hidden" name="langid" hidden="true" />
                    <label class='newuserlabel' for="user_id">user id</label>
                        <select name ="user_id" id="combobox">
                        </select>                    
                    <br>
                    <input type="hidden" id="sche_type" name="sche_type" hidden="true" />
                    <input type="hidden" id="status" name="status" hidden="true" />
                </div>
            </fieldset>
        </form>
    </div>                     
