
<div style="border:2px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
    <script>
        var tokenid = '<%-tokenid%>'; 
        var grid = '';
        $( function() {
              
                var inc = increment();
                
                var HSpager = document.getElementById("HSpager").id + inc;
                $('#'+'HSpager').attr( 'id', HSpager );
                                

                var HSgrid = document.getElementById("HSgrid").id + inc;
                $('#'+'HSgrid').attr( 'id', HSgrid );
                
                if (isEmpty(tokenid) ) {
                    tokenid = getURLParameter('tokenid') ;
                }                 
                log("tokenid="+tokenid)           
                verifytoken(tokenid,function(res){
                    if (! res){
                       // window.location = "/login/html?tokenid="+tokenid;
                        //$( '#mainprog' ).html( "" );
                    }
                })                                                     
            
                var cols = <%-JSON.stringify(colsetup)%> ;
                grid = $("#"+HSgrid);
                myAddButton = function(options) {
                    grid.jqGrid('navButtonAdd','#'+HSpager,options);
                    grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                };

         //----------------------------------------       
                    cols.subGrid =  true;
                    cols.subGridOptions =  {
                        "plusicon"  : "ui-icon-triangle-1-e",
                        "minusicon" : "ui-icon-triangle-1-s",
                        "openicon"  : "ui-icon-arrowreturn-1-e",
                        // load the subgrid data only once
                        // and the just show/hide
                        "reloadOnExpand" : true,
                        // select the row when the expand column is clicked
                        "selectOnExpand" : true,
                        //"selectOnLoad" : true
                    };                  
                    cols.subGridRowExpanded =  function(subgrid_id, row_id) {
                        var subgrid_table_id, pager_id;
                        //var id = '100000012' ;
                        var selRowId = grid.jqGrid ('getGridParam', 'selrow');
                        var id = grid.jqGrid ('getCell', selRowId, 'MPIID');
                        var rowData =  grid.jqGrid('getRowData',selRowId);
                        id = rowData.MPIID;
                        var url = '/HSdocuments/'+id+'/Approved';           
                        log(url);                    
                        subgrid_table_id = subgrid_id+"_t";
                        pager_id = "p_"+subgrid_table_id;
                        $("#"+subgrid_id).html("<table id='"+subgrid_table_id+"' class='scroll'></table><div id='"+pager_id+"' class='scroll'></div>");
                        jQuery("#"+subgrid_table_id).jqGrid({
                            url:url,
                            datatype: "json",    
                           //loadonce:true,       
                            colModel:[
                                {label:'Doc Id',name:'DocumentID',index:'DocumentID', width:250,hidden:true },
                                {label:'IID',name:'IID', width:95,hidden:true},
                                {label:'Patient ID',name:'PatientID', width:95},
                                {label:'Source ID',name:'SourcePatientID', width:95,hidden:true},
                                {label:'Type',name:'MimeType',index:'MimeType',width:95 },
                                {label:'Submission Date',name:'SubmissionTime', width:95},   
                                {label:'Doc Class',name:'ClassCode_DisplayName',width:200,hidden:true},               
                                {label:'Name',name:'PracticeSettingCode_DisplayName', width:80,hidden:false},   
                                {label:'Size',name:'Size', width:80,hidden:false},   
                                {label:'Status',name:'Status', width:80,hidden:false},   
                                {label:'Format code',name:'FormatCode_IID', width:80,hidden:true},   
                                {label:'Doc Format',name:'FormatCode_DisplayName',widt:80, hidden:false},   
                                {label:'Code Scheme',name:'FormatCode_CodingScheme', width:50,hidden:true},   
                                {label:'Doc ID',name:'DocumentUniqueIdentifier_IID', width:200,hidden:true},   
                                {label:'Repository ID',name:'RepositoryUniqueID', width:175,hidden:true,search:false},
                                {label:'',width:1,search:false,hidden:true}
                            ],
                            rowNum:20,
                            pager: pager_id,
                            sortname: 'IID',
                            sortorder: "asc",
                            height: '100%'
                        });
                        var sgrid = jQuery("#"+subgrid_table_id);
                        //jQuery("#"+subgrid_table_id).jqGrid('navGrid',"#"+pager_id,{edit:false,add:false,del:false});
                        sgrid.jqGrid('navGrid',"#"+pager_id,{edit:false,add:false,del:false});
                        var opts = {
                                caption: "Columns",
                                title: "Reorder Columns",
                                onClickButton : function (){
                                    sgrid.jqGrid('columnChooser');
                                }
                        };
                        sgrid.jqGrid('navButtonAdd','#'+pager_id,opts);
                        sgrid.jqGrid('navButtonAdd','#'+sgrid[0].id+"_toppager",opts);
                        
                    }

                    //----------------------------------------------------------
                grid.jqGrid(cols);   

                grid.jqGrid('navGrid', '#'+HSpager,{
                        cloneToTop:true,
                        edit:false,
                        add:false,
                        del:false,
                        search:false,
                        refresh:true,
                        edittext:'Edit',
                        deltext:'Delete',
                        addtext:'Add'
                    },
                    editSettings, 
                    addSettings, 
                    delSettings,
                    {multipleSearch: true, overlay: false,
                        onClose: function (form) {
                            // if we close the search dialog during the datapicker are opened
                            // the datepicker will stay opened. To fix this we have to hide
                            // the div used by datepicker
                            $("div#ui-datepicker-div.ui-datepicker").hide();
                        }
                    }
                ) ;               
                // search in toolbar
                grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
                // add buttons to grid
                 // colum chooser
                myAddButton ({
                    caption: "Columns",
                    title: "Reorder Columns",
                    onClickButton : function (){
                        grid.jqGrid('columnChooser');
                    }
                });
                
                startTimeout();
        });
                
    </script>
    <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	                
        <table id="HSgrid"></table> 
        <div id="HSpager"></div>                        
    </div>    
  
</div>
