<%- include header1.ejs %>
 
  
      <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
        <tr id="gridArea">
                <td style="border-bottom:2px solid #83B4D8;white-space:nowrap" align="left" >
                    <div id="loggrid"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " >
                        <table id="PPreportsgrid"></table> 
                        <div id="PPreportspager"></div>    
                        
                    </div>
                </td>
            </tr>                     
    </div>    
    <script>
    var cols = <%-JSON.stringify(colsetup)%>
    var lastsel ;        
    $("#PPreportsgrid").jqGrid(cols);   
   
    jQuery("#PPreportsgrid").jqGrid('navGrid','#PPreportspager',
                {cloneToTop:false,edit:false,add:false,del:false}, //options             
                {}, // edit options
                {}, // add options
                {}, //del options
                {} //search options
                );
                    
    // Bind the navigation and set the onEnter event
    //jQuery("#PPreportsgrid").jqGrid('bindKeys', {"onEnter":function( rowid ) { alert("You enter a row with id:"+rowid)} } );
    // show column search search  
   // jQuery("#PPreportsgrid").jqGrid('filterToolbar',{searchOperators : true,searchOnEnter:false});
    $(window).bind('resize', function() {
            //log("rezie win width = "+$('#griddiv').width() + "win width = ")
            // $("#PPreportsgrid").$('setGridWidth',$(window).width());
            //$("#PPreportsgrid").jqGrid('setGridParam',{url:"/users", datatype:"json", page:1}).trigger("reloadGrid");            
    }).trigger('resize');      
    </script>
    

  
<%- include footer.ejs %>

