<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="utf-8"/>
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="cache-control" content="max-age=0">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">

        <meta http-equiv="Cache-Control" content=" private, no-cache">
        <meta http-equiv="Content-Disposition" content="inline;filename='files.json' ">
        <meta http-equiv="X-Content-Type-Options" content="nosniff">      
            
        <meta name="author" content="pkulek nyehealth.org">
        <meta name="description" content="Patient Portal Admin library">
        <meta name="viewport" content="width=device-width">
            

        <title><%= page_title %></title>

        <link rel="shortcut icon"  href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/base.css?v=1">
        <link rel="stylesheet" type="text/css" media="screen" href="/themes/redmond/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/themes/ui.jqgrid.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/themes/ui.multiselect.css" />
        <link rel="stylesheet" href="style.css">
        <style>
                #dialog label, #dialog input { display:block; }
                #dialog label { margin-top: 0.5em; }
                #dialog input, #dialog textarea { width: 95%; }
                #tabs { margin-top: 1em; }
                #tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
                #add_tab { cursor: pointer; }      
                #headerlogo {vertical-align:bottom}
        </style>
<style>
.ui-jqgrid tr.jqgrow td{height:40px;}
</style>

        <script src="/js/modernizr.custom.2.8.3.min.js"></script>             
        <script src="/js/jquery-1.12.4.min.js" type="text/javascript"></script>
        <script src="/js/jquery-ui-custom.min.js" type="text/javascript"></script>
        <script src="/js/jquery.layout.js" type="text/javascript"></script>
        <script src="/js/i18n/grid.locale-en.js" type="text/javascript"></script>
        <script type="text/javascript">
            $.jgrid.no_legacy_api = true;
            $.jgrid.useJSON = true;
        </script>
        <script src="/js/jquery.jqGrid.min.js" type="text/javascript"></script>
 
</head>

<body>
 
  
      <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
        <tr id="gridArea">
                <td style="border-bottom:2px solid #83B4D8;white-space:nowrap" align="left" >
                    <div id="loggrid"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " >
                        <table id="PPskinsgrid"></table> 
                        <div id="PPskinspager"></div>    
                        
                    </div>
                </td>
            </tr>                     
    </div>    
    <script>
    var cols = <%-JSON.stringify(colsetup)%>
    var lastsel ;        
    $("#PPskinsgrid").jqGrid(cols);   
   
    jQuery("#PPskinsgrid").jqGrid('navGrid','#PPskinspager',
                {cloneToTop:false,edit:false,add:false,del:false}, //options             
                {}, // edit options
                {}, // add options
                {}, //del options
                {} //search options
                );
                    
    // Bind the navigation and set the onEnter event
    //jQuery("#PPskinsgrid").jqGrid('bindKeys', {"onEnter":function( rowid ) { alert("You enter a row with id:"+rowid)} } );
    // show column search search  
   // jQuery("#PPskinsgrid").jqGrid('filterToolbar',{searchOperators : true,searchOnEnter:false});
    $(window).bind('resize', function() {
            //log("rezie win width = "+$('#griddiv').width() + "win width = ")
             $("#PPskinsgrid").$('setGridWidth',$(window).width());
            //$("#PPskinsgrid").jqGrid('setGridParam',{url:"/users", datatype:"json", page:1}).trigger("reloadGrid");            
    }).trigger('resize');      
    </script>
    
</body>
