

<div style="border:2px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">
    <script>
        var baseUrl = document.location.origin;
        $( function() {
                var tokenid = 0;
                //var inc = increment();
                //var PPpager = document.getElementById("sprlpager").id + inc;
                //document.getElementById("sprlpager").id = PPpager;                
                //var PPgrid = document.getElementById("sprlist").id + inc;
                //document.getElementById("sprllist").id = PPgrid;
                var lastsel ;
                ///===================================================
                var PPpager = ("sprlpager");
                grid = $("#sprllist");                                
                //grid = $("#"+PPgrid);                                
                myAddButton = function(options) {
                    grid.jqGrid('navButtonAdd','#'+PPpager,options);
                    grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                };
                //======================================================
                var cols = <%-JSON.stringify(colsetup)%> ;
                grid.jqGrid(cols);   
                grid.jqGrid('navGrid', '#'+PPpager,{
                        cloneToTop:true,
                        edit:false,
                        add:false,
                        del:false,
                        search:true,
                        refresh:true,
                        reloadGridOptions: { fromServer: true },
                        beforeRefresh: function(){
                            //alert('In beforeRefresh');
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        }                       
                    }
                ) ;
                // search in toolbar
                grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
                grid.jqGrid('inlineNav',"#"+PPpager);     

                myAddButton ({
                    caption: "Line Chart",
                    title: "Chart",
                    onClickButton : function (){
                        var url = "/HBM/Chart" ;
                        //openWindow(url,"Heartbeat Monitor");
                        var win = window.open(url , "HBM Chart","resizable=1,scrollbars=yes ,width=900,height=400");
                    }
                });                
                myAddButton ({
                    caption: "Dashboard",
                    title: "Dashboard",
                    onClickButton : function (){
                        var url = "/HBM/dashboard" ;
                        //openWindow(url,"Heartbeat Monitor");
                        var win = window.open(url , "HBM Dashboard","resizable=1,scrollbars=yes ,width=430,height=260");
                    }
                });                

        });                
    </script>
    
    <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     
   
        <table id="sprllist"></table> 
        <div id="sprlpager"></div>                        
    </div>      
</div>

    