<%- include header1.ejs %>



	<link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/jquery-easyui/demo/demo.css">
	<script type="text/javascript" src="/jquery-easyui/jquery.easyui.min.js"></script>

	<script src="/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/vkbeautify.js"></script>

	<style type="text/css" media="screen">
		body {
			overflow: hidden;
		}
		#editorxml {
			margin: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
        
        .soaplabel { width:120px; display: inline-flex;  color:22ff55; }  
        input { width:380px; display: inline-flex;  color:ff2222;  background:#1111ff;}
		
        #select-button {
            width: 45px;
        }             
        .block_button {
            position:absolute;   
            float: right;
            padding-right: 1px;
            padding-bottom:1px;
            padding-left: 1px;  
            bottom:1px;          
            right:1px;          
        }         

	</style>
	
	<div>
	
		<div id="cc" class="easyui-layout" style="width:99%;height:650px;">
			<div data-options="region:'west',split:true,collapsed:false,
					hideExpandTool: false,
					expandMode: null,
					hideCollapsedContent: true,
					collapsedSize: 20,
					collapsedContent: function(){
						//return $('#titlebar1');
					},
					" title="XML" style="width:200px;">
					<table id="diceditRefreshlist"></table> 
					<div id="dicedtRefreshpager"></div>   
			</div>
			<div data-options="region:'center',title:'xml'">	  
			<div id="soapwindow" style="border:3px solid green; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:1px; background:#F8F8FF; height:auto; ">
						<form id="form-soap" method="POST" action=/sprl/test >
							<fieldset>
								<div id="soap"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " > 
									<input type="hidden" name="langid" hidden="true" />
									<label class='soaplabel' for="url">URL :</label>
									<input type="text" name="url" id="url" value="https://sprl.shinnyapi.org:9443/sXCPDQuery" class="text ui-widget-content ui-corner-all">
									<br>
									<br>
									<input type="hidden" name="langid" hidden="true" />
									<label class='soaplabel' for="QE_name">QE Name :</label>
									<input type="text" name="QE_name" id="QE_name" value="HEALTHIX" class="text ui-widget-content ui-corner-all">
									<br>
									<label class='soaplabel' for="QE_ID">QE ID :</label>
									<input type="text" name="user_id" id="QE_ID" value="2.16.840.1.113883.13.61" class="text ui-widget-content ui-corner-all">
									<br>
									<label class='soaplabel'  for="MPI_ID">MPI ID :</label>
									<input type="text" name="MPI_ID" id="MPI_ID" value="5160563" class="text ui-widget-content ui-corner-all">
									<br>
									<label class='soaplabel'  for="Repository_Id">Repository ID :</label>
									<input type="text" name="DocumentStatus" id="Repository_Id" value="2.16.840.1.113883.13.61.100.1" class="text ui-widget-content ui-corner-all">
									<br>
									<label class='soaplabel'  for="DocumentType1">Document Type 1 :</label>
									<input type="text" name="DocumentType1" id="DocumentType1" value="'urn:uuid:7edca82f-054d-47f2-a032-9b2a5b5186c1'" class="text ui-widget-content ui-corner-all">
									<br>
									<label class='soaplabel'  for="DocumentType2">Document Type 2 :</label>
									<input type="text" name="DocumentType2" id="DocumentType2" value="'urn:uuid:34268e47-fdf5-41a6-ba33-82133c465248'" class="text ui-widget-content ui-corner-all">
									<br>
									<label class='soaplabel'  for="DocumentStatus">Document Status :</label>
									<input type="text" name="DocumentStatus" id="DocumentStatus" value="'urn:oasis:names:tc:ebxml-regrep:StatusType:Approved'" class="text ui-widget-content ui-corner-all">
									<br>
									<textarea name="soap_text" id="soap_text" cols="80" rows="10"></textarea>
									<br>
									<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
								</div>
							</fieldset>
					</form>
				</div>
    				
				
			</div>
    	</div>
   	</div>
	<script>
 		var baseUrl = document.location.origin;
        var grid;
		var id,type,parent,ext,cargo;
		var dirty = false;
		var prevcell = {};
		var HIEProperties = [
			{QE_Name:"BRONX",MPI_ID:"002412926061",QE_ID:"2.16.840.1.113883.3.371.1.1.3",MPI_OID:"'002412926061^^^&amp;2.16.840.1.113883.3.371.1.1.3&amp;ISO'",Repository_Id:"2.16.840.1.113883.3.371.1.1.5.12",Document_Id:"n/a",Command:"",Result:"",Failure_Description:"",Count:0,ret_count:0,pix_count:0,qry_count:0,xcpd_count:0,DocumentType1:"'urn:uuid:7edca82f-054d-47f2-a032-9b2a5b5186c1'",DocumentType2:"'urn:uuid:34268e47-fdf5-41a6-ba33-82133c465248'",DocumentStatus:"'urn:oasis:names:tc:ebxml-regrep:StatusType:Approved'",email:"",text:"",url:"https://sprl.shinnyapi.org:9443/sXCPDQuery"},
			{QE_Name:"HIXNY",MPI_ID:"12953892",QE_ID:"2.16.840.1.113883.4.319",MPI_OID:"12953892^^^&amp;2.16.840.1.113883.4.319&amp;ISO",Repository_Id:"2.16.840.1.113883.4.319.2.1.2",Document_Id:"n/a",Command:"",Result:"",Failure_Description:"",Count:0,ret_count:0,pix_count:0,qry_count:0,xcpd_count:0,DocumentType1:"urn:uuid:7edca82f-054d-47f2-a032-9b2a5b5186c1",DocumentType2:"urn:uuid:34268e47-fdf5-41a6-ba33-82133c465248",DocumentStatus:"urn:oasis:names:tc:ebxml-regrep:StatusType:Approved",email:"",text:"",url:"https://sprl.shinnyapi.org:9443/sXCPDQuery"},
			{QE_Name:"HEALTHECONN",MPI_ID:"9458451",QE_ID:"2.16.840.1.113883.3.1834.1",MPI_OID:"9458451^^^&amp;2.16.840.1.113883.3.1834.1&amp;ISO",Repository_Id:"1.3.6.1.4.1.21367.2010.1.2.1040",Document_Id:"n/a",Command:"",Result:"",Failure_Description:"",Count:0,ret_count:0,pix_count:0,qry_count:0,xcpd_count:0,DocumentType1:"urn:uuid:7edca82f-054d-47f2-a032-9b2a5b5186c1",DocumentType2:"urn:uuid:34268e47-fdf5-41a6-ba33-82133c465248",DocumentStatus:"urn:oasis:names:tc:ebxml-regrep:StatusType:Approved",email:"",text:"",url:"https://sprl.shinnyapi.org:9443/sXCPDQuery"},
			{QE_Name:"HEALTHIX",MPI_ID:"5160563",QE_ID:"2.16.840.1.113883.13.61",MPI_OID:"5160563^^^&amp;2.16.840.1.113883.13.61&amp;ISO",Repository_Id:"2.16.840.1.113883.13.61.100.1",Document_Id:"n/a",Command:"",Result:"",Failure_Description:"",Count:0,ret_count:0,pix_count:0,qry_count:0,xcpd_count:0,DocumentType1:"urn:uuid:7edca82f-054d-47f2-a032-9b2a5b5186c1",DocumentType2:"urn:uuid:34268e47-fdf5-41a6-ba33-82133c465248",DocumentStatus:"urn:oasis:names:tc:ebxml-regrep:StatusType:Approved",email:"",text:"",url:"https://sprl.shinnyapi.org:9443/sXCPDQuery"},
			{QE_Name:"HEALTHLINKNY",MPI_ID:"1021759186",QE_ID:"2.16.840.1.113883.3.234.1.4.1.17.1.5.3.1.5",MPI_OID:"1021759186^^^&amp;2.16.840.1.113883.3.234.1.4.1.17.1.5.3.1.5&amp;ISO",Repository_Id:"2.16.840.1.113883.3.234.1.4.1.17.1.6.3.1.1",Document_Id:"n/a",Command:"",Result:"",Failure_Description:"",Count:0,ret_count:0,pix_count:0,qry_count:0,xcpd_count:0,DocumentType1:"urn:uuid:7edca82f-054d-47f2-a032-9b2a5b5186c1",DocumentType2:"urn:uuid:34268e47-fdf5-41a6-ba33-82133c465248",DocumentStatus:"urn:oasis:names:tc:ebxml-regrep:StatusType:Approved",email:"",text:"",url:"https://sprl.shinnyapi.org:9443/sXCPDQuery"},
			{QE_Name:"NYCIG",MPI_ID:"6109116",QE_ID:"2.16.840.1.113883.3.2591.100.3",MPI_OID:"6109116^^^&amp;2.16.840.1.113883.3.2591.100.3&amp;ISO",Repository_Id:"2.16.840.1.113883.3.2591.100.3.1.2",Document_Id:"n/a",Command:"",Result:"",Failure_Description:"",Count:0,ret_count:0,pix_count:0,qry_count:0,xcpd_count:0,DocumentType1:"urn:uuid:7edca82f-054d-47f2-a032-9b2a5b5186c1",DocumentType2:"urn:uuid:34268e47-fdf5-41a6-ba33-82133c465248",DocumentStatus:"urn:oasis:names:tc:ebxml-regrep:StatusType:Approved",email:"",text:"",url:"https://sprl.shinnyapi.org:9443/sXCPDQuery"},
			{QE_Name:"GRRHIO",MPI_ID:"1360910431",QE_ID:"2.16.840.1.113883.3.458.10.1.1",MPI_OID:"1360910431^^^&amp;2.16.840.1.113883.3.458.10.1.1&amp;ISO",Repository_Id:"2.16.840.1.113883.3.458.10.1.1",Document_Id:"n/a",Command:"",Result:"",Failure_Description:"",Count:0,ret_count:0,pix_count:0,qry_count:0,xcpd_count:0,DocumentType1:"urn:uuid:7edca82f-054d-47f2-a032-9b2a5b5186c1",DocumentType2:"urn:uuid:34268e47-fdf5-41a6-ba33-82133c465248",DocumentStatus:"urn:oasis:names:tc:ebxml-regrep:StatusType:Approved",email:"",text:"",url:"https://sprl.shinnyapi.org:9443/sXCPDQuery"},
			{QE_Name:"HEALTHELINK",MPI_ID:"2000001795808",QE_ID:"2.25.256133121442266547198931747355024016667.1.1.1",MPI_OID:"2000001795808^^^&amp;2.25.256133121442266547198931747355024016667.1.1.1&amp;ISO",Repository_Id:"2.25.256133121442266547198931747355024016667.1.1.1.1040",Document_Id:"n/a",Command:"",Result:"",Failure_Description:"",Count:0,ret_count:0,pix_count:0,qry_count:0,xcpd_count:0,DocumentType1:"urn:uuid:7edca82f-054d-47f2-a032-9b2a5b5186c1",DocumentType2:"urn:uuid:34268e47-fdf5-41a6-ba33-82133c465248",DocumentStatus:"urn:oasis:names:tc:ebxml-regrep:StatusType:Approved",email:"",text:"",url:"https://sprl.shinnyapi.org:9443/sXCPDQuery"}
		];
		$( function() {		
 			var cols = { 
                url:'/dict/get/XML', 
                altRows: false, 
                deepempty: true,
                autowidth: false,
                ignoreCase: true,
                multiselect:false,
                multiboxonly:true,
                datatype: "json",
                mtype: "GET",       
                height:'auto',
                width:'auto',
                scrollOffset:0,
                colModel:[
                    {label:'Type',name:'type', editable:false,hidden:true ,width:58 },
                    {label:'ID',name:'dicid', key:true,editable:false ,hidden:false,width:135 },
                    {label:'parent',name:'parent', editable:false,hidden:false ,width:135 },                    
                    {label:'ext',name:'ext', editable:false ,hidden:false,width:35   },
                    {label:'cargo',name:'cargo', editable:true,hidden:true ,width:150,height:25 },
                    {label:'notes',name:'notes', editable:true,hidden:true ,width:150 }
                ],
				ondblClickRow: function (rowid, iRow,iCol) {
					if (dirty) {
					 	if ( confirm("Changes have been made ? save changes" ) ) {
						 	ocargo =  editor.getSession().getValue();
							dirty = false;
							prevcell.cargo = ocargo ;
							// save to dict
							var url = baseUrl+"/dicedit/post";
							log("prevcell="+prevcell);
							log(url);
  							$.ajax({
								type: "POST",
								url: url,
								data:prevcell,
								success: function( returnedData ) {
									//refreshgrid
									 grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
									//alert(returnedData);                                                                              
								}
                            });
						}
					}					
					var cargo = $(this).jqGrid ('getCell', rowid, 'cargo') ;
					log(cargo.QE_Name);
					log(JSON.parse(cargo))	
					//$('#foo').val('this is some example text');	
					$('#QE_name').val( cargo.QE_Name);
					/*
					var type = $(this).jqGrid ('getCell', rowid, 'type');						
					var id = $(this).jqGrid ('getCell', rowid, 'dicid');
					var ext = $(this).jqGrid ('getCell', rowid, 'ext');
					var parent = $(this).jqGrid ('getCell', rowid, 'parent');
					prevcell = {rowid:rowid,type:type,id:id,parent:parent,ext:ext,cargo:cargo};
					editor.getSession().setValue(vkbeautify.xml(cargo,2));
					//editor.getSession().setValue(cargo);
					//log(editor.getValue()) // or session.getValue				
					dirty = false;
					*/
                },
                loadonce:true,
                toppager:true,
                rowList: [],        // disable page size dropdown
                pgbuttons: false,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                gridview: true,
                autoencode: true,           
                caption: ""     // disable caption with ''     
            };
			///===================================================
			var PPpager = ("diceditRefreshpager");
			var grid = $("#diceditRefreshlist");                                
			//======================================================
			grid.jqGrid(cols);   
			grid.jqGrid('navGrid', '#'+PPpager,{
					cloneToTop:true,
					edit:false,
					add:false,
					del:false,
					search:false,
					refresh:true,
					reloadGridOptions: { fromServer: true },             					                     
				}
			);
		
		});		
	</script>   
<%- include footer.ejs %>