
<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta charset="utf-8"/>
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="cache-control" content="max-age=0">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="pragma" content="no-cache">

  <meta http-equiv="Cache-Control" content=" private, no-cache">
  <meta http-equiv="Content-Disposition" content="inline;filename='files.json' ">
  <meta http-equiv="X-Content-Type-Options" content="nosniff">      
    
  <meta name="author" content="pkulek nyehealth.org">
  <meta name="description" content="Patient Portal Admin library">
  <meta name="viewport" content="width=device-width">
    
  <title>Patient Portal Admin</title>
  
  <link rel="shortcut icon"  href="images/favicon.ico">
  <link rel="stylesheet" href="../css/base.css?v=1">
  <link rel="stylesheet" href="../themes/redmond/jquery-ui.css">     
  <link rel="stylesheet" href="../css/ui.jqgrid.css">       
  <link rel="stylesheet" href="style.css">   
   
	<script src="../js/modernizr.custom.2.8.3.min.js"></script>             
  <script src="../js/jquery.min.js"></script>                              
  <script src="../js/ui/jquery-ui.js"></script>
  <script src="../js/ui/jquery.ui.position.js"></script>    
  <script src="../js/i18n/grid.locale-en.js" type="text/javascript"></script>
  <script type="text/javascript">
	    $.jgrid.no_legacy_api = true;
	    $.jgrid.useJSON = true;
  </script>
  <script src="../js/ui.multiselect.js" type="text/javascript"></script>
  <script src="../js/jquery.jqGrid.js" type="text/javascript"></script>
  <script src="../js/jquery.tablednd.js" type="text/javascript"></script>
  <script src="../js/jquery.contextmenu.js" type="text/javascript"></script> 
  <script src="../js/jquery.jqGridDX.js"></script> 

  <style>
        #dialog label, #dialog input { display:block; }
        #dialog label { margin-top: 0.5em; }
        #dialog input, #dialog textarea { width: 95%; }
        #tabs { margin-top: 1em; }
        #tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
        #tabs .ui-tabs.panel {padding: 0 0 0 0;}
        #add_tab { cursor: pointer; }      
        #headerlogo {vertical-align:bottom}
  </style>
  <!-- style for vertical tabs -->
  <style> 
        .ui-tabs-vertical { width: 55em; }
        .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
        .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
        .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
        .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
  </style>
  <script type="text/javascript">    
        var testdata = [
          {id:"1",invdate:"2007-10-01",name:"test",note:"note",amount:"200.00",tax:"10.00",total:"210.00"},
          {id:"2",invdate:"2007-10-02",name:"test2",note:"note2",amount:"300.00",tax:"20.00",total:"320.00"},
          {id:"3",invdate:"2007-09-01",name:"test3",note:"note3",amount:"400.00",tax:"30.00",total:"430.00"},
          {id:"4",invdate:"2007-10-04",name:"test",note:"note",amount:"200.00",tax:"10.00",total:"210.00"},
          {id:"5",invdate:"2007-10-05",name:"test2",note:"note2",amount:"300.00",tax:"20.00",total:"320.00"},
          {id:"6",invdate:"2007-09-06",name:"test3",note:"note3",amount:"400.00",tax:"30.00",total:"430.00"},
          {id:"7",invdate:"2007-10-04",name:"test",note:"note",amount:"200.00",tax:"10.00",total:"210.00"},
          {id:"8",invdate:"2007-10-03",name:"test2",note:"note2",amount:"300.00",tax:"20.00",total:"320.00"},
          {id:"9",invdate:"2007-09-01",name:"test3",note:"note3",amount:"400.00",tax:"30.00",total:"430.00"}
          ];
          function getURLParameter(name) {
              return decodeURI(
            (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,''])[1]
              );
          }
          function log(str) {
            $("#log").prepend(str + "<br />");
          }
          function clearlog() {
            $("#log").empty();
          }             
          function closelog() {
            $("#logwindow").hide();
          }             
           function openlog() {
            $("#logwindow").show();
          }             
       /*
          if (getURLParameter('tokenid') == '') {
            window.location = "/login/html";
          };
         */ 
    
    
  </script>
 
</head>
<!-- body data========================== -->
<body>
	  <div id="uploaddialog">
        <form ref='uploadForm' 
          id='uploadForm' 
          action='/upload' 
          method='post' 
          encType="multipart/form-data">
            <input type="file" name="sampleFile" />
            <input type='submit' value='Upload!' />
        </form>		
    </div>


  <!-- Begin Login Dialog -->
 	<div id="logindialog" >                                 
			<form method="POST" class="signin" action="/login" id="verifylogin" name="verifylogin">
				<div id="logo"> <a href="HTTP://nyehealth.org"><img src="images/nypp_logo.png" alt="NYeC Logo" /></a> </div>	
				<br>
				<div id="LoginTopPane">
					<{WEB_004,Select Language:}> <span   id="LanguageSelect" >     </span>
					<br>
					<input type="hidden" name="langid" hidden="true" />                  
				<br>		
				Select Language: <span   id="LanguageSelect" > </span> 
				<br>
					<fieldset class="ui-helper-reset">
						<table id="users" class="ui-widget ui-widget-content">
							<tbody>
								<tr >
									<td>
										<{WEB_006,User Name or email}>
									</td>
									<td>
										<input id="userid" name="userid" value="" type="text" autocomplete="on" placeholder="Username" class="ui-widget-content ui-corner-all">
									</td>
								</tr>
								<tr>
									<td>
										<{WEB_007,Password}>
									</td>
									<td>
										<input id="password" name="password" value="" type="password" placeholder="Password">
									</td>
								</tr>
								<tr>
									<td>
									</td>
									<td>
										<a class="forgot" href="#">
											<{WEB_011,Forgot your password?}>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</fieldset>
				</div>
			</form>     
  
		</div>    
		<!-- END Login dialog-->
        
    <!-- Add new Tab Dialog -->      
    <div id="dialog" title="Tab data">
      <form>
   			<div id="logo"> <a href="HTTP://nyehealth.org"><img src="images/nypp_logo.png" alt="NYeC Logo" /></a> </div>	
				<br>
		    <fieldset class="ui-helper-reset">
          <label for="tab_title">Title</label>
          <input type="text" name="tab_title" id="tab_title" value="Tab Title" class="ui-widget-content ui-corner-all">
          <label for="tab_content">Content</label>
          <textarea name="tab_content" id="tab_content" class="ui-widget-content ui-corner-all">Tab content</textarea>
        </fieldset>
      </form>
    </div>       
    <!-- End Add New Dialog Form-->
    
    <div style="border:2px solid blue; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:1px; background:#6666FF; height:auto; ">     
      <img id="headerlogo" height='42' width='82' align="middle" src="images/nypp_logo.png" alt="NYeC Logo" vertical-align="none"/>   
        <button id="login_dlg">Login</button>    
        <button id="add_tab">  Add Tab</button>    
              
        <button id="addhtml">add tab data</button>
        <button id="upload">upload file</button>
             
    </div>

    <div id="tabs">
          <ul>                                                  
              <li><a href="#tab-users">User Admin</a> </li>
              <li><a href="#tab-reports">User Reporting</a></li>
              <li><a href="#tab-skins">Skin Admin</a></li>
              <li><a href="#tabs-4"> Verizon Admin</a></li>           
              <li><a href="#tabs-5"> Issue Management</a></li>
          </ul>
          <div id="tab-users">       
                <table id="PPusersgrid"><tr><td></td></tr></table> 
                <div id="PPuserpager"></div>          
          </div>          
          <div id="tab-reports">        
                <table id="PPreportsgrid"><tr><td></td></tr></table> 
                <div id="PPreportspager"></div>                                                           
          </div>           
          <div id="tab-skins">                                            
              <table id="PPskinsgrid"><tr><td></td></tr></table> 
                <div id="PPskinspager"></div>          
          </div>           
          <div id="tabs-4">                                                         
          </div>           
          <div id="tabs-5">                                            
          </div>           
    </div>
    <!--   Logging for test -->                              
    <div id="logwindow" style="border:3px solid green; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:1px; background:#F8F8FF; height:auto; ">
        <button id="clear_log"  onclick="clearlog();">clear log</button>    
        <button id="close_log"  onclick="closelog();">close log</button>    
        <tr id="LogArea">
          <td style="border-bottom:3px solid #83B4D8;white-space:nowrap" align="left" >
            <div id="log"  style="border:1px solid gray; word-wrap:break-word; margin:5px 15px 5px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " >

            </div>
          </td>
        </tr>
    </div>         
   
    <!--   Scripts for Tabs Dialogs -->
    <script>                              
       
      $("#tab-users").load("/users/html", function(response, status, xhr) {
                  if (status == "error") {
                        alert(xhr.status + " " + xhr.statusText);
                  }
      });   
      /*
      $("#tab-reports").load("/report/html", function(response, status, xhr) {
                  if (status == "error") {
                        alert(xhr.status + " " + xhr.statusText);
                  }
      });  
      $("#tab-skins").load("/skins/html", function(response, status, xhr) {
                  if (status == "error") {
                        alert(xhr.status + " " + xhr.statusText);
                  }
      });
        */         
      $(function() {                                                          
          var tabTitle = $( "#tab_title" ),
          tabContent = $( "#tab_content" ),
          tabTemplate = "<li><a href='#{href}'>#{label}</a> <span class='ui-icon ui-icon-close' role='presentation'>Remove Tab</span></li>",
          tabCounter = 4;                 
          // $("#tabs").hide();   
          // Add for vertical tzsbs 
          /*   
          $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
          $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
          */
        
            $( "#tabs" ).tabs({     
                collapsible: true,
                beforeLoad: function( event, ui ) {
                  ui.jqXHR.fail(function() {
                    ui.panel.html(
                      "Couldn't load this tab. We'll try to fix this as soon as possible." );
                  });
                  
                }                     
            });         
            /*
            // dynamically load tab
            $("#users-tab").load("/users/html", function(response, status, xhr) {
              if (status == "error") {
                    alert(xhr.status + " " + xhr.statusText);
              }
            });             
              */    
          
            function submitForm(){
                  if (document.verifylogin.userid.value == '') {
                      alert('Please enter a user name.') ;  
                      return false;
                  } else {
                      return true;
                  };
            }
            function xsubmitForm(){          
                log('subnit form');
                  index = $('#langselection').val() ;
                  var Langid = $('#langselection  :selected').attr("id") ;
                  if (document.verifylogin.userid.value == '') {	
                    alert(alertStr) ;
                    return false;
                  };
            } ;
            var logindialog = $( "#logindialog" ).dialog({
                autoOpen: false,
                modal: true, 
                width:"500px",   
                maxwWdth:"600px",     
                buttons: {
                  Submit: function() {
                    submitForm();
                    //$( this ).dialog( "close" );                      
                  },
                  Cancel: function() {
                    $( this ).dialog( "close" );
                  }
                },
                close: function() {
                  form[ 0 ].reset();
                }
            });
            
          // modal dialog init: custom buttons and a "close" callback resetting the form inside
            var dialog = $( "#dialog" ).dialog({
              autoOpen: false,
              modal: true,
              buttons: {
                Add: function() {
                  addTab();
                  $( this ).dialog( "close" );     
        
                },
                Cancel: function() {
                  $( this ).dialog( "close" );
                }
              },
              close: function() {
                form[ 0 ].reset();
              }
            });   
            //-------------------------------
            var uploaddialog = $( "#uploaddialog" );
            uploaddialog.dialog({
              autoOpen: false,
              modal: true,             
              buttons: {
                Add: function() {
                  addTab();
                  $( this ).dialog( "close" );     
        
                },
                Cancel: function() {
                  uploaddialog.close();
                }
              },              
              close: function() {
                form[ 0 ].reset();
              }
            });
            //---------------------------------------------------------------
            $( "#add_tab" ).button().click(function() {
                dialog.dialog( "open" );
            });     
            $( "#login_dlg" ).button().click(function() {
                logindialog.dialog( "open" );
            });
            $( "#addhtml" ).button().click(function() {     
                $("#tab-reports").load("/reports/html", function(response, status, xhr) {
                  if (status == "error") {
                        alert(xhr.status + " " + xhr.statusText);
                  }
                });     
            });
            $( "#upload" ).button().click(function() {
                uploaddialog.dialog( "open" );
            });     
            //----------------------------------------------
            /*
            tabs.bind( "keyup", function( event ) {
              if ( event.altKey && event.keyCode === $.ui.keyCode.BACKSPACE ) {
                var panelId = tabs.find( ".ui-tabs-active" ).remove().attr( "aria-controls" );
                $( "#" + panelId ).remove();
                tabs.tabs( "refresh" );
              }
            });
            */
  
      });
  </script>
    
    
</body>
</html>