<%- include header1.ejs %>

<div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">
    <script>
        var baseUrl = document.location.origin;
        $( function() {
                var tokenid = 0;
                var lastsel ;
                ///===================================================
                var PPpager = ("hbmpager");
                grid = $("#hbmllist");                                
                //======================================================
                var cols = { 
                    url:'/task/list', 
                    datatype: "json",
                    mtype: "GET",       
                    altRows: false, 
                    deepempty: true,
                    autowidth: true,
                    ignoreCase: true,
                    multiselect:false,
                    multiboxonly:true,
                    height:'auto',
                    width:'auto',
                    scrollOffset:0,
                    colModel:[
                        {label:'Name',name:'name', editable:false,hidden:false ,width:135 },
                        {label:'Task',name:'task', editable:false ,hidden:false,width:135 },
                        {label:'Time Started',name:'timestarted', editable:false ,hidden:false,width:135   },
                        {label:'Duration',name:'duration', editable:false,hidden:false ,width:90 }         
                    ],
                    ondblClickRow: function (rowid, iRow,iCol) {
                        /*
                        if (dirty) {
                            if ( confirm("Changes have been made ? save changes" ) ) {
                                ocargo =  editor.get();
                                dirty = false;
                                // save to dict
                                prevcell.cargo = ocargo ;
                                var url = baseUrl+"/dicedit/post?id="+prevcell.id+"&type="+prevcell.type+"&parent="+prevcell.parent+"&ext="+prevcell.ext ;
                                log("cargo="+ocargo);
                                log(url);
                                $.ajax({
                                    type: "POST",
                                    url: url,
                                    data:prevcell,
                                    success: function( returnedData ) {
                                        //refreshgrid
                                        grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                                        //alert(returnedData);                                                                              
                                    }
                                });
                            }
                        }	
                        */				
                        name = $(this).jqGrid ('getCell', rowid, 'name');
                        task =  $(this).jqGrid ('getCell', rowid, 'task');						
                        duration = $(this).jqGrid ('getCell', rowid, 'duration');
                        timestarted = $(this).jqGrid ('getCell', rowid, 'timestarted');
                        prevcell = {name:name,task:task,duration:duration,timestarted:timestarted};
                        //editor.set(JSON.parse(cargo));					
                        dirty = false;
                    },
                    loadonce:true,
                    toppager:true,
                    rowList: [],        // disable page size dropdown
                    pgbuttons: false,     // disable page control like next, back button
                    pgtext: null,         // disable pager text like 'Page 0 of 10'
                    viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                    gridview: true,
                    autoencode: true,           
                    caption: ""     // disable caption with ''     
                };
                grid.jqGrid(cols);   
                grid.jqGrid('navGrid', '#'+PPpager,{
                        cloneToTop:true,
                        edit:false,
                        add:false,
                        del:false,
                        search:false,
                        refresh:true,
                        reloadGridOptions: { fromServer: true },
                        beforeRefresh: function(){
                            //alert('In beforeRefresh');
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        }                       
                    }
                ) ;
                // search in toolbar
                //grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
                //grid.jqGrid('inlineNav',"#"+PPpager);     
        });                
    </script>
    <div style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     
        <table id="hbmllist"></table> 
        <div id="hbmpager"></div>                        
    </div>      
</div>

    