<%- include layouts/header.ejs %>
    <style>
        .ui-jqgrid .ui-jqgrid-bdiv {
            position: relative; 
            margin: 0em; 
            padding:0; 
            /*overflow: auto;*/ 
            overflow-x:hidden; 
            overflow-y:auto; 
            text-align:left;
        }
        #groups li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; height: 18px; }
        #groups li span { position: absolute; margin-left: -1.3em; }
    </style>
   




<script type='text/javascript'>
    $(window).load(function(){
        let grid= $("#grid");
        let getColumnHeaderByName = function (colName) {
            let $self = $(this);
            let colNames = $self.jqGrid("getGridParam", "colNames");
            let colModel = $self.jqGrid("getGridParam", "colModel");
            let cColumns = colModel.length;    
            for (let iCol = 0; iCol < cColumns; iCol++) {
                if (colModel[iCol].name === colName) {
                    return colNames[iCol];
                }
            }
        };
        let customFormatDisplayField = function (displayValue, value, colModel, index, grp) {
            return getColumnHeaderByName.call(this, colModel.name) + ": " + displayValue;
        };
        let generateGroupingOptions = function (groupingCount) {
            let arr = [];
            for (let i = 0; i < groupingCount; i++) {
                arr.push(customFormatDisplayField);
            }
            return {
                formatDisplayField: arr
            };
        };
        let getArrayOfNamesOfGroupingColumns = function () {
            return $('#groups ol li:not(.placeholder)').map(function() {
                    return $(this).attr('data-column');
            }).get()
        };
        grid.jqGrid({
            url:'/ppdoc/list', 
            altRows: false, 
            deepempty: true,
            autowidth: false,
            ignoreCase: true,
            multiselect:false,
            multiboxonly:false,
            datatype: "json",
            mtype: "GET",       
            height:'auto',
            width:'auto',
            scrollOffset:0,
            colModel:[
                {label:'userID',name:'user_id',index:'user_id', editable:true ,width:88, search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']} },
                {label:'Scheduler',name:'sche_type', index:'sche_type',editable:true ,width:120 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}  },
                {label:'Last Status Update',name:'last_updated', editable:true, search:true ,width:155 ,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},
                {label:'Last Succesful Update',name:'last_successfully_updated', editable:false ,width:155 , search:true,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}},                    
                {label:'Status',name:'status', editable:false ,width:180, search:true ,searchoptions:{sopt:['cn','bw','eq','bn','nc','ew','en']}  },
                {label:'-', width:1,search:false}              
            ],
            pager: '#pager',
            loadonce:true,
            toppager:true,
            rowNum: 125,
            rowTotal:50000,                
            rowList: [],        // disable page size dropdown
            pgbuttons: true,     // disable page control like next, back button
            pgtext: null,         // disable pager text like 'Page 0 of 10'
            viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
            autoencode: false,
            gridview: true,
            sortable:true, // true = move columns           
            caption: "Doc Refresh"      
        });
        $('tr.ui-jqgrid-labels th div') .draggable({
            appendTo: 'body',
            helper: 'clone'
        });
        $('#groups ol').droppable({
            activeClass: 'ui-state-default',
            hoverClass: 'ui-state-hover',
            accept: ':not(.ui-sortable-helper)',
            drop: function(event, ui) {
                let $this = $(this), groupingNames;
                $this.find('.placeholder').remove();
                let groupingColumn = $('<li></li>').attr('data-column', ui.draggable.attr('id').replace('jqgh_' + grid[0].id + '_', ''));
                $('<span class="ui-icon ui-icon-close"></span>').click(function() {
                    let namesOfGroupingColumns;
                    $(this).parent().remove();
                    grid.jqGrid('groupingRemove');
                    namesOfGroupingColumns = getArrayOfNamesOfGroupingColumns();
                    grid.jqGrid('groupingGroupBy', namesOfGroupingColumns);
                    if (namesOfGroupingColumns.length === 0) {
                        $('<li class="placeholder">Drop headers here</li>').appendTo($this);
                    }
                }).appendTo(groupingColumn);
                groupingColumn.append(ui.draggable.text());
                groupingColumn.appendTo($this);
                grid.jqGrid('groupingRemove');
                groupingNames = getArrayOfNamesOfGroupingColumns();
                grid.jqGrid('groupingGroupBy', groupingNames, generateGroupingOptions(groupingNames.length));
            }
        }).sortable({
                items: 'li:not(.placeholder)',
                sort: function() {
                    $( this ).removeClass('ui-state-default');
                },
                stop: function() {
                    var groupingNames = getArrayOfNamesOfGroupingColumns();
                    grid.jqGrid('groupingRemove');
                    grid.jqGrid('groupingGroupBy', groupingNames, generateGroupingOptions(groupingNames.length));
                }
        });
        grid.jqGrid('filterToolbar',{autosearch:true,stringResult: true,searchOnEnter : false});
        grid[0].triggerToolbar();

}); 

</script>

  
</head>

<body>
  <div id="groups">
    <h1 class="ui-widget-header">Grouping</h1>
    <div class="ui-widget-content">
        <ol>
            <li class="placeholder">Drop headers here</li>
        </ol>
    </div>
</div><table id="grid"></table>
<div id="pager"></div>

  
  
</script>

</body>

</html>

