<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>My First Grid</title>
 
<link rel="stylesheet" type="text/css" media="screen" href="/../css/themes/redmond/jquery-ui.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/../css/themes/ui.jqgrid.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/../css/themes/ui.multiselect.css" />
<style type="text/css">
html, body {
    margin: 0;
    padding: 0;
    font-size: 75%;
}
</style>
 
 <style type="text/css">

	.ui-layout-pane-east ,
	.ui-layout-pane-center .ui-layout-pane { /* all 'inner panes' */ 
		border: 1px solid #BBB; 
		padding: 10px; 
		overflow: auto;
	} 
	.ui-layout-resizer { /* all 'resizer-bars' */ 
		background: #DDD; 
	} 
	.ui-layout-toggler { /* all 'toggler-buttons' */ 
		background: #AAA; 
	} 

	#pane4-closed ,
	.ui-layout-east						{ background:	#00CB6D; }
	.ui-layout-center .ui-layout-north	{ background:	#00B4BA; }
	.ui-layout-center .ui-layout-south	{ background:	#008EFF; }
	.ui-layout-center .ui-layout-center	{ background:	#90C7FF; }

	#pane4-closed {
		position:	absolute;
		top:		0;
		right:		0;
		width:		auto;
		height:		auto;
		padding:	5px 10px;
		text-align:	center;
		border:		1px solid #999;
	}

	/**
	 *	ALL CSS below is only for cosmetic and demo purposes
	 *	Nothing here affects the appearance of the layout
	 */
	body {
		font-family:	Arial, sans-serif;
		font-size:		1em;
		background:		#999;
	}
	p {
		margin: 1em 0;
	}
#content {
    height:480px;
}
	</style>


<script src="/../js/jqModal.js" type="text/javascript"></script>
<script src="/../js/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="/../js/jquery-ui-custom.min.js" type="text/javascript"></script>
<script src="/../js/jquery.layout.js" type="text/javascript"></script>

<script src="/../js/i18n/grid.locale-en.js" type="text/javascript"></script>
<script type="text/javascript">
	$.jgrid.no_legacy_api = true;
	$.jgrid.useJSON = true;
</script>
<script src="/../js/jquery.jqGrid.min.js" type="text/javascript"></script>


<script type="text/javascript">


$(function () {
    $("#list").jqGrid({
        url:'/users',
        //altRows: true,
        //deepempty: true,
        autowidth: true,
        ignoreCase: true,
        jsonReader : {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            cell: "",
            id: "0",
        } ,
        datatype: "json",
        mtype: "GET",       
        height:'100%',
        width:'100%',
        colNames:['User ID', 'fname', 'mname','lname','sex','email','status','active','date'],
        colModel:[
            {name:'user_id',index:'user_id', sortable:true ,width:50, editable:true ,editoptions:{readonly:true} ,searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']}},
            {name:'fname',index:'fname', editable:true , width:60, editoptions:{size:56},formoptions:{label:'First Name'}, searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']}},
            {name:'mname',index:'mname', sortable:true , editable:true, width:10, search:false},
            {name:'lname',index:'lname', editable:true ,width:60,editoptions:{size:26},formoptions:{label:'Last Name'},searchoptions:{sopt:['cn','bw','bn','eq','nc','ew','en']} },
            {name:'sex',index:'sex', width:10, align:"left",search:false},
            {name:'email',index:'email', editable:true , width:120,searchoptions:{sopt:['eq','bw','bn','cn','nc','ew','en']}},
    		{name:'status',index:'status', width:40, search:false,editable: true,edittype:"select",editoptions:{value:" : ;NEW_USER:NEW_USER;PP_ACCEPTED:PP_ACCEPTED;TC_DECLINED:TC_DECLINED;CID_STARTED:CID_STARTED;CID_FAILED:CID_FAILED"}},
            {name:'active', index: 'active',search:false,editable: true, width: 12, align: 'center', formatter: 'checkbox', edittype: 'checkbox',editoptions:{value:"1:0"}},
             {name:'datetime',index:'datetime', width:50,search:false}    
            ],
        loadonce:true,
        pager: "#pager",
        rowNum: 120,
        rowTotal:2000,
        rowList: [10, 20, 30],
        sortname: "invid",
        sortorder: "desc",
        viewrecords: true,
        gridview: true,
        autoencode: true,            
        editurl:"users/edit",      
        sortname:'fname',
        sortorder:"desc",
        caption: "User List",
        edit : {
                    addCaption: "Add Record",
                    editCaption: "Edit Record",
                    bSubmit: "Submit",
                    bCancel: "Cancel",
                    bClose: "Close",
                    saveData: "Data has been changed! Save changes?",
                    bYes : "Yes",
                    bNo : "No",
                    bExit : "Cancel",
                    afterSubmit: function () {
                           $(this).jqGrid("setGridParam", {datatype: 'json'}).trigger('reloadGrid');
                             return [true];
                    }
           
	    }
       
    }); 
	

     // add row
     /*
    jQuery("#list").click( function(){
        var gr = jQuery("#list").jqGrid('getGridParam','selrow');
        jQuery("#list").jqGrid('editGridRow', gr, {height:280,reloadAfterSubmit:false,top:100} ); 
    	//var datarow = {user_id:"99hhhhhhh",fname:"2007-09-01",mname:"test3",lname:"note3",email:"400.00",status:"30.00",active:true};
        //	var su=jQuery("#list").jqGrid('addRowData', datarow.user_id ,datarow);
        //	if(su) alert("Succes. Write custom code to add data in server"); else alert("Can not update");
    });
    */
    jQuery("#list").click( function() {
	    $("#list").jqGrid('setCell',"1","email","",{'font-weight': 'bold',color: 'red','text-align':'center'});
      
    });
    jQuery("#list").jqGrid('navGrid','#pager',{edit:true,add:true,del:true});
    // Bind the navigation and set the onEnter event
    //jQuery("#list").jqGrid('bindKeys', {"onEnter":function( rowid ) { alert("You enter a row with id:"+rowid)} } );
    
    //jQuery("#list").jqGrid('sortableRows');
    /*
    jQuery("#list").jqGrid('navGrid','#pager',
        {view:true}, //options
        {url:"users/edit",height:290,width:800,reloadAfterSubmit:true, jqModal:false, closeOnEscape:true, bottominfo:"Fields marked with (*) are required"}, // edit options
        {url:"users/add",height:290,reloadAfterSubmit:true,jqModal:false, closeOnEscape:true,bottominfo:"Fields marked with (*) are required", closeAfterAdd: true}, // add options
        {reloadAfterSubmit:true,jqModal:true, closeOnEscape:true}, // del options
        {closeOnEscape:true}, // search options
        {height:250,jqModal:false,closeOnEscape:true} // view options
    );
    */
    var outerwidth = $('#content').width();
    var outerh = $('#content').height();
  
    
    jQuery("#list").jqGrid('filterToolbar',{searchOperators : true,searchOnEnter:false});
    
 $('body').layout({
  center: {
    resizable: true,
    onresize: resize,
    triggerEventsOnLoad: true  
  },
  applyDefaultStyles: true
});
function resize(pane, $Pane, paneState) {
    alert('on resize..');
    jQuery("#list").jqGrid('setGridWidth',paneState.innerWidth - 2, 'true');
};   
}); 

$('body').layout({ applyDemoStyles: true });

</script>
 
</head>
<body>
   
   

        <div  id='content' class="ui-layout-center">

            <div class="ui-layout-north">
                <div id="pane4-closed">
                    <button onclick="outerLayout.show('east',true)">Open #4</button>
                </div>
                This is pane #3 &nbsp; &nbsp;
                <button onclick="innerLayout.sizePane('north', 300)">'Open' Pane</button> &nbsp;
                <button onclick="innerLayout.sizePane('north', 60)">'Close' Pane</button>
            </div>

            <div  class="ui-layout-center">	
                    <div>
                        <table id="list"></table> 
                        <div id="pager"></div>
                    </div> 
             </div>               
        </div>
        
  

  
  
</body>
</html>
