
<%- include layouts/header.ejs %>
<div id="Main" style="border:2px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
    <script>

        $( function() {
                var tokenid = '<%-tokenid%>';
                var lastsel ;
                var tips = $( ".validateTips" );
                if (isEmpty(tokenid) ) {
                    tokenid = getURLParameter('tokenid') ;
                }                 
                log("tokenid="+tokenid)           
                verifytoken(tokenid,function(res){
                    if (! res){
                       // window.location = "/login/html?tokenid="+tokenid;
                        //$( '#mainprog' ).html( "" );
                    }
                })                      
                
 
                
                function updateTips( t ) {
                          tips.text( t ).addClass( "ui-state-highlight" );
                          setTimeout(function() {
                              tips.removeClass( "ui-state-highlight", 1500 );
                          }, 500 );
                }    
                function genPwd(){
                    var letters = ['a','b','c','d','e','f','g','h','i','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'];
                    var numbers = [0,1,2,3,4,5,6,7,8,9];
                    var nonlet = ['@','!','#','$','%','^','&'];
                    var randomstring = '';
                    for(var i=0;i<5;i++){
                        var rlet = Math.floor(Math.random()*letters.length);
                        randomstring += letters[rlet];
                    }
                    var rnum = Math.floor(Math.random()*nonlet.length);
                    randomstring += nonlet[rnum];
                    
                    for(var i=0;i<3;i++){
                        var rnum = Math.floor(Math.random()*numbers.length);
                        randomstring += numbers[rnum];
                    }
                    log(randomstring);
                    return randomstring ;
                }

                function getHash(id,callback ){
                        var url = "/users/gethash?userid="+id ;
                        var result = "x";
                        $.ajax({url: url, type: "GET", async:false , complete: function(result,status){
                                callback(result,"");
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                    callback("",textStatus)
                            }
                        });
                }
                function validateUser() {
                        var valid = 1;    
                        if ( valid ) {          
                                var name = $('#name').valueOf();
                                var email = $('#email').valueOf();
                                var newpwd = $('#newpassword').valueOf();
                                var hash ="x"; 
                                getHash(name.val(),function(data,err){
                                        hash = data.responseText;
                                });
                                var url = "/login/password/change?userid="+name.val()+"&email="+email.val()+"&provider=home&currentpwd=dummy123&newpwd="+newpwd.val()+"&hash="+hash;                
                                    $.ajax({
                                        url: url, 
                                        type: "GET",
                                        contentType: "application/json; charset=utf-8",
                                        dataType:'json', 
                                        async:false ,
                                        complete: function(result,status){
                                            updateTips(result.responseText );
                                        },
                                        error: function (xhr, textStatus, errorThrown) {
                                            updateTips(textStatus);
                                        }
                                    });
                               
                        }               
                        return valid;
                }
                var cols = <%-JSON.stringify(colsetup)%> ;
                /////=================================================     
                /*                
                var dialogreset = $("#dialog-reset");                    
                dialogreset.dialog({
                            modal: false,
                            bgiframe:true,
                            autoOpen: false,
                            height: 250,
                            width: 350,
                            top:10,
                            resizable: true,
                            draggable:true,
                            buttons: {
                                "Submit": validateUser,
                                Cancel: function() {                               
                                    $(this).dialog( "close" );
                                }
                            },
                            close: function() {
                              // form[ 0 ].reset();
                                 //   allFields.removeClass( "ui-state-error" );
                                    $(this).dialog('close');
                            }
                });
                form = dialogreset.find( "form" ).on( "submit", function( event ) {
                        event.preventDefault();
                        validateUser();
                });
                */
                ///===================================================
                //grid = $("#PPuserslist");
                
                grid = $("#PPuserslist"),
                    getColumnIndex = function (columnName) {
                        var cm = $(this).jqGrid('getGridParam', 'colModel'), i, l = cm.length;
                        for (i = 0; i < l; i++) {
                            if ((cm[i].index || cm[i].name) === columnName) {
                                return i; // return the colModel index
                            }
                        }
                        return -1;
                    },
                    onclickSubmitLocal = function (options, postdata) {
                        var $this = $(this), grid_p = this.p,
                            idname = grid_p.prmNames.id,
                            grid_id = this.id,
                            id_in_postdata = grid_id + "_id",
                            rowid = postdata[id_in_postdata],
                            addMode = rowid === "_empty",
                            oldValueOfSortColumn,
                            new_id,
                            tr_par_id,
                            colModel = grid_p.colModel,
                            cmName,
                            iCol,
                            cm;
                        // postdata has row id property with another name. we fix it:
                        if (addMode) {
                            // generate new id
                            new_id = $.jgrid.randId();
                            while ($("#" + new_id).length !== 0) {
                                new_id = $.jgrid.randId();
                            }
                            postdata[idname] = String(new_id);
                        } else if (typeof postdata[idname] === "undefined") {
                            // set id property only if the property not exist
                            postdata[idname] = rowid;
                        }
                        delete postdata[id_in_postdata];

                        // prepare postdata for tree grid
                        if (grid_p.treeGrid === true) {
                            if (addMode) {
                                tr_par_id = grid_p.treeGridModel === 'adjacency' ? grid_p.treeReader.parent_id_field : 'parent_id';
                                postdata[tr_par_id] = grid_p.selrow;
                            }

                            $.each(grid_p.treeReader, function (i) {
                                if (postdata.hasOwnProperty(this)) {
                                    delete postdata[this];
                                }
                            });
                        }

                        // decode data if there encoded with autoencode
                        if (grid_p.autoencode) {
                            $.each(postdata, function (n, v) {
                                postdata[n] = $.jgrid.htmlDecode(v); // TODO: some columns could be skipped
                            });
                        }

                        // save old value from the sorted column
                        oldValueOfSortColumn = grid_p.sortname === "" ? undefined : grid.jqGrid('getCell', rowid, grid_p.sortname);

                        // save the data in the grid
                        if (grid_p.treeGrid === true) {
                            if (addMode) {
                                $this.jqGrid("addChildNode", new_id, grid_p.selrow, postdata);
                            } else {
                                $this.jqGrid("setTreeRow", rowid, postdata);
                            }
                        } else {
                            if (addMode) {
                                // we need unformat all date fields before calling of addRowData
                                for (cmName in postdata) {
                                    if (postdata.hasOwnProperty(cmName)) {
                                        iCol = getColumnIndex.call(this, cmName);
                                        if (iCol >= 0) {
                                            cm = colModel[iCol];
                                            if (cm && cm.formatter === "date") {
                                                postdata[cmName] = $.unformat.date.call(this, postdata[cmName], cm);
                                            }
                                        }
                                    }
                                }
                                $this.jqGrid("addRowData", new_id, postdata, options.addedrow);
                            } else {
                                $this.jqGrid("setRowData", rowid, postdata);
                            }
                        }

                        if ((addMode && options.closeAfterAdd) || (!addMode && options.closeAfterEdit)) {
                            // close the edit/add dialog
                            $.jgrid.hideModal("#editmod" + grid_id, {
                                gb: "#gbox_" + grid_id,
                                jqm: options.jqModal,
                                onClose: options.onClose
                            });
                        }

                        if (postdata[grid_p.sortname] !== oldValueOfSortColumn) {
                            // if the data are changed in the column by which are currently sorted
                            // we need resort the grid
                            setTimeout(function () {
                                $this.trigger("reloadGrid", [{current: true}]);
                            }, 100);
                        }

                        // !!! the most important step: skip ajax request to the server
                        options.processing = false;
                        return {};
                    },
                    editSettings = {
                        //recreateForm: true,
                        jqModal: true,
                        reloadAfterSubmit: false,
                        closeOnEscape: true,
                        savekey: [true, 13],
                        closeAfterEdit: true,
                        onclickSubmit: onclickSubmitLocal
                    },
                    addSettings = {
                        //recreateForm: true,
                        jqModal: true,
                        reloadAfterSubmit: false,
                        savekey: [true, 13],
                        closeOnEscape: true,
                        closeAfterAdd: true,
                        onclickSubmit: onclickSubmitLocal
                    },
                    delSettings = {
                        // because I use "local" data I don't want to send the changes to the server
                        // so I use "processing:true" setting and delete the row manually in onclickSubmit
                        onclickSubmit: function (options, rowid) {
                            var $this = $(this), grid_id = $.jgrid.jqID(this.id), grid_p = this.p,
                                newPage = grid_p.page;

                            // reset the value of processing option to true to
                            // skip the ajax request to 'clientArray'.
                            options.processing = true;

                            // delete the row 
                            //pk----------------------------
                            var sel_id = grid.jqGrid('getGridParam', 'selrow');
                            var value = grid.jqGrid('getCell', sel_id, 'user_id');
                            log(value);  
                            $.get({url: "/users/delete?id="+value+"", async:true ,complete: function(result,status){
                                    log(result.responseJSON);
                                    var tokenid =JSON.stringify(result.responseJSON.token) ;
                                    log("token="+tokenid);
                                    //window.location = "/users/html?token="+tokenid  ;
                                    //dialogreset.dialog( "close" );        
                                    //$('#content').load("/users/html?token="+result.token );
                            }});                    
                            //pk --------------------------    
                
                            if (grid_p.treeGrid) {
                                $this.jqGrid("delTreeNode", rowid);
                            } else {
                                $this.jqGrid("delRowData", rowid);

                            }
                            $.jgrid.hideModal("#delmod" + grid_id, {
                                gb: "#gbox_" + grid_id,
                                jqm: options.jqModal,
                                onClose: options.onClose
                            });

                            if (grid_p.lastpage > 1) {// on the multipage grid reload the grid
                                if (grid_p.reccount === 0 && newPage === grid_p.lastpage) {
                                    // if after deliting there are no rows on the current page
                                    // which is the last page of the grid
                                    newPage--; // go to the previous page
                                }
                                // reload grid to make the row from the next page visable.
                                $this.trigger("reloadGrid", [{page: newPage}]);
                            }

                            return true;
                        },
                        processing: true
                    },
                    initDateEdit = function (elem) {
                        setTimeout(function () {
                            $(elem).datepicker({
                                dateFormat: 'dd-M-yy',
                                //autoSize: true,
                                showOn: 'button',
                                changeYear: true,
                                changeMonth: true,
                                showButtonPanel: true,
                                showWeek: true
                            });
                        }, 100);
                    },
                    initDateSearch = function (elem) {
                        setTimeout(function () {
                            $(elem).datepicker({
                                dateFormat: 'dd-M-yy',
                                //autoSize: true,
                                //showOn: 'button', // it dosn't work in searching dialog
                                changeYear: true,
                                changeMonth: true,
                                showButtonPanel: true,
                                showWeek: true
                            });
                        }, 100);
                    };
                //======================================================
                myAddButton = function(options) {
                    grid.jqGrid('navButtonAdd','#pager',options);
                    grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                };

                grid.jqGrid(cols);   
                grid.jqGrid('navGrid', '#pager',{
                        cloneToTop:true,
                        edit:true,
                        add:true,
                        del:true,
                        search:false,
                        refresh:false,
                        edittext:'Edit',
                        deltext:'Delete',
                        addtext:'Add'
                    },
                    editSettings, 
                    addSettings, 
                    delSettings,
                    {multipleSearch: true, overlay: false,
                        onClose: function (form) {
                            // if we close the search dialog during the datapicker are opened
                            // the datepicker will stay opened. To fix this we have to hide
                            // the div used by datepicker
                            $("div#ui-datepicker-div.ui-datepicker").hide();
                        }
                    }
                ) ;
               
                // search in toolbar
                grid.jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
                // add buttons to grid
                 // colum chooser
                myAddButton ({
                    caption: "Columns",
                    title: "Reorder Columns",
                    onClickButton : function (){
                        grid.jqGrid('columnChooser');
                    }
                });
                /*                
                myAddButton ({
                    caption:"Reset Password",
                    title:"Reset Password",
                    buttonicon :'ui-icon-suitcase',
                    onClickButton:function(){
                        // get the current row
                        var sel_id = grid.jqGrid('getGridParam', 'selrow');
                        var email = grid.jqGrid('getCell', sel_id, 'email');
                        var user_id = grid.jqGrid('getCell', sel_id, 'user_id');
                        if (email ) { //set the dialog values
                            $("#email").val(email);
                            $("#name").val(user_id);
                        } ;
                        //log("DLG Open "+email);
                        dialogreset.dialog("open");
                        return false;
                    }
                });
                */
                myAddButton ({
                    caption:"Log Out",
                    title:"Log Out",
                    buttonicon:'ui-icon-close',
                    onClickButton:function(){                        
                         $( '#mainprog' ).html( "" );
                    }
                });
             
        }).idle({
            onIdle: function(){
                alert('You did nothing for 5 seconds');
            },
            idle: 5000
        });
                
    </script>
    <!--
    <div id="dialog-reset" title='reset password' class="ui-layout-center" style="display:none">
        <p class="validateTips">All fields are required.</p>
        <div id="resetpwddiv"  style="border:1px solid gray; word-wrap:break-word; margin:1px 1px 1px 0; overflow:auto; padding:5px; background:#F8F8FF; height:auto; " > 
            <input type="hidden" name="langid" hidden="true" />
            <label class='resetlabel' for="name">user-name</label>
            <input readonly="true" type="text" name="user-name" id="user-name" value="pkulek" class="text ui-widget-content ui-corner-all">
            <br>    
            <label class='resetlabel'  for="new-password">New Password</label>
            <input type="text" name="new-password" id="new-password" value="dummy123" class="text ui-widget-content ui-corner-all">
            <button>Button with icon only</button>
            <br>
            <label class='resetlabel'  for="user-email">Email to </label>
            <input readonly="true" id="user-email" name="user-email" value="pkulek@nyehhealth.org" type="text" autocomplete="on" placeholder="Email" class="text ui-widget-content ui-corner-all">
        </div>
    </div>
    --> 
    <div id="usergrid" style="border:1px solid blue; word-wrap:break-word; margin:0 0 0 0; overflow:auto; padding:0px; background:#6666FF; height:auto; ">     	     
            <tr id="gridArea">
                <td style="border-bottom:2px solid #83B4D8;white-space:nowrap" align="left" >
                        <table id="PPuserslist"></table> 
                        <div id="PPuserspager"></div>                        
                </td>
            </tr>                     
    </div>    
  
</div>

<%- include layouts/footer.ejs %>