<%- include header.ejs %>


<style>

.ui-jqgrid .ui-jqgrid-bdiv {
  position: relative; 
  margin: 0em; 
  padding:0; 
  /*overflow: auto;*/ 
  overflow-x:hidden; 
  overflow-y:auto; 
  text-align:left;
}
</style>

    <script>
        var baseUrl = document.location.origin;
        var grid;
        $( function() {
                ///===================================================
                var PPpager = ("userclientspager");
                var grid = $("#userclientslist");                                
                var myAddButton = function(options) {
                    grid.jqGrid('navButtonAdd','#'+PPpager,options);
                    grid.jqGrid('navButtonAdd','#'+grid[0].id+"_toppager",options);
                };
                var pickupdata = function( element, val ) {
                    var Dialog = $('<div id="dialog" style="display:hidden" title="Select client id"><table id="popupclientslist"></table></div>').appendTo('body');
                    Dialog.dialog({
                        width: 'auto',
                        modal:true,
                        position: { my: "left top", at: "left bottom", of: $(element) },
                        open: function(ev, ui){
                            $(".ui-dialog").css('font-size','0.8em');
                            pickupgrid( element, val );
                        },
                        close: function(e,ui) {
                            Dialog.remove();
                        }
                    });
                    Dialog.dialog('widget').css('font-size','10x');
                }
                var pickupgrid = function( element,val ) {
                    $("#popupclientslist").jqGrid({
                        url:'/lookup/clients',
                        loadonce: true,
                        datatype: "json",
                        colModel : [
                            {
                                name : "client_id", label : "client ID"
                            }
                        ],
                        onSelectRow : function (id, stat, e) {
                            var cd = $(this).jqGrid('getCell', id, 0);
                            $(element).val( cd );
                            $("#dialog").remove();
                            $(element).focus();
                        },
                        // focus search field
                        gridComplete:function(data,response){
                            $("#gs_client_id").focus();
                        }
                    });
                    $('#popupclientslist').jqGrid('filterToolbar',{searchOnEnter:false});
                }
                //======================================================
                var cols = <%-JSON.stringify(colsetup)%> ;
                //
                cols = {
                    url:'/users/clients',
                    //editurl:'clientArray',
                    datatype: "json",
                    mtype: "GET",       
                    page:1,
                    colModel:[
                        {label:'Client ID',name:'client_id',width:100, editable:true,
                            editoptions: { 
                                dataInit: function (element) {
                                    $(element).css({"width":"75%","float":"left"}).after("<a href='#' style='float:left;margin-left:2px;' class='picker'>Sel</a>");
                                    $(".picker").click(function(){
                                        var val = $(element).val();
                                        pickupdata( element, val );
                                    });
                                },
                                dataEvents:[
                                    {
                                        type: 'click',
                                        fn: function(e){
                                            var element = e.target;
                                            var val = $(element).val();
                                            pickupdata(element,val);
                                        }
                                    },//click event
                                    {
                                        type: 'keydown',
                                        fn: function(e){
                                            e.preventDefault();
                                            var element = e.target;
                                            var val = $(element).val();
                                            pickupdata(element,val);
                                        }
                                    }
                                ]
                            }                        
                         },
                        {label:'name',name:'name',width:180, 
                            editable:true,
                            edittpe:"text",
                            /*
                            editoptions: { 
                                dataInit: function (element) {
                                    $(element).datepicker({
                                        id: 'orderDate_datePicker',
                                        dateFormat: 'M/d/yy',
                                        //minDate: new Date(2010, 0, 1),
                                        maxDate: new Date(2020, 0, 1),
                                        showOn: 'focus'
                                    });
                                }
                            }
                            */
                         },
                        {label:'url',name:'url',width:180, editable:true },
                        {label:'Client Code',name:'client_code' ,width:110, editable:true },
                        {label:'Parent',name:'parent',width:90, editable:true },
                        {label:'api id',name:'api_id',width:30, editable:true },
                        {label:'', width:1,editable:false ,search:false}
                    ],            
                    onselectRow:editRow, 
                    loadonce:true,
                    //toppager:true,
                    rowNum: 25,
                    width:750,
                    height:250,
                    rowTotal:5000,
                    viewrecords: true,
                    autoencode: true,
                    pager:'#userclientspager',            
                    caption: "Patient Portal Clients"
                } ;

                grid.jqGrid(cols);   
                grid.jqGrid('navGrid', '#'+PPpager,{
                        cloneToTop:true,
                        edit:true,
                        add:true,
                        del:true,
                        search:false,
                        refresh:true,
                        reloadGridOptions: { fromServer: true },             
                        beforeRefresh: function(){
                            //alert('In beforeRefresh');
                            grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
                        }                       
                    }
                ) ;
                var lastSelection;

                function editRow(id) {
                    if (id && id !== lastSelection) {
                        var grid = $("#jqGrid");
                        grid.jqGrid('restoreRow',lastSelection);
                        grid.jqGrid('editRow',id, {keys:true, focusField: 1});
                        lastSelection = id;
                    }
                }

        });                
    </script>
    
        <table id="userclientslist"></table> 
        <div id="userclientspager"></div>                        

     
<%- include footer1.ejs %>
    