<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">   
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="cache-control" content="max-age=0">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">

        <meta http-equiv="Cache-Control" content=" private, no-cache">
        <meta http-equiv="Content-Disposition" content="inline;filename='files.json' ">
        <meta http-equiv="X-Content-Type-Options" content="nosniff">      
        
    	<meta name="robots" content="noindex, nofollow">
    
        <meta name="author" content="pkulek@nyehealth.org">
        <meta name="description" content="Patient Portal Support">

        <title><%= page_title %></title>

        <script src="/js/jquery-3.1.1.min.js" type="text/javascript"></script>
        <script src="/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>

        <link rel="stylesheet" type="text/css" media="screen" href="/themes/overcast/jquery-ui.min.css" />
        
        <link rel="stylesheet" type="text/css" media="screen" href="/jqgrid5/css/ui.jqgrid.css" />

    
        <script src="/jqgrid5/js/i18n/grid.locale-en.js" type="text/javascript"></script>
        <script src="/jqgrid5/js/jquery.jqGrid.min.js" type="text/javascript"></script>
        <script type="text/javascript">     
            var vwindows = []; // viewer windows create with window.open        
            function closeWindows(){
                for(var i = vwindows.length - 1; i >= 0; i--) {
                    vwindows[i].win.close();
                }
                vwindows = new Array();
            }
            function pushWindow(win){
                var now = new Date().getDate();
                var o = {"time":now,"win":win};
                vwindows.push(o);
            }
            var increment = (function () {
                var n = 0;
                return function () {
                    n += 1;
                    return n;
                }
            }());     
            if (!String.prototype.format) {
                String.prototype.format = function() {
                    var args = arguments;
                    return this.replace(/{(\d+)}/g, function(match, number) { 
                    return typeof args[number] != 'undefined'
                        ? args[number]
                        : match
                    ;
                    });
                };
            }
           
            function log(str) {
                $("#log").prepend(str + "<br />");
            }
            function clearlog() {
                $("#log").empty();
            }             
            function closelog() {
                $("#logwindow").hide();
            }             
            function openlog() {
                $("#logwindow").show();
            }
            function isEmpty(str) { // check if string is null or empty usually missing parameter
                     return typeof str == 'string' && !str.trim() || typeof str == 'undefined' || str === null;
            }
            function getURLParameter(name) {
                  return decodeURI( (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,''])[1] );
            }
            function verifytoken(tokenid,roles,callback ){
                var url = "/login/auth/"+tokenid+"/"+roles+"" ;
                //log("verifytoken ROLES="+roles);   
                //log("verifytoken url="+url);    
                $.ajax({ url: url, type: "GET", async:false , complete: function(result,status){
                //log("verifytoken RES="+JSON.stringify(result));                           
                        if ( callback) {
                            callback(result.responseJSON,result);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        if ( callback) {
                            callback( false,errorThrown);
                        }
                    }
                });
                return false;
            }
                    
            function openWindow(url,title) {
                /*
                if (window.innerWidth <= 640) {
                    // if width is smaller then 640px, create a temporary a elm that will open the link in new tab
                    var a = document.createElement('a');
                    a.setAttribute("href", url);
                    a.setAttribute("target", "_blank");
                    var dispatch = document.createEvent("HTMLEvents");
                    dispatch.initEvent("click", true, true);
                    a.dispatchEvent(dispatch);
                }  else {
                    var width = window.innerWidth * 0.66 ;
                    var height = width * window.innerHeight / window.innerWidth ;
                    //var win = window.open(url , title, 'location=false,'+'width=' + width + ', height=' + height + ', top=' + ((window.innerHeight - height) / 2) + ', left=' + ((window.innerWidth - width) / 2));
                    var win = window.open(url , title, "resizable=1,scrollbars=no,width=200,height=500");
                    pushWindow(win);
                    //setTimeout(function(){
                    //        win.close()
                    //}, 10*60*1000); // set timeout for window to close automatically = 10 mins
                }
                */
                    //var win = window.open(url , title, "resizable=1,scrollbars=no,width=300,height=500");
                    var win = window.open(url , title,"resizable=1,scrollbars=yes");
                    pushWindow(win); // add window to list to be closed when loged out
                return false;
            }
            function startTimeout(){            
                $(document).idleTimeout({
                    redirectUrl: '/',       // redirect to this url - set to false to disable
                    ebableDialog:false,
                    idleTimeLimit: 5*60,         // seconds 'No activity' time limit in seconds.
                    activityEvents: 'click keypress scroll wheel mousewheel',    // separate each event with a space
                    dialogDisplayLimit: 30,       // Time to display the warning dialog before logout (and optional callback) in seconds
                    sessionKeepAliveTimer: false,  // Set to false to disable pings.
                    customCallback:function(){
                        closeWindows();
                        //alert("bye");
                    }
                });
            }
            function allowAccess(role,roles){
                var sroles = new Set(roles);
                return (sroles.has('PP_ADMIN') || sroles.has('PP_ALL') || sroles.has(role));  
            }
            $( function() {
                //var socket = io.connect('http:localhost:4300');
                /*
                $( document ).tooltip({
                    items: "img, [help-id], [title], [data-geo]",
                    content: function(callback) {
                        var element = $( this );
                        if ( element.is( "[help-id]" ) ) {
                            var text = element.attr("help-id")
                            var values = text.split('~');
                            callback( "<pre><div>"+getMsg(values[0],values[1])+"</div></pre> " );
                        }
                        if ( element.is( "[data-geo]" ) ) {
                            var text = element.text();
                            callback( "<img class='map' alt='" + text +
                                "' src='http://maps.google.com/maps/api/staticmap?" +
                                "zoom=18&size=350x350&maptype=terrain&sensor=false&center=40 worth st, New York,New York'>");
                        }
                        },
                        track:false,
                        position: {
                            my: "left top",
                            collision: "none"
                        },
                        open: function (event, ui) {
                            setTimeout(function () {
                            $(ui.tooltip).hide('explode');
                        }, 15000);
                    }
                });
                */
                //---------------------------------------------
                $( "#dialog-message" ).dialog({
                    modal: true,
                    autoOpen: false,
                    buttons: {
                        Ok: function() {
                            $("#msg").html("Please Select a Row");
                            $( this ).dialog( "close" );

                        }
                    }
                });
            });          
             
            function getMsg(id,message,lang,ext) {                               
                if ( isEmpty(id) ) {
                    id = "WEB_001";
                }            
                if ( isEmpty(lang) ) {
                    lang = "en-US";
                }            
                if ( isEmpty(message) ) {
                    message = "undefined message";
                }                            
                if ( isEmpty(ext) ) {
                    ext = "TEXT";
                }            
                var url = "/Msg/"+id+"/"+lang+"/"+message;              
                //log(url);                
                $.get({
                        url:url,
                        dataType: "text",
                        async:false,
                        success: function (data) {
                           //log("data ="+ data);
                           message = data;
                        }
                });                
                return message;    
            }
            function showMessage(message){
                //message = getMsg(id);                                   
                $("#msg").html(message);
                $( "#dialog-message" ).dialog('open');
                $("#dialog-message").dialog("option","title","Information");
            }
            function showHelp(id,def){
                message = getMsg(id,def);                                   
                $("#msg").html(message);
                $( "#dialog-message" ).dialog('open');
                $("#dialog-message").dialog("option","title","Help");
            }
        </script>
        <noscript>
            <div class="awesome-fancy-styling">	<h1>This site requires JavaScript.</h1>  </div>
        </noscript> 
        
</head>

<body>
	<style type="text/css">
		body {
			overflow:hidden;
			font: 10.5pt arial;
			color: #4d4d4d;
			line-height: 150%;
			width: 100%;
			height:100%;
		}		
 		fieldset { border: 0; margin-left: 1px; }
        label { display: block; margin: 1px 0 0 0; }
        select { width: 150px; } 
        input {  width: 150px; }
        #dialog label, #dialog input { display:block; color:009900}
        #dialog label { margin-top: 0.5em; }
        #dialog input, #dialog textarea { width: 95%; }
        #headerlogo {vertical-align:bottom}
        .postlabel {  width:75px; display: inline-flex;  color:22ff55; }  
        .selectlabel { width:90px; display: inline-flex;  color:22ff55;  background:#F8F8FF;}
		.toolbar {
            font-size: .75em;
             position:relative; 
        }  
        #select-button {
            width: 45px;
        }             
        .block_button {
            position:absolute;   
            float: right;
            padding-right: 1px;
            padding-bottom:1px;
            padding-left: 1px;  
            bottom:1px;          
            right:1px;          
        }         
		code {
			background-color: #f5f5f5;
		}
		#jsoneditor {
			width: 100%;
			height: 93%;
		}
        .ui-jqgrid .ui-jqgrid-bdiv {
            position: relative; 
            margin: 0em; 
            padding:0; 
            overflow: auto;
            overflow-x:hidden; 
            overflow-y:auto; 
            text-align:left;
        }
  	</style>
	<link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/jquery-easyui/demo/demo.css">
	<script type="text/javascript" src="/jquery-easyui/jquery.easyui.min.js"></script>

	<link href="/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <script src="/jsoneditor/dist/jsoneditor.min.js"></script>
 	<link href="/jsoneditor/dist/darktheme.css" rel="stylesheet" type="text/css">
	
    <script>
	    let baseUrl = document.location.origin;
		let dialogpost, form;
        let grid;
		let id,type,parent,ext,cargo;
		let dirty = false;
		let editor;
		let prevcell = {};		
		let allFields = $( [] ).add($( "#type" )).add($( "#id" ) ).add( $( "#parent" ) ).add( $( "#ext" ) );
       	let tips = $( ".validateTips" );
				   
		$( function() {		
 			var cols = { 
                url:'/dict/get/JSON', 
                altRows: false, 
                deepempty: true,
                autowidth: false,
                ignoreCase: true,
                multiselect:false,
                multiboxonly:true,
                datatype: "json",
                mtype: "GET",       
                height:'auto',
                width:'auto',
                scrollOffset:0,
                colModel:[
                    {label:'Type',name:'type', editable:false,hidden:true ,width:58 },
                    {label:'ID',name:'dicid', editable:false ,hidden:false,width:135 },
                    {label:'parent',name:'parent', editable:false,hidden:false ,width:135 },                    
                    {label:'ext',name:'ext', editable:false ,hidden:false,width:35   },
                    {label:'cargo',name:'cargo', editable:true,hidden:true ,width:150,height:25 },
                    {label:'notes',name:'notes', editable:true,hidden:true ,width:150 },
                    {label:'-', width:1,search:false}              
                ],
				ondblClickRow: function (rowid, iRow,iCol) {
					// check if editor changed
					
					if (dirty) {
					 	if ( confirm("Changes have been made ? save changes" ) ) {
						 	ocargo =  editor.get();
							dirty = false;
							// save to dict
							prevcell.cargo = ocargo ;
							let url = baseUrl+"/dicedit/post?id="+prevcell.id+"&type="+prevcell.type+"&parent="+prevcell.parent+"&ext="+prevcell.ext ;
							log("cargo="+ocargo);
							log(url);
  							$.ajax({
								type: "POST",
								url: url,
								data:prevcell,
								success: function( returnedData ) {
									//refreshgrid
									 grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
									//alert(returnedData);                                                                              
								}
                            });
						}
					}					
					cargo = $(this).jqGrid ('getCell', rowid, 'cargo');
					type = $(this).jqGrid ('getCell', rowid, 'type');						
					id = $(this).jqGrid ('getCell', rowid, 'dicid');
					ext = $(this).jqGrid ('getCell', rowid, 'ext');
					parent = $(this).jqGrid ('getCell', rowid, 'parent');
					prevcell = {rowid:rowid,type:type,id:id,parent:parent,ext:ext,cargo:cargo};
					//log("id="+id+cargo);
					editor.set(JSON.parse(cargo));					
					dirty = false;
                },
                loadonce:true,
                toppager:true,
                rowList: [],        // disable page size dropdown
                pgbuttons: false,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                gridview: true,
                autoencode: true,           
                caption: ""     // disable caption with ''     
            };
			///===================================================
			var PPpager = ("diceditRefreshpager");
			var grid = $("#diceditRefreshlist");                                
			//======================================================
			grid.jqGrid(cols);   
			grid.jqGrid('navGrid', '#'+PPpager,{
					cloneToTop:true,
					edit:false,
					add:false,
					del:false,
					search:false,
					refresh:true,
					reloadGridOptions: { fromServer: true },             					                     
				}
			);		
			dialogpost = $( "#dialog-postdata" ).dialog({
				autoOpen: false,
				height: 360,
				width: 300,
				modal: true,
				show: {
					effect: "blind",
					duration: 500
				},
				hide: {
					effect: "explode",
					duration: 500
				},				
				buttons: {
					//"Register User": registerUser,
					//"Submit": validateUser,
					Cancel: function() {
						//dialogpost.dialog( "close" );
					}
				},                     
				open: function(){
					// setCaptcha();
				},              
				close: function() {
					//form[ 0 ].reset();
					//allFields.removeClass( "ui-state-error" );
					//dialogpost.dialog('close');
				}
			});  
			form = dialogpost.find( "form" ).on( "submit", function( event ) {
				event.preventDefault();
			});			
		} );
		function saveData() {
			 dialogpost.dialog( "open" );
			// Get the editor instance that you want to interact with.
			var editor = CKEDITOR.instances.editor1;
			var value = document.getElementById( 'txtArea' ).value;
			// Check the active editing mode.
			if ( editor.mode == 'wysiwyg' )	{
				editor.insertText( value );
			} else {
				alert( 'You must be in WYSIWYG mode!' );
			}
		};
		function SetContents() {
			var url =  "/dict/get/XML/XCA_QUERY/SPRLSOAPENV_PROD" ;
			var editor = CKEDITOR.instances.editor1;
            $.get(url, function(data, status){
				log("DATA="+data);
				log("STATUS="+status);
                    if ( editor.mode == 'wysiwyg' ) {
                        //editor.insertHtml( data );
                        editor.setData(data);
                    } else {
                        alert( 'You must be in WYSIWYG mode!' );
                    }
            });   
   		};
		function GetContents() {			
			//alert(editor.checkDirty()+location.hostname);
			// Get editor content.
			alert( editor.getData() );
		};
	
    </script>
	<div>
		<div id="cc" class="easyui-layout" style="width:99%;height:650px;">
			<div data-options="region:'west',split:true,collapsed:false,
					hideExpandTool: false,
					expandMode: null,
					hideCollapsedContent: true,
					collapsedSize: 20,
					collapsedContent: function(){
						//return $('#titlebar1');
					},
					" title="JSON" style="width:200px;">
					<table id="diceditRefreshlist"></table> 
					<div id="dicedtRefreshpager"></div>   
			</div>
			<div data-options="region:'center',title:''">
				<div id="jsoneditor" ></div>
				<script>
					// create the editor
					var container = document.getElementById("jsoneditor");
					var options = {
						mode: 'code',
						modes: ['code', 'form', 'text', 'tree'], // allowed modes
						onError: function (err) {
							log(err.toString());
						},
						onModeChange:  (newMode, oldMode) => {
							log('Mode switched from '+ oldMode+ ' to '+ newMode);
						},
						onChange: function () {
						 	dirty = true;
							log("change");
						}
					};
					editor = new JSONEditor(container, options);
					//editor.set(json);
					// get json
					//var json = editor.get();
				</script>
				<div id="eButtons">
					<p>
						<input onclick="saveData();" type="button" value="Save">
						<input onclick="SetContents();" type="button" value="save to File">
						<input onclick="GetContents();" type="button" value="Import from file">
					</p>
				</div>
			
			</div>
    	</div>
   </div>   
  