<%- include /views/layouts/header1.ejs %>



	<link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/jquery-easyui/demo/demo.css">
	<script type="text/javascript" src="/jquery-easyui/jquery.easyui.min.js"></script>

	<script src="/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/vkbeautify.js"></script>


	<style type="text/css" media="screen">
		body {
			overflow: hidden;
		}
		#editorsql {
			margin: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	</style>
	

	<div>
		<div id="cc" class="easyui-layout" style="width:99%;height:650px;">
			<div data-options="region:'west',split:true,collapsed:false,
					hideExpandTool: false,
					expandMode: null,
					hideCollapsedContent: true,
					collapsedSize: 20,
					collapsedContent: function(){
						//return $('#titlebar1');
					},
					" title="SQL" style="width:200px;">
					<table id="diceditRefreshlist"></table> 
					<div id="dicedtRefreshpager"></div>   
			</div>
			<div data-options="region:'center',title:'sql'">	  
				<div id="editorsql">
					<textarea name="editorsql" class="ace_text-input" wrap="off" autocorrect="off" autocapitalize="off" spellcheck="true" style="opacity: 0; height: 14px; width: 6.59781px; left: 136.772px; top: 140px;">
					</textarea>
				</div>
			</div>
			<div id="eButtons">
				<p>
					<input onclick="InsertHTML();" type="button" value="Save">
					<input onclick="SetContents();" type="button" value="save to File">
					<input onclick="GetContents();" type="button" value="Import from file">
				</p>
			</div>
    	</div>
   	</div>
		
	<script>
	/*
<textarea name="description"/>
<div id="description"/>
js

var editor = ace.edit("editorsql");
var textarea = $('textarea[name="editorsql"]').hide();
editor.getSession().setValue(textarea.val());
editor.getSession().on('change', function(){
  textarea.val(editor.getSession().getValue());
});
or just call

textarea.val(editor.getSession().getValue());
*/

 		let baseUrl = document.location.origin;
        let grid;
		let id,type,parent,ext,cargo;
		let dirty = false;
		let prevcell = {};
		ace.require("ace/ext/language_tools");
		let editor = ace.edit("editorsql");
		let textarea = $('textarea[name="editorsql"]').hide();
		editor.setTheme("ace/theme/xcode");
		editor.session.setMode("ace/mode/sql");
		editor.setOptions({
        	enableBasicAutocompletion: true,
        	enableSnippets: true,
        	enableLiveAutocompletion: true,
			fadeFoldWidgets:true,
			showFoldWidgets:true,
			foldStyle:'markbegin',
			showLineNumbers:true,
			showGutter:true
    	});
		editor.getSession().on('change', function(e) {
   			 log(e.type);
				dirty = true;
		});
		$( function() {		
 			var cols = { 
                url:'/dict/get/SQL', 
                altRows: false, 
                deepempty: true,
                autowidth: false,
                ignoreCase: true,
                multiselect:false,
                multiboxonly:true,
                datatype: "json",
                mtype: "GET",       
                height:'auto',
                width:'auto',
                scrollOffset:0,
                colModel:[
                    {label:'Type',name:'type', editable:false,hidden:true ,width:58 },
                    {label:'ID',name:'dicid', key:true,editable:false ,hidden:false,width:135 },
                    {label:'parent',name:'parent', editable:false,hidden:false ,width:135 },                    
                    {label:'ext',name:'ext', editable:false ,hidden:false,width:35   },
                    {label:'cargo',name:'cargo', editable:true,hidden:true ,width:150,height:25 },
                    {label:'notes',name:'notes', editable:true,hidden:true ,width:150 }
                ],
				ondblClickRow: function (rowid, iRow,iCol) {
					if (dirty) {
					 	if ( confirm("Changes have been made ? save changes" ) ) {
						 	ocargo =  editor.getSession().getValue();
							dirty = false;
							prevcell.cargo = ocargo ;
							// save to dict
							let url = baseUrl+"/dicedit/post";
							log("prevcell="+prevcell);
							log(url);
  							$.ajax({
								type: "POST",
								url: url,
								data:prevcell,
								success: function( returnedData ) {
									//refreshgrid
									 grid.jqGrid('setGridParam',{datatype:'json'}).trigger('reloadGrid');
									//alert(returnedData);                                                                              
								}
                            });
						}
					}					
					let cargo = $(this).jqGrid ('getCell', rowid, 'cargo');
					let type = $(this).jqGrid ('getCell', rowid, 'type');						
					let id = $(this).jqGrid ('getCell', rowid, 'dicid');
					let ext = $(this).jqGrid ('getCell', rowid, 'ext');
					let parent = $(this).jqGrid ('getCell', rowid, 'parent');
					prevcell = {rowid:rowid,type:type,id:id,parent:parent,ext:ext,cargo:cargo};
					editor.getSession().setValue(vkbeautify.sql(cargo,2));
					//editor.getSession().setValue(cargo);
					//log(editor.getValue()) // or session.getValue				
					dirty = false;
                },
                loadonce:true,
                toppager:true,
                rowList: [],        // disable page size dropdown
                pgbuttons: false,     // disable page control like next, back button
                pgtext: null,         // disable pager text like 'Page 0 of 10'
                viewrecords: false ,   // disable current view record text like 'View 1-10 of 100' 
                gridview: true,
                autoencode: true,           
                caption: ""     // disable caption with ''     
            };
			///===================================================
			var PPpager = ("diceditRefreshpager");
			var grid = $("#diceditRefreshlist");                                
			//======================================================
			grid.jqGrid(cols);   
			grid.jqGrid('navGrid', '#'+PPpager,{
					cloneToTop:true,
					edit:false,
					add:false,
					del:false,
					search:false,
					refresh:true,
					reloadGridOptions: { fromServer: true },             					                     
				}
			);
		
		});		
	</script>   
<%- include /views/layouts/footer.ejs %>